
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-proses-masuk-G25 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border-bottom: solid 0.5rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.admin-proses-masuk-G25 .rectangle-594-mDj {
  width: 144.5rem;
  height: 35.5rem;
  position: absolute;
  left: 0;
  top: 120.6rem;
  background-color: #8c8989;
}
.admin-proses-masuk-G25 .rectangle-583-grV {
  width: 144rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 192rem;
  background-color: #999393;
}
.admin-proses-masuk-G25 .footer-pxh {
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 144rem;
  height: 7.9rem;
  position: absolute;
  left: 0;
  top: 94.5rem;
  display: flex;
  align-items: center;
  background-color: #008a88;
}
.admin-proses-masuk-G25 .footer-pxh .tentang-jobstreet-express-vF3 {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .footer-pxh .pusat-bantuan-23B {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .footer-pxh .copyright-2023-jobstreet-express-8ru {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 {
  width: 144rem;
  height: 27.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R {
  box-sizing: border-box;
  padding: 0rem 4.5rem 0.3rem 4.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-9wa1-umB {
  margin: 0rem 82.9rem 0.2rem 0rem;
  width: calc(100% - 82.9rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-9wa1-umB .auto-group-orbb-dx5 {
  margin: 0rem 15.1rem 0.3rem 0rem;
  width: 29.8rem;
  height: 12.8rem;
  position: relative;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-9wa1-umB .auto-group-orbb-dx5 .logo-removebg-preview-1-Zaq {
  width: 29.8rem;
  height: 10.9rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-9wa1-umB .auto-group-orbb-dx5 .nama-pekerjaan-Hmj {
  width: 14.5rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 10.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-9wa1-umB .di-mana-AqX {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-xyfo-hKf {
  margin-bottom: 4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-xyfo-hKf .auto-group-csqh-2sj {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 1rem 1.2rem 1rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-xyfo-hKf .auto-group-csqh-2sj .nama-pekerjaan-atau-perusahaan-Mf7 {
  margin-right: 8.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #b0aaaa;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-xyfo-hKf .auto-group-csqh-2sj .icon-search-outline-H2y {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-xyfo-hKf .auto-group-pkfs-AcZ {
  margin-right: 3.1rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-xyfo-hKf .auto-group-pkfs-AcZ .nama-kota-atau-provinsi-Hx5 {
  margin-right: 14.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #b0aaaa;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-xyfo-hKf .auto-group-pkfs-AcZ .icon-pin-outline-Daq {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-xyfo-hKf .bottom-jJH {
  width: 21rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-gqaq-kz5 {
  margin: 0rem 87.4rem 0rem 1.8rem;
  box-sizing: border-box;
  padding: 0.2rem 2.555rem 0.2rem 2.5rem;
  width: calc(100% - 89.2rem);
  height: 3.6rem;
  display: flex;
  align-items: center;
  border-left: solid 0.1rem #777777;
  border-right: solid 0.1rem #777777;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-gqaq-kz5 .semua-jenis-pekerjaan-Sru {
  margin: 0rem 0.4rem 0.2rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-gqaq-kz5 .auto-group-yvmp-k6u {
  margin: 0rem 2.455rem 0.212rem 0rem;
  width: 20.5452rem;
  height: 2.9878rem;
  position: relative;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-gqaq-kz5 .auto-group-yvmp-k6u .line-171-rvd {
  width: 0rem;
  height: 0.1rem;
  position: absolute;
  left: 5.5rem;
  top: 0;
  background-color: #777777;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-gqaq-kz5 .auto-group-yvmp-k6u .kapan-saja-ARX {
  width: 9.6rem;
  height: 2.4rem;
  position: absolute;
  left: 8rem;
  top: 0.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-gqaq-kz5 .auto-group-yvmp-k6u .icon-arrow-ios-downward-TvR {
  width: 3.5rem;
  height: 2.9878rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.admin-proses-masuk-G25 .header-n-navbar-variant2-rH7 .background-header-z8R .auto-group-gqaq-kz5 .auto-group-yvmp-k6u .icon-arrow-ios-downward-bWq {
  width: 20.5452rem;
  height: 2.9878rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV {
  width: 116.4rem;
  height: 43.9rem;
  position: absolute;
  left: 14rem;
  top: 38.6rem;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .auto-group-7ved-iUy {
  margin: 0rem 80.5rem 2.336rem 0rem;
  width: calc(100% - 80.5rem);
  display: flex;
  align-items: center;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .auto-group-7ved-iUy .icon-trending-up-SQy {
  margin-right: 1.1607rem;
  width: 4.1393rem;
  height: 4.3636rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .auto-group-7ved-iUy .lowongan-yang-sering-dicari-aGH {
  margin-top: 0.1364rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #015442;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo {
  margin: 0rem 0rem 4.8rem 0.5rem;
  height: 16.2rem;
  display: flex;
  align-items: flex-end;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-hxgd-bSH {
  margin: 0rem 2.838rem 0.022rem 0rem;
  width: 13.1625rem;
  height: calc(100% - 0.0215rem);
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-hxgd-bSH .jabatan-uxm {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-hxgd-bSH .auto-group-ykfb-TDb {
  margin: 0rem 0rem 2.422rem 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2.463rem 0.808rem 0.6rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-hxgd-bSH .auto-group-ykfb-TDb .icon-pie-chart-2-A81 {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-hxgd-bSH .auto-group-ykfb-TDb .admin-h7w {
  margin-bottom: 0.0708rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-hxgd-bSH .auto-group-hgtr-BYu {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2.263rem 0.808rem 0.6rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-hxgd-bSH .auto-group-hgtr-BYu .icon-pie-chart-2-ty7 {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-hxgd-bSH .auto-group-hgtr-BYu .barista-EGH {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-q78m-vQ1 {
  margin-right: 2.7rem;
  width: 10.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-q78m-vQ1 .auto-group-6acr-SdF {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-q78m-vQ1 .auto-group-6acr-SdF .icon-pie-chart-2-AZF {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-q78m-vQ1 .auto-group-6acr-SdF .kasir-W7K {
  margin-bottom: 0.2708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-q78m-vQ1 .auto-group-lveh-1Jy {
  box-sizing: border-box;
  padding: 0.8rem 0.9rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-q78m-vQ1 .auto-group-lveh-1Jy .icon-pie-chart-2-jkm {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-q78m-vQ1 .auto-group-lveh-1Jy .driver-5Jq {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-gm6r-B6y {
  margin-right: 2.8rem;
  width: 19.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-gm6r-B6y .auto-group-f2o3-KU5 {
  margin: 0rem 0rem 2.4rem 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 1.7rem 0.829rem 0.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-gm6r-B6y .auto-group-f2o3-KU5 .icon-pie-chart-2-DZT {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-gm6r-B6y .auto-group-f2o3-KU5 .staff-marketing-Le5 {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-gm6r-B6y .auto-group-ca8z-2mo {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 2.3rem 0.829rem 0.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-gm6r-B6y .auto-group-ca8z-2mo .icon-pie-chart-2-MJH {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-gm6r-B6y .auto-group-ca8z-2mo .quality-control-tJD {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-a1q5-yaZ {
  margin-right: 2.8rem;
  width: 20.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-a1q5-yaZ .auto-group-s6ad-KPX {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.4rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-a1q5-yaZ .auto-group-s6ad-KPX .icon-pie-chart-2-3aR {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-a1q5-yaZ .auto-group-s6ad-KPX .staff-accounting-P8V {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-a1q5-yaZ .auto-group-krto-5GD {
  box-sizing: border-box;
  padding: 0.8rem 2.5rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-a1q5-yaZ .auto-group-krto-5GD .icon-pie-chart-2-Crd {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-a1q5-yaZ .auto-group-krto-5GD .content-creator-Lhw {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-5hrk-dh3 {
  margin-right: 2.3rem;
  width: 17.2rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-5hrk-dh3 .auto-group-j1b7-Zqb {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-5hrk-dh3 .auto-group-j1b7-Zqb .icon-pie-chart-2-gvD {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-5hrk-dh3 .auto-group-j1b7-Zqb .staff-gudang-cos {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-5hrk-dh3 .auto-group-h9hk-6yw {
  margin-right: 6.4rem;
  box-sizing: border-box;
  padding: 0.8rem 2.2rem 0.829rem 0.6rem;
  width: calc(100% - 6.4rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-5hrk-dh3 .auto-group-h9hk-6yw .icon-pie-chart-2-DHs {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-5hrk-dh3 .auto-group-h9hk-6yw .host-M9B {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-ndny-dsP {
  margin: 4.8rem 0rem 6.9rem 0rem;
  box-sizing: border-box;
  padding: 0.8rem 1.1rem 0.829rem 1.1rem;
  height: calc(100% - 11.7rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-ndny-dsP .icon-pie-chart-2-Xhs {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-90-Guo .auto-group-ndny-dsP .customer-service-TbX {
  margin-bottom: 0.0708rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy {
  margin-left: 0.7rem;
  width: 111.8rem;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .perusahaan-HaZ {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .group-88-MaR {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 0.9rem 0.7rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .group-88-MaR .emoji-office-building-GxH {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .group-88-MaR .ganesha-operation-surabaya-dsk-oxD {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .auto-group-fgkk-Va9 {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .auto-group-fgkk-Va9 .emoji-office-building-Dm3 {
  margin-right: 0.9rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .auto-group-fgkk-Va9 .pt-media-telekomunikasi-mandiri-McM {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .auto-group-3yzr-dpm {
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .auto-group-3yzr-dpm .emoji-office-building-xs3 {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-xbys-Dj7 .auto-group-3yzr-dpm .pt-arta-boga-boga-cemerlang-Vc5 {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd {
  display: flex;
  align-items: flex-end;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-63so-XYm {
  margin: 0.2rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 2.2rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-63so-XYm .emoji-office-building-ETB {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-63so-XYm .cv-berlian-retail-mi1 {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-faxr-fHb {
  margin: 0.2rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.7rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-faxr-fHb .emoji-office-building-NSu {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-faxr-fHb .panara-course-WZ7 {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-lgqy-bqT {
  margin: 0.2rem 3.2rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-lgqy-bqT .emoji-office-building-ur9 {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-lgqy-bqT .bali-super-host-SbB {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-2cjd-jKP {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 1.1rem 1.7rem 0.7rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-2cjd-jKP .emoji-office-building-4Mf {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .yang-sering-dicari-PxV .group-89-Ycy .auto-group-1qk3-aNd .auto-group-2cjd-jKP .angonjiwo-oKF {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-proses-masuk-G25 .masuk-UwB {
  width: 111.7rem;
  height: 456.9rem;
  position: absolute;
  left: 32.3rem;
  top: 2.5rem;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT {
  margin: 0rem 0rem 403.5rem 84.7rem;
  width: 27rem;
  height: 53.4rem;
  position: relative;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .rectangle-625-Htd {
  width: 12.6rem;
  height: 7rem;
  position: absolute;
  left: 12rem;
  top: 0;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  border-radius: 2rem;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .rectangle-624-CEu {
  width: 27rem;
  height: 48.8rem;
  position: absolute;
  left: 0;
  top: 4.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .masuk-uv1 {
  width: 5.9rem;
  height: 2.4rem;
  position: absolute;
  left: 15.4rem;
  top: 1.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .subtract-RdT {
  width: 24rem;
  height: 4.3rem;
  position: absolute;
  left: 1.5rem;
  top: 14.1rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .subtract-wrh {
  width: 24rem;
  height: 4.3rem;
  position: absolute;
  left: 1.5rem;
  top: 19.5rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .belum-punya-akun-jobstreet-express-daftar-dengan--Urd {
  width: 22rem;
  height: 3.2rem;
  position: absolute;
  left: 1.5rem;
  top: 40.2rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3188476562;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .belum-punya-akun-jobstreet-express-daftar-dengan--Urd .belum-punya-akun-jobstreet-express-daftar-dengan--Urd-sub-0 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .belum-punya-akun-jobstreet-express-daftar-dengan--Urd .belum-punya-akun-jobstreet-express-daftar-dengan--Urd-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .facebook-DbF {
  width: 4.6rem;
  height: 2.4rem;
  position: absolute;
  left: 5.5rem;
  top: 48.4rem;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: -0.011rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .google-7Aq {
  width: 3.3rem;
  height: 2.4rem;
  position: absolute;
  left: 16.9rem;
  top: 48.4rem;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: -0.011rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .icon-email-outline-Cxy {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 22.5rem;
  top: 15.3rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .icon-lock-outline-LJV {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 22.2rem;
  top: 20.7rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .logo-removebg-preview-2-U9o {
  width: 19.3rem;
  height: 6.8rem;
  position: absolute;
  left: 3.8rem;
  top: 6.4rem;
  object-fit: cover;
  vertical-align: top;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .ratnafirdausgmailcom-zdw {
  width: 13.5rem;
  height: 2rem;
  position: absolute;
  left: 2.6rem;
  top: 15.15rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3175;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .item--Hsw {
  width: 3.8rem;
  height: 2rem;
  position: absolute;
  left: 3.1rem;
  top: 20.45rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .logofacebook-removebg-preview-1-zGZ {
  width: 5.3rem;
  height: 5.6rem;
  position: absolute;
  left: 5.1rem;
  top: 43.6rem;
  object-fit: cover;
  vertical-align: top;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .ellipse-122-Wkh {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 16.5rem;
  top: 44.3rem;
  background-color: #d9d9d9;
  border-radius: 2.05rem;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .logogoogle-removebg-preview-1-FCV {
  width: 2.5rem;
  height: 2.625rem;
  position: absolute;
  left: 17.3rem;
  top: 45.1rem;
  object-fit: cover;
  vertical-align: top;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .button-masuk-email-Nnu {
  width: 24rem;
  height: 4.3rem;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 26.1rem;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .button-masuk-email-Nnu .button-7Vb {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
  border-radius: 1rem;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .button-masuk-email-PT7 {
  width: 24rem;
  height: 4.3rem;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 31.3rem;
}
.admin-proses-masuk-G25 .masuk-UwB .auto-group-wvym-oyT .button-masuk-email-PT7 .button-Kbf {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #015442;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #015442;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.admin-proses-masuk-G25 .masuk-UwB .subtract-oFw {
  width: 0;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
