
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-daftar-pt--rRf {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.admin-daftar-pt--rRf .header-admin-Byj {
  box-sizing: border-box;
  padding: 0rem 3rem 0rem 5rem;
  width: 100%;
  height: 11.8rem;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .logo-removebg-preview-1-uuj {
  margin-right: 38rem;
  width: 29.8rem;
  height: 10.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb {
  margin-top: 1.3rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-l1rh-NoK {
  margin-right: 0.2833rem;
  width: 23.9167rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-l1rh-NoK .icon-play-circle-outline-uYM {
  width: 16.9167rem;
  height: 2.5499rem;
  position: absolute;
  left: 7rem;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-l1rh-NoK .icon-play-circle-outline-uYM .vector-EKj {
  margin: 0rem 12.7rem 0.21rem 0rem;
  opacity: 0;
  width: 2.3rem;
  height: 2.3399rem;
  background-color: rgba(255, 255, 255, 0);
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-l1rh-NoK .icon-play-circle-outline-uYM .group-wV3 {
  width: 1.9167rem;
  height: 1.9499rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-l1rh-NoK .daftar-pt-H37 {
  width: 8.2rem;
  height: 2.4rem;
  position: absolute;
  left: 11.9rem;
  top: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #015442;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-l1rh-NoK .vector-ZWR {
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  left: 8.9rem;
  top: 0.2rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-l1rh-NoK .home-6WM {
  width: 5.1rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 2.4rem;
  top: 0.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-l1rh-NoK .home-page-zrd {
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  object-fit: contain;
  vertical-align: top;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .simulasi-jZK {
  margin-bottom: 0.4rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-z43s-Eky {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0rem 1.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-z43s-Eky .people-xS5 {
  margin: 0.4rem 0.3rem 0rem 0rem;
  width: 2.4rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-z43s-Eky .pelamar-5Fo {
  margin: 0rem 1.5rem 0.2rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-z43s-Eky .graph-nAD {
  margin-top: 0.4rem;
  width: 2.4rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-z43s-Eky .statistik-KR3 {
  margin: 0.2rem 1.8rem 0rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-z43s-Eky .icon-person-2qF {
  margin: 0.2rem 0.332rem 0rem 0rem;
  width: 2.4685rem;
  height: 2.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .header-admin-Byj .header-qHb .auto-group-z43s-Eky .profil-saya-Z4V {
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w {
  margin: 0rem 0.2rem 0rem 7.1rem;
  width: calc(100% - 7.3rem);
  height: 82.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu {
  margin: 2.4rem 4.7rem 2.4rem 0rem;
  width: 129.9rem;
  height: calc(100% - 4.8rem);
  position: relative;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .rectangle-684-sjP {
  width: 121.8rem;
  height: 28.9rem;
  position: absolute;
  left: 4rem;
  top: 35.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(241, 234, 193, 0.5333333611);
  border-radius: 2.5rem;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV {
  box-sizing: border-box;
  padding: 4.1rem 4.1rem 0.1rem 4rem;
  width: 129.9rem;
  height: 77.9rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-33-bg-87s.png');
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1.1rem 3.6rem 1.9rem 6rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(241, 229, 156, 0.5333333611);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .auto-group-xajv-C9P {
  margin: 0rem 1.6rem 2.1rem 1.6rem;
  width: calc(100% - 3.2rem);
  height: 10.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .auto-group-xajv-C9P .telkom-tel-1-JCR {
  width: 10.6rem;
  height: 10.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .auto-group-xajv-C9P .auto-group-3dsf-Rnq {
  box-sizing: border-box;
  padding: 2.55rem 0rem 1.65rem 3.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .auto-group-xajv-C9P .auto-group-3dsf-Rnq .auto-group-mjvp-MwP {
  margin-right: 53rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .auto-group-xajv-C9P .auto-group-3dsf-Rnq .auto-group-mjvp-MwP .pt-telkom-indonesia-tbk-WpH {
  margin-bottom: 1.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .auto-group-xajv-C9P .auto-group-3dsf-Rnq .auto-group-mjvp-MwP .data-analyst-dtu {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .auto-group-xajv-C9P .auto-group-3dsf-Rnq .surabaya-jawa-timur-Adw {
  margin-bottom: 3.7rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .mengidentifikasi-menganalisa-menginterpretasi-tren-atau-pola-yang-sedang-berlangsung-menganalisa-dan-mengimplementasikan-solusi-untuk-mengembangkan-perusahaan-berdasarkan-data-aktif-dalam-menganalisa-dan-mengidentifikasi-anomali-menentukan-metrik-untuk-mengevaluasi-kondisi-perusahaan-merancang-strategi-pengembangan-berdasarkan-data-yang-sudah-didapatkan-HTf {
  max-width: 112.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-cjrm-fv9 .button-admin-fz1 {
  margin-right: 1.7rem;
  width: 12.7rem;
  height: 4rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 {
  margin-bottom: 1.9rem;
  box-sizing: border-box;
  padding: 4.2rem 5.3rem 1.4rem 5.1rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(241, 229, 157, 0.5333333611);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .auto-group-gsdx-k8H {
  margin: 0rem 6rem 4.9rem 2.4rem;
  width: calc(100% - 8.4rem);
  height: 7.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .auto-group-gsdx-k8H .image-55-ToP {
  width: 10.7rem;
  height: 7.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .auto-group-gsdx-k8H .auto-group-qgmf-1K7 {
  box-sizing: border-box;
  padding: 0.85rem 0rem 0.85rem 3.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .auto-group-gsdx-k8H .auto-group-qgmf-1K7 .auto-group-qzi9-wTf {
  margin-right: 41.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .auto-group-gsdx-k8H .auto-group-qgmf-1K7 .auto-group-qzi9-wTf .pt-primaindo-nusantara-manufacture-HXX {
  margin-bottom: 0.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .auto-group-gsdx-k8H .auto-group-qgmf-1K7 .auto-group-qzi9-wTf .staff-administrasi-oVs {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .auto-group-gsdx-k8H .auto-group-qgmf-1K7 .jakarta-8HF {
  margin-bottom: 1.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .deskripsi-pekerjaan-administrasi-keuangan-data-invoice-tagihan-rekap-keuangan-uang-masuk-dan-keluar-laporan-keuangan-laba-rugi-menguasai-excel-personal-assistant-syarat-pekerjaan-sma-smk-Soj {
  margin: 0rem 16.9rem 0.1rem 0rem;
  max-width: 94.5rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-rz3w-2i5 .button-admin-fAh {
  width: 12.7rem;
  height: 4rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
  border-radius: 2rem;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-u42d-eoK {
  box-sizing: border-box;
  padding: 4.15rem 11.2rem 1.6rem 5.2rem;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(241, 229, 157, 0.5333333611);
  border-radius: 2.5rem 2.5rem 0 0;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-u42d-eoK .image-56-AWm {
  margin: 0.85rem 1.3rem 0rem 0rem;
  width: 15.2rem;
  height: 5.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-u42d-eoK .auto-group-6njd-HLV {
  margin: 0.25rem 70.7rem 0.3rem 0rem;
  height: calc(100% - 0.55rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-u42d-eoK .auto-group-6njd-HLV .pt-indofood-cNm {
  margin-bottom: 0.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-u42d-eoK .auto-group-6njd-HLV .finance-staff-LZf {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-ub7w-ZCu .background-header-AiV .auto-group-u42d-eoK .jakarta-5XF {
  margin-bottom: 3.85rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-1wpf-tjb {
  box-sizing: border-box;
  padding: 5.2rem 0;
  width: 2.1rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.150000006);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-fsn9-e5w .auto-group-1wpf-tjb .rectangle-606-q93 {
  width: 100%;
  height: 6.2rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.admin-daftar-pt--rRf .footer-Lbb {
  margin-bottom: 18.2rem;
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #008a88;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .footer-Lbb .tentang-jobstreet-express-4Xb {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .footer-Lbb .pusat-bantuan-yeZ {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .footer-Lbb .copyright-2023-jobstreet-express-W8h {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .rectangle-594-p9P {
  margin: 0rem 0.2rem 35.9rem 0rem;
  width: 144.5rem;
  height: 35.5rem;
  background-color: #8c8989;
  flex-shrink: 0;
}
.admin-daftar-pt--rRf .auto-group-chv9-2WM {
  width: 100%;
  height: 12.8rem;
  background-color: #999393;
  border-top: solid 0.5rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
