
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.2rem;
}.calendar-rxh {
  width: 100%;
  height: 54.3rem;
  position: relative;
}
.calendar-rxh .calendar-w-all-1ah {
  width: 50.2rem;
  height: 53.5rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
}
.calendar-rxh .calendar-w-all-1ah .auto-group-9h4m-9B7 {
  margin-left: 0.5rem;
  width: 23.3rem;
  height: 4.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  font-family: Jockey One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #004f3f -0%, #004f3f 100%);
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX {
  box-sizing: border-box;
  padding: 3rem 3rem 2.1rem 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2767rem 0.2214rem rgba(0, 0, 0, 0.0196801927), 0 0.665rem 0.532rem rgba(0, 0, 0, 0.0282724928), 0 1.2522rem 1.0017rem rgba(0, 0, 0, 0.0350000001), 0 2.2336rem 1.7869rem rgba(0, 0, 0, 0.0417275056), 0 4.1778rem 3.3422rem rgba(0, 0, 0, 0.0503198057), 0 10rem 8rem rgba(0, 0, 0, 0.0700000003);
  background-color: #fdfdfd;
  border-radius: 1.6rem;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .header-XSZ {
  margin-bottom: 3.55rem;
  width: 100%;
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .header-XSZ .may-2023-fYm {
  margin: 0.1rem 24rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .header-XSZ .frame-9-n7b {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .header-XSZ .frame-9-n7b .chevron-Y6m {
  margin-right: 2.7rem;
  width: 0.8rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .header-XSZ .frame-9-n7b .chevron-fSH {
  width: 4.6rem;
  height: 4.6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .row-MK7 {
  margin: 0rem 2.3rem 2.25rem 2.1rem;
  width: calc(100% - 4.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .row-MK7 .mo-s2Z {
  margin-right: 4.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .row-MK7 .tu-ahf {
  margin-right: 4.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .row-MK7 .we-hnH {
  margin-right: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .row-MK7 .th-SUy {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .row-MK7 .fr-BBf {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .row-MK7 .sa-K2y {
  margin-right: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .row-MK7 .su-rHo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 {
  width: 100%;
  height: 31.6rem;
  position: relative;
  flex-shrink: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-v2m {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-v2m .cell-Faq {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-v2m .cell-jku {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-v2m .cell-RNq {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-v2m .cell-KDK {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-v2m .cell-bAq {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-v2m .cell-UkR {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-v2m .cell-ZG5 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-rFB {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 6.3rem;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-rFB .cell-nPj {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-rFB .cell-UXT {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-rFB .cell-mFf {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-rFB .cell-TeH {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-rFB .cell-wpM {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-rFB .cell-quj {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-rFB .cell-Lbb {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-dah {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 12.6rem;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-dah .cell-ZUM {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-dah .cell-rTT {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-dah .cell-Y5P {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-dah .cell-Rus {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #45539d;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-dah .cell-RoP {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-dah .cell-8Su {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-dah .cell-RS1 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-iR7 {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 18.9rem;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-iR7 .cell-FR3 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-iR7 .cell-kch {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-iR7 .cell-qPF {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-iR7 .cell-vfb {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-iR7 .cell-1h3 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-iR7 .cell-tF3 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-iR7 .cell-PBo {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-Uyw {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 25.2rem;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-Uyw .cell-Cf3 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-Uyw .cell-u3f {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-Uyw .cell-zL1 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-Uyw .cell-VGm {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-Uyw .cell-N5f {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-Uyw .cell-4UH {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.calendar-rxh .calendar-w-all-1ah .calendar-zhX .days-CBK .auto-group-khym-NX3 .row-Uyw .cell-YeM {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.calendar-rxh .cancelpresentation-j6Z {
  width: 4.7rem;
  height: 4.7rem;
  position: absolute;
  left: 44.2rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
