
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 25.8rem;
}.candal-roboto-slab-jacques-BFP {
  width: 100%;
  height: 39.8rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.3618164062;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.candal-roboto-slab-jacques-BFP .candal-roboto-slab-jacques-BFP-sub-0 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Bungee Shade, 'Source Sans Pro';
}
.candal-roboto-slab-jacques-BFP .candal-roboto-slab-jacques-BFP-sub-1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #000000;
  font-family: Candal, 'Source Sans Pro';
}
.candal-roboto-slab-jacques-BFP .candal-roboto-slab-jacques-BFP-sub-2 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.candal-roboto-slab-jacques-BFP .candal-roboto-slab-jacques-BFP-sub-3 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Jacques Francois Shadow, 'Source Sans Pro';
}
.candal-roboto-slab-jacques-BFP .candal-roboto-slab-jacques-BFP-sub-4 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.candal-roboto-slab-jacques-BFP .candal-roboto-slab-jacques-BFP-sub-5 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Noto Sans, 'Source Sans Pro';
}
