
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 88.1rem;
}.description-box-CLR {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.description-box-CLR .property-1default-iZf {
  width: 100%;
  height: 100rem;
  position: relative;
  flex-shrink: 0;
}
.description-box-CLR .property-1default-iZf .rectangle-631-EY1 {
  width: 84.1rem;
  height: 90.8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ecf5e5;
  border-radius: 2.5rem;
}
.description-box-CLR .property-1default-iZf .rectangle-626-Lqw {
  width: 18.2rem;
  height: 25.9rem;
  position: absolute;
  left: 65.9rem;
  top: 74.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.5rem;
}
.description-box-CLR .property-1default-iZf .deskripsi--41F {
  width: 14.8rem;
  height: 3.7rem;
  position: absolute;
  left: 2.9rem;
  top: 3rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.description-box-CLR .property-1default-iZf .line-168-xcR {
  width: 68.9rem;
  height: 0.3rem;
  position: absolute;
  left: 11.9rem;
  top: 12rem;
  background-color: #000000;
}
.description-box-CLR .property-1default-iZf .line-173-hK7 {
  width: 45rem;
  height: 0.3rem;
  position: absolute;
  left: 2.9rem;
  top: 27rem;
  background-color: #000000;
}
.description-box-CLR .property-1default-iZf .line-169-2sB {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.75rem;
  top: 15.05rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-170-mpm {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.7rem;
  top: 18rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-171-89X {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.7rem;
  top: 21rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-172-5Kf {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.7rem;
  top: 24rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-174-po3 {
  width: 68.9rem;
  height: 0.3rem;
  position: absolute;
  left: 12.1rem;
  top: 32.9rem;
  background-color: #000000;
}
.description-box-CLR .property-1default-iZf .line-175-mTP {
  width: 45rem;
  height: 0.3rem;
  position: absolute;
  left: 3.1rem;
  top: 47.9rem;
  background-color: #000000;
}
.description-box-CLR .property-1default-iZf .line-176-WQy {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.95rem;
  top: 35.95rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-177-T5K {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.9rem;
  top: 38.9rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-178-bxD {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.9rem;
  top: 41.9rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-179-FvH {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.9rem;
  top: 44.9rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-180-z7B {
  width: 68.9rem;
  height: 0.3rem;
  position: absolute;
  left: 11.9rem;
  top: 54.7rem;
  background-color: #000000;
}
.description-box-CLR .property-1default-iZf .line-181-sgm {
  width: 45rem;
  height: 0.3rem;
  position: absolute;
  left: 2.9rem;
  top: 69.7rem;
  background-color: #000000;
}
.description-box-CLR .property-1default-iZf .line-182-zFb {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.75rem;
  top: 57.75rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-183-WUq {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.7rem;
  top: 60.7rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-184-dZT {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.7rem;
  top: 63.7rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-185-AZP {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.7rem;
  top: 66.7rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-186-JvV {
  width: 68.9rem;
  height: 0.3rem;
  position: absolute;
  left: 12.1rem;
  top: 75rem;
  background-color: #000000;
}
.description-box-CLR .property-1default-iZf .line-188-ejT {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.95rem;
  top: 78.05rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1default-iZf .line-189-CW5 {
  width: 78.1rem;
  height: 0;
  position: absolute;
  left: 2.9rem;
  top: 81rem;
  object-fit: contain;
  vertical-align: top;
}
.description-box-CLR .property-1teks-jku {
  width: 100%;
  height: 100rem;
  position: relative;
  flex-shrink: 0;
}
.description-box-CLR .property-1teks-jku .rectangle-631-HXX {
  width: 84.1rem;
  height: 90.8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ecf5e5;
  border-radius: 2.5rem;
}
.description-box-CLR .property-1teks-jku .rectangle-626-1Cd {
  width: 18.2rem;
  height: 25.9rem;
  position: absolute;
  left: 65.9rem;
  top: 74.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.5rem;
}
.description-box-CLR .property-1teks-jku .deskripsi--LVo {
  width: 15.1rem;
  height: 4rem;
  position: absolute;
  left: 2.9rem;
  top: 5.1rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.description-box-CLR .property-1teks-jku .dalam-video-ini-kami-menghadirkan-simulasi-wawancara-kerja-yang-memberikan-wawasan-mendalam-tentang-teknik-teknik-wawancara-yang-efektif-anda-akan-melihat-bagaimana-seorang-calon-pekerja-menjawab-pertanyaan-wawancara-yang-umum-memberikan-penekanan-pada-komunikasi-yang-kuat-kepercayaan-diri-dan-kemampuan-untuk-merancang-jawaban-yang-menonjol-kami-juga-membahas-strategi-sukses-untuk-mengakhiri-wawancara-dengan-kesan-positif-simulasi-berikutnya-fokus-pada-wawancara-magang-dengan-contoh-pertanyaan-dan-jawaban-yang-mendalam-anda-akan-mendapatkan-wawasan-yang-berharga-tentang-bagaimana-menghadapi-wawancara-magang-dan-bagaimana-menjawab-pertanyaan-dengan-tepat-menyoroti-kualifikasi-anda-dan-niat-yang-kuat-untuk-magang-ini-adalah-sumber-daya-yang-penting-bagi-mahasiswa-yang-mencari-kesempatan-magang-yang-berharga-kami-juga-mengeksplorasi-wawancara-penerimaan-karyawan-baru-dan-situasi-khusus-seperti-wawancara-virtual-dalam-video-ini-kami-menghadirkan-berbagai-contoh-simulasi-untuk-membantu-anda-memahami-berbagai-jenis-wawancara-dengan-pengetahuan-yang-anda-dapatkan-dari-video-ini-anda-akan-lebih-siap-dan-percaya-diri-dalam-menghadapi-wawancara-pekerjaan-dan-dapat-meraih-kesuksesan-dalam-perjalanan-karier-anda-selamat-menonton-dan-selamat-belajar-3f7 {
  width: 78.7rem;
  height: 60.9rem;
  position: absolute;
  left: 2.6rem;
  top: 13.2rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.description-box-CLR .property-1variant3-5Nq {
  width: 100%;
  height: 100rem;
  position: relative;
  flex-shrink: 0;
}
.description-box-CLR .property-1variant3-5Nq .rectangle-631-pbK {
  width: 84.1rem;
  height: 90.8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ecf5e5;
  border-radius: 2.5rem;
}
.description-box-CLR .property-1variant3-5Nq .rectangle-626-jTP {
  width: 18.2rem;
  height: 25.9rem;
  position: absolute;
  left: 65.9rem;
  top: 74.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.5rem;
}
.description-box-CLR .property-1variant3-5Nq .deskripsi--4Em {
  width: 15.1rem;
  height: 4rem;
  position: absolute;
  left: 2.9rem;
  top: 5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.description-box-CLR .property-1variant3-5Nq .wawancara-virtual-keahlian-dan-strategi-dalam-era-wawancara-virtual-yang-semakin-berkembang-video-ini-memfokuskan-pada-teknik-dan-strategi-penting-untuk-sukses-dalam-wawancara-online-anda-akan-melihat-bagaimana-mengatasi-tantangan-khusus-yang-muncul-dalam-wawancara-virtual-dan-bagaimana-berkomunikasi-secara-efektif-melalui-layar-komputer-simulasi-wawancara-virtual-ini-akan-membantu-anda-beradaptasi-dengan-baik-dengan-dunia-wawancara-online-yang-terus-berubah-dan-memberikan-tips-berharga-untuk-mencapai-kesuksesan-dalam-wawancara-daring-ZSR {
  width: 76.1rem;
  height: 29rem;
  position: absolute;
  left: 2.9rem;
  top: 13.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
}
