
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.header-admin-mpm {
  box-sizing: border-box;
  padding: 0 5rem;
  width: 100%;
  height: 11.8rem;
  background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);
}
.header-admin-mpm .logo-removebg-preview-1-iV7 {
  width: 29.8rem;
  height: 10.9rem;
  object-fit: cover;
  vertical-align: top;
}
