
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 10.4rem;
}.image-35-v5X {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  vertical-align: top;
}
