
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.3rem;
}.jadwal-wawancara-uUm {
  width: 100%;
  height: 54.4rem;
  position: relative;
}
.jadwal-wawancara-uUm .group-19-qtD {
  box-sizing: border-box;
  padding: 2.3rem 0.6rem 2.4rem 1.6rem;
  width: 24.8rem;
  height: 27.8rem;
  position: absolute;
  left: 7rem;
  top: 22.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}
.jadwal-wawancara-uUm .group-19-qtD .accountcircle-wRT {
  margin: 0rem 0.512rem 1.176rem 0rem;
  width: 17.2879rem;
  height: 16.624rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .group-19-qtD .desc-talent-profile-4FB {
  box-sizing: border-box;
  padding: 2.5rem 0rem 2.7rem 0rem;
  width: 100%;
  border-top: solid 0.1rem #000000;
  border-bottom: solid 0.1rem #000000;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .group-19-qtD .desc-talent-profile-4FB .line-31-PoF {
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.jadwal-wawancara-uUm .group-26-Wcy {
  box-sizing: border-box;
  padding: 0.3rem 1.6rem 0.4rem 1.7rem;
  width: 5.7rem;
  height: 3.1rem;
  position: absolute;
  left: 26.8rem;
  top: 17.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-629-Svd.png');
}
.jadwal-wawancara-uUm .group-26-Wcy .call-RV3 {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw {
  width: 50.3rem;
  height: 54.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-rv5k-Uy7 {
  width: 100%;
  display: flex;
  align-items: center;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-rv5k-Uy7 .roboto-slab-ESV {
  margin: 0rem 26.5rem 0.1rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-rv5k-Uy7 .cancelpresentation-XgV {
  width: 4.7rem;
  height: 4.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H {
  width: 50.2rem;
  height: 49.7rem;
  position: relative;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .group-29-1Lm {
  box-sizing: border-box;
  padding: 0.3rem 1.6rem 0.4rem 1.7rem;
  width: 5.7rem;
  height: 3.1rem;
  position: absolute;
  left: 26.4rem;
  top: 46.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-629-5M3.png');
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .group-29-1Lm .call-K6Z {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK {
  width: 50.2rem;
  height: 49.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1.6rem;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM {
  box-sizing: border-box;
  padding: 3rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2767rem 0.2214rem rgba(0, 0, 0, 0.0196801927), 0 0.665rem 0.532rem rgba(0, 0, 0, 0.0282724928), 0 1.2522rem 1.0017rem rgba(0, 0, 0, 0.0350000001), 0 2.2336rem 1.7869rem rgba(0, 0, 0, 0.0417275056), 0 4.1778rem 3.3422rem rgba(0, 0, 0, 0.0503198057), 0 10rem 8rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .header-8Zo {
  margin-bottom: 3.55rem;
  width: 100%;
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .header-8Zo .may-2023-g5X {
  margin-right: 26rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .header-8Zo .frame-9-CpZ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .header-8Zo .frame-9-CpZ .chevron-AmP {
  margin-right: 2.7rem;
  width: 0.8rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .header-8Zo .frame-9-CpZ .chevron-hmK {
  width: 4.6rem;
  height: 4.6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .row-aKK {
  margin: 0rem 2.3rem 2.25rem 2.1rem;
  width: calc(100% - 4.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .row-aKK .mo-JFK {
  margin-right: 4.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .row-aKK .tu-R53 {
  margin-right: 4.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .row-aKK .we-wZB {
  margin-right: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .row-aKK .th-TGd {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .row-aKK .fr-nZo {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .row-aKK .sa-Kpd {
  margin-right: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .row-aKK .su-4nD {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 {
  width: 100%;
  height: 31.6rem;
  position: relative;
  flex-shrink: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-YBb {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-YBb .cell-tFT {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-YBb .cell-Muj {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-YBb .cell-rLh {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-YBb .cell-XSq {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-YBb .cell-ov9 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-YBb .cell-JM7 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-YBb .cell-CBb {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-Uuo {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 6.3rem;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-Uuo .cell-pCy {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-Uuo .cell-ukD {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-Uuo .cell-np1 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-Uuo .cell-Ugq {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-Uuo .cell-5Aq {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-Uuo .cell-kXs {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-Uuo .cell-nDf {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-SZ7 {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 12.6rem;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-SZ7 .cell-yJ9 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-SZ7 .cell-4aV {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-SZ7 .cell-kiD {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-SZ7 .cell-eYh {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #01d589;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-SZ7 .cell-i2m {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-SZ7 .cell-zky {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-SZ7 .cell-spm {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-xrD {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 18.9rem;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-xrD .cell-hJ1 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-xrD .cell-o69 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-xrD .cell-gvd {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-xrD .cell-aWD {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-xrD .cell-5C5 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-xrD .cell-AjK {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-xrD .cell-sNq {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-AMw {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 25.2rem;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-AMw .cell-HxM {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-AMw .cell-nGq {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-AMw .cell-sJH {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-AMw .cell-YvD {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-AMw .cell-EY9 {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-AMw .cell-iy7 {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.jadwal-wawancara-uUm .calendar-daftar-wawancara-9fw .auto-group-krds-G8H .calendar-EjK .calendar-CAM .days-RxD .auto-group-acjm-oE1 .row-AMw .cell-D9B {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
