
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.9rem;
}.new-job-added-program-analist-K1K {
  width: 100%;
  height: 16.8rem;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety {
  width: 100%;
  height: 100%;
  position: relative;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw {
  box-sizing: border-box;
  padding: 2.1rem 3.5rem 2rem 3.5rem;
  width: 116.9rem;
  height: 16.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  border: solid 0.4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(133, 211, 168, 0.1199999973) -0%, #5fbcb8 100%);
  border-radius: 2rem;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF {
  margin-right: 32.3rem;
  width: 30.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-3gwu-np1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-3gwu-np1 .program-analist-YYH {
  margin-right: 5.5rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-3gwu-np1 .ellipse-124-4mX {
  width: 2.7rem;
  height: 2.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #35ac41;
  border-radius: 1.35rem;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM {
  box-sizing: border-box;
  padding-top: 1.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .auto-group-i24y-WdX {
  margin: 0rem 2.2rem 2.1rem 2.3rem;
  width: calc(100% - 4.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .auto-group-i24y-WdX .ellipse-123-SGH {
  margin: 0rem 0.2rem 0.1rem 0rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #000000;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .auto-group-i24y-WdX .ditayangkan-pada-23-oktober-2023-9Rb {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M {
  margin-right: 1.4rem;
  width: 29.5rem;
  height: 4rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M .group-41-pXj {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M .group-41-pXj .group-39-amo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M .group-41-pXj .group-39-amo .group-43-9a1 {
  margin-right: 2.75rem;
  width: 12.35rem;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M .group-41-pXj .group-39-amo .group-43-9a1 .rectangle-706-Vtm {
  width: 12.35rem;
  height: 3.0875rem;
  position: absolute;
  left: 0;
  top: 0.4875rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #fff6f7;
  border-radius: 1rem;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M .group-41-pXj .group-39-amo .group-43-9a1 .lihat-D45 {
  width: 3.6rem;
  height: 4rem;
  position: absolute;
  left: 4.3875rem;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.9675;
  color: #000000;
  font-family: Gurajada, 'Source Sans Pro';
  white-space: nowrap;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M .group-41-pXj .group-39-amo .group-44-WYy {
  width: 14.4rem;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M .group-41-pXj .group-39-amo .group-44-WYy .rectangle-704-fgm {
  width: 12.35rem;
  height: 3.0875rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  border: solid 0.1rem #390d0d;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ce2337;
  border-radius: 1rem;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-tpxo-sBF .auto-group-xm7f-BLM .group-42-54M .group-41-pXj .group-39-amo .group-44-WYy .matikan-mE1 {
  width: 5.7rem;
  height: 4rem;
  position: absolute;
  left: 3.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.9675;
  color: #ffffff;
  font-family: Gurajada, 'Source Sans Pro';
  white-space: nowrap;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-j4a5-pCH {
  margin: 1.4rem 4rem 0rem 0rem;
  width: 8.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-j4a5-pCH .rectangle-710-wXo {
  margin-bottom: 0.6rem;
  width: 100%;
  height: 8.2rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.6899999976);
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-j4a5-pCH .antrean-qNH {
  margin-left: 0.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-fbvb-Zp5 {
  margin: 1.4rem 4.3rem 0rem 0rem;
  width: 8.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-fbvb-Zp5 .rectangle-707-Vhj {
  margin-bottom: 0.6rem;
  width: 100%;
  height: 8.2rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.6899999976);
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-fbvb-Zp5 .wawancara-c1f {
  margin-left: 0.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-z7e9-LCZ {
  margin: 1.4rem 4rem 0rem 0rem;
  width: 8.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-z7e9-LCZ .rectangle-708-G6D {
  margin-bottom: 0.6rem;
  width: 100%;
  height: 8.2rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.6899999976);
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-z7e9-LCZ .terpilih-xjj {
  margin-right: 0.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-gepb-65F {
  margin-top: 1.2rem;
  width: 8.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-gepb-65F .rectangle-709-ESM {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 8.2rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 217, 217, 0.6899999976);
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .list-job-ahw .auto-group-gepb-65F .sisa-kuota-kQh {
  margin-left: 0.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .item-0-QEM {
  width: 3.7rem;
  height: 19.7rem;
  position: absolute;
  left: 69.4rem;
  top: -2.7rem;
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.9675;
  color: #000000;
  font-family: Gurajada, 'Source Sans Pro';
  white-space: nowrap;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .item-0-WHP {
  width: 3.7rem;
  height: 19.7rem;
  position: absolute;
  left: 82rem;
  top: -2.7rem;
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.9675;
  color: #000000;
  font-family: Gurajada, 'Source Sans Pro';
  white-space: nowrap;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .item-0-crD {
  width: 3.7rem;
  height: 19.7rem;
  position: absolute;
  left: 94.7rem;
  top: -2.7rem;
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.9675;
  color: #000000;
  font-family: Gurajada, 'Source Sans Pro';
  white-space: nowrap;
}
.new-job-added-program-analist-K1K .joblist-variant3-Ety .item-0-XyB {
  width: 3.7rem;
  height: 19.7rem;
  position: absolute;
  left: 107.4rem;
  top: -2.7rem;
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.9675;
  color: #000000;
  font-family: Gurajada, 'Source Sans Pro';
  white-space: nowrap;
}
