
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-cari-karyawan-FGd {
  width: 100%;
  height: 102.4rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM {
  width: 100%;
  height: 100%;
  position: relative;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .rectangle-606-w9T {
  width: 2.1rem;
  height: 6.2rem;
  position: absolute;
  left: 140.9rem;
  top: 55.5rem;
  background-color: #bdbdbd;
  border-radius: 1.5rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o {
  margin-bottom: 18.2rem;
  width: 145.1rem;
  height: 102.4rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .masuk-V4V {
  width: 7.5rem;
  height: 3rem;
  position: absolute;
  left: 133.6rem;
  top: 15rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .rectangle-605-Nty {
  width: 2.1rem;
  height: 81.2rem;
  position: absolute;
  left: 142.9rem;
  top: 16.4rem;
  background-color: rgba(0, 0, 0, 0.150000006);
  border-radius: 1.5rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .rectangle-595-JXj {
  width: 145.1rem;
  height: 17.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90.47deg, #01d589 4.1%, #1dcba9 97.04%);
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .user-thumb-d4D {
  width: 4.6162rem;
  height: 4.6162rem;
  position: absolute;
  left: 129rem;
  top: 11.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4.8472rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .brosur-lowongan-YS5 {
  width: 15.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 26.8rem;
  top: 14rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .logo-jobstreet-variant2-dTX {
  width: 29.1rem;
  height: 10.9rem;
  cursor: pointer;
  position: absolute;
  left: 6rem;
  top: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .logo-jobstreet-variant2-dTX .logo-removebg-preview-2-YaV {
  width: 29.1rem;
  height: 10.9rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .rectangle-574-Uyw {
  width: 38.2rem;
  height: 5.4rem;
  position: absolute;
  left: 88.6rem;
  top: 10.8rem;
  border: solid 0.1rem #0e8136;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .rectangle-606-NZX {
  width: 2.1rem;
  height: 6.2rem;
  position: absolute;
  left: 142.9rem;
  top: 18rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .footer-6kR {
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 144rem;
  height: 7.9rem;
  position: absolute;
  left: 1.1rem;
  top: 94.5rem;
  display: flex;
  align-items: center;
  background-color: #008a88;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .footer-6kR .tentang-jobstreet-express-avV {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .footer-6kR .pusat-bantuan-twB {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-dpbp-B3o .footer-6kR .copyright-2023-jobstreet-express-DiZ {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .rectangle-594-L2V {
  margin: 0rem 0.2rem 36.2rem 0rem;
  width: 144.5rem;
  height: 35.5rem;
  background-color: #44abc3;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-ttt9-rWd {
  box-sizing: border-box;
  padding: 6.1rem 21rem 6.2rem 21rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #921414;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-ttt9-rWd .line-20-z73 {
  margin-right: 3rem;
  width: 18rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-ttt9-rWd .line-21-jKX {
  margin-right: 51rem;
  width: 12rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .preset-rGR .auto-group-ttt9-rWd .line-22-Unu {
  width: 18rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK {
  width: 127.9rem;
  height: 81.7rem;
  position: absolute;
  left: 2.7rem;
  top: 19.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-kudp-LKK {
  margin-bottom: 3.5rem;
  box-sizing: border-box;
  padding: 2.2rem 3.2rem 1.7rem 3.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-kudp-LKK .cari-karyawan-3zR {
  margin: 0rem 4.7rem 0.8rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-kudp-LKK .auto-group-jjv1-m9j {
  margin: 0.1rem 57.1rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.4rem 0.7rem 1.4rem;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-kudp-LKK .auto-group-jjv1-m9j .search-GsB {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-kudp-LKK .auto-group-y5u5-CVw {
  margin-bottom: 0.1rem;
  width: 27.6rem;
  height: 3.6rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-kudp-LKK .auto-group-y5u5-CVw .submit-9AH {
  width: 6.1rem;
  height: 2.2rem;
  position: absolute;
  left: 17.3rem;
  top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-kudp-LKK .auto-group-y5u5-CVw .digital-connectivity-SQH {
  width: 27.6rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z {
  width: 100%;
  height: 70.6rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .rectangle-617-TKP {
  width: 116.7rem;
  height: 70.6rem;
  position: absolute;
  left: 11.2rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 2rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamar-auo {
  box-sizing: border-box;
  padding: 2.1rem 3.2rem 1rem 2.6rem;
  width: 108.1rem;
  height: 13.8rem;
  position: absolute;
  left: 14.4rem;
  top: 4.7rem;
  display: flex;
  align-items: flex-end;
  background-color: #ecf5e5;
  border-radius: 2rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamar-auo .foto-profil-Gnd {
  margin: 0rem 3.7rem 1.1rem 0rem;
  box-sizing: border-box;
  padding: 0.64rem 0.707rem 0.64rem 0.707rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-121-4gq.png');
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamar-auo .foto-profil-Gnd .ellipse-125-zTj {
  width: 9.1867rem;
  height: 8.32rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamar-auo .ratna-firdaus-081234567890-gresik-v6V {
  margin: 0rem 45.3rem 1.3rem 0rem;
  max-width: 14.7rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamar-auo .button-acc-ck1 {
  margin-right: 1rem;
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4154;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamar-auo .button-acc-hmT {
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4baea0;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamarcessa-Nsb {
  box-sizing: border-box;
  padding: 2.1rem 3.2rem 1rem 2.6rem;
  width: 108.1rem;
  height: 13.8rem;
  position: absolute;
  left: 14.7rem;
  top: 23.8rem;
  display: flex;
  align-items: flex-end;
  background-color: #ecf5e5;
  border-radius: 2rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamarcessa-Nsb .foto-profil-sJZ {
  margin: 0rem 3.7rem 1.1rem 0rem;
  box-sizing: border-box;
  padding: 0.64rem 0.707rem 0.64rem 0.707rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-121-mcd.png');
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamarcessa-Nsb .foto-profil-sJZ .ellipse-125-aim {
  width: 9.1867rem;
  height: 8.32rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamarcessa-Nsb .lady-cessa-nadinda-082221008008-surabaya-hoP {
  margin: 0rem 38.8rem 1.3rem 0rem;
  max-width: 21.2rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamarcessa-Nsb .button-acc-oLd {
  margin-right: 1rem;
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4154;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-cPK .auto-group-7mbo-v4Z .daftar-pelamarcessa-Nsb .button-acc-t7B {
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4baea0;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .footer-mAy {
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 144rem;
  height: 7.9rem;
  position: absolute;
  left: 0;
  top: 94.5rem;
  display: flex;
  align-items: center;
  background-color: #008a88;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .footer-mAy .tentang-jobstreet-express-U5P {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .footer-mAy .pusat-bantuan-bA1 {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .footer-mAy .copyright-2023-jobstreet-express-7PF {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .rectangle-700-dcV {
  width: 20rem;
  height: 4rem;
  position: absolute;
  left: 62rem;
  top: 13.1rem;
  background-color: #381c88;
  border-radius: 1rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .group-30-A6d {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 80.4rem;
  top: 11.4rem;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .group-30-A6d .ellipse-87-JCq {
  width: 2.5rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .group-30-A6d .item-2-RYM {
  width: 1.2rem;
  height: 2.2rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .wawancara-XbP {
  width: 10.2rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 45.7rem;
  top: 14.1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .daftar-permintaan-deR {
  width: 15.9rem;
  height: 2.2rem;
  position: absolute;
  left: 63.9rem;
  top: 14.1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 {
  width: 13.9285rem;
  height: 27.7714rem;
  position: absolute;
  left: 0.1rem;
  top: 42.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .daftar-permintaan-tools-samping-S65 {
  margin: 0rem 1.264rem 1.943rem 1.264rem;
  width: calc(100% - 2.5285rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .daftar-permintaan-tools-samping-S65 .list-icon-MTw {
  margin: 0rem 2.093rem 1.143rem 2.093rem;
  box-sizing: border-box;
  padding: 1rem 1.714rem 0.929rem 1.643rem;
  width: calc(100% - 4.1857rem);
  cursor: pointer;
  box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
  background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
  border-radius: 3.6071rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .daftar-permintaan-tools-samping-S65 .list-icon-MTw .list-1-Tms {
  width: 3.8572rem;
  height: 5.2857rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .daftar-permintaan-tools-samping-S65 .group-79-8t1 {
  width: 100%;
  height: 4.5572rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .daftar-permintaan-tools-samping-S65 .group-79-8t1 .daftar-VTf {
  width: 6.7rem;
  height: 3.2rem;
  position: absolute;
  left: 2.35rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .daftar-permintaan-tools-samping-S65 .group-79-8t1 .permintaan-1S1 {
  width: 11.4rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 1.3572rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .jadwal-wawancara-tools-samping-vJ5 {
  box-sizing: border-box;
  padding: 0 1.0643rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .jadwal-wawancara-tools-samping-vJ5 .calendar-ikon-TYu {
  margin: 0rem 2.293rem 1.143rem 2.293rem;
  box-sizing: border-box;
  padding: 1.357rem 0rem 1.232rem 0rem;
  width: calc(100% - 4.5857rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
  border-radius: 3.6071rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .jadwal-wawancara-tools-samping-vJ5 .calendar-ikon-TYu .calendar-1-AiD {
  width: 6.2488rem;
  height: 4.625rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .jadwal-wawancara-tools-samping-vJ5 .group-80-q3f {
  width: 100%;
  height: 4.5571rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .jadwal-wawancara-tools-samping-vJ5 .group-80-q3f .jadwal-zBT {
  width: 7.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.35rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .tools-samping-kiri-iA5 .jadwal-wawancara-tools-samping-vJ5 .group-80-q3f .wawancara-Vtu {
  width: 11.8rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 1.3571rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-FGd .group-51-nnM .keluar-PzH {
  width: 5.8rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 135.2rem;
  top: 12.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
