
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-filter-pencarian-lowongan-kerja--d7w {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK {
  margin-bottom: 11.8rem;
  box-sizing: border-box;
  padding: 0rem 7.5rem 0.3rem 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 13.1rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .auto-group-whe1-ruo {
  margin: 0rem 15.1rem 0.3rem 0rem;
  width: 29.8rem;
  height: 12.8rem;
  position: relative;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .auto-group-whe1-ruo .logo-removebg-preview-1-P93 {
  width: 29.8rem;
  height: 10.9rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .auto-group-whe1-ruo .nama-pekerjaan-u7P {
  width: 14.5rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 10.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .di-mana-mvH {
  margin-right: 2.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 {
  margin: 3.4rem 0rem 6.8rem 0rem;
  height: calc(100% - 10.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .icon-play-circle-outline-Ckh {
  margin: 0.04rem 0.2rem 0rem 0rem;
  width: 2.3rem;
  height: 2.3398rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .simulasi-hSZ {
  margin: 0rem 3.647rem 0.3rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .icon-person-Cu7 {
  margin: 0.3rem 0.385rem 0rem 0rem;
  width: 2.4684rem;
  height: 2.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .profil-saya-v4R {
  margin: 0rem 5.3rem 0.5rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .icon-bell-outline-djX {
  margin: 0rem 0.345rem 0.4rem 0rem;
  width: 2.4555rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .job-alert-YrV {
  margin: 0rem 5.9rem 0.3rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .icon-bookmark-5Ld {
  margin: 0.2rem 0.045rem 0rem 0rem;
  width: 2.4555rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .lowongan-saya-Cw3 {
  margin: 0rem 7.3rem 0.3rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-tdtw-8yo .header-hJ9 .keluar-vMF {
  margin-bottom: 0.1rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-9swo-SqP {
  margin-bottom: 4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-9swo-SqP .auto-group-exyf-n8Z {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 1rem 1.2rem 1rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-9swo-SqP .auto-group-exyf-n8Z .nama-pekerjaan-atau-perusahaan-Jch {
  margin-right: 29.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-9swo-SqP .auto-group-exyf-n8Z .icon-search-outline-dQ5 {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-9swo-SqP .auto-group-yu7o-L3b {
  margin-right: 3.1rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-9swo-SqP .auto-group-yu7o-L3b .nama-kota-atau-provinsi-4VP {
  margin-right: 27.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-9swo-SqP .auto-group-yu7o-L3b .icon-pin-outline-ngH {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-9swo-SqP .bottom-J8q {
  width: 21rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-an1p-vR7 {
  margin-left: 1.8rem;
  box-sizing: border-box;
  padding-top: 0.2rem;
  width: 45.9rem;
  height: 3.6rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-an1p-vR7 .navbar-sendiri-S8Z {
  box-sizing: border-box;
  padding: 0rem 2.755rem 0rem 2.4rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: solid 0.1rem #777777;
  border-right: solid 0.1rem #777777;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-an1p-vR7 .navbar-sendiri-S8Z .full-time-kuw {
  margin-right: 12rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-an1p-vR7 .navbar-sendiri-S8Z .auto-group-bpsh-Hey {
  margin-right: 2.6547rem;
  width: 20.5453rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-an1p-vR7 .navbar-sendiri-S8Z .auto-group-bpsh-Hey .line-266-dD3 {
  width: 0.1rem;
  height: 3.4rem;
  position: absolute;
  left: 5.6rem;
  top: 0;
  background-color: #777777;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-an1p-vR7 .navbar-sendiri-S8Z .auto-group-bpsh-Hey .icon-arrow-ios-downward-8vV {
  width: 20.5453rem;
  height: 2.9879rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  object-fit: contain;
  vertical-align: top;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .background-header-XDK .auto-group-an1p-vR7 .navbar-sendiri-S8Z .auto-group-bpsh-Hey .hari-terakhir-fQd {
  width: 8.9rem;
  height: 1.6rem;
  position: absolute;
  left: 8.4rem;
  top: 0.9rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD {
  margin: 0rem 13.6rem 11.8rem 14rem;
  width: calc(100% - 27.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .auto-group-e4kt-8xR {
  margin: 0rem 80.5rem 2.336rem 0rem;
  width: calc(100% - 80.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .auto-group-e4kt-8xR .icon-trending-up-fxM {
  margin-right: 1.1607rem;
  width: 4.1393rem;
  height: 4.3637rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .auto-group-e4kt-8xR .lowongan-yang-sering-dicari-cMo {
  margin-top: 0.1363rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #015442;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM {
  margin: 0rem 0rem 4.8rem 0.5rem;
  height: 16.2rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-hj7k-eJV {
  margin: 0rem 2.838rem 0.021rem 0rem;
  width: 13.1625rem;
  height: calc(100% - 0.0215rem);
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-hj7k-eJV .jabatan-AXj {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-hj7k-eJV .auto-group-wko7-hGm {
  margin: 0rem 0rem 2.421rem 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2.463rem 0.808rem 0.6rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-hj7k-eJV .auto-group-wko7-hGm .icon-pie-chart-2-CDX {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-hj7k-eJV .auto-group-wko7-hGm .admin-Xmb {
  margin-bottom: 0.0709rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-hj7k-eJV .auto-group-fsjq-R6H {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2.263rem 0.808rem 0.6rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-hj7k-eJV .auto-group-fsjq-R6H .icon-pie-chart-2-8Fb {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-hj7k-eJV .auto-group-fsjq-R6H .barista-rxH {
  margin-bottom: 0.0709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-a7u5-77X {
  margin-right: 2.7rem;
  width: 10.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-a7u5-77X .auto-group-yzxs-DwF {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-a7u5-77X .auto-group-yzxs-DwF .icon-pie-chart-2-Jxh {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-a7u5-77X .auto-group-yzxs-DwF .kasir-DJy {
  margin-bottom: 0.2709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-a7u5-77X .auto-group-12uz-HJq {
  box-sizing: border-box;
  padding: 0.8rem 0.9rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-a7u5-77X .auto-group-12uz-HJq .icon-pie-chart-2-QeM {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-a7u5-77X .auto-group-12uz-HJq .driver-M3o {
  margin-bottom: 0.0709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-g6ur-Qnm {
  margin-right: 2.8rem;
  width: 19.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-g6ur-Qnm .auto-group-bbvs-Ye5 {
  margin: 0rem 0rem 2.4rem 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 1.7rem 0.829rem 0.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-g6ur-Qnm .auto-group-bbvs-Ye5 .icon-pie-chart-2-Emo {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-g6ur-Qnm .auto-group-bbvs-Ye5 .staff-marketing-yDb {
  margin-bottom: 0.0709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-g6ur-Qnm .auto-group-bvtt-GCh {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 2.3rem 0.829rem 0.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-g6ur-Qnm .auto-group-bvtt-GCh .icon-pie-chart-2-z8h {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-g6ur-Qnm .auto-group-bvtt-GCh .quality-control-8Eu {
  margin-bottom: 0.0709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-cdsz-cvm {
  margin-right: 2.8rem;
  width: 20.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-cdsz-cvm .auto-group-kkeh-Zb7 {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.4rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-cdsz-cvm .auto-group-kkeh-Zb7 .icon-pie-chart-2-Hn1 {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-cdsz-cvm .auto-group-kkeh-Zb7 .staff-accounting-q2q {
  margin-bottom: 0.0709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-cdsz-cvm .auto-group-itrh-7W9 {
  box-sizing: border-box;
  padding: 0.8rem 2.5rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-cdsz-cvm .auto-group-itrh-7W9 .icon-pie-chart-2-F6Z {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-cdsz-cvm .auto-group-itrh-7W9 .content-creator-PTf {
  margin-bottom: 0.0709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-f9dj-fg5 {
  margin-right: 2.3rem;
  width: 17.2rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-f9dj-fg5 .auto-group-drp3-p3B {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-f9dj-fg5 .auto-group-drp3-p3B .icon-pie-chart-2-wNh {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-f9dj-fg5 .auto-group-drp3-p3B .staff-gudang-Gvm {
  margin-bottom: 0.0709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-f9dj-fg5 .auto-group-4brr-aAm {
  margin-right: 6.4rem;
  box-sizing: border-box;
  padding: 0.8rem 2.2rem 0.829rem 0.6rem;
  width: calc(100% - 6.4rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-f9dj-fg5 .auto-group-4brr-aAm .icon-pie-chart-2-hFP {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-f9dj-fg5 .auto-group-4brr-aAm .host-34M {
  margin-bottom: 0.0709rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-4umk-jhs {
  margin: 4.8rem 0rem 6.9rem 0rem;
  box-sizing: border-box;
  padding: 0.8rem 1.1rem 0.829rem 1.1rem;
  height: calc(100% - 11.7rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-4umk-jhs .icon-pie-chart-2-SsB {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8709rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-90-7pM .auto-group-4umk-jhs .customer-service-ng9 {
  margin-bottom: 0.0709rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV {
  margin-left: 0.7rem;
  width: 111.8rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .perusahaan-pMw {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .group-88-6aM {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 0.9rem 0.7rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .group-88-6aM .emoji-office-building-DQ5 {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .group-88-6aM .ganesha-operation-surabaya-dsk-k97 {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .auto-group-kvsm-2cR {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .auto-group-kvsm-2cR .emoji-office-building-xW5 {
  margin-right: 0.9rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .auto-group-kvsm-2cR .pt-media-telekomunikasi-mandiri-HoF {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .auto-group-6tsh-myK {
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .auto-group-6tsh-myK .emoji-office-building-WR7 {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-2epq-xU9 .auto-group-6tsh-myK .pt-arta-boga-boga-cemerlang-F7o {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM {
  display: flex;
  align-items: flex-end;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-qk4r-UWM {
  margin: 0.2rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 2.2rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-qk4r-UWM .emoji-office-building-n1F {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-qk4r-UWM .cv-berlian-retail-Whw {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-ruwd-i3K {
  margin: 0.2rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.7rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-ruwd-i3K .emoji-office-building-q7w {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-ruwd-i3K .panara-course-mXP {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-xquf-4Fb {
  margin: 0.2rem 3.2rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-xquf-4Fb .emoji-office-building-Zi9 {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-xquf-4Fb .bali-super-host-W7b {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-hwub-nau {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 1.1rem 1.7rem 0.7rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-hwub-nau .emoji-office-building-iDf {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .yang-sering-dicari-RYD .group-89-sxV .auto-group-ft2d-KtM .auto-group-hwub-nau .angonjiwo-rKs {
  margin-bottom: 0.1rem;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .footer-w6R {
  margin-bottom: 18.2rem;
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #008a88;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .footer-w6R .tentang-jobstreet-express-Fso {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .footer-w6R .pusat-bantuan-afB {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .footer-w6R .copyright-2023-jobstreet-express-67j {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .rectangle-594-PsX {
  margin: 0rem 0.2rem 35.9rem 0rem;
  width: 144.5rem;
  height: 35.5rem;
  background-color: #8c8989;
  flex-shrink: 0;
}
.pencari-kerja-filter-pencarian-lowongan-kerja--d7w .auto-group-ssrf-KFP {
  width: 100%;
  height: 12.8rem;
  background-color: #999393;
  border-top: solid 0.5rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
