
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-tentang-jobstreet-hUu {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y {
  box-sizing: border-box;
  padding: 0rem 5.8rem 21.3rem 4.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-tlzm-kxy {
  margin-bottom: 8.4rem;
  width: 100%;
  height: 10.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-tlzm-kxy .logo-jobstreet-variant2-WBT {
  margin-right: 91.5rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-tlzm-kxy .logo-jobstreet-variant2-WBT .logo-removebg-preview-2-eYZ {
  width: 29.8rem;
  height: 10.9rem;
  object-fit: cover;
  vertical-align: top;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-tlzm-kxy .cari-lowongan-n8y {
  margin-bottom: 0.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm {
  margin: 0rem 0.6rem 0rem 0.3rem;
  width: calc(100% - 0.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .tentang-dan-bantuan-pLZ {
  margin-right: 9.1rem;
  box-sizing: border-box;
  padding: 4.7rem 2.738rem 7.7rem 2.738rem;
  width: 43.8rem;
  background-color: #ecf5e5;
  border-radius: 2.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .tentang-dan-bantuan-pLZ .tentang-jobstreet-express-XVs {
  margin: 0rem 0rem 1.95rem 0.663rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #015442;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .tentang-dan-bantuan-pLZ .line-28-Scq {
  margin-bottom: 4.25rem;
  width: 38.325rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .tentang-dan-bantuan-pLZ .bantuan-BqK {
  margin: 0rem 0rem 2.1rem 0.639rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .tentang-dan-bantuan-pLZ .line-28-Jf3 {
  width: 100%;
  height: 0.2rem;
  background-color: #000000;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1 {
  margin-top: 0.4rem;
  max-width: 79.9rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1 .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #015442;
  font-family: Jacques Francois Shadow, 'Source Sans Pro';
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1 .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1-sub-1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1 .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1-sub-2 {
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1 .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1-sub-3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-krrd-32y .auto-group-r4fs-5tm .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1 .jobstreet-express-jobstreet-express-indonesia-adalah-situs-penyedia-informasi-lowongan-kerja-di-jobstreet-express-para-pencari-kerja-dapat-mencari-lowongan-kerja-tanpa-dipungut-biaya-kami-selalu-berupaya-agar-anda-dapat-menemukan-pekerjaan-impian-dengan-menggunakan-layanan-kami-anda-cukup-mengetikkan-kata-kunci-apa-saja-di-kotak-nama-pekerjaan-misalnya-barista-waiter-dsb-dan-anda-sudah-bisa-menemukan-informasi-loker-jobstreet-express-terbatas-hanya-menampilkan-info-lowongan-kerja-dan-kami-tidak-memproses-lamaran-kerja-perusahaan-dalam-melakukan-proses-rekrutmen-tidak-pernah-mensyaratkan-pembayaran-ataupun-meminta-uang-dari-kandidat-jika-ada-perusahaan-yang-memungut-biaya-wawancara-tes-dsb-sebaiknya-dihindari-karena-ada-indikasi-penipuan-jika-anda-memiliki-pertanyaan-jangan-ragu-untuk-hubungi-kami-Dn1-sub-4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.pencari-kerja-tentang-jobstreet-hUu .footer-EuP {
  margin-bottom: 18.2rem;
  width: 100%;
  height: 7.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #008a88;
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .rectangle-594-8js {
  margin: 0rem 0.2rem 35.9rem 0rem;
  width: 144.5rem;
  height: 35.5rem;
  background-color: #8c8989;
  flex-shrink: 0;
}
.pencari-kerja-tentang-jobstreet-hUu .auto-group-akho-4dX {
  width: 100%;
  height: 12.8rem;
  background-color: #999393;
  border-top: solid 0.5rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
