
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 64.8rem;
}.pengajuan-berhasil-X2q {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.pengajuan-berhasil-X2q .property-1default-4YZ {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 2rem 2.686rem 2.1rem 3rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ecf5e5;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.pengajuan-berhasil-X2q .property-1default-4YZ .roboto-slab-P53 {
  margin: 0rem 0.614rem 1.8rem 0rem;
  max-width: 54.5rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.pengajuan-berhasil-X2q .property-1default-4YZ .auto-group-vhfx-UsB {
  width: 9.8145rem;
  height: 4rem;
  position: relative;
  flex-shrink: 0;
}
.pengajuan-berhasil-X2q .property-1default-4YZ .auto-group-vhfx-UsB .rectangle-648-ELZ {
  width: 8.3rem;
  height: 4rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, #005544 -0%, #03876c 100%);
  border-radius: 2rem;
}
.pengajuan-berhasil-X2q .property-1default-4YZ .auto-group-vhfx-UsB .header-1-tg1 {
  width: 9.8145rem;
  height: 2.6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
}
.pengajuan-berhasil-X2q .property-1variant2-3BX {
  box-sizing: border-box;
  padding: 2rem 3.3rem 2.1rem 3rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ecf5e5;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.pengajuan-berhasil-X2q .property-1variant2-3BX .roboto-slab-XMb {
  margin-bottom: 1.8rem;
  max-width: 54.5rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.pengajuan-berhasil-X2q .property-1variant2-3BX .auto-group-4ypf-zFB {
  margin-right: 0.2rem;
  width: 8.3rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #015442;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #015442;
  box-sizing: border-box;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #b0aaaa;
  border-radius: 2rem;
  flex-shrink: 0;
}
