
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 111.1rem;
}.popup-login-perusahaan-sUu {
  width: 100%;
  height: 50.129rem;
}
.popup-login-perusahaan-sUu .group-68-pf3 {
  width: 100%;
  height: 100%;
  position: relative;
}
.popup-login-perusahaan-sUu .group-68-pf3 .rectangle-727-maH {
  width: 111.1rem;
  height: 49.4932rem;
  position: absolute;
  left: 0;
  top: 0.6358rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.popup-login-perusahaan-sUu .group-68-pf3 .rectangle-727-W25 {
  width: 52.2rem;
  height: 49.5rem;
  position: absolute;
  left: 58.9rem;
  top: 0.6rem;
  background-color: #01d589;
  border-radius: 3rem;
}
.popup-login-perusahaan-sUu .group-68-pf3 .ellipse-127-qKF {
  width: 57.1757rem;
  height: 16.8507rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.popup-login-perusahaan-sUu .group-68-pf3 .login-perusahaan-mTo {
  width: 36.6rem;
  height: 14rem;
  position: absolute;
  left: 9.4rem;
  top: 0.8012rem;
  display: flex;
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 1.0769230769;
  letter-spacing: 0.065rem;
  color: #000000;
  font-family: Racing Sans One, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f {
  width: 46.5rem;
  height: 39.6rem;
  position: absolute;
  left: 61.7rem;
  top: 5.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-0 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-1 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-4 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-5 {
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-6 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-7 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  text-decoration-line: underline;
  color: #0c1083;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-G9f-sub-8 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #0c1083;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.popup-login-perusahaan-sUu .group-68-pf3 .rectangle-728-mxu {
  width: 45.5rem;
  height: 4.8rem;
  position: absolute;
  left: 5.7rem;
  top: 22.9rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.popup-login-perusahaan-sUu .group-68-pf3 .rectangle-729-6VP {
  width: 45.5rem;
  height: 4.8rem;
  position: absolute;
  left: 5.7rem;
  top: 33.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.popup-login-perusahaan-sUu .group-68-pf3 .email-perusahaan-dER {
  width: 15.6rem;
  height: 2.4rem;
  position: absolute;
  left: 5.7rem;
  top: 19.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.popup-login-perusahaan-sUu .group-68-pf3 .kata-sandi-L8q {
  width: 9.3rem;
  height: 2.4rem;
  position: absolute;
  left: 5.7rem;
  top: 30.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.popup-login-perusahaan-sUu .group-68-pf3 .lupa-kata-sandi-3Z3 {
  width: 14.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 35.7rem;
  top: 40.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #224399;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.popup-login-perusahaan-sUu .group-68-pf3 .belum-memiliki-akun-kCZ {
  width: 19.9rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 35.7rem;
  top: 43.8rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #224399;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.popup-login-perusahaan-sUu .group-68-pf3 .group-72-EtR {
  width: 13.1rem;
  height: 3.6rem;
  cursor: pointer;
  position: absolute;
  left: 5.7rem;
  top: 39.7rem;
  border-radius: 5rem;
}
.popup-login-perusahaan-sUu .group-68-pf3 .group-72-EtR .group-73-n9F {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #01d589;
  border-radius: 5rem;
}
.popup-login-perusahaan-sUu .group-68-pf3 .telkomindonesiagmaicom-TFP {
  width: 24.8rem;
  height: 2.4rem;
  position: absolute;
  left: 6.6rem;
  top: 24rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.popup-login-perusahaan-sUu .group-68-pf3 .item--xT3 {
  width: 14.4rem;
  height: 2.4rem;
  position: absolute;
  left: 7rem;
  top: 34.7rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
