
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-update-lowongan-2-PHB {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .header-admin-v2D {
    height: 11.8rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 3rem 0rem 5rem;
    width: 100%;
    background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);
    margin-bottom: 2.8rem;
    display: flex;
    align-items: flex-start;

    .logo-removebg-preview-1-1pM {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 37.3rem;
      width: 29.8rem;
      height: 10.9rem;
      object-fit: cover;
    }
    .header-vRX {
      margin-bottom: 5.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .home-page-fP7 {
        width: 2.7rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-vsk9-Cdw {
        width: 22.2167rem;
        height: 2.9rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 0.183rem 0.2rem 0rem;

        .icon-play-circle-outline-icH {
          width: 17.2167rem;
          height: 2.5499rem;
          position: absolute;
          left: 5rem;
          top: 0;
          display: flex;
          align-items: flex-end;

          .vector-3Pf {
            opacity: 0;
            width: 2.3rem;
            height: 2.3399rem;
            background-color: rgba(255, 255, 255, 0);
            flex-shrink: 0;
            margin: 0rem 13rem 0.21rem 0rem;
          }
          .group-jXP {
            width: 1.9167rem;
            height: 1.9499rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .daftar-pt-gBj {
          width: 8.2rem;
          height: 2.4rem;
          top: 0.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          position: absolute;
          left: 10.2rem;
          font-size: 1.8rem;
        }
        .vector-NKT {
          vertical-align: top;
          width: 2.7rem;
          height: 2.7rem;
          position: absolute;
          left: 7.2rem;
          top: 0.2rem;
          object-fit: contain;
        }
        .home-Vus {
          height: 2.4rem;
          cursor: pointer;
          position: absolute;
          top: 0.3rem;
          font-weight: 600;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.1rem;
          left: 0;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #015442;
        }
      }
      .simulasi-cUh {
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 600;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        margin: 0rem 1.6rem 0.3rem 0rem;
        font-size: 1.8rem;
        color: #000000;
      }
      .people-iXj {
        flex-shrink: 0;
        margin: 0.1rem 0.3rem 0rem 0rem;
        width: 2.4rem;
        height: 2.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-mv9x-qsF {
        flex-shrink: 0;
        margin: 0rem 1.7rem 0.5rem 0rem;
        width: 7.2rem;
        height: 2.6rem;
        position: relative;

        .pelamar-ZoF {
          height: 2.4rem;
          cursor: pointer;
          left: 0;
          top: 0.2rem;
          font-weight: 600;
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 7.2rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          position: absolute;
        }
        .vector-t4q {
          height: 2.5rem;
          position: absolute;
          left: 4.1rem;
          top: 0;
          background-color: rgba(255, 255, 255, 0);
          opacity: 0;
          width: 2.4555rem;
        }
      }
      .graph-1fF {
        width: 2.4rem;
        height: 2.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
      .statistik-ZAy {
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        white-space: nowrap;
        margin: 0rem 1.2rem 0.3rem 0rem;
        cursor: pointer;
        font-size: 1.8rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .icon-person-U33 {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.5rem 0.332rem 0rem 0rem;
        width: 2.4685rem;
        height: 2.6rem;
      }
      .profil-saya-b7f {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
      }
    }
  }
  .background-header-HFP {
    margin: 0rem 4.4rem 2.9rem 4.4rem;
    width: calc(100% - 8.8rem);
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:de65f232e7adbd85e4a0edcfb895693d18fa5130');
    border-radius: 1.5rem;
    flex-shrink: 0;
    height: 77rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .rectangle-626-PpD {
      width: 125.9rem;
      height: 70.5rem;
      position: absolute;
      left: 4.2rem;
      top: 3.3rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(241, 234, 193, 0.5333333611);
      border-radius: 2.5rem;
    }
    .deskripsi-pekerjaan-mengidentifikasi-menganalisa-menginterpretasi-tren-atau-pola-yang-sedang-berlangsung-menganalisa-dan-mengimplementasikan-solusi-untuk-mengembangkan-perusahaan-berdasarkan-data-aktif-dalam-menganalisa-dan-mengidentifikasi-anomali-menentukan-metrik-untuk-mengevaluasi-kondisi-perusahaan-merancang-strategi-pengembangan-berdasarkan-data-yang-sudah-didapatkan-kualifikasi-pendidikan-minimal-s1-statistik-matematika-komputer-ekonomi-sederajat-memiliki-pengalaman-miniamal-1-tahun-memiliki-analisa-tinggi-menguasai-microsoft-excel-googlesheet-memahami-data-analytical-tools-data-visual-tools-menjadi-nilai-tambah-bersedia-ditempatkan-di-luar-kota-persyaratan-minimum-tersedia-jam-fleksibel-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-pelamar-harus-memiliki-ktp-h4D {
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 87.4rem;
      left: 10.4rem;
      top: 24.2rem;
      display: flex;
      font-weight: 400;
      height: 42.7rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #000000;

      .deskripsi-pekerjaan-mengidentifikasi-menganalisa-menginterpretasi-tren-atau-pola-yang-sedang-berlangsung-menganalisa-dan-mengimplementasikan-solusi-untuk-mengembangkan-perusahaan-berdasarkan-data-aktif-dalam-menganalisa-dan-mengidentifikasi-anomali-menentukan-metrik-untuk-mengevaluasi-kondisi-perusahaan-merancang-strategi-pengembangan-berdasarkan-data-yang-sudah-didapatkan-kualifikasi-pendidikan-minimal-s1-statistik-matematika-komputer-ekonomi-sederajat-memiliki-pengalaman-miniamal-1-tahun-memiliki-analisa-tinggi-menguasai-microsoft-excel-googlesheet-memahami-data-analytical-tools-data-visual-tools-menjadi-nilai-tambah-bersedia-ditempatkan-di-luar-kota-persyaratan-minimum-tersedia-jam-fleksibel-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-pelamar-harus-memiliki-ktp-h4D-sub-0 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .deskripsi-pekerjaan-mengidentifikasi-menganalisa-menginterpretasi-tren-atau-pola-yang-sedang-berlangsung-menganalisa-dan-mengimplementasikan-solusi-untuk-mengembangkan-perusahaan-berdasarkan-data-aktif-dalam-menganalisa-dan-mengidentifikasi-anomali-menentukan-metrik-untuk-mengevaluasi-kondisi-perusahaan-merancang-strategi-pengembangan-berdasarkan-data-yang-sudah-didapatkan-kualifikasi-pendidikan-minimal-s1-statistik-matematika-komputer-ekonomi-sederajat-memiliki-pengalaman-miniamal-1-tahun-memiliki-analisa-tinggi-menguasai-microsoft-excel-googlesheet-memahami-data-analytical-tools-data-visual-tools-menjadi-nilai-tambah-bersedia-ditempatkan-di-luar-kota-persyaratan-minimum-tersedia-jam-fleksibel-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-pelamar-harus-memiliki-ktp-h4D-sub-1 {
      }
      .deskripsi-pekerjaan-mengidentifikasi-menganalisa-menginterpretasi-tren-atau-pola-yang-sedang-berlangsung-menganalisa-dan-mengimplementasikan-solusi-untuk-mengembangkan-perusahaan-berdasarkan-data-aktif-dalam-menganalisa-dan-mengidentifikasi-anomali-menentukan-metrik-untuk-mengevaluasi-kondisi-perusahaan-merancang-strategi-pengembangan-berdasarkan-data-yang-sudah-didapatkan-kualifikasi-pendidikan-minimal-s1-statistik-matematika-komputer-ekonomi-sederajat-memiliki-pengalaman-miniamal-1-tahun-memiliki-analisa-tinggi-menguasai-microsoft-excel-googlesheet-memahami-data-analytical-tools-data-visual-tools-menjadi-nilai-tambah-bersedia-ditempatkan-di-luar-kota-persyaratan-minimum-tersedia-jam-fleksibel-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-pelamar-harus-memiliki-ktp-h4D-sub-2 {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
      }
      .deskripsi-pekerjaan-mengidentifikasi-menganalisa-menginterpretasi-tren-atau-pola-yang-sedang-berlangsung-menganalisa-dan-mengimplementasikan-solusi-untuk-mengembangkan-perusahaan-berdasarkan-data-aktif-dalam-menganalisa-dan-mengidentifikasi-anomali-menentukan-metrik-untuk-mengevaluasi-kondisi-perusahaan-merancang-strategi-pengembangan-berdasarkan-data-yang-sudah-didapatkan-kualifikasi-pendidikan-minimal-s1-statistik-matematika-komputer-ekonomi-sederajat-memiliki-pengalaman-miniamal-1-tahun-memiliki-analisa-tinggi-menguasai-microsoft-excel-googlesheet-memahami-data-analytical-tools-data-visual-tools-menjadi-nilai-tambah-bersedia-ditempatkan-di-luar-kota-persyaratan-minimum-tersedia-jam-fleksibel-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-pelamar-harus-memiliki-ktp-h4D-sub-3 {
      }
    }
    .pt-telkom-indonesia-tbk-yjo {
      line-height: 1.3175;
      color: #000000;
      white-space: nowrap;
      top: 7.25rem;
      display: flex;
      font-size: 1.8rem;
      left: 24.8rem;
      font-weight: 600;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 22.3rem;
      height: 2.4rem;
      position: absolute;
    }
    .data-analyst-UwT {
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.1rem;
      height: 2.4rem;
      position: absolute;
      font-weight: 600;
      color: #000000;
      left: 24.8rem;
      top: 11.15rem;
      display: flex;
    }
    .surabaya-jawa-timur-P2q {
      width: 19.4rem;
      height: 2.4rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      left: 103.4rem;
      top: 7.25rem;
      display: flex;
      font-weight: 600;
      color: #000000;
    }
    .telkom-tel-1-tVP {
      object-fit: cover;
      vertical-align: top;
      width: 10.6rem;
      height: 10.3rem;
      position: absolute;
      left: 11.5rem;
      top: 5rem;
    }
    .button-admin-pP3 {
      color: #ffffff;
      align-items: center;
      height: 4rem;
      left: 117.5rem;
      font-weight: 400;
      white-space: nowrap;
      width: 10.1rem;
      top: 68.4rem;
      font-family: Candal, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.2975;
      border-radius: 2rem;
    }
  }
  .footer-A5X {
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;

    .tentang-jobstreet-express-fny {
      flex-shrink: 0;
      margin-right: 4.6rem;
      color: #ffffff;
      white-space: nowrap;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .pusat-bantuan-BWR {
      display: flex;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 44.9rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-Jqw {
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .rectangle-594-RQm {
    background-color: #8c8989;
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
  }
  .auto-group-uycm-9bf {
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
  }
}
