
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-proses-masuk-G25 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border-bottom: solid 0.5rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;

  .rectangle-594-mDj {
    width: 144.5rem;
    height: 35.5rem;
    position: absolute;
    left: 0;
    top: 120.6rem;
    background-color: #8c8989;
  }
  .rectangle-583-grV {
    top: 192rem;
    background-color: #999393;
    width: 144rem;
    height: 12.8rem;
    position: absolute;
    left: 0;
  }
  .footer-pxh {
    position: absolute;
    box-sizing: border-box;
    width: 144rem;
    left: 0;
    top: 94.5rem;
    display: flex;
    align-items: center;
    background-color: #008a88;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    height: 7.9rem;

    .tentang-jobstreet-express-vF3 {
      display: flex;
      color: #ffffff;
      white-space: nowrap;
      margin-right: 4.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .pusat-bantuan-23B {
      margin-right: 44.9rem;
      color: #ffffff;
      flex-shrink: 0;
      white-space: nowrap;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .copyright-2023-jobstreet-express-8ru {
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .header-n-navbar-variant2-rH7 {
    width: 144rem;
    height: 27.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);

    .background-header-z8R {
      background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 4.5rem 0.3rem 4.5rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .auto-group-9wa1-umB {
        margin: 0rem 82.9rem 0.2rem 0rem;
        width: calc(100% - 82.9rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-orbb-dx5 {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;

          .logo-removebg-preview-1-Zaq {
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
          .nama-pekerjaan-Hmj {
            font-family: Roboto Slab, 'Source Sans Pro';
            top: 10.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            left: 0;
            display: flex;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;
          }
        }
        .di-mana-AqX {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
        }
      }
      .auto-group-xyfo-hKf {
        margin-bottom: 4rem;
        height: 6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-csqh-2sj {
          margin-right: 3rem;
          box-sizing: border-box;
          padding: 1rem 1.2rem 1rem 1.8rem;
          height: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 1rem;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;

          .nama-pekerjaan-atau-perusahaan-Mf7 {
            font-weight: 400;
            color: #b0aaaa;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 8.4rem;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            white-space: nowrap;
          }
          .icon-search-outline-H2y {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-pkfs-AcZ {
          padding: 1rem 0.8rem 1rem 2rem;
          height: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 1rem;
          box-sizing: border-box;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 3.1rem;

          .nama-kota-atau-provinsi-Hx5 {
            margin-right: 14.2rem;
            display: flex;
            color: #b0aaaa;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .icon-pin-outline-Daq {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
          }
        }
        .bottom-jJH {
          font-weight: 400;
          white-space: nowrap;
          border-radius: 1.5rem;
          display: flex;
          align-items: center;
          font-size: 2rem;
          line-height: 1.2975;
          font-family: Candal, 'Source Sans Pro';
          cursor: pointer;
          justify-content: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          width: 21rem;
          height: 100%;
          color: #ffffff;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
        }
      }
      .auto-group-gqaq-kz5 {
        width: calc(100% - 89.2rem);
        display: flex;
        align-items: center;
        border-right: solid 0.1rem #777777;
        flex-shrink: 0;
        padding: 0.2rem 2.555rem 0.2rem 2.5rem;
        box-sizing: border-box;
        height: 3.6rem;
        border-left: solid 0.1rem #777777;
        margin: 0rem 87.4rem 0rem 1.8rem;

        .semua-jenis-pekerjaan-Sru {
          font-weight: 400;
          line-height: 1.3175;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.4rem 0.2rem 0rem;
          display: flex;
          font-size: 1.8rem;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .auto-group-yvmp-k6u {
          margin: 0rem 2.455rem 0.212rem 0rem;
          width: 20.5452rem;
          height: 2.9878rem;
          position: relative;
          flex-shrink: 0;

          .line-171-rvd {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 0rem;
            height: 0.1rem;
            position: absolute;
            left: 5.5rem;
            top: 0;
            background-color: #777777;
          }
          .kapan-saja-ARX {
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.4rem;
            position: absolute;
            left: 8rem;
            top: 0.3rem;
            font-size: 1.8rem;
            width: 9.6rem;
          }
          .icon-arrow-ios-downward-TvR {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.5rem;
            height: 2.9878rem;
            position: absolute;
            left: 0;
          }
          .icon-arrow-ios-downward-bWq {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 20.5452rem;
            height: 2.9878rem;
          }
        }
      }
    }
  }
  .yang-sering-dicari-PxV {
    width: 116.4rem;
    height: 43.9rem;
    position: absolute;
    left: 14rem;
    top: 38.6rem;

    .auto-group-7ved-iUy {
      margin: 0rem 80.5rem 2.336rem 0rem;
      width: calc(100% - 80.5rem);
      display: flex;
      align-items: center;

      .icon-trending-up-SQy {
        margin-right: 1.1607rem;
        width: 4.1393rem;
        height: 4.3636rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .lowongan-yang-sering-dicari-aGH {
        display: flex;
        font-weight: 600;
        line-height: 1.3175;
        margin-top: 0.1364rem;
        font-size: 2.2rem;
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-90-Guo {
      margin: 0rem 0rem 4.8rem 0.5rem;
      height: 16.2rem;
      display: flex;
      align-items: flex-end;

      .auto-group-hxgd-bSH {
        margin: 0rem 2.838rem 0.022rem 0rem;
        width: 13.1625rem;
        height: calc(100% - 0.0215rem);
        flex-shrink: 0;

        .jabatan-uxm {
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .auto-group-ykfb-TDb {
          display: flex;
          border: solid 0.1rem #0e8136;
          margin: 0rem 0rem 2.422rem 0.2rem;
          width: calc(100% - 0.2rem);
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.8rem 2.463rem 0.808rem 0.6rem;

          .icon-pie-chart-2-A81 {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .admin-h7w {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0708rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            display: flex;
            color: #008a88;
            flex-shrink: 0;
          }
        }
        .auto-group-hgtr-BYu {
          margin-left: 0.2rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.8rem 2.263rem 0.808rem 0.6rem;
          width: calc(100% - 0.2rem);
          align-items: center;

          .icon-pie-chart-2-ty7 {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .barista-EGH {
            margin-bottom: 0.0708rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            color: #008a88;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-q78m-vQ1 {
        margin-right: 2.7rem;
        width: 10.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-6acr-SdF {
          width: 100%;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .icon-pie-chart-2-AZF {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
          }
          .kasir-W7K {
            font-weight: 400;
            white-space: nowrap;
            margin-bottom: 0.2708rem;
            font-size: 1.8rem;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            line-height: 1.3175;
          }
        }
        .auto-group-lveh-1Jy {
          box-sizing: border-box;
          padding: 0.8rem 0.9rem 0.829rem 0.6rem;
          display: flex;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;

          .icon-pie-chart-2-jkm {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
          }
          .driver-5Jq {
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0708rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-gm6r-B6y {
        margin-right: 2.8rem;
        width: 19.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-f2o3-KU5 {
          border: solid 0.1rem #0e8136;
          padding: 0.8rem 1.7rem 0.829rem 0.6rem;
          width: calc(100% - 0.1rem);
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0rem 0rem 2.4rem 0.1rem;
          box-sizing: border-box;
          display: flex;

          .icon-pie-chart-2-DZT {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
          }
          .staff-marketing-Le5 {
            margin-bottom: 0.0708rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            flex-shrink: 0;
            display: flex;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-ca8z-2mo {
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 0.1rem;
          box-sizing: border-box;
          padding: 0.8rem 2.3rem 0.829rem 0.6rem;

          .icon-pie-chart-2-MJH {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .quality-control-tJD {
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .auto-group-a1q5-yaZ {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 20.4rem;
        align-items: center;
        display: flex;

        .auto-group-s6ad-KPX {
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          width: 100%;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          padding: 0.8rem 1.4rem 0.829rem 0.6rem;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;

          .icon-pie-chart-2-3aR {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .staff-accounting-P8V {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.0708rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-krto-5GD {
          padding: 0.8rem 2.5rem 0.829rem 0.6rem;
          width: 100%;
          display: flex;
          border-radius: 0.5rem;
          box-sizing: border-box;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;

          .icon-pie-chart-2-Crd {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
          }
          .content-creator-Lhw {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
            color: #008a88;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
      }
      .auto-group-5hrk-dh3 {
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 17.2rem;

        .auto-group-j1b7-Zqb {
          align-items: center;
          background-color: #ffffff;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .icon-pie-chart-2-gvD {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .staff-gudang-cos {
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.3175;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .auto-group-h9hk-6yw {
          width: calc(100% - 6.4rem);
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-right: 6.4rem;
          padding: 0.8rem 2.2rem 0.829rem 0.6rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          box-sizing: border-box;
          display: flex;

          .icon-pie-chart-2-DHs {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
          }
          .host-M9B {
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #008a88;
            white-space: nowrap;
          }
        }
      }
      .auto-group-ndny-dsP {
        height: calc(100% - 11.7rem);
        display: flex;
        align-items: center;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        border-radius: 0.5rem;
        margin: 4.8rem 0rem 6.9rem 0rem;

        .icon-pie-chart-2-Xhs {
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8708rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .customer-service-TbX {
          font-weight: 400;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.0708rem;
          cursor: pointer;
          line-height: 1.3175;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
        }
      }
    }
    .group-89-Ycy {
      margin-left: 0.7rem;
      width: 111.8rem;

      .perusahaan-HaZ {
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.9rem;
      }
      .auto-group-xbys-Dj7 {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .group-88-MaR {
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          height: 100%;
          align-items: center;
          margin-right: 2.9rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .emoji-office-building-GxH {
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
          }
          .ganesha-operation-surabaya-dsk-oxD {
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 0.1rem;
            cursor: pointer;
            line-height: 1.3175;
          }
        }
        .auto-group-fgkk-Va9 {
          box-sizing: border-box;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          height: 100%;
          margin-right: 3rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          display: flex;

          .emoji-office-building-Dm3 {
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .pt-media-telekomunikasi-mandiri-McM {
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-3yzr-dpm {
          box-sizing: border-box;
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;
          height: 100%;
          align-items: center;
          background-color: #ffffff;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-xs3 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .pt-arta-boga-boga-cemerlang-Vc5 {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            cursor: pointer;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            color: #01d589;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-1qk3-aNd {
        display: flex;
        align-items: flex-end;

        .auto-group-63so-XYm {
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;
          align-items: center;
          background-color: #ffffff;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;

          .emoji-office-building-ETB {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .cv-berlian-retail-mi1 {
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
          }
        }
        .auto-group-faxr-fHb {
          margin: 0.2rem 3rem 0rem 0rem;
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .emoji-office-building-NSu {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
          }
          .panara-course-WZ7 {
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            color: #01d589;
            margin-bottom: 0.1rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-lgqy-bqT {
          margin: 0.2rem 3.2rem 0rem 0rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .emoji-office-building-ur9 {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .bali-super-host-SbB {
            display: flex;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            cursor: pointer;
          }
        }
        .auto-group-2cjd-jKP {
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          margin-bottom: 0.2rem;
          box-sizing: border-box;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;

          .emoji-office-building-4Mf {
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
          }
          .angonjiwo-oKF {
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .masuk-UwB {
    width: 111.7rem;
    height: 456.9rem;
    position: absolute;
    left: 32.3rem;
    top: 2.5rem;

    .auto-group-wvym-oyT {
      width: 27rem;
      height: 53.4rem;
      position: relative;
      margin: 0rem 0rem 403.5rem 84.7rem;

      .rectangle-625-Htd {
        position: absolute;
        left: 12rem;
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
        border-radius: 2rem;
        width: 12.6rem;
        height: 7rem;
      }
      .rectangle-624-CEu {
        position: absolute;
        left: 0;
        top: 4.6rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 27rem;
        height: 48.8rem;
      }
      .masuk-uv1 {
        height: 2.4rem;
        left: 15.4rem;
        font-weight: 400;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.9rem;
        position: absolute;
        top: 1.1rem;
        text-align: center;
        font-size: 1.8rem;
        color: #000000;
      }
      .subtract-RdT {
        top: 14.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
        left: 1.5rem;
      }
      .subtract-wrh {
        position: absolute;
        left: 1.5rem;
        top: 19.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--Urd {
        font-weight: 600;
        color: #000000;
        height: 3.2rem;
        position: absolute;
        left: 1.5rem;
        font-size: 1.2rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 22rem;
        top: 40.2rem;
        display: flex;
        line-height: 1.3188476562;

        .belum-punya-akun-jobstreet-express-daftar-dengan--Urd-sub-0 {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
        }
        .belum-punya-akun-jobstreet-express-daftar-dengan--Urd-sub-1 {
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
        }
      }
      .facebook-DbF {
        top: 48.4rem;
        display: flex;
        font-weight: 300;
        letter-spacing: -0.011rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 4.6rem;
        left: 5.5rem;
        white-space: nowrap;
        font-size: 1rem;
        line-height: 2.4;
        height: 2.4rem;
        position: absolute;
      }
      .google-7Aq {
        position: absolute;
        top: 48.4rem;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        width: 3.3rem;
        height: 2.4rem;
        left: 16.9rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 2.4;
        letter-spacing: -0.011rem;
        color: #000000;
        white-space: nowrap;
      }
      .icon-email-outline-Cxy {
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.5rem;
        top: 15.3rem;
      }
      .icon-lock-outline-LJV {
        left: 22.2rem;
        top: 20.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
      }
      .logo-removebg-preview-2-U9o {
        height: 6.8rem;
        position: absolute;
        left: 3.8rem;
        top: 6.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 19.3rem;
      }
      .ratnafirdausgmailcom-zdw {
        white-space: nowrap;
        position: absolute;
        top: 15.15rem;
        line-height: 1.3175;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration-line: underline;
        color: #000000;
        width: 13.5rem;
        height: 2rem;
        left: 2.6rem;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .item--Hsw {
        left: 3.1rem;
        display: flex;
        font-weight: 600;
        line-height: 1.3175;
        white-space: nowrap;
        position: absolute;
        height: 2rem;
        top: 20.45rem;
        font-size: 1.5rem;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 3.8rem;
      }
      .logofacebook-removebg-preview-1-zGZ {
        position: absolute;
        left: 5.1rem;
        top: 43.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 5.3rem;
        height: 5.6rem;
      }
      .ellipse-122-Wkh {
        width: 4.1rem;
        height: 4.1rem;
        position: absolute;
        left: 16.5rem;
        top: 44.3rem;
        background-color: #d9d9d9;
        border-radius: 2.05rem;
      }
      .logogoogle-removebg-preview-1-FCV {
        object-fit: cover;
        vertical-align: top;
        width: 2.5rem;
        height: 2.625rem;
        position: absolute;
        left: 17.3rem;
        top: 45.1rem;
      }
      .button-masuk-email-Nnu {
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.5rem;
        top: 26.1rem;

        .button-7Vb {
          height: 100%;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2975;
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          width: 100%;
          font-family: Candal, 'Source Sans Pro';
          display: flex;
          align-items: center;
          background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
          border-radius: 1rem;
        }
      }
      .button-masuk-email-PT7 {
        position: absolute;
        left: 1.5rem;
        top: 31.3rem;
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;

        .button-Kbf {
          height: 100%;
          font-size: 1.8rem;
          line-height: 1.2975;
          color: #015442;
          display: flex;
          justify-content: center;
          border: solid 0.1rem #015442;
          box-sizing: border-box;
          border-radius: 1rem;
          width: 100%;
          font-weight: 400;
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          background-color: #ffffff;
        }
      }
    }
    .subtract-oFw {
      height: 0;
      object-fit: contain;
      vertical-align: top;
      width: 0;
    }
  }
}
