
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-proses-masuk-zgq {
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border-bottom: solid 0.5rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;

  .rectangle-594-uJ1 {
    width: 144.5rem;
    height: 35.5rem;
    position: absolute;
    left: 0;
    top: 120.6rem;
    background-color: #8c8989;
  }
  .rectangle-583-DpV {
    top: 192rem;
    background-color: #999393;
    width: 144rem;
    height: 12.8rem;
    position: absolute;
    left: 0;
  }
  .footer-wVb {
    top: 94.5rem;
    align-items: center;
    background-color: #008a88;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    position: absolute;
    left: 0;
    width: 144rem;
    height: 7.9rem;
    display: flex;

    .tentang-jobstreet-express-Rff {
      margin-right: 4.6rem;
      font-size: 1.8rem;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .pusat-bantuan-8KB {
      margin-right: 44.9rem;
      font-weight: 400;
      line-height: 1.3175;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .copyright-2023-jobstreet-express-4Cq {
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
  }
  .header-n-navbar-variant2-AFs {
    width: 144rem;
    height: 27.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);

    .background-header-6fK {
      height: 100%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 4.5rem 0.3rem 4.5rem;
      width: 100%;

      .auto-group-rksf-DV3 {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 82.9rem 0.2rem 0rem;
        width: calc(100% - 82.9rem);

        .auto-group-assv-LpZ {
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;

          .logo-removebg-preview-1-4Em {
            width: 29.8rem;
            height: 10.9rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .nama-pekerjaan-ngZ {
            left: 0;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;
            top: 10.2rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .di-mana-fkM {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .auto-group-aktb-1JR {
        flex-shrink: 0;
        margin-bottom: 4rem;
        height: 6rem;
        display: flex;
        align-items: center;

        .auto-group-ee7t-k17 {
          padding: 1rem 1.2rem 1rem 1.8rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          margin-right: 3rem;
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;

          .nama-pekerjaan-atau-perusahaan-GEM {
            margin-right: 8.4rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: #b0aaaa;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .icon-search-outline-yuT {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
          }
        }
        .auto-group-8ag1-ULR {
          border: solid 0.1rem #0e8136;
          padding: 1rem 0.8rem 1rem 2rem;
          height: 100%;
          display: flex;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3.1rem;
          box-sizing: border-box;
          align-items: center;

          .nama-kota-atau-provinsi-nru {
            display: flex;
            font-size: 1.8rem;
            color: #b0aaaa;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 14.2rem;
            font-weight: 400;
            line-height: 1.3175;
            white-space: nowrap;
          }
          .icon-pin-outline-K69 {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-Rus {
          align-items: center;
          font-weight: 400;
          font-family: Candal, 'Source Sans Pro';
          flex-shrink: 0;
          cursor: pointer;
          color: #ffffff;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          white-space: nowrap;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          height: 100%;
          line-height: 1.2975;
          border-radius: 1.5rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 21rem;
        }
      }
      .auto-group-ubcd-3RT {
        margin: 0rem 87.4rem 0rem 1.8rem;
        width: calc(100% - 89.2rem);
        height: 3.6rem;
        align-items: center;
        border-right: solid 0.1rem #777777;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0rem 2.5rem;
        display: flex;
        border-left: solid 0.1rem #777777;

        .semua-jenis-pekerjaan-w13 {
          display: flex;
          line-height: 1.3175;
          white-space: nowrap;
          margin: 0rem 0.4rem 0.4rem 0rem;
          font-weight: 400;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1.8rem;
        }
        .auto-group-qgdf-qMK {
          position: relative;
          flex-shrink: 0;
          margin-right: 2.4548rem;
          width: 20.5452rem;
          height: 100%;

          .line-171-a41 {
            height: 3.4rem;
            position: absolute;
            left: 5.5rem;
            top: 0;
            background-color: #777777;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 0.1rem;
          }
          .kapan-saja-UQH {
            width: 9.6rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.4rem;
            position: absolute;
            left: 8rem;
            top: 0.3rem;
            line-height: 1.3175;
            color: #000000;
          }
          .icon-arrow-ios-downward-meH {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.5rem;
            height: 2.9878rem;
            position: absolute;
            left: 0;
          }
          .icon-arrow-ios-downward-hnq {
            object-fit: contain;
            vertical-align: top;
            width: 20.5452rem;
            height: 2.9878rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
  .yang-sering-dicari-J1w {
    position: absolute;
    left: 14rem;
    top: 38.8rem;
    width: 116.4rem;
    height: 43.9rem;

    .auto-group-osrz-1S9 {
      align-items: center;
      margin: 0rem 80.5rem 2.336rem 0rem;
      width: calc(100% - 80.5rem);
      display: flex;

      .icon-trending-up-8mf {
        margin-right: 1.1607rem;
        width: 4.1393rem;
        height: 4.3636rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .lowongan-yang-sering-dicari-G7B {
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1364rem;
        display: flex;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.3175;
      }
    }
    .group-90-mpd {
      display: flex;
      align-items: flex-end;
      margin: 0rem 0rem 4.8rem 0.5rem;
      height: 16.2rem;

      .auto-group-r5lm-hCV {
        width: 13.1625rem;
        height: calc(100% - 0.0215rem);
        flex-shrink: 0;
        margin: 0rem 2.838rem 0.022rem 0rem;

        .jabatan-cKT {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
        }
        .auto-group-nvey-Yiu {
          width: calc(100% - 0.2rem);
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin: 0rem 0rem 2.422rem 0.2rem;
          box-sizing: border-box;
          padding: 0.8rem 2.463rem 0.808rem 0.6rem;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-F7X {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .admin-ypD {
            margin-bottom: 0.0708rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            flex-shrink: 0;
          }
        }
        .auto-group-4ryd-GYR {
          width: calc(100% - 0.2rem);
          background-color: #ffffff;
          margin-left: 0.2rem;
          box-sizing: border-box;
          padding: 0.8rem 2.263rem 0.808rem 0.6rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .icon-pie-chart-2-ap1 {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .barista-KFo {
            white-space: nowrap;
            margin-bottom: 0.0708rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            font-size: 1.8rem;
            color: #008a88;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-afsy-cEu {
        flex-shrink: 0;
        margin-right: 2.7rem;
        width: 10.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-kxvb-x3s {
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-sgd {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
          }
          .kasir-bcd {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #008a88;
            margin-bottom: 0.2708rem;
            line-height: 1.3175;
          }
        }
        .auto-group-g3yk-gty {
          box-sizing: border-box;
          padding: 0.8rem 0.9rem 0.829rem 0.6rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 100%;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;

          .icon-pie-chart-2-RLm {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .driver-kdw {
            font-size: 1.8rem;
            font-weight: 400;
            color: #008a88;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
      .auto-group-m8uy-Ep1 {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 19.8rem;
        align-items: center;
        display: flex;

        .auto-group-rczd-BUM {
          padding: 0.8rem 1.7rem 0.829rem 0.6rem;
          width: calc(100% - 0.1rem);
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 2.4rem 0.1rem;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .icon-pie-chart-2-VE9 {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .staff-marketing-QM7 {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.0708rem;
            font-weight: 400;
          }
        }
        .auto-group-iyob-Urm {
          padding: 0.8rem 2.3rem 0.829rem 0.6rem;
          flex-shrink: 0;
          border-radius: 0.5rem;
          margin-right: 0.1rem;
          box-sizing: border-box;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;

          .icon-pie-chart-2-nsT {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quality-control-vim {
            margin-bottom: 0.0708rem;
            font-weight: 400;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            white-space: nowrap;
          }
        }
      }
      .auto-group-bcyz-1kD {
        margin-right: 2.8rem;
        width: 20.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-dwp3-A7K {
          border: solid 0.1rem #0e8136;
          align-items: center;
          box-sizing: border-box;
          padding: 0.8rem 1.4rem 0.829rem 0.6rem;
          width: 100%;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;

          .icon-pie-chart-2-Gw3 {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .staff-accounting-ovy {
            margin-bottom: 0.0708rem;
            font-size: 1.8rem;
            color: #008a88;
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-m3ds-JMw {
          flex-shrink: 0;
          align-items: center;
          background-color: #ffffff;
          width: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.8rem 2.5rem 0.829rem 0.6rem;

          .icon-pie-chart-2-df7 {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .content-creator-yDB {
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            white-space: nowrap;
          }
        }
      }
      .auto-group-xkbp-rXs {
        margin-right: 2.3rem;
        width: 17.2rem;
        flex-shrink: 0;

        .auto-group-kcqp-QJV {
          border-radius: 0.5rem;
          margin-bottom: 2.4rem;
          width: 100%;
          background-color: #ffffff;
          align-items: center;
          border: solid 0.1rem #0e8136;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          display: flex;

          .icon-pie-chart-2-j5s {
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
          }
          .staff-gudang-G5o {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            line-height: 1.3175;
            color: #008a88;
          }
        }
        .auto-group-mx8z-m2Z {
          border: solid 0.1rem #0e8136;
          margin-right: 6.4rem;
          padding: 0.8rem 2.2rem 0.829rem 0.6rem;
          width: calc(100% - 6.4rem);
          display: flex;
          box-sizing: border-box;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .icon-pie-chart-2-5Z3 {
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
          }
          .host-R77 {
            margin-bottom: 0.0708rem;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
      }
      .auto-group-kely-Jwb {
        height: calc(100% - 11.7rem);
        display: flex;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 4.8rem 0rem 6.9rem 0rem;
        box-sizing: border-box;
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        align-items: center;
        border-radius: 0.5rem;

        .icon-pie-chart-2-cBb {
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8708rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .customer-service-LtH {
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          color: #008a88;
          line-height: 1.3175;
          white-space: nowrap;
          margin-bottom: 0.0708rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
    .group-89-dsP {
      margin-left: 0.7rem;
      width: 111.8rem;

      .perusahaan-mTo {
        margin-bottom: 1.9rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-s7r1-Vub {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .group-88-e1o {
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          height: 100%;
          display: flex;
          margin-right: 2.9rem;

          .emoji-office-building-ZeZ {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ganesha-operation-surabaya-dsk-JMF {
            display: flex;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            cursor: pointer;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #01d589;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
          }
        }
        .auto-group-lbay-yCV {
          height: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 3rem;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          background-color: #ffffff;
          box-sizing: border-box;
          align-items: center;

          .emoji-office-building-VRj {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .pt-media-telekomunikasi-mandiri-2Rf {
            font-weight: 400;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            cursor: pointer;
            line-height: 1.3175;
            white-space: nowrap;
          }
        }
        .auto-group-kvyz-iJV {
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;

          .emoji-office-building-SVP {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .pt-arta-boga-boga-cemerlang-aLh {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            margin-bottom: 0.1rem;
            color: #01d589;
          }
        }
      }
      .auto-group-4jku-rJD {
        align-items: flex-end;
        display: flex;

        .auto-group-vndp-c2V {
          box-sizing: border-box;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          margin: 0.2rem 3rem 0rem 0rem;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-7V3 {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .cv-berlian-retail-qvq {
            font-size: 1.8rem;
            line-height: 1.3175;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            font-weight: 400;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-6w9p-cq7 {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;

          .emoji-office-building-jPw {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .panara-course-Ft5 {
            cursor: pointer;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
        }
        .auto-group-he5p-wW1 {
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.2rem 3.2rem 0rem 0rem;
          box-sizing: border-box;
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          border-radius: 0.5rem;

          .emoji-office-building-efK {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .bali-super-host-yxV {
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            color: #01d589;
            flex-shrink: 0;
            display: flex;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-p9y3-sHB {
          margin-bottom: 0.2rem;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;
          background-color: #ffffff;
          flex-shrink: 0;
          border-radius: 0.5rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .emoji-office-building-Nzd {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .angonjiwo-K9B {
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-size: 1.8rem;
            color: #01d589;
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .masuk-oa9 {
    width: 208.7rem;
    height: 456.9rem;
    position: absolute;
    left: 117rem;
    top: 2.5rem;

    .auto-group-jd7f-jih {
      width: 27rem;
      height: 53.5rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-625-Sd7 {
        left: 12rem;
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
        border-radius: 2rem;
        width: 12.6rem;
        height: 7rem;
        position: absolute;
      }
      .rectangle-624-Yg9 {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 27rem;
        height: 48.8rem;
        position: absolute;
        left: 0;
        top: 4.7rem;
      }
      .masuk-sCd {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2.4rem;
        text-align: center;
        font-size: 1.8rem;
        top: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        width: 5.9rem;
        position: absolute;
        left: 15.5rem;
      }
      .subtract-AxR {
        height: 4.3rem;
        position: absolute;
        left: 1.5rem;
        top: 14.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
      }
      .subtract-HGM {
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
        left: 1.5rem;
        top: 19.5rem;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--DQu {
        height: 3.2rem;
        display: flex;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000000;
        width: 22rem;
        position: absolute;
        left: 1.5rem;
        top: 40.2rem;
        line-height: 1.3188476562;
        font-family: Roboto Slab, 'Source Sans Pro';

        .belum-punya-akun-jobstreet-express-daftar-dengan--DQu-sub-0 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .belum-punya-akun-jobstreet-express-daftar-dengan--DQu-sub-1 {
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #015442;
        }
      }
      .facebook-YV7 {
        position: absolute;
        font-weight: 300;
        letter-spacing: -0.011rem;
        color: #000000;
        white-space: nowrap;
        width: 4.6rem;
        left: 5.5rem;
        top: 48.4rem;
        display: flex;
        font-size: 1rem;
        line-height: 2.4;
        font-family: Inter, 'Source Sans Pro';
        height: 2.4rem;
      }
      .google-Esj {
        position: absolute;
        left: 16.9rem;
        font-weight: 300;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.3rem;
        height: 2.4rem;
        top: 48.4rem;
        display: flex;
        font-size: 1rem;
        line-height: 2.4;
        letter-spacing: -0.011rem;
      }
      .masuk-wXF {
        position: absolute;
        left: 11rem;
        top: 27.6rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.8rem;
        height: 2.2rem;
        color: #ffffff;
      }
      .icon-email-outline-465 {
        top: 15.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.5rem;
      }
      .icon-lock-outline-nXs {
        top: 20.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.2rem;
      }
      .logo-removebg-preview-2-KXo {
        object-fit: cover;
        vertical-align: top;
        width: 19.3rem;
        height: 6.8rem;
        position: absolute;
        left: 3.8rem;
        top: 6.4rem;
      }
      .ketik-email-anda-S6d {
        font-size: 1.5rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2rem;
        cursor: pointer;
        top: 15.35rem;
        display: flex;
        color: rgba(119, 119, 119, 0.5);
        white-space: nowrap;
        width: 12.4rem;
        position: absolute;
        left: 3.1rem;
        font-weight: 400;
      }
      .masukkan-kata-sandi-j5j {
        font-size: 1.5rem;
        color: rgba(119, 119, 119, 0.5);
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        top: 20.55rem;
        display: flex;
        font-weight: 400;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 15.5rem;
        left: 3.1rem;
      }
      .logofacebook-removebg-preview-1-iyF {
        width: 5.3rem;
        height: 5.6rem;
        position: absolute;
        left: 5.1rem;
        top: 43.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .ellipse-122-TA9 {
        width: 4.1rem;
        height: 4.1rem;
        position: absolute;
        left: 16.5rem;
        top: 44.3rem;
        background-color: #d9d9d9;
        border-radius: 2.05rem;
      }
      .logogoogle-removebg-preview-1-MmK {
        width: 2.5rem;
        height: 2.625rem;
        position: absolute;
        left: 17.3rem;
        top: 45.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .button-masuk-email-Ub3 {
        position: absolute;
        left: 1.6rem;
        top: 26.3rem;
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;

        .button-otD {
          font-weight: 400;
          line-height: 1.2975;
          font-family: Candal, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
          width: 100%;
          height: 100%;
          font-size: 1.8rem;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          border-radius: 1rem;
        }
      }
      .button-masuk-email-gBK {
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.5rem;
        top: 31.5rem;

        .button-pHX {
          font-family: Candal, 'Source Sans Pro';
          box-sizing: border-box;
          width: 100%;
          white-space: nowrap;
          border-radius: 1rem;
          color: #015442;
          font-weight: 400;
          line-height: 1.2975;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
          height: 100%;
          border: solid 0.1rem #015442;
          font-size: 1.8rem;
        }
      }
    }
    .subtract-6Vw {
      position: absolute;
      left: 208.7rem;
      top: 456.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 0;
      height: 0;
    }
    .subtract-qyK {
      vertical-align: top;
      width: 0;
      height: 0;
      position: absolute;
      left: 208.7rem;
      top: 456.9rem;
      object-fit: contain;
    }
  }
}
