
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 149.5rem;
}.admin-17f {
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  width: 100%;
  display: flex;
  font-size: 50rem;
  white-space: nowrap;
  height: 60.7rem;
}
