
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-belum-masuk-UbK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-n-navbar-variant2-aPT {
    width: 100%;
    height: 27.2rem;
    background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
    flex-shrink: 0;
    margin-bottom: 11.8rem;

    .background-header-JaM {
      flex-direction: column;
      background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 4.9rem 0.3rem 4.5rem;
      width: 100%;
      height: 100%;
      display: flex;

      .auto-group-dzzu-cqw {
        margin-bottom: 0.2rem;
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-2jeu-mD3 {
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;

          .logo-removebg-preview-1-5jX {
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
          }
          .nama-pekerjaan-QG1 {
            position: absolute;
            left: 0;
            color: #000000;
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            width: 14.5rem;
            height: 2.4rem;
            top: 10.2rem;
            display: flex;
          }
        }
        .di-mana-GZ7 {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          color: #000000;
          margin-right: 74.3rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .masuk-P7w {
          font-family: Roboto Serif, 'Source Sans Pro';
          margin-bottom: 6.3rem;
          font-size: 2.4rem;
          color: rgba(0, 0, 0, 0.8000000119);
          line-height: 1.1725;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          font-weight: 400;
        }
      }
      .auto-group-mqhw-Hj7 {
        height: 6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 4rem;

        .auto-group-lqu3-2Ro {
          padding: 1rem 1.2rem 1rem 1.8rem;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          box-sizing: border-box;

          .nama-pekerjaan-atau-perusahaan-8zd {
            flex-shrink: 0;
            margin-right: 8.4rem;
            display: flex;
            font-weight: 400;
            color: #b0aaaa;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icon-search-outline-exy {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
          }
        }
        .auto-group-pmxo-YHf {
          box-sizing: border-box;
          height: 100%;
          border: solid 0.1rem #0e8136;
          margin-right: 3.1rem;
          padding: 1rem 0.8rem 1rem 2rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;

          .nama-kota-atau-provinsi-fdB {
            margin-right: 14.2rem;
            line-height: 1.3175;
            color: #b0aaaa;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
          }
          .icon-pin-outline-z9f {
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
        }
        .bottom-hJy {
          height: 100%;
          align-items: center;
          color: #ffffff;
          white-space: nowrap;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          width: 21rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          line-height: 1.2975;
          font-weight: 400;
          font-family: Candal, 'Source Sans Pro';
          border-radius: 1.5rem;
        }
      }
      .auto-group-qouv-KLM {
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0rem 2.5rem;
        width: calc(100% - 88.8rem);
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 87rem 0rem 1.8rem;
        height: 3.6rem;
        display: flex;
        border-left: solid 0.1rem #777777;
        border-right: solid 0.1rem #777777;

        .semua-jenis-pekerjaan-oWR {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          margin: 0rem 0.4rem 0.4rem 0rem;
          flex-shrink: 0;
        }
        .auto-group-uhez-KDs {
          margin-right: 2.4547rem;
          width: 20.5453rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .line-171-TL5 {
            position: absolute;
            left: 5.5rem;
            top: 0;
            background-color: #777777;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 0.1rem;
            height: 3.4rem;
          }
          .kapan-saja-9yb {
            font-size: 1.8rem;
            font-weight: 400;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            height: 2.4rem;
            left: 8rem;
            top: 0.3rem;
            line-height: 1.3175;
            white-space: nowrap;
            width: 9.6rem;
            position: absolute;
            display: flex;
          }
          .icon-arrow-ios-downward-rt1 {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.5rem;
            height: 2.9878rem;
            position: absolute;
            left: 0;
          }
          .icon-arrow-ios-downward-BfP {
            height: 2.9878rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 20.5453rem;
          }
        }
      }
    }
  }
  .yang-sering-dicari-n9P {
    margin: 0rem 13.6rem 11.8rem 14rem;
    width: calc(100% - 27.6rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-bg97-J7j {
      width: calc(100% - 80.5rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 80.5rem 2.336rem 0rem;

      .icon-trending-up-DEh {
        flex-shrink: 0;
        margin-right: 1.1607rem;
        width: 4.1393rem;
        height: 4.3636rem;
        object-fit: contain;
        vertical-align: top;
      }
      .lowongan-yang-sering-dicari-wRb {
        white-space: nowrap;
        margin-top: 0.1364rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .group-90-S7T {
      margin: 0rem 0rem 4.8rem 0.5rem;
      height: 16.2rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-u5vs-x5o {
        width: 13.1625rem;
        height: calc(100% - 0.0215rem);
        flex-shrink: 0;
        margin: 0rem 2.838rem 0.022rem 0rem;

        .jabatan-4uX {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
        }
        .auto-group-f5ub-cAM {
          align-items: center;
          box-sizing: border-box;
          padding: 0.8rem 2.463rem 0.808rem 0.6rem;
          width: calc(100% - 0.2rem);
          display: flex;
          margin: 0rem 0rem 2.422rem 0.2rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .icon-pie-chart-2-6rD {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .admin-d5T {
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            font-size: 1.8rem;
            font-weight: 400;
            cursor: pointer;
            display: flex;
          }
        }
        .auto-group-3p65-v4Z {
          margin-left: 0.2rem;
          box-sizing: border-box;
          padding: 0.8rem 2.263rem 0.808rem 0.6rem;
          width: calc(100% - 0.2rem);
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;

          .icon-pie-chart-2-qBX {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
          }
          .barista-NBT {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.0708rem;
            color: #008a88;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-fgts-Tih {
        margin-right: 2.7rem;
        width: 10.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-zw4d-oXf {
          width: 100%;
          align-items: center;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          display: flex;

          .icon-pie-chart-2-Wws {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .kasir-T6R {
            white-space: nowrap;
            margin-bottom: 0.2708rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            flex-shrink: 0;
          }
        }
        .auto-group-afw1-YtZ {
          padding: 0.8rem 0.9rem 0.829rem 0.6rem;
          width: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .icon-pie-chart-2-V37 {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .driver-RBf {
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            white-space: nowrap;
            margin-bottom: 0.0708rem;
            display: flex;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-q88h-iAm {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 19.8rem;
        align-items: center;

        .auto-group-jnj3-FgV {
          margin: 0rem 0rem 2.4rem 0.1rem;
          box-sizing: border-box;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          border-radius: 0.5rem;
          padding: 0.8rem 1.7rem 0.829rem 0.6rem;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .icon-pie-chart-2-kt9 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
          }
          .staff-marketing-gmo {
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
          }
        }
        .auto-group-m82d-mHT {
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 0.1rem;
          padding: 0.8rem 2.3rem 0.829rem 0.6rem;
          width: calc(100% - 0.1rem);
          align-items: center;
          background-color: #ffffff;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-5J9 {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .quality-control-D9T {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
            white-space: nowrap;
          }
        }
      }
      .auto-group-snst-Vsf {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 20.4rem;
        align-items: center;
        display: flex;

        .auto-group-hfwf-cSV {
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          width: 100%;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          margin-bottom: 2.4rem;
          padding: 0.8rem 1.4rem 0.829rem 0.6rem;

          .icon-pie-chart-2-XZT {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .staff-accounting-TT7 {
            margin-bottom: 0.0708rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.8rem;
            color: #008a88;
            white-space: nowrap;
          }
        }
        .auto-group-bc5o-MHb {
          box-sizing: border-box;
          width: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          padding: 0.8rem 2.5rem 0.829rem 0.6rem;
          align-items: center;
          border-radius: 0.5rem;

          .icon-pie-chart-2-GfT {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .content-creator-D4u {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            font-weight: 400;
            color: #008a88;
          }
        }
      }
      .auto-group-efjy-J6M {
        margin-right: 2.3rem;
        width: 17.2rem;
        flex-shrink: 0;

        .auto-group-mm77-3Zj {
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          width: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          align-items: center;
          border-radius: 0.5rem;

          .icon-pie-chart-2-yCV {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .staff-gudang-JkZ {
            white-space: nowrap;
            margin-bottom: 0.0708rem;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            line-height: 1.3175;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .auto-group-avj1-ztH {
          border-radius: 0.5rem;
          margin-right: 6.4rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding: 0.8rem 2.2rem 0.829rem 0.6rem;
          width: calc(100% - 6.4rem);

          .icon-pie-chart-2-Wrd {
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .host-47T {
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
            margin-bottom: 0.0708rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-ta4z-xTj {
        margin: 4.8rem 0rem 6.9rem 0rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        height: calc(100% - 11.7rem);

        .icon-pie-chart-2-rp1 {
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8708rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .customer-service-Pow {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0708rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          line-height: 1.3175;
          color: #008a88;
          cursor: pointer;
          display: flex;
          font-size: 1.8rem;
        }
      }
    }
    .group-89-sz1 {
      flex-shrink: 0;
      margin-left: 0.7rem;
      width: 111.8rem;

      .perusahaan-cwb {
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.9rem;
      }
      .auto-group-xklu-MPP {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 2.2rem;

        .group-88-H29 {
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          height: 100%;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          margin-right: 2.9rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .emoji-office-building-Q6m {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
          }
          .ganesha-operation-surabaya-dsk-vqo {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            color: #01d589;
          }
        }
        .auto-group-vacr-DK7 {
          margin-right: 3rem;
          box-sizing: border-box;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          height: 100%;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-L8q {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .pt-media-telekomunikasi-mandiri-4Kj {
            font-weight: 400;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            cursor: pointer;
            line-height: 1.3175;
          }
        }
        .auto-group-c5zh-wPX {
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;
          height: 100%;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;

          .emoji-office-building-GRo {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pt-arta-boga-boga-cemerlang-oAq {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            white-space: nowrap;
            margin-bottom: 0.1rem;
            cursor: pointer;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-p6up-U25 {
        display: flex;
        align-items: flex-end;

        .auto-group-umkx-1Xo {
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;
          box-sizing: border-box;
          background-color: #ffffff;

          .emoji-office-building-v8y {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
          }
          .cv-berlian-retail-3zH {
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
            display: flex;
          }
        }
        .auto-group-2t4z-9Gd {
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;
          box-sizing: border-box;
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          align-items: center;
          background-color: #ffffff;

          .emoji-office-building-3cu {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .panara-course-z2M {
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
            white-space: nowrap;
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-size: 1.8rem;
          }
        }
        .auto-group-c1ey-s69 {
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          margin: 0.2rem 3.2rem 0rem 0rem;
          background-color: #ffffff;

          .emoji-office-building-yQ5 {
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
          }
          .bali-super-host-Jx9 {
            cursor: pointer;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-hwyd-1bf {
          margin-bottom: 0.2rem;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .emoji-office-building-LP3 {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .angonjiwo-TyT {
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            color: #01d589;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .footer-wtd {
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;

    .tentang-jobstreet-express-fZj {
      white-space: nowrap;
      margin-right: 4.6rem;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      font-weight: 400;
      flex-shrink: 0;
    }
    .pusat-bantuan-zM7 {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 44.9rem;
      font-weight: 400;
      color: #ffffff;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3175;
    }
    .copyright-2023-jobstreet-express-KPP {
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
    }
  }
  .rectangle-594-34V {
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
  }
  .auto-group-epob-kzV {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
