
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.admin-video-wawancara2-Lw3 {
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .header-admin-gED {
    padding: 0rem 3rem 0rem 5rem;
    width: 100%;
    align-items: flex-start;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 11.8rem;
    display: flex;
    background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);

    .logo-removebg-preview-1-bry {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 38rem;
      width: 29.8rem;
      height: 10.9rem;
      object-fit: cover;
    }
    .header-igh {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 5.7rem;
      display: flex;

      .home-page-Fgd {
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.2rem;
        width: 2.7rem;
      }
      .auto-group-zqa5-BaH {
        margin: 0rem 0.383rem 0.4rem 0rem;
        width: 21.1167rem;
        height: 2.9rem;
        position: relative;
        flex-shrink: 0;

        .daftar-pt-6hF {
          top: 0.2rem;
          font-weight: 600;
          color: #000000;
          position: absolute;
          height: 2.4rem;
          cursor: pointer;
          left: 9.3rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.2rem;
        }
        .icon-play-circle-outline-PgM {
          width: 16.9167rem;
          height: 2.5499rem;
          position: absolute;
          left: 4.2rem;
          top: 0.2rem;
          display: flex;
          align-items: flex-end;

          .vector-VjP {
            flex-shrink: 0;
            margin: 0rem 12.7rem 0.21rem 0rem;
            opacity: 0;
            width: 2.3rem;
            height: 2.3399rem;
            background-color: rgba(255, 255, 255, 0);
          }
          .group-D9b {
            width: 1.9167rem;
            height: 1.9499rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .vector-YxZ {
          height: 2.7rem;
          position: absolute;
          left: 6.2rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 2.7rem;
        }
        .home-6UH {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.4rem;
          cursor: pointer;
          position: absolute;
          font-weight: 600;
          width: 5.1rem;
          left: 0;
          top: 0.5rem;
          font-size: 1.8rem;
        }
      }
      .simulasi-15T {
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.4rem 0.1rem 0rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
      }
      .people-KM3 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.3rem 0.4rem 0rem 0rem;
        width: 2.4rem;
        height: 2.6rem;
      }
      .pelamar-3Xw {
        cursor: pointer;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 1.2rem 0rem 0rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000000;
      }
      .graph-ZFP {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.7rem;
        width: 2.4rem;
        height: 2.6rem;
        object-fit: contain;
      }
      .statistik-WAd {
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000000;
        flex-shrink: 0;
        margin: 0.3rem 2rem 0rem 0rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .icon-person-qCu {
        height: 2.6rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.3rem 0.332rem 0rem 0rem;
        width: 2.4685rem;
      }
      .profil-saya-9zH {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
  .auto-group-eeqz-eAM {
    box-sizing: border-box;
    padding: 3.2rem 0rem 16.5rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .header-n1f {
      padding-left: 23.9rem;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #015442;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.8rem;
      box-sizing: border-box;
      width: 39.7rem;
      font-weight: 600;
      white-space: nowrap;
    }
    .auto-group-ch2h-UQH {
      width: calc(100% - 15rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 9rem 0rem 6rem;

      .konten-video-oBf {
        margin-right: 6.8rem;
        padding: 4.116rem 3.09rem 5.485rem 3.083rem;
        width: 59.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
        border-radius: 2.5rem;
        box-sizing: border-box;
        border: solid 0.2rem #015442;
        flex-shrink: 0;

        .group-25-7CM {
          margin: 0rem 0rem 2.869rem 0.034rem;
          width: calc(100% - 0.0339rem);
          height: 32.9303rem;
          position: relative;
          border-radius: 0.0776rem;

          .vector-EXs {
            height: 32.9303rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.0776rem;
            width: 52.9931rem;
          }
          .vector-xyf {
            width: 52.9931rem;
            height: 32.9303rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.0776rem;
          }
        }
        .judul-video-guf {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 3rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
        }
      }
      .auto-group-jpld-9YM {
        width: 63rem;
        align-items: flex-end;
        display: flex;
        border-radius: 2.5rem;
        margin-top: 0.1rem;
        padding: 2.2rem 2.9rem 1rem 3rem;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: rgba(241, 234, 193, 0.5333333611);
        flex-shrink: 0;
        box-sizing: border-box;

        .wawancara-virtual-keahlian-dan-strategi-dalam-era-wawancara-virtual-yang-semakin-berkembang-video-ini-memfokuskan-pada-teknik-dan-strategi-penting-untuk-sukses-dalam-wawancara-online-anda-akan-melihat-bagaimana-mengatasi-tantangan-khusus-yang-muncul-dalam-wawancara-virtual-dan-bagaimana-berkomunikasi-secara-efektif-melalui-layar-komputer-simulasi-wawancara-virtual-ini-akan-membantu-anda-beradaptasi-dengan-baik-dengan-dunia-wawancara-online-yang-terus-berubah-dan-memberikan-tips-berharga-untuk-mencapai-kesuksesan-dalam-wawancara-daring-Tow {
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.5rem 11.8rem 0rem;
          max-width: 56.6rem;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
        }
        .button-admin-9aH {
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 2rem;
          flex-shrink: 0;
          cursor: pointer;
          line-height: 1.2975;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12.9rem;
          font-weight: 400;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          color: #ffffff;
          background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
          height: 4rem;
          font-size: 1.8rem;
        }
      }
    }
  }
  .footer-j2h {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;

    .tentang-jobstreet-express-Rw7 {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      margin-right: 4.6rem;
      display: flex;
    }
    .pusat-bantuan-Ykq {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 44.9rem;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #ffffff;
      flex-shrink: 0;
      display: flex;
      font-weight: 400;
    }
    .copyright-2023-jobstreet-express-HCd {
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
    }
  }
  .rectangle-594-CKb {
    background-color: #8c8989;
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
  }
  .auto-group-jpud-vFb {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
