
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 135.2rem;
}.background-admin-bKw {
  width: 100%;
  height: 77rem;

  .background-header-Z1s {
    width: 100%;
    height: 100%;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;

    .image-33-7p5 {
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 135.2rem;
      height: 77rem;
    }
  }
}
