
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 146rem;
}.brosur-lowongan-iEV {
  width: 100%;
  height: 97.6rem;
  position: relative;
  overflow: hidden;
  background-color: #e3e3e3;

  .auto-group-1pz1-FkD {
    top: 11.2rem;
    display: flex;
    align-items: flex-start;
    width: 133.8rem;
    height: 86.4rem;
    position: absolute;
    left: 10.1rem;

    .auto-group-7dtm-mTf {
      box-sizing: border-box;
      padding: 0rem 2.9rem 0rem 13.2rem;
      height: calc(100% - 5.2rem);
      flex-shrink: 0;
      margin: 2.1rem 0.3rem 3.1rem 0rem;

      .rectangle-700-TbP {
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        width: 20rem;
        height: 3.9rem;
      }
    }
    .wawancara-bSh {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 2.9rem 7.1rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .daftar-permintaan-hVj {
      flex-shrink: 0;
      margin: 2.9rem 0.1rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .group-30-2H7 {
      margin: 1.7rem 1.3rem 0rem 0rem;
      width: 2.5rem;
      height: 2.4rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-87-ZXw {
        vertical-align: top;
        width: 2.5rem;
        height: 2.3rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        object-fit: contain;
      }
      .item-4-VwP {
        height: 2.2rem;
        left: 0.7rem;
        top: 0;
        font-size: 1.8rem;
        font-weight: 500;
        color: #ffffff;
        white-space: nowrap;
        width: 1.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
      }
    }
    .auto-group-z4u7-D6h {
      flex-shrink: 0;
      margin-right: 0.8rem;
      box-sizing: border-box;
      padding-left: 44.3rem;
      width: 57.4rem;
      height: 84.6rem;

      .auto-group-dywh-Lx1 {
        position: relative;
        width: 100%;
        height: 6.8rem;

        .masuk-hXf {
          font-size: 2.4rem;
          line-height: 1.2125;
          color: #ffffff;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.5rem;
          height: 3rem;
          position: absolute;
          left: 4.6rem;
          top: 3.8rem;
        }
        .user-thumb-oqb {
          object-fit: contain;
          vertical-align: top;
          border-radius: 4.8472rem;
          width: 4.6162rem;
          height: 4.6162rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .keluar-jjF {
          font-size: 1.8rem;
          font-weight: 600;
          font-family: Inter, 'Source Sans Pro';
          height: 2.2rem;
          position: absolute;
          top: 1.4rem;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          width: 5.6rem;
          left: 7.5rem;
        }
      }
    }
    .auto-group-wngq-92H {
      box-sizing: border-box;
      padding: 1.6rem 0;
      width: 2.1rem;
      height: 81.2rem;
      background-color: rgba(0, 0, 0, 0.150000006);
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-top: 5.2rem;

      .rectangle-606-4Q9 {
        width: 100%;
        height: 6.2rem;
        background-color: #ffffff;
        border-radius: 1.5rem;
      }
    }
  }
  .rectangle-583-n5F {
    width: 144rem;
    height: 12.8rem;
    position: absolute;
    left: 0;
    top: 185.6rem;
    background-color: #921414;
  }
  .auto-group-qjn5-uvZ {
    left: 21rem;
    top: 198.4rem;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    width: 102rem;
    height: 0.5rem;
    position: absolute;
  }
  .rectangle-574-cKB {
    width: 38.2rem;
    position: absolute;
    left: 87.5rem;
    top: 5.0897rem;
    box-sizing: border-box;
    height: 2.5449rem;
    border: solid 0.1rem #0e8136;
    background-color: #ffffff;
    border-radius: 1rem;
  }
  .joblist-KUV {
    box-sizing: border-box;
    row-gap: 2rem;
    align-items: center;
    padding: 2rem 2rem 20.8rem 2rem;
    width: 120.9rem;
    top: 25.2rem;
    overflow: hidden;
    flex-direction: column;
    border: dashed 0.1rem #9747ff;
    border-radius: 0.5rem;
    height: 77.2rem;
    position: absolute;
    left: 14.5rem;
    display: flex;

    .property-1default-Pz9 {
      flex-shrink: 0;
      width: 100%;
      height: 16.8rem;

      .list-job-Ys3 {
        box-sizing: border-box;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background: linear-gradient(180deg, rgba(133, 211, 168, 0.1199999973) -0%, #5fbcb8 100%);
        border-radius: 2rem;
        padding: 2.1rem 3.5rem 2rem 3.5rem;
        width: 100%;
        height: 100%;
        align-items: center;
        border: solid 0.4rem rgba(0, 0, 0, 0.25);

        .auto-group-fycd-seR {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 32.3rem;
          width: 30.9rem;

          .auto-group-sgx3-1kd {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .digital-connectivity-AtR {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.6rem;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.1975;
              color: #000000;
              font-family: Inria Serif, 'Source Sans Pro';
            }
            .ellipse-124-tpR {
              height: 2.7rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #35ac41;
              border-radius: 1.35rem;
              flex-shrink: 0;
              width: 2.7rem;
            }
          }
          .auto-group-pyff-ogV {
            box-sizing: border-box;
            padding-top: 1.1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-hrzr-9EZ {
              margin: 0rem 5.8rem 2.1rem 2.3rem;
              width: calc(100% - 8.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-123-GKB {
                background-color: #000000;
                border-radius: 0.4rem;
                flex-shrink: 0;
                margin: 0rem 0.2rem 0.1rem 0rem;
                width: 0.8rem;
                height: 0.8rem;
              }
              .ditayangkan-pada-19-juli-2023-BBF {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .group-42-6p1 {
              width: 29.5rem;
              height: 4rem;
              border-radius: 1rem;
              flex-shrink: 0;

              .group-41-f6R {
                width: 100%;
                height: 100%;
                border-radius: 1rem;

                .group-39-RrH {
                  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                  border-radius: 1rem;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .group-43-bVs {
                    height: 100%;
                    position: relative;
                    border-radius: 1rem;
                    flex-shrink: 0;
                    margin-right: 2.75rem;
                    width: 12.35rem;

                    .rectangle-706-kNm {
                      border: solid 0.1rem #000000;
                      box-sizing: border-box;
                      border-radius: 1rem;
                      width: 12.35rem;
                      position: absolute;
                      top: 0.4875rem;
                      background-color: #fff6f7;
                      height: 3.0875rem;
                      left: 0;
                    }
                    .lihat-fEq {
                      font-family: Gurajada, 'Source Sans Pro';
                      top: 0;
                      font-size: 2rem;
                      font-weight: 400;
                      color: #000000;
                      line-height: 1.9675;
                      white-space: nowrap;
                      width: 3.6rem;
                      height: 4rem;
                      position: absolute;
                      left: 4.3875rem;
                    }
                  }
                  .group-44-Zr1 {
                    flex-shrink: 0;
                    width: 14.4rem;
                    height: 100%;
                    position: relative;
                    border-radius: 1rem;

                    .rectangle-704-vRf {
                      width: 12.35rem;
                      position: absolute;
                      border-radius: 1rem;
                      border: solid 0.1rem #390d0d;
                      box-sizing: border-box;
                      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                      background-color: #ce2337;
                      height: 3.0875rem;
                      left: 0;
                      top: 0.5rem;
                    }
                    .matikan-pG9 {
                      color: #ffffff;
                      font-family: Gurajada, 'Source Sans Pro';
                      width: 5.7rem;
                      position: absolute;
                      top: 0;
                      font-size: 2rem;
                      line-height: 1.9675;
                      height: 4rem;
                      left: 3.7rem;
                      font-weight: 400;
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
        }
        .auto-group-hv77-qww {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4rem 0rem 0rem;
          width: 8.6rem;
          align-items: center;

          .rectangle-710-a8q {
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
          }
          .antrean-s7w {
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.9rem;
            font-size: 1.5rem;
          }
        }
        .auto-group-3273-BuK {
          width: 8.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4.3rem 0rem 0rem;

          .rectangle-707-KVj {
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
          }
          .wawancara-E6u {
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.4rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
        .auto-group-7nau-MxD {
          width: 8.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4rem 0rem 0rem;

          .rectangle-708-6eu {
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
          }
          .terpilih-Qfb {
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 1.5rem;
          }
        }
        .auto-group-qkm3-wvR {
          width: 8.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-top: 1.2rem;

          .rectangle-709-HzH {
            margin-bottom: 0.4rem;
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
          }
          .sisa-kuota-R4u {
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
          }
        }
      }
    }
    .property-1variant2-GLR {
      width: 100%;
      height: 16.8rem;
      flex-shrink: 0;

      .list-job-btV {
        box-sizing: border-box;
        align-items: center;
        background: linear-gradient(180deg, rgba(133, 211, 168, 0.1199999973) -0%, #5fbcb8 100%);
        display: flex;
        border: solid 0.4rem rgba(0, 0, 0, 0.25);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;
        padding: 2.1rem 3.5rem 2rem 3.5rem;
        width: 100%;
        height: 100%;

        .auto-group-numf-KJh {
          margin-right: 32.3rem;
          width: 30.9rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-nngz-41P {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .digital-connectivity-1BX {
              color: #000000;
              font-family: Inria Serif, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.6rem;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.1975;
            }
            .ellipse-124-jNR {
              background-color: #35ac41;
              border-radius: 1.35rem;
              flex-shrink: 0;
              width: 2.7rem;
              height: 2.7rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
            }
          }
          .auto-group-sfvq-Fbf {
            box-sizing: border-box;
            padding-top: 1.1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-yvdf-153 {
              margin: 0rem 5.8rem 2.1rem 2.3rem;
              width: calc(100% - 8.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-123-L7K {
                width: 0.8rem;
                height: 0.8rem;
                background-color: #000000;
                border-radius: 0.4rem;
                flex-shrink: 0;
                margin: 0rem 0.2rem 0.1rem 0rem;
              }
              .ditayangkan-pada-19-juli-2023-rLZ {
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
              }
            }
            .group-42-B7w {
              border-radius: 1rem;
              flex-shrink: 0;
              width: 29.5rem;
              height: 4rem;

              .group-41-XxV {
                border-radius: 1rem;
                width: 100%;
                height: 100%;

                .group-39-uJq {
                  align-items: center;
                  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                  border-radius: 1rem;
                  width: 100%;
                  height: 100%;
                  display: flex;

                  .group-43-foo {
                    border-radius: 1rem;
                    flex-shrink: 0;
                    margin-right: 2.75rem;
                    width: 12.35rem;
                    height: 100%;
                    position: relative;

                    .rectangle-706-28Z {
                      position: absolute;
                      left: 0;
                      top: 0.4875rem;
                      border: solid 0.1rem #000000;
                      background-color: #fff6f7;
                      width: 12.35rem;
                      height: 3.0875rem;
                      box-sizing: border-box;
                      border-radius: 1rem;
                    }
                    .lihat-KtM {
                      height: 4rem;
                      top: 0;
                      font-size: 2rem;
                      font-weight: 400;
                      line-height: 1.9675;
                      color: #000000;
                      width: 3.6rem;
                      position: absolute;
                      left: 4.3875rem;
                      font-family: Gurajada, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .group-44-qbo {
                    width: 14.4rem;
                    height: 100%;
                    position: relative;
                    border-radius: 1rem;
                    flex-shrink: 0;

                    .rectangle-704-CSM {
                      width: 12.35rem;
                      position: absolute;
                      left: 0;
                      top: 0.5rem;
                      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                      background-color: #ce2337;
                      height: 3.0875rem;
                      border: solid 0.1rem #390d0d;
                      box-sizing: border-box;
                      border-radius: 1rem;
                    }
                    .matikan-6Gq {
                      width: 5.7rem;
                      height: 4rem;
                      position: absolute;
                      top: 0;
                      font-size: 2rem;
                      font-weight: 400;
                      line-height: 1.9675;
                      font-family: Gurajada, 'Source Sans Pro';
                      white-space: nowrap;
                      left: 3.7rem;
                      color: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
        .auto-group-3ard-wYM {
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4rem 0rem 0rem;
          width: 8.6rem;
          align-items: center;
          display: flex;

          .rectangle-710-H6R {
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
          }
          .antrean-o4m {
            flex-shrink: 0;
            margin-left: 0.9rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-jwkh-LKb {
          margin: 1.4rem 4.3rem 0rem 0rem;
          width: 8.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-707-fcm {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
          }
          .wawancara-azd {
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
          }
        }
        .auto-group-azcm-jMj {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4rem 0rem 0rem;
          width: 8.6rem;
          align-items: center;

          .rectangle-708-sTw {
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
            margin-bottom: 0.6rem;
          }
          .terpilih-BzR {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
          }
        }
        .auto-group-uvs7-jFF {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-top: 1.2rem;
          width: 8.6rem;

          .rectangle-709-Uid {
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
            margin-bottom: 0.4rem;
          }
          .sisa-kuota-Bd3 {
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
          }
        }
      }
    }
    .property-1variant3-qhb {
      width: 100%;
      height: 16.8rem;
      flex-shrink: 0;

      .list-job-Pj7 {
        box-sizing: border-box;
        padding: 2.1rem 3.5rem 2rem 3.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background: linear-gradient(180deg, rgba(133, 211, 168, 0.1199999973) -0%, #5fbcb8 100%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;

        .auto-group-iswh-7f7 {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 32.3rem;
          width: 30.9rem;
          height: 100%;
          align-items: center;
          display: flex;

          .auto-group-9bwy-G2D {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .digital-connectivity-Di9 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.6rem;
              font-size: 3rem;
              font-weight: 700;
              line-height: 1.1975;
              color: #000000;
              font-family: Inria Serif, 'Source Sans Pro';
            }
            .ellipse-124-YkR {
              width: 2.7rem;
              height: 2.7rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #35ac41;
              border-radius: 1.35rem;
              flex-shrink: 0;
            }
          }
          .auto-group-pgtj-5EZ {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 1.1rem;

            .auto-group-klps-pT3 {
              margin: 0rem 5.8rem 2.1rem 2.3rem;
              width: calc(100% - 8.1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-123-Ydw {
                flex-shrink: 0;
                margin: 0rem 0.2rem 0.1rem 0rem;
                width: 0.8rem;
                height: 0.8rem;
                background-color: #000000;
                border-radius: 0.4rem;
              }
              .ditayangkan-pada-19-juli-2023-4sB {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
              }
            }
            .group-42-Bwo {
              border-radius: 1rem;
              flex-shrink: 0;
              width: 29.5rem;
              height: 4rem;

              .group-41-Lph {
                height: 100%;
                border-radius: 1rem;
                width: 100%;

                .group-39-uso {
                  border-radius: 1rem;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

                  .group-43-gNm {
                    flex-shrink: 0;
                    margin-right: 2.75rem;
                    width: 12.35rem;
                    height: 100%;
                    position: relative;
                    border-radius: 1rem;

                    .rectangle-706-S73 {
                      border: solid 0.1rem #000000;
                      width: 12.35rem;
                      height: 3.0875rem;
                      position: absolute;
                      left: 0;
                      top: 0.4875rem;
                      box-sizing: border-box;
                      background-color: #fff6f7;
                      border-radius: 1rem;
                    }
                    .lihat-wpV {
                      left: 4.3875rem;
                      top: 0;
                      font-size: 2rem;
                      color: #000000;
                      white-space: nowrap;
                      height: 4rem;
                      position: absolute;
                      font-weight: 400;
                      line-height: 1.9675;
                      font-family: Gurajada, 'Source Sans Pro';
                      width: 3.6rem;
                    }
                  }
                  .group-44-eiu {
                    height: 100%;
                    position: relative;
                    border-radius: 1rem;
                    flex-shrink: 0;
                    width: 14.4rem;

                    .rectangle-704-1ZT {
                      width: 12.35rem;
                      left: 0;
                      background-color: #ce2337;
                      height: 3.0875rem;
                      position: absolute;
                      top: 0.5rem;
                      border: solid 0.1rem #390d0d;
                      box-sizing: border-box;
                      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                      border-radius: 1rem;
                    }
                    .matikan-WWD {
                      white-space: nowrap;
                      width: 5.7rem;
                      height: 4rem;
                      left: 3.7rem;
                      font-size: 2rem;
                      font-weight: 400;
                      line-height: 1.9675;
                      font-family: Gurajada, 'Source Sans Pro';
                      position: absolute;
                      top: 0;
                      color: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
        .auto-group-fbz1-N2d {
          margin: 1.4rem 4rem 0rem 0rem;
          width: 8.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-710-u2Z {
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
          }
          .antrean-Qk1 {
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.9rem;
            font-size: 1.5rem;
          }
        }
        .auto-group-ek6d-Kc5 {
          width: 8.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4.3rem 0rem 0rem;

          .rectangle-707-43s {
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
            height: 8.2rem;
          }
          .wawancara-ZmK {
            flex-shrink: 0;
            margin-left: 0.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-j6a5-JD7 {
          width: 8.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.4rem 4rem 0rem 0rem;

          .rectangle-708-RoX {
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 100%;
          }
          .terpilih-9Dj {
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
          }
        }
        .auto-group-1suq-Umo {
          flex-direction: column;
          flex-shrink: 0;
          margin-top: 1.2rem;
          width: 8.6rem;
          align-items: center;
          display: flex;

          .rectangle-709-DjP {
            margin-bottom: 0.4rem;
            width: 100%;
            height: 8.2rem;
            border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: rgba(217, 217, 217, 0.6899999976);
            flex-shrink: 0;
          }
          .sisa-kuota-iw3 {
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.4;
            color: #000000;
            font-family: Jockey One, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
