
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 49.4rem;
}.button-admin-byb {
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  row-gap: 2.2rem;
  box-sizing: border-box;
  padding: 2rem 2rem 8.7rem 2rem;
  width: 100%;
  position: relative;

  .property-1default-UnV {
    font-size: 1.8rem;
    font-family: Candal, 'Source Sans Pro';
    display: flex;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    height: 4rem;
    font-weight: 400;
    line-height: 1.2975;
    white-space: nowrap;
    justify-content: center;
    background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
    flex-shrink: 0;
    width: 12.7rem;
    color: #ffffff;
    border-radius: 2rem;
    align-items: center;
  }
  .property-1variant2-VBo {
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
    border-radius: 2rem;
    height: 4rem;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    width: 12.9rem;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: 400;
    flex-shrink: 0;
    line-height: 1.2975;
    font-family: Candal, 'Source Sans Pro';
    display: flex;
  }
  .property-1variant3-vY1 {
    flex-shrink: 0;
    width: 20.8rem;
    font-size: 1.8rem;
    background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
    color: #ffffff;
    white-space: nowrap;
    justify-content: center;
    height: 4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    border-radius: 2rem;
    line-height: 1.2975;
    font-family: Candal, 'Source Sans Pro';
  }
  .property-1variant4-Zqs {
    height: 4rem;
    position: relative;
    flex-shrink: 0;
    width: 34.1rem;

    .rectangle-683-7Mb {
      border-radius: 2rem;
      width: 30.9rem;
      height: 4rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
    }
    .video-pelatihan-online-zwB {
      width: 27.3rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.2975;
      white-space: nowrap;
      height: 2.4rem;
      left: 1.5571rem;
      top: 0.9rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Candal, 'Source Sans Pro';
    }
  }
  .property-1variant6-u2Z {
    width: 24.1rem;
    color: #ffffff;
    white-space: nowrap;
    border-radius: 2rem;
    line-height: 1.2975;
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
    flex-shrink: 0;
    height: 4rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Candal, 'Source Sans Pro';
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  }
  .property-1variant8-9Bo {
    width: 9.7rem;
    justify-content: center;
    border-radius: 2rem;
    font-weight: 400;
    display: flex;
    height: 4rem;
    font-size: 1.8rem;
    color: #ffffff;
    background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
    line-height: 1.2975;
    font-family: Candal, 'Source Sans Pro';
    white-space: nowrap;
    align-items: center;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    flex-shrink: 0;
  }
  .property-1variant7-PM3 {
    font-weight: 400;
    white-space: nowrap;
    justify-content: center;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    flex-shrink: 0;
    width: 9.4rem;
    border-radius: 2rem;
    background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 1.2975;
    font-family: Candal, 'Source Sans Pro';
    display: flex;
    align-items: center;
    height: 4rem;
  }
  .property-1variant8-qyj {
    display: flex;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    border-radius: 2rem;
    width: 10.1rem;
    color: #ffffff;
    background: linear-gradient(89.62deg, #005342 5.46%, #03876c 99.62%);
    font-weight: 400;
    line-height: 1.2975;
    font-family: Candal, 'Source Sans Pro';
    justify-content: center;
    flex-shrink: 0;
    height: 4rem;
    font-size: 1.8rem;
    white-space: nowrap;
    align-items: center;
  }
}
