
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 183.8rem;
}.component-x7s {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto Serif, 'Source Sans Pro';
  height: 35.2rem;
  justify-content: center;
  font-size: 30rem;
  white-space: nowrap;
}
