
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.delete-chap-13-6Fs {
  width: 100%;
  height: 102.4rem;

  .group-51-29X {
    position: relative;
    width: 100%;
    height: 100%;

    .rectangle-606-yKf {
      background-color: #bdbdbd;
      border-radius: 1.5rem;
      width: 2.1rem;
      height: 6.2rem;
      position: absolute;
      left: 140.9rem;
      top: 55.5rem;
    }
    .preset-gUy {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 144rem;
      height: 102.4rem;
      left: 0;
      overflow: hidden;
      align-items: flex-end;
      background-color: #e3e3e3;

      .auto-group-9ufj-11T {
        flex-shrink: 0;
        margin-bottom: 18.2rem;
        width: 145.1rem;
        height: 102.4rem;
        position: relative;

        .masuk-iAm {
          line-height: 1.2125;
          color: #ffffff;
          height: 3rem;
          position: absolute;
          left: 133.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          width: 7.5rem;
          top: 15rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-605-Crd {
          top: 16.4rem;
          background-color: rgba(0, 0, 0, 0.150000006);
          border-radius: 1.5rem;
          width: 2.1rem;
          height: 81.2rem;
          position: absolute;
          left: 142.9rem;
        }
        .rectangle-595-WsK {
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(90.47deg, #01d589 4.1%, #1dcba9 97.04%);
          width: 145.1rem;
          height: 17.3rem;
        }
        .user-thumb-2am {
          border-radius: 4.8472rem;
          width: 4.616rem;
          height: 4.6162rem;
          position: absolute;
          left: 129rem;
          top: 11.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .brosur-lowongan-Yp1 {
          height: 2.4rem;
          cursor: pointer;
          left: 26.8rem;
          color: #ffffff;
          white-space: nowrap;
          width: 15.2rem;
          position: absolute;
          top: 14rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .keluar-r41 {
          position: absolute;
          left: 136.5rem;
          font-size: 1.8rem;
          color: #ffffff;
          white-space: nowrap;
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 5.8rem;
          height: 2.4rem;
          top: 12.6rem;
          font-weight: 600;
          line-height: 1.3175;
        }
        .logo-jobstreet-variant2-wbF {
          position: absolute;
          left: 6rem;
          top: 0;
          width: 29.1rem;
          height: 10.9rem;
          cursor: pointer;

          .logo-removebg-preview-2-H9K {
            width: 29.1rem;
            height: 10.9rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .rectangle-574-DHs {
          position: absolute;
          top: 10.8rem;
          border: solid 0.1rem #0e8136;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 1rem;
          width: 38.2rem;
          left: 88.6rem;
          height: 5.4rem;
        }
        .rectangle-606-WXs {
          width: 2.1rem;
          height: 6.2rem;
          position: absolute;
          left: 142.9rem;
          top: 18rem;
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
        .footer-qKF {
          align-items: center;
          height: 7.9rem;
          position: absolute;
          top: 94.5rem;
          left: 1.1rem;
          display: flex;
          background-color: #008a88;
          box-sizing: border-box;
          padding: 2.7rem 15.1rem 2.8rem 14rem;
          width: 144rem;

          .tentang-jobstreet-express-j9j {
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 4.6rem;
            display: flex;
            font-weight: 400;
            color: #ffffff;
            flex-shrink: 0;
          }
          .pusat-bantuan-3RK {
            margin-right: 44.9rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #ffffff;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .copyright-2023-jobstreet-express-AF3 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
        }
      }
      .rectangle-594-4rD {
        margin: 0rem 0.2rem 36.2rem 0rem;
        width: 144.5rem;
        height: 35.5rem;
        background-color: #44abc3;
        flex-shrink: 0;
      }
      .auto-group-ek3t-nnD {
        align-items: center;
        background-color: #921414;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.1rem 21rem 6.2rem 21rem;
        width: 100%;
        display: flex;

        .line-20-iQy {
          background-color: #000000;
          flex-shrink: 0;
          margin-right: 3rem;
          width: 18rem;
          height: 0.5rem;
        }
        .line-21-Ffo {
          width: 12rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
          margin-right: 51rem;
        }
        .line-22-Cb3 {
          width: 18rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
      }
    }
    .daftar-permintaan-8jb {
      position: absolute;
      left: 2.7rem;
      top: 19.9rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 127.9rem;
      height: 81.7rem;

      .auto-group-5qwd-rQh {
        box-sizing: border-box;
        padding: 2.2rem 2.5rem 1.7rem 3.4rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 3.5rem;

        .cari-karyawan-ARP {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.8rem 0rem;
        }
        .auto-group-e7a9-g8q {
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.1rem 57.8rem 0rem 0rem;
          box-sizing: border-box;
          padding: 0.5rem 1.4rem 0.7rem 1.4rem;

          .search-BLV {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
            height: 2.4rem;
          }
        }
        .auto-group-3fn9-W7s {
          margin-top: 0.1rem;
          width: 27.6rem;
          height: 3.6rem;
          position: relative;
          flex-shrink: 0;

          .submit-eE5 {
            height: 2.2rem;
            position: absolute;
            left: 16.6rem;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 6.1rem;
            top: 0;
            font-size: 1.8rem;
            font-weight: 500;
            white-space: nowrap;
          }
          .digital-connectivity-ACR {
            height: 3.6rem;
            left: 0;
            top: 0;
            font-size: 3rem;
            line-height: 1.1975;
            color: #000000;
            width: 27.6rem;
            position: absolute;
            font-weight: 700;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .auto-group-mvth-Exy {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 70.6rem;

        .rectangle-617-njb {
          top: 0;
          background-color: #ffffff;
          border-radius: 2rem;
          width: 116.7rem;
          height: 70.6rem;
          position: absolute;
          left: 11.2rem;
        }
        .tidak-ada-permintaan-vau {
          height: 3.7rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #b0aaaa;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 31.6rem;
          left: 55rem;
          top: 33.5rem;
          font-size: 3rem;
          position: absolute;
        }
      }
    }
    .footer-RXf {
      background-color: #008a88;
      width: 144rem;
      height: 7.9rem;
      position: absolute;
      top: 94.5rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      left: 0;

      .tentang-jobstreet-express-Kd3 {
        margin-right: 4.6rem;
        font-weight: 400;
        line-height: 1.3175;
        display: flex;
        font-size: 1.8rem;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .pusat-bantuan-dtd {
        margin-right: 44.9rem;
        display: flex;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .copyright-2023-jobstreet-express-xvu {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
      }
    }
    .rectangle-700-HTP {
      height: 4rem;
      position: absolute;
      left: 62rem;
      top: 13.1rem;
      background-color: #381c88;
      border-radius: 1rem;
      width: 20rem;
    }
    .wawancara-ckZ {
      color: #ffffff;
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 10.2rem;
      cursor: pointer;
      left: 45.7rem;
      top: 14.1rem;
    }
    .daftar-permintaan-XsX {
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2125;
      width: 15.9rem;
      height: 2.2rem;
      position: absolute;
      left: 63.9rem;
      top: 14.1rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .tools-samping-kiri-qNR {
      display: flex;
      flex-direction: column;
      width: 13.9285rem;
      height: 27.7714rem;
      position: absolute;
      left: 0.1rem;
      top: 42.5rem;
      align-items: center;

      .daftar-permintaan-tools-samping-m1B {
        width: calc(100% - 2.5285rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.264rem 1.943rem 1.264rem;

        .list-icon-t5o {
          width: calc(100% - 4.1855rem);
          box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
          border-radius: 3.6071rem;
          flex-shrink: 0;
          margin: 0rem 2.093rem 1.143rem 2.093rem;
          padding: 1rem 1.714rem 0.929rem 1.643rem;
          cursor: pointer;
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          box-sizing: border-box;

          .list-1-PoF {
            width: 3.857rem;
            height: 5.2857rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .group-79-4uP {
          width: 100%;
          height: 4.5572rem;
          position: relative;
          flex-shrink: 0;

          .daftar-RE9 {
            left: 2.35rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5675;
            color: #ffffff;
            font-family: Lalezar, 'Source Sans Pro';
            width: 6.7rem;
            height: 3.2rem;
            position: absolute;
            top: 0;
            white-space: nowrap;
          }
          .permintaan-jEq {
            position: absolute;
            font-weight: 400;
            line-height: 1.5675;
            white-space: nowrap;
            width: 11.4rem;
            height: 3.2rem;
            text-align: center;
            font-size: 2rem;
            color: #ffffff;
            font-family: Lalezar, 'Source Sans Pro';
            left: 0;
            top: 1.3572rem;
          }
        }
      }
      .jadwal-wawancara-tools-samping-RNZ {
        padding: 0 1.0643rem;
        width: 100%;
        cursor: pointer;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .calendar-ikon-9pM {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          border-radius: 3.6071rem;
          flex-shrink: 0;
          margin: 0rem 2.293rem 1.143rem 2.293rem;
          box-sizing: border-box;
          padding: 1.357rem 0rem 1.232rem 0rem;
          width: calc(100% - 4.5855rem);

          .calendar-1-4RX {
            width: 6.2488rem;
            height: 4.625rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .group-80-J4y {
          width: 100%;
          height: 4.5571rem;
          position: relative;
          flex-shrink: 0;

          .jadwal-FF7 {
            width: 7.1rem;
            height: 3.2rem;
            left: 2.35rem;
            line-height: 1.5675;
            color: #ffffff;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            top: 0;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
          }
          .wawancara-xQR {
            width: 11.8rem;
            left: 0;
            font-weight: 400;
            line-height: 1.5675;
            height: 3.2rem;
            position: absolute;
            top: 1.3571rem;
            text-align: center;
            font-size: 2rem;
            color: #ffffff;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
