
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.delete-chap-12-aG1 {
  height: 102.4rem;
  width: 100%;

  .group-51-i7K {
    width: 100%;
    height: 100%;
    position: relative;

    .rectangle-606-T4u {
      border-radius: 1.5rem;
      width: 2.1rem;
      height: 6.2rem;
      position: absolute;
      left: 140.9rem;
      top: 55.5rem;
      background-color: #bdbdbd;
    }
    .preset-Zdj {
      width: 144rem;
      position: absolute;
      flex-direction: column;
      height: 102.4rem;
      left: 0;
      top: 0;
      overflow: hidden;
      align-items: flex-end;
      display: flex;
      background-color: #e3e3e3;

      .auto-group-d7d3-Ukh {
        height: 102.4rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 18.2rem;
        width: 145.1rem;

        .masuk-Pcm {
          left: 133.6rem;
          font-size: 2.4rem;
          line-height: 1.2125;
          top: 15rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.5rem;
          height: 3rem;
          position: absolute;
        }
        .rectangle-605-UeD {
          position: absolute;
          left: 142.9rem;
          top: 16.4rem;
          background-color: rgba(0, 0, 0, 0.150000006);
          border-radius: 1.5rem;
          width: 2.1rem;
          height: 81.2rem;
        }
        .rectangle-595-PmB {
          width: 145.1rem;
          height: 17.3rem;
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(90.47deg, #01d589 4.1%, #1dcba9 97.04%);
        }
        .user-thumb-JNM {
          top: 11.2rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 4.8472rem;
          width: 4.616rem;
          height: 4.6162rem;
          position: absolute;
          left: 129rem;
        }
        .brosur-lowongan-DER {
          top: 14rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #ffffff;
          width: 15.2rem;
          height: 2.4rem;
          cursor: pointer;
          left: 26.8rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          position: absolute;
          font-weight: 600;
          white-space: nowrap;
        }
        .keluar-JFs {
          height: 2.4rem;
          position: absolute;
          left: 136.5rem;
          font-size: 1.8rem;
          font-weight: 600;
          white-space: nowrap;
          width: 5.8rem;
          top: 12.6rem;
          line-height: 1.3175;
          color: #ffffff;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .logo-jobstreet-variant2-oyK {
          top: 0;
          width: 29.1rem;
          height: 10.9rem;
          cursor: pointer;
          position: absolute;
          left: 6rem;

          .logo-removebg-preview-2-Yg1 {
            width: 29.1rem;
            height: 10.9rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .rectangle-574-H7o {
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 1rem;
          top: 10.8rem;
          height: 5.4rem;
          position: absolute;
          left: 88.6rem;
          border: solid 0.1rem #0e8136;
          width: 38.2rem;
        }
        .rectangle-606-asb {
          top: 18rem;
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 2.1rem;
          height: 6.2rem;
          position: absolute;
          left: 142.9rem;
        }
        .footer-uey {
          padding: 2.7rem 15.1rem 2.8rem 14rem;
          top: 94.5rem;
          background-color: #008a88;
          box-sizing: border-box;
          width: 144rem;
          height: 7.9rem;
          position: absolute;
          left: 1.1rem;
          display: flex;
          align-items: center;

          .tentang-jobstreet-express-Ce5 {
            display: flex;
            color: #ffffff;
            flex-shrink: 0;
            margin-right: 4.6rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
          }
          .pusat-bantuan-uoP {
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 44.9rem;
            display: flex;
            font-weight: 400;
            color: #ffffff;
          }
          .copyright-2023-jobstreet-express-qBF {
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .rectangle-594-L81 {
        margin: 0rem 0.2rem 36.2rem 0rem;
        width: 144.5rem;
        height: 35.5rem;
        background-color: #44abc3;
        flex-shrink: 0;
      }
      .auto-group-lwez-Sgq {
        background-color: #921414;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.1rem 21rem 6.2rem 21rem;
        width: 100%;
        display: flex;
        align-items: center;

        .line-20-xv5 {
          margin-right: 3rem;
          width: 18rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .line-21-Vv1 {
          margin-right: 51rem;
          width: 12rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .line-22-3Aq {
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
          width: 18rem;
        }
      }
    }
    .group-31-variant2-NU1 {
      position: absolute;
      left: 55.2rem;
      top: 11.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.5rem;
      height: 2.3rem;
    }
    .daftar-permintaan-6Q1 {
      top: 19.9rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 127.9rem;
      height: 81.7rem;
      position: absolute;
      left: 2.7rem;

      .auto-group-sdwh-brZ {
        flex-shrink: 0;
        margin-bottom: 3.5rem;
        box-sizing: border-box;
        padding: 2.2rem 2.7rem 1.7rem 3.4rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 2rem;

        .cari-karyawan-7K7 {
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.8rem 0rem;
          font-size: 2.2rem;
        }
        .auto-group-evkh-Dd3 {
          box-sizing: border-box;
          padding: 0.5rem 1.4rem 0.7rem 1.4rem;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.1rem 57.6rem 0rem 0rem;

          .search-Kvy {
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-xh5t-3c5 {
          margin-top: 0.1rem;
          width: 27.6rem;
          height: 3.6rem;
          position: relative;
          flex-shrink: 0;

          .submit-nZf {
            width: 6.1rem;
            left: 16.8rem;
            font-size: 1.8rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.2rem;
            position: absolute;
            top: 0;
            font-weight: 500;
            line-height: 1.2125;
          }
          .digital-connectivity-6qF {
            height: 3.6rem;
            position: absolute;
            left: 0;
            font-weight: 700;
            line-height: 1.1975;
            color: #000000;
            font-family: Inria Serif, 'Source Sans Pro';
            width: 27.6rem;
            top: 0;
            font-size: 3rem;
            white-space: nowrap;
          }
        }
      }
      .auto-group-uzof-CNV {
        width: 100%;
        height: 70.6rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-617-92q {
          width: 116.7rem;
          height: 70.6rem;
          position: absolute;
          left: 11.2rem;
          top: 0;
          background-color: #ffffff;
          border-radius: 2rem;
        }
        .daftar-pelamarkartika-UL1 {
          position: absolute;
          left: 15.4rem;
          background-color: #ecf5e5;
          box-sizing: border-box;
          height: 13.8rem;
          top: 4.7rem;
          display: flex;
          align-items: flex-end;
          border-radius: 2rem;
          padding: 2.1rem 3.2rem 1rem 2.6rem;
          width: 108.1rem;

          .foto-profil-Lt1 {
            background-position: center;
            background-image: url('REPLACE_IMAGE:I254:9151;121:8608;2:3275');
            flex-shrink: 0;
            margin: 0rem 3.7rem 1.1rem 0rem;
            box-sizing: border-box;
            padding: 0.64rem 0.7066rem;
            background-size: cover;
            background-repeat: no-repeat;

            .ellipse-125-GFs {
              height: 8.32rem;
              object-fit: contain;
              vertical-align: top;
              width: 9.1867rem;
            }
          }
          .kartika-nur-0852634926442-kupang-ntt-zSm {
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 44rem 1.3rem 0rem;
            max-width: 16rem;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3175;
          }
          .button-acc-VPX {
            justify-content: center;
            margin-right: 1rem;
            width: 13.5rem;
            font-weight: 400;
            font-family: Candal, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            white-space: nowrap;
            align-items: center;
            border-radius: 2rem;
            height: 3.5rem;
            font-size: 1.6rem;
            line-height: 1.2975;
            color: #ffffff;
            display: flex;
            background-color: #db4154;
          }
          .button-acc-AVf {
            color: #ffffff;
            font-family: Candal, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 3.5rem;
            font-size: 1.6rem;
            white-space: nowrap;
            display: flex;
            border-radius: 2rem;
            font-weight: 400;
            line-height: 1.2975;
            background-color: #4baea0;
            width: 13.5rem;
            cursor: pointer;
          }
        }
      }
    }
    .footer-EVX {
      box-sizing: border-box;
      height: 7.9rem;
      left: 0;
      top: 94.5rem;
      align-items: center;
      background-color: #008a88;
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      width: 144rem;
      position: absolute;
      display: flex;

      .tentang-jobstreet-express-XUd {
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.6rem;
        display: flex;
        font-size: 1.8rem;
      }
      .pusat-bantuan-e3T {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 44.9rem;
        display: flex;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .copyright-2023-jobstreet-express-ZRK {
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
      }
    }
    .rectangle-700-H6R {
      border-radius: 1rem;
      width: 20rem;
      height: 4rem;
      position: absolute;
      left: 62rem;
      top: 13.1rem;
      background-color: #381c88;
    }
    .group-30-CDP {
      width: 2.5rem;
      height: 2.4rem;
      position: absolute;
      left: 80.4rem;
      top: 11.4rem;

      .ellipse-87-Koo {
        position: absolute;
        left: 0;
        top: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 2.3rem;
      }
      .item-1-4mP {
        font-family: Inter, 'Source Sans Pro';
        width: 0.9rem;
        height: 2.2rem;
        position: absolute;
        top: 0;
        font-size: 1.8rem;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        left: 0.7rem;
        font-weight: 500;
      }
    }
    .wawancara-xrm {
      line-height: 1.2125;
      white-space: nowrap;
      height: 2.2rem;
      cursor: pointer;
      position: absolute;
      top: 14.1rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 10.2rem;
      left: 45.7rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .daftar-permintaan-sTw {
      top: 14.1rem;
      font-size: 1.8rem;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.9rem;
      height: 2.2rem;
      position: absolute;
      left: 63.9rem;
      line-height: 1.2125;
      color: #ffffff;
    }
    .tools-samping-kiri-Nfb {
      height: 27.7714rem;
      position: absolute;
      left: 0.1rem;
      top: 43.7rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 13.9285rem;

      .daftar-permintaan-tools-samping-tP3 {
        margin: 0rem 1.264rem 1.943rem 1.264rem;
        width: calc(100% - 2.5285rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .list-icon-Bsw {
          padding: 1rem 1.714rem 0.929rem 1.643rem;
          box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
          border-radius: 3.6071rem;
          margin: 0rem 2.093rem 1.143rem 2.093rem;
          box-sizing: border-box;
          width: calc(100% - 4.1855rem);
          cursor: pointer;
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          flex-shrink: 0;

          .list-1-6V7 {
            width: 3.857rem;
            height: 5.2857rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .group-79-xnD {
          flex-shrink: 0;
          width: 100%;
          height: 4.5572rem;
          position: relative;

          .daftar-X4d {
            height: 3.2rem;
            position: absolute;
            font-size: 2rem;
            color: #ffffff;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.7rem;
            left: 2.35rem;
            top: 0;
            text-align: center;
            font-weight: 400;
            line-height: 1.5675;
          }
          .permintaan-qLD {
            line-height: 1.5675;
            color: #ffffff;
            width: 11.4rem;
            height: 3.2rem;
            left: 0;
            top: 1.3572rem;
            font-size: 2rem;
            font-weight: 400;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            text-align: center;
          }
        }
      }
      .jadwal-wawancara-tools-samping-84R {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 1.0643rem;
        width: 100%;
        cursor: pointer;
        align-items: center;
        display: flex;
        flex-direction: column;

        .calendar-ikon-Fuj {
          margin: 0rem 2.293rem 1.143rem 2.293rem;
          box-sizing: border-box;
          padding: 1.357rem 0rem 1.232rem 0rem;
          width: calc(100% - 4.5855rem);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          border-radius: 3.6071rem;
          flex-shrink: 0;

          .calendar-1-ZvR {
            height: 4.625rem;
            object-fit: cover;
            vertical-align: top;
            width: 6.2488rem;
          }
        }
        .group-80-cth {
          width: 100%;
          height: 4.5571rem;
          position: relative;
          flex-shrink: 0;

          .jadwal-yUM {
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            text-align: center;
            color: #ffffff;
            font-weight: 400;
            line-height: 1.5675;
            font-family: Lalezar, 'Source Sans Pro';
            width: 7.1rem;
            left: 2.35rem;
            top: 0;
            font-size: 2rem;
          }
          .wawancara-Hjw {
            width: 11.8rem;
            height: 3.2rem;
            position: absolute;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            color: #ffffff;
            left: 0;
            top: 1.3571rem;
            line-height: 1.5675;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
