
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.5rem;
}.deskripsi-YAu {
  padding: 2rem;
  position: relative;
  align-items: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;

  .property-1default-Gch {
    margin-bottom: 2rem;
    position: relative;
    border: solid 0.2rem #01d589;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 102.6rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ecf5e5;
    border-radius: 2.5rem;

    .auto-group-phxo-o6q {
      left: 5.2rem;
      display: flex;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background: linear-gradient(90deg, #005141 6.15%, #03876c 94.25%);
      position: absolute;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      width: 25.2rem;
      height: 4.6rem;
      top: 25.3rem;
      font-size: 1.8rem;
      line-height: 1.2975;
      justify-content: center;
      border-radius: 2rem;
      font-family: Candal, 'Source Sans Pro';
      align-items: center;
    }
    .auto-group-f2vp-P53 {
      left: 4.2rem;
      top: 52.4rem;
      width: 58.4rem;
      height: 47.2rem;
      position: absolute;

      .lulusan-minimal-sma-smk-sederajat-max-22-tahun-bertanggung-jawab-disiplin-dan-jujur-cekatan-inovatif-dan-inisiatif-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-mampu-mengoperasikan-ms-word-dan-excel-pelamar-harus-memiliki-ktp-W9f {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        height: 21.4rem;
        display: flex;
        left: 0;
        top: 25.8rem;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 57.2rem;
        position: absolute;
      }
      .persyaratan-minimum--W3B {
        display: flex;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        left: 1rem;
        height: 2.7rem;
        position: absolute;
        top: 27.4rem;
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
        width: 22rem;
      }
      .menjadwalkan-meeting-dan-acara-merawat-database-internal-memesan-peralatan-dan-perlengkapan-kantor-menyimpan-dan-menjaga-catatan-arsip-karyawan-baik-fisik-maupun-digital-mendistribusikan-surat-masuk-dan-keluar-menyiapkan-laporan-dan-presentasi-rutin-mengatur-menyimpan-dan-mencetak-dokumen-perusahaan-sesuai-dengan-kebutuhan-mengatur-perjalanan-bisnis-mengupdate-kebijakan-kantor-oY5 {
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 400;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 58.4rem;
        height: 26.1rem;
        display: flex;
        font-size: 1.8rem;
        color: #000000;
      }
    }
    .administrasi-merupakan-suatu-proses-penyelenggaraan-bersama-atau-proses-kerja-sama-antara-sekelompok-orang-secara-tertentu-untuk-mencapai-sesuatu-tujuan-tertentu-yang-telah-ditentukan-dan-direncanakan-sebelumnya-kerja-sama-antara-orang-orang-tersebut-berlangsung-secara-dan-melalui-organisasi-A1F {
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      position: absolute;
      top: 38.5rem;
      left: 5.2rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      width: 60.2rem;
      height: 11.9rem;
    }
    .deskripsi-pekerjaan-wgD {
      left: 5.2rem;
      top: 35.2rem;
      display: flex;
      line-height: 1.3175;
      width: 19.3rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 700;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.7rem;
    }
    .line-86-3UM {
      object-fit: contain;
      vertical-align: top;
      width: 61rem;
      height: 0.1rem;
      position: absolute;
      left: 5.2rem;
      top: 32.7rem;
    }
    .auto-group-tach-NmX {
      top: 19.4rem;
      display: flex;
      align-items: center;
      width: 22.7rem;
      height: 2rem;
      position: absolute;
      left: 5.3rem;

      .emoji-briefcase-uWZ {
        flex-shrink: 0;
        margin-right: 1.9364rem;
        width: 2.3636rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .sekitar-rp-4-5-juta-bulan-2LH {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
      }
    }
    .admin-administrasi-8eD {
      font-weight: 700;
      line-height: 1.3175;
      display: flex;
      font-size: 2rem;
      position: absolute;
      left: 5.3rem;
      top: 4rem;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 19.4rem;
      height: 2.7rem;
    }
    .auto-group-7kht-Seu {
      position: absolute;
      left: 4.2rem;
      top: 6.8rem;
      display: flex;
      align-items: center;
      width: 50.2rem;
      height: 6.9rem;

      .capture-removebg-preview-5-NYZ {
        width: 10.8rem;
        height: 6.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-jdy3-pQZ {
        flex-shrink: 0;
        margin: 1rem 0rem 0.6rem 0rem;
        height: calc(100% - 1.6rem);
        display: flex;
        flex-direction: column;

        .pt-perdana-semesta-gemilang-logistik-wEH {
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          display: flex;
          font-weight: 400;
          white-space: nowrap;
        }
        .dupak-surabaya-jawa-timur-eeV {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
    }
    .hari-yang-lalu-20-pelamar-BPX {
      display: flex;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3175;
      white-space: nowrap;
      height: 2rem;
      left: 5.5rem;
      top: 15.4rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 20.4rem;
      position: absolute;
      color: #534e4e;
    }
  }
  .property-1setelah-klik-pxH {
    height: 102.6rem;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #ebf3f5;
    width: 100%;
    border: solid 0.2rem #0e8136;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
    flex-shrink: 0;
    position: relative;

    .auto-group-8snq-xYh {
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #b0aaaa;
      width: 25.2rem;
      height: 4.6rem;
      left: 5.2rem;
      line-height: 1.2975;
      font-size: 1.8rem;
      white-space: nowrap;
      align-items: center;
      border: solid 0.2rem #b0aaaa;
      font-family: Candal, 'Source Sans Pro';
      justify-content: center;
      box-sizing: border-box;
      border-radius: 2rem;
      top: 25.3rem;
      display: flex;
      font-weight: 400;
      color: #015442;
      position: absolute;
    }
    .auto-group-md1k-BgM {
      height: 47.2rem;
      position: absolute;
      left: 4.2rem;
      top: 52.4rem;
      width: 58.4rem;

      .lulusan-minimal-sma-smk-sederajat-max-22-tahun-bertanggung-jawab-disiplin-dan-jujur-cekatan-inovatif-dan-inisiatif-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-mampu-mengoperasikan-ms-word-dan-excel-pelamar-harus-memiliki-ktp-WyX {
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        width: 57.2rem;
        top: 25.8rem;
        left: 0;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 21.4rem;
        position: absolute;

        .lulusan-minimal-sma-smk-sederajat-max-22-tahun-bertanggung-jawab-disiplin-dan-jujur-cekatan-inovatif-dan-inisiatif-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-mampu-mengoperasikan-ms-word-dan-excel-pelamar-harus-memiliki-ktp-WyX-sub-0 {
        }
        .lulusan-minimal-sma-smk-sederajat-max-22-tahun-bertanggung-jawab-disiplin-dan-jujur-cekatan-inovatif-dan-inisiatif-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-mampu-mengoperasikan-ms-word-dan-excel-pelamar-harus-memiliki-ktp-WyX-sub-1 {
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.8rem;
        }
      }
      .persyaratan-minimum--dqB {
        width: 22rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        color: #000000;
        height: 2.7rem;
        position: absolute;
        left: 1rem;
        top: 27.4rem;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .menjadwalkan-meeting-dan-acara-merawat-database-internal-memesan-peralatan-dan-perlengkapan-kantor-menyimpan-dan-menjaga-catatan-arsip-karyawan-baik-fisik-maupun-digital-mendistribusikan-surat-masuk-dan-keluar-menyiapkan-laporan-dan-presentasi-rutin-mengatur-menyimpan-dan-mencetak-dokumen-perusahaan-sesuai-dengan-kebutuhan-mengatur-perjalanan-bisnis-mengupdate-kebijakan-kantor-k97 {
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 58.4rem;
        height: 26.1rem;
        left: 0;
        top: 0;
        display: flex;
        font-weight: 400;
        color: #000000;
      }
    }
    .administrasi-merupakan-suatu-proses-penyelenggaraan-bersama-atau-proses-kerja-sama-antara-sekelompok-orang-secara-tertentu-untuk-mencapai-sesuatu-tujuan-tertentu-yang-telah-ditentukan-dan-direncanakan-sebelumnya-kerja-sama-antara-orang-orang-tersebut-berlangsung-secara-dan-melalui-organisasi-7ds {
      height: 11.9rem;
      left: 5.2rem;
      top: 38.5rem;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      line-height: 1.3175;
      width: 60.2rem;
      position: absolute;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .deskripsi-pekerjaan-vLR {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      display: flex;
      left: 5.2rem;
      top: 35.2rem;
      color: #000000;
      width: 19.3rem;
      height: 2.7rem;
    }
    .line-86-2uF {
      width: 61rem;
      height: 0.1rem;
      position: absolute;
      left: 5.2rem;
      top: 32.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-2wpp-NCR {
      position: absolute;
      left: 5.2rem;
      top: 20.2rem;
      display: flex;
      align-items: flex-start;
      width: 26.6rem;
      height: 2.2rem;

      .emoji-briefcase-hVb {
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9364rem;
        width: 2.3636rem;
      }
      .sekitar-rp-4-5-juta-bulan-dPF {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .admin-administrasi-xRX {
      color: #000000;
      width: 19.4rem;
      height: 2.7rem;
      top: 4.8rem;
      display: flex;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.3175;
      position: absolute;
      left: 5.2rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-8hjw-sHb {
      width: 50.2rem;
      height: 6.9rem;
      position: absolute;
      left: 4.1rem;
      top: 7.6rem;
      display: flex;
      align-items: center;

      .capture-removebg-preview-4-Q2d {
        height: 6.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 10.8rem;
      }
      .auto-group-b2xk-8jK {
        margin: 1rem 0rem 0.6rem 0rem;
        height: calc(100% - 1.6rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .pt-perdana-semesta-gemilang-logistik-rvD {
          white-space: nowrap;
          margin-bottom: 0.5rem;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-weight: 400;
          color: #000000;
          flex-shrink: 0;
        }
        .dupak-surabaya-jawa-timur-mnH {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
    }
    .hari-yang-lalu-20-pelamar-hR3 {
      left: 5.4rem;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      top: 15.8rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.75);
      white-space: nowrap;
      width: 24.3rem;
    }
  }
}
