
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 148rem;
}.footer-3wX {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 2rem;
  overflow: hidden;
  row-gap: 11.9rem;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  border: dashed 0.1rem #9747ff;

  .property-1default-PEh {
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;

    .tentang-jobstreet-express-i25 {
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      white-space: nowrap;
      margin-right: 4.6rem;
      font-size: 1.8rem;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .pusat-bantuan-pL1 {
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      margin-right: 44.9rem;
    }
    .copyright-2023-jobstreet-express-M53 {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
    }
  }
  .property-1variant2-GC1 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;

    .tentang-jobstreet-express-nw3 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.6rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      color: #ffffff;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .pusat-bantuan-XNq {
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 44.9rem;
      color: #ffffff;
      white-space: nowrap;
      font-size: 1.8rem;
    }
    .copyright-2023-jobstreet-express-47s {
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
    }
  }
  .property-1variant3-PA9 {
    height: 7.9rem;
    font-size: 1.8rem;
    color: #ffffff;
    font-family: Roboto Slab, 'Source Sans Pro';
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    font-weight: 400;
    line-height: 1.3175;
    white-space: nowrap;
    justify-content: center;
    background-color: #008a88;
  }
}
