
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 86.7rem;
}.header-feq {
  box-sizing: border-box;
  border-radius: 0.5rem;
  width: 100%;
  height: 106rem;
  position: relative;
  border: dashed 0.1rem #9747ff;

  .property-1simulasi-nUZ {
    height: 6rem;
    left: 2rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 5.5rem 1rem 0.2rem;
    width: 82.7rem;
    position: absolute;
    top: 2rem;

    .icon-play-circle-outline-4S5 {
      width: 2.3rem;
      height: 2.3399rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.2rem 1.06rem 0rem;
    }
    .simulasi-Zdj {
      cursor: pointer;
      white-space: nowrap;
      margin: 0rem 3.647rem 1.4rem 0rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #015442;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.8rem;
    }
    .icon-person-GY9 {
      margin: 0rem 0.385rem 0.8rem 0rem;
      width: 2.4685rem;
      height: 2.6rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .profil-saya-zU9 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.3rem 1.6rem 0rem;
      cursor: pointer;
      font-family: Roboto Slab, 'Source Sans Pro';
      color: #000000;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
    }
    .icon-bell-outline-ub7 {
      margin: 0rem 0.345rem 1.5rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .job-alert-E7b {
      cursor: pointer;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      margin: 0rem 5.9rem 1.4rem 0rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.8rem;
    }
    .icon-bookmark-Ye5 {
      margin: 0rem 0.045rem 0.9rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .lowongan-saya-Ga5 {
      color: #000000;
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      white-space: nowrap;
      margin: 0rem 7.3rem 1.4rem 0rem;
      cursor: pointer;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .keluar-CCq {
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 600;
      white-space: nowrap;
      margin-bottom: 1.2rem;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .property-1profil-WjK {
    box-sizing: border-box;
    height: 6rem;
    position: absolute;
    left: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem 5.5rem 1rem 0.2rem;
    width: 82.7rem;
    top: 10rem;

    .icon-play-circle-outline-bkm {
      flex-shrink: 0;
      margin: 0rem 0.2rem 1.06rem 0rem;
      width: 2.3rem;
      height: 2.3399rem;
      object-fit: contain;
      vertical-align: top;
    }
    .simulasi-uWZ {
      white-space: nowrap;
      margin: 0rem 3.647rem 1.4rem 0rem;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .icon-person-E33 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.385rem 0.8rem 0rem;
      width: 2.4685rem;
      height: 2.6rem;
      position: relative;
      object-fit: contain;
    }
    .profil-saya-MNZ {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.3rem 1.6rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #015442;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .icon-bell-outline-sbo {
      flex-shrink: 0;
      margin: 0rem 0.345rem 1.5rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .job-alert-Pq3 {
      font-weight: 600;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      line-height: 1.3175;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.9rem 1.4rem 0rem;
      cursor: pointer;
      font-size: 1.8rem;
    }
    .icon-bookmark-va5 {
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.045rem 0.9rem 0rem;
      width: 2.4555rem;
    }
    .lowongan-saya-3ub {
      cursor: pointer;
      font-weight: 600;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 7.3rem 1.4rem 0rem;
      font-size: 1.8rem;
      color: #000000;
      white-space: nowrap;
    }
    .keluar-NBB {
      margin-bottom: 1.2rem;
      cursor: pointer;
      font-weight: 600;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.8rem;
      color: #000000;
      white-space: nowrap;
    }
  }
  .property-1job-alert-6ss {
    position: absolute;
    top: 18rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 5.5rem 1rem 0.2rem;
    width: 82.7rem;
    height: 6rem;
    left: 2rem;

    .icon-play-circle-outline-PMB {
      margin: 0rem 0.2rem 1.06rem 0rem;
      width: 2.3rem;
      height: 2.3399rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .simulasi-hMs {
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.647rem 1.4rem 0rem;
      font-size: 1.8rem;
    }
    .icon-person-Db7 {
      height: 2.6rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.385rem 0.8rem 0rem;
      width: 2.4685rem;
    }
    .profil-saya-k5F {
      margin: 0rem 5.3rem 1.6rem 0rem;
      font-weight: 600;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      cursor: pointer;
      font-size: 1.8rem;
      line-height: 1.3175;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .icon-bell-outline-rty {
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.345rem 1.5rem 0rem;
    }
    .job-alert-nGq {
      font-weight: 600;
      font-family: Roboto Slab, 'Source Sans Pro';
      cursor: pointer;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #015442;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.9rem 1.4rem 0rem;
    }
    .icon-bookmark-WCq {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.045rem 0.9rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
    }
    .lowongan-saya-qF7 {
      font-family: Roboto Slab, 'Source Sans Pro';
      cursor: pointer;
      font-weight: 600;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.3rem 1.4rem 0rem;
      font-size: 1.8rem;
      line-height: 1.3175;
    }
    .keluar-MjF {
      margin-bottom: 1.2rem;
      cursor: pointer;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 600;
      flex-shrink: 0;
    }
  }
  .property-1lowongan-saya-6B3 {
    height: 6rem;
    display: flex;
    box-sizing: border-box;
    padding: 1rem 5.5rem 1rem 0.2rem;
    width: 82.7rem;
    position: absolute;
    left: 2rem;
    top: 26rem;
    align-items: center;

    .icon-play-circle-outline-BCV {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.2rem 1.06rem 0rem;
      width: 2.3rem;
      height: 2.3399rem;
      object-fit: contain;
    }
    .simulasi-hAq {
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.647rem 1.4rem 0rem;
      cursor: pointer;
      font-weight: 600;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .icon-person-Qb3 {
      height: 2.6rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.385rem 0.8rem 0rem;
      width: 2.4685rem;
    }
    .profil-saya-jNR {
      cursor: pointer;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.3rem 1.6rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
    }
    .icon-bell-outline-FLm {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.345rem 1.5rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
    }
    .job-alert-a89 {
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 600;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.9rem 1.4rem 0rem;
    }
    .icon-bookmark-hiZ {
      margin: 0rem 0.045rem 0.9rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .lowongan-saya-3Gd {
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      color: #015442;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.3rem 1.4rem 0rem;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .keluar-a1f {
      cursor: pointer;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 1.2rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      flex-shrink: 0;
    }
  }
  .property-1keluar-7GV {
    box-sizing: border-box;
    left: 2rem;
    align-items: center;
    padding: 1rem 5.5rem 1rem 0.2rem;
    width: 82.7rem;
    height: 6rem;
    position: absolute;
    top: 34rem;
    display: flex;

    .icon-play-circle-outline-of7 {
      width: 2.3rem;
      height: 2.3399rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.2rem 1.06rem 0rem;
    }
    .simulasi-vjj {
      font-weight: 600;
      cursor: pointer;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.647rem 1.4rem 0rem;
    }
    .icon-person-3ZT {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.385rem 0.8rem 0rem;
      width: 2.4685rem;
      height: 2.6rem;
      position: relative;
    }
    .profil-saya-Nbj {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.3rem 1.6rem 0rem;
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      cursor: pointer;
      font-weight: 600;
      color: #000000;
    }
    .icon-bell-outline-6Gq {
      flex-shrink: 0;
      margin: 0rem 0.345rem 1.5rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .job-alert-ip1 {
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 600;
      color: #000000;
      margin: 0rem 5.9rem 1.4rem 0rem;
      line-height: 1.3175;
      white-space: nowrap;
    }
    .icon-bookmark-35b {
      margin: 0rem 0.045rem 0.9rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .lowongan-saya-mGV {
      color: #000000;
      line-height: 1.3175;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 600;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.3rem 1.4rem 0rem;
    }
    .keluar-J1X {
      margin-bottom: 1.2rem;
      cursor: pointer;
      color: #015442;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
  }
  .property-1original-EA5 {
    box-sizing: border-box;
    width: 82.7rem;
    position: absolute;
    top: 42rem;
    display: flex;
    padding: 1rem 5.5rem 1rem 0.2rem;
    height: 6rem;
    left: 2rem;
    align-items: center;

    .icon-play-circle-outline-hpM {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.2rem 1.06rem 0rem;
      width: 2.3rem;
      height: 2.3399rem;
      object-fit: contain;
    }
    .simulasi-pty {
      cursor: pointer;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 3.647rem 1.4rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: #000000;
      flex-shrink: 0;
    }
    .icon-person-Y4H {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.385rem 0.8rem 0rem;
      width: 2.4685rem;
      height: 2.6rem;
      position: relative;
    }
    .profil-saya-GFB {
      white-space: nowrap;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      margin: 0rem 5.3rem 1.6rem 0rem;
      cursor: pointer;
      font-weight: 600;
      flex-shrink: 0;
    }
    .icon-bell-outline-zS5 {
      flex-shrink: 0;
      margin: 0rem 0.345rem 1.5rem 0rem;
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .job-alert-JxZ {
      margin: 0rem 5.9rem 1.4rem 0rem;
      font-weight: 600;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      font-size: 1.8rem;
      line-height: 1.3175;
      flex-shrink: 0;
    }
    .icon-bookmark-EbK {
      width: 2.4555rem;
      height: 2.5rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.045rem 0.9rem 0rem;
    }
    .lowongan-saya-mbF {
      margin: 0rem 7.3rem 1.4rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      flex-shrink: 0;
      white-space: nowrap;
      cursor: pointer;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .keluar-6dX {
      white-space: nowrap;
      line-height: 1.3175;
      color: #000000;
      font-size: 1.8rem;
      font-weight: 600;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      cursor: pointer;
    }
  }
  .property-1variant7-ddT {
    box-sizing: border-box;
    padding: 1.4rem 3rem 1.3rem 11.5rem;
    left: 0;
    top: 47.3rem;
    display: flex;
    width: 82.7rem;
    height: 6rem;
    position: absolute;
    align-items: center;

    .home-page-KWH {
      flex-shrink: 0;
      margin-top: 0.2rem;
      width: 2.7rem;
      height: 2.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-5ddb-FPw {
      margin: 0rem 0.383rem 0.4rem 0rem;
      width: 21.1167rem;
      height: 2.9rem;
      position: relative;
      flex-shrink: 0;

      .daftar-pt-aBK {
        top: 0.2rem;
        font-size: 1.8rem;
        color: #000000;
        white-space: nowrap;
        left: 9.3rem;
        height: 2.4rem;
        position: absolute;
        font-weight: 600;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 8.2rem;
      }
      .icon-play-circle-outline-fyT {
        width: 16.9167rem;
        height: 2.5499rem;
        position: absolute;
        left: 4.2rem;
        top: 0.2rem;
        display: flex;
        align-items: flex-end;

        .vector-b6R {
          margin: 0rem 12.7rem 0.21rem 0rem;
          opacity: 0;
          width: 2.3rem;
          height: 2.3399rem;
          background-color: rgba(255, 255, 255, 0);
          flex-shrink: 0;
        }
        .group-hof {
          height: 1.9499rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.9167rem;
        }
      }
      .vector-RzZ {
        height: 2.7rem;
        position: absolute;
        left: 6.2rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
      }
      .home-NQ1 {
        left: 0;
        font-weight: 600;
        width: 5.1rem;
        height: 2.4rem;
        position: absolute;
        top: 0.5rem;
        font-size: 1.8rem;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .simulasi-ftu {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.1rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #015442;
    }
    .people-C89 {
      margin: 0.3rem 0.4rem 0rem 0rem;
      width: 2.4rem;
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .pelamar-vK3 {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 1.2rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
    }
    .graph-rCh {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.7rem;
      width: 2.4rem;
      height: 2.6rem;
    }
    .statistik-zph {
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 2rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .icon-person-8R7 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.3rem 0.332rem 0rem 0rem;
      width: 2.4685rem;
      height: 2.6rem;
      position: relative;
      object-fit: contain;
    }
    .profil-saya-3ny {
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant8-zCR {
    box-sizing: border-box;
    width: 82.7rem;
    height: 6rem;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    padding: 1.4rem 3rem 1.4rem 11.5rem;
    top: 52rem;

    .auto-group-evub-fZT {
      margin-right: 0.2833rem;
      width: 23.9167rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .icon-play-circle-outline-17X {
        width: 16.9167rem;
        height: 2.5499rem;
        position: absolute;
        left: 7rem;
        top: 0;
        display: flex;
        align-items: flex-end;

        .vector-j3X {
          width: 2.3rem;
          height: 2.3398rem;
          background-color: rgba(255, 255, 255, 0);
          flex-shrink: 0;
          margin: 0rem 12.7rem 0.21rem 0rem;
          opacity: 0;
        }
        .group-qsF {
          height: 1.9499rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.9167rem;
        }
      }
      .daftar-pt-zEM {
        width: 8.2rem;
        left: 11.9rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #015442;
        white-space: nowrap;
        height: 2.4rem;
        position: absolute;
        top: 0.4rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .vector-heZ {
        top: 0.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
        height: 2.7rem;
        position: absolute;
        left: 8.9rem;
      }
      .home-EuP {
        left: 2.4rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        top: 0.6rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000000;
        white-space: nowrap;
        width: 5.1rem;
        height: 2.4rem;
        position: absolute;
      }
      .home-page-Yv5 {
        height: 2.7rem;
        position: absolute;
        left: 0;
        top: 0.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
      }
    }
    .simulasi-6Au {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.4rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .people-RDB {
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.6rem 0.3rem 0rem 0rem;
      width: 2.4rem;
    }
    .pelamar-MMj {
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.5rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .graph-sqs {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.6rem;
      width: 2.4rem;
      height: 2.6rem;
      object-fit: contain;
    }
    .statistik-1hB {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.4rem 1.8rem 0rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .icon-person-x6d {
      height: 2.6rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.4rem 0.332rem 0rem 0rem;
      width: 2.4685rem;
    }
    .profil-saya-tFB {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.4rem;
    }
  }
  .property-1variant12-ped {
    box-sizing: border-box;
    padding: 1.4rem 3rem 1.4rem 11.5rem;
    top: 57.4rem;
    align-items: center;
    display: flex;
    width: 82.7rem;
    height: 6rem;
    position: absolute;
    left: -0.3rem;

    .auto-group-jku9-JZo {
      flex-shrink: 0;
      margin: 0rem 0.183rem 0.2rem 0rem;
      width: 24.2167rem;
      height: 3rem;
      position: relative;

      .icon-play-circle-outline-d6H {
        align-items: flex-end;
        width: 17.2167rem;
        height: 2.5499rem;
        position: absolute;
        left: 7rem;
        top: 0;
        display: flex;

        .vector-x8Z {
          margin: 0rem 13rem 0.21rem 0rem;
          opacity: 0;
          width: 2.3rem;
          height: 2.3398rem;
          background-color: rgba(255, 255, 255, 0);
          flex-shrink: 0;
        }
        .group-GQ9 {
          width: 1.9167rem;
          height: 1.9499rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .daftar-pt-pRf {
        position: absolute;
        left: 12.3rem;
        font-size: 1.8rem;
        width: 8.2rem;
        height: 2.4rem;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        top: 0.2rem;
        font-weight: 600;
      }
      .vector-jYd {
        width: 2.7rem;
        height: 2.7rem;
        position: absolute;
        left: 9.3rem;
        top: 0.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .home-UFK {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        width: 5.1rem;
        height: 2.4rem;
        left: 2.5rem;
        top: 0.6rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        position: absolute;
        white-space: nowrap;
      }
      .home-page-B9j {
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
        height: 2.7rem;
        position: absolute;
        left: 0;
        top: 0.3rem;
      }
    }
    .simulasi-i9f {
      margin: 0rem 1.5rem 0.4rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .people-piV {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.4rem 0.3rem 0rem 0rem;
      width: 2.4rem;
      height: 2.6rem;
    }
    .auto-group-wdh3-Xcu {
      flex-shrink: 0;
      margin: 0rem 1.6rem 0.4rem 0rem;
      width: 7.2rem;
      height: 2.8rem;
      position: relative;

      .pelamar-FJ1 {
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 7.2rem;
        height: 2.4rem;
        position: absolute;
        top: 0.4rem;
        font-size: 1.8rem;
        font-weight: 600;
        white-space: nowrap;
        left: 0;
        line-height: 1.3175;
      }
      .vector-Mrq {
        height: 2.5rem;
        position: absolute;
        left: 4.2rem;
        top: 0;
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
        width: 2.4555rem;
      }
    }
    .auto-group-5a25-5nq {
      height: 2.6rem;
      position: relative;
      flex-shrink: 0;
      margin: 0.6rem 1.6rem 0rem 0rem;
      width: 9.5rem;

      .graph-D8M {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.4rem;
        height: 2.6rem;
        position: absolute;
        left: 0;
      }
      .statistik-N1F {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.3rem;
        position: absolute;
        top: 0;
        color: #000000;
        line-height: 1.3175;
        height: 2.4rem;
        left: 2.2rem;
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
    .icon-person-syb {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.4rem 0.332rem 0rem 0rem;
      width: 2.4685rem;
      height: 2.6rem;
      position: relative;
      object-fit: contain;
    }
    .profil-saya-nqf {
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.4rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  .property-1variant13-XYM {
    height: 6rem;
    position: absolute;
    left: 0.9rem;
    top: 63.4rem;
    align-items: center;
    box-sizing: border-box;
    width: 82.7rem;
    display: flex;
    padding: 1.4rem 3rem 1.5rem 10.8rem;

    .home-page-c41 {
      width: 2.7rem;
      height: 2.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-bgur-YiM {
      height: 2.9rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0.183rem 0.2rem 0rem;
      width: 22.2167rem;

      .icon-play-circle-outline-U6D {
        align-items: flex-end;
        width: 17.2167rem;
        height: 2.5499rem;
        position: absolute;
        left: 5rem;
        top: 0;
        display: flex;

        .vector-CH7 {
          margin: 0rem 13rem 0.21rem 0rem;
          opacity: 0;
          width: 2.3rem;
          height: 2.3398rem;
          background-color: rgba(255, 255, 255, 0);
          flex-shrink: 0;
        }
        .group-7ey {
          height: 1.9499rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.9167rem;
        }
      }
      .daftar-pt-fAh {
        color: #000000;
        white-space: nowrap;
        width: 8.2rem;
        height: 2.4rem;
        position: absolute;
        left: 10.2rem;
        top: 0.2rem;
        line-height: 1.3175;
        font-size: 1.8rem;
        font-weight: 600;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .vector-aHf {
        vertical-align: top;
        width: 2.7rem;
        height: 2.7rem;
        position: absolute;
        left: 7.2rem;
        top: 0.2rem;
        object-fit: contain;
      }
      .home-iem {
        left: 0;
        top: 0.3rem;
        font-size: 1.8rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.1rem;
        position: absolute;
        line-height: 1.3175;
        color: #015442;
        height: 2.4rem;
        font-weight: 600;
      }
    }
    .simulasi-qUV {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.6rem 0.3rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .people-ZvH {
      width: 2.4rem;
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.1rem 0.3rem 0rem 0rem;
    }
    .auto-group-bzyk-hmb {
      margin: 0rem 1.7rem 0.5rem 0rem;
      width: 7.2rem;
      height: 2.6rem;
      position: relative;
      flex-shrink: 0;

      .pelamar-qcu {
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
        width: 7.2rem;
        height: 2.4rem;
        position: absolute;
        left: 0;
        top: 0.2rem;
        color: #000000;
        white-space: nowrap;
      }
      .vector-AQH {
        width: 2.4555rem;
        height: 2.5rem;
        position: absolute;
        left: 4.1rem;
        top: 0;
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
      }
    }
    .graph-6Yq {
      flex-shrink: 0;
      margin-top: 0.1rem;
      width: 2.4rem;
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .statistik-qWR {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.2rem 0.3rem 0rem;
    }
    .icon-person-NFT {
      flex-shrink: 0;
      margin: 0.5rem 0.332rem 0rem 0rem;
      width: 2.4685rem;
      height: 2.6rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .profil-saya-J97 {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
    }
  }
  .property-1variant15-EYZ {
    height: 6rem;
    position: absolute;
    left: -0.5rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1.4rem 3rem 0.5rem 11.4rem;
    width: 82.7rem;
    top: 76rem;

    .home-page-uPo {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.4rem 0.5rem 0rem 0rem;
      width: 2.7rem;
      height: 2.7rem;
    }
    .auto-group-vggz-EBB {
      margin-right: 0.1833rem;
      width: 21.1167rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .icon-play-circle-outline-Aad {
        height: 2.5499rem;
        position: absolute;
        left: 3.9rem;
        top: 0;
        display: flex;
        align-items: flex-end;
        width: 17.2167rem;

        .vector-Vso {
          margin: 0rem 13rem 0.21rem 0rem;
          opacity: 0;
          width: 2.3rem;
          height: 2.3398rem;
          background-color: rgba(255, 255, 255, 0);
          flex-shrink: 0;
        }
        .group-otV {
          width: 1.9167rem;
          height: 1.9499rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .daftar-pt-9xM {
        white-space: nowrap;
        width: 8.2rem;
        left: 9.1rem;
        top: 0.2rem;
        font-size: 1.8rem;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2.4rem;
        position: absolute;
        font-weight: 600;
      }
      .vector-GXB {
        top: 0.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
        height: 2.7rem;
        position: absolute;
        left: 6.1rem;
      }
      .home-cb3 {
        top: 1.7rem;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 2.4rem;
        left: 0;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
        width: 5.1rem;
      }
    }
    .simulasi-jQm {
      flex-shrink: 0;
      margin: 0rem 1.6rem 1.3rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
    .people-s1B {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.3rem 0.9rem 0rem;
      width: 2.4rem;
      height: 2.6rem;
    }
    .auto-group-pnjb-CJM {
      height: 2.6rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.7rem 1.5rem 0rem;
      width: 7.2rem;

      .pelamar-8ho {
        left: 0;
        top: 0.2rem;
        font-weight: 600;
        color: #000000;
        white-space: nowrap;
        width: 7.2rem;
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2.4rem;
      }
      .vector-4LZ {
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
        width: 2.4555rem;
        height: 2.5rem;
        position: absolute;
        left: 4.1rem;
        top: 0;
      }
    }
    .graph-nnM {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      width: 2.4rem;
      height: 2.6rem;
    }
    .statistik-w9T {
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.2rem 1.3rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
    }
    .icon-person-TNh {
      height: 2.6rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.332rem 0.5rem 0rem;
      width: 2.4685rem;
    }
    .profil-saya-BZb {
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant14-X7f {
    box-sizing: border-box;
    height: 6rem;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 1.4rem 3rem 1.5rem 11.5rem;
    width: 82.7rem;
    left: -0.4rem;
    top: 69.1rem;

    .home-page-Bi1 {
      height: 2.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.4rem;
      width: 2.7rem;
    }
    .auto-group-yuxd-KJR {
      flex-shrink: 0;
      margin: 0rem 0.183rem 0.2rem 0rem;
      width: 21.5167rem;
      height: 2.9rem;
      position: relative;

      .icon-play-circle-outline-qXf {
        height: 2.5499rem;
        position: absolute;
        left: 4.3rem;
        top: 0;
        display: flex;
        align-items: flex-end;
        width: 17.2167rem;

        .vector-N1o {
          background-color: rgba(255, 255, 255, 0);
          flex-shrink: 0;
          margin: 0rem 13rem 0.21rem 0rem;
          opacity: 0;
          width: 2.3rem;
          height: 2.3398rem;
        }
        .group-HeZ {
          width: 1.9167rem;
          height: 1.9499rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .daftar-pt-S1f {
        left: 9.5rem;
        top: 0.2rem;
        color: #000000;
        white-space: nowrap;
        width: 8.2rem;
        height: 2.4rem;
        position: absolute;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .vector-YKb {
        height: 2.7rem;
        position: absolute;
        left: 6.5rem;
        top: 0.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
      }
      .home-t8Z {
        position: absolute;
        left: 0;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        width: 5.1rem;
        height: 2.4rem;
        top: 0.2rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .simulasi-Cf3 {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.6rem 0.3rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
    }
    .people-XSR {
      margin: 0.1rem 0.3rem 0rem 0rem;
      width: 2.4rem;
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-aoo7-TL5 {
      margin: 0rem 1.7rem 0.5rem 0rem;
      width: 7.2rem;
      height: 2.6rem;
      position: relative;
      flex-shrink: 0;

      .pelamar-nt9 {
        top: 0.2rem;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.2rem;
        position: absolute;
        left: 0;
        font-size: 1.8rem;
        font-weight: 600;
        height: 2.4rem;
      }
      .vector-iWu {
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
        width: 2.4555rem;
        height: 2.5rem;
        position: absolute;
        left: 4.1rem;
        top: 0;
      }
    }
    .graph-efT {
      margin-bottom: 0.1rem;
      width: 2.4rem;
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .statistik-Psw {
      margin: 0rem 1.2rem 0.3rem 0rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #015442;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .icon-person-L2V {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.5rem 0.332rem 0rem 0rem;
      width: 2.4685rem;
      height: 2.6rem;
    }
    .profil-saya-3hb {
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .property-1variant9-z73 {
    width: 82.7rem;
    height: 6rem;
    position: absolute;
    left: 0;
    top: 87.9rem;
    display: flex;
    box-sizing: border-box;
    padding: 1.2rem 39.5rem 2.4rem 3.8rem;
    align-items: center;

    .pelatihan-online-VJh {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #015442;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 9.3rem;
    }
    .video-wawancara-prm {
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.8rem;
    }
  }
  .property-1variant11-Afj {
    padding: 1.2rem 3.8rem 2.4rem 3.8rem;
    width: 82.7rem;
    height: 6rem;
    position: absolute;
    line-height: 1.3175;
    box-sizing: border-box;
    top: 100rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #015442;
    font-family: Roboto Slab, 'Source Sans Pro';
    white-space: nowrap;
    left: -0.2rem;
  }
  .property-1variant10-r2m {
    height: 6rem;
    position: absolute;
    top: 93.9rem;
    box-sizing: border-box;
    padding: 1.5rem 39.3rem 2.1rem 3.7rem;
    display: flex;
    align-items: center;
    width: 82.7rem;
    left: -0.4rem;

    .pelatihan-online-YwB {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 9.6rem;
    }
    .video-wawancara-H85 {
      font-weight: 600;
      line-height: 1.3175;
      color: #015442;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.8rem;
    }
  }
}
