
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 148rem;
}.header-n-navbar-kJu {
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  row-gap: 2rem;
  align-items: center;
  position: relative;
  display: flex;
  border-radius: 0.5rem;

  .property-1pake-navbar-qbF {
    width: 100%;
    height: 27.2rem;
    flex-shrink: 0;

    .header-n-navbar-variant2-aYq {
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);

      .background-header-jgd {
        flex-direction: column;
        background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 0rem 4.5rem 0.3rem 4.5rem;
        width: 100%;
        height: 100%;
        display: flex;

        .auto-group-ttyx-4U1 {
          margin: 0rem 82.9rem 0.2rem 0rem;
          width: calc(100% - 82.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .auto-group-s1ht-ax9 {
            margin: 0rem 15.1rem 0.3rem 0rem;
            width: 29.8rem;
            height: 12.8rem;
            position: relative;
            flex-shrink: 0;

            .logo-removebg-preview-1-uUd {
              height: 10.9rem;
              cursor: pointer;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 29.8rem;
            }
            .nama-pekerjaan-2p9 {
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              width: 14.5rem;
              left: 0;
              top: 10.4rem;
              color: #000000;
              height: 2.4rem;
              position: absolute;
              font-size: 1.8rem;
            }
          }
          .di-mana-WDX {
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
        .auto-group-9xwh-2hf {
          flex-shrink: 0;
          margin-bottom: 4rem;
          height: 6rem;
          display: flex;
          align-items: center;

          .auto-group-d2cz-y77 {
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 3rem;
            box-sizing: border-box;
            padding: 1rem 1.2rem 1rem 1.8rem;
            height: 100%;
            border-radius: 1rem;

            .nama-pekerjaan-atau-perusahaan-5fw {
              margin-right: 8.4rem;
              display: flex;
              color: #b0aaaa;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
            }
            .icon-search-outline-QCR {
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-wxm7-5pM {
            background-color: #ffffff;
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;
            margin-right: 3.1rem;
            padding: 1rem 0.8rem 1rem 2rem;
            display: flex;
            border-radius: 1rem;

            .nama-kota-atau-provinsi-Cty {
              flex-shrink: 0;
              margin-right: 14.2rem;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              color: #b0aaaa;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.8rem;
            }
            .icon-pin-outline-XRT {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .bottom-dUV {
            display: flex;
            justify-content: center;
            font-weight: 400;
            border-radius: 1.5rem;
            height: 100%;
            color: #ffffff;
            cursor: pointer;
            align-items: center;
            font-size: 2rem;
            line-height: 1.2975;
            white-space: nowrap;
            width: 21rem;
            font-family: Candal, 'Source Sans Pro';
            background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
          }
        }
        .auto-group-tdh3-FVs {
          display: flex;
          border-left: solid 0.1rem #777777;
          border-right: solid 0.1rem #777777;
          margin: 0rem 87.4rem 0rem 1.8rem;
          box-sizing: border-box;
          height: 3.6rem;
          flex-shrink: 0;
          padding: 0.2rem 2.555rem 0.2rem 2.5rem;
          width: calc(100% - 89.2rem);
          align-items: center;

          .semua-jenis-pekerjaan-wdb {
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin: 0rem 0.4rem 0.2rem 0rem;
            font-size: 1.8rem;
            white-space: nowrap;
          }
          .auto-group-1uvz-3wX {
            position: relative;
            flex-shrink: 0;
            margin: 0rem 2.455rem 0.212rem 0rem;
            width: 20.5452rem;
            height: 2.9878rem;

            .line-171-ZQ5 {
              background-color: #777777;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              width: 0rem;
              height: 0.1rem;
              position: absolute;
              left: 5.5rem;
              top: 0;
            }
            .kapan-saja-57X {
              width: 9.6rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.4rem;
              position: absolute;
              left: 8rem;
              top: 0.3rem;
              color: #000000;
            }
            .icon-arrow-ios-downward-Auf {
              vertical-align: top;
              width: 3.5rem;
              height: 2.9878rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
            .icon-arrow-ios-downward-Jky {
              height: 2.9878rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 20.5452rem;
            }
          }
        }
      }
    }
  }
  .property-1tanpa-navbar-Wc9 {
    width: 100%;
    height: 27.2rem;
    flex-shrink: 0;

    .background-header-4Nm {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 4.5rem 0.3rem 4.5rem;

      .auto-group-h9pd-m2H {
        margin: 0rem 82.9rem 0.2rem 0rem;
        width: calc(100% - 82.9rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-pg89-t6u {
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;

          .logo-removebg-preview-1-Qb3 {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
          }
          .nama-pekerjaan-w5B {
            font-family: Roboto Slab, 'Source Sans Pro';
            height: 2.4rem;
            left: 0;
            top: 10.4rem;
            display: flex;
            font-weight: 400;
            white-space: nowrap;
            width: 14.5rem;
            position: absolute;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
          }
        }
        .di-mana-DoP {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .auto-group-tbf7-koK {
        margin-bottom: 4rem;
        height: 6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-v55b-6MP {
          align-items: center;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          margin-right: 3rem;
          padding: 1rem 1.2rem 1rem 1.8rem;
          display: flex;
          border-radius: 1rem;
          box-sizing: border-box;
          height: 100%;
          background-color: #ffffff;

          .nama-pekerjaan-atau-perusahaan-DB7 {
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.3175;
            font-size: 1.8rem;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 29.1rem;
            display: flex;
          }
          .icon-search-outline-XSh {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
          }
        }
        .auto-group-e1jw-RY5 {
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          margin-right: 3.1rem;
          height: 100%;
          align-items: center;
          background-color: #ffffff;
          border-radius: 1rem;

          .nama-kota-atau-provinsi-kaM {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 27.2rem;
            font-weight: 400;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
          }
          .icon-pin-outline-5Mj {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-PdK {
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          cursor: pointer;
          display: flex;
          justify-content: center;
          line-height: 1.2975;
          width: 21rem;
          align-items: center;
          border-radius: 1.5rem;
          font-weight: 400;
          color: #ffffff;
          flex-shrink: 0;
          height: 100%;
          font-size: 2rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
      }
      .auto-group-v5e1-E89 {
        margin-left: 1.8rem;
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0.2rem 22.7rem;
        width: 45.8rem;
        height: 3.6rem;
        flex-shrink: 0;

        .auto-group-2bxw-Lgy {
          width: 100%;
          height: 2.9878rem;
        }
      }
    }
  }
  .property-1hanya-logo-12R {
    width: 100%;
    height: 27.2rem;
    flex-shrink: 0;

    .background-header-xCZ {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 4.5rem 0.3rem 4.5rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);

      .auto-group-n4df-URo {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 51.6rem;
        height: 13.1rem;

        .auto-group-5aru-cY1 {
          margin: 0rem 21.8rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;

          .logo-removebg-preview-1-9H3 {
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
          }
        }
      }
      .auto-group-r7rq-4uo {
        padding-right: 24.1rem;
        width: calc(100% - 23.9rem);
        height: 6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 23.9rem 4rem 0rem;
        box-sizing: border-box;

        .auto-group-wfms-yms {
          width: 42rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 3rem;
        }
        .auto-group-3cbk-vSD {
          width: 42rem;
          height: 100%;
          flex-shrink: 0;
        }
      }
      .auto-group-lfzy-feh {
        padding: 0.2rem 2.555rem 0.2rem 22.7rem;
        width: 45.8rem;
        height: 3.6rem;
        flex-shrink: 0;
        margin-left: 1.8rem;
        box-sizing: border-box;

        .auto-group-snju-yfP {
          width: 100%;
          height: 2.9878rem;
        }
      }
    }
  }
  .property-1ga-pake-navbar-sm-kosongan-TaZ {
    height: 27.2rem;
    flex-shrink: 0;
    width: 100%;

    .background-header-ncq {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(91.68deg, #02d589 0.23%, #1ecbaa 98.17%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 4.5rem 0.3rem 4.5rem;

      .auto-group-icru-WYq {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 82.9rem 0.2rem 0rem;
        width: calc(100% - 82.9rem);
        display: flex;

        .auto-group-klnu-SBb {
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 15.1rem 0.3rem 0rem;

          .logo-removebg-preview-1-ZX7 {
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
          }
          .nama-pekerjaan-tZP {
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;
            left: 0;
            top: 10.4rem;
            font-weight: 400;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            white-space: nowrap;
          }
        }
        .di-mana-nem {
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
        }
      }
      .auto-group-dgwt-Kub {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 4rem;
        height: 6rem;

        .auto-group-zyl5-sgD {
          padding: 1rem 1.2rem 1rem 1.8rem;
          display: flex;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3rem;
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;

          .nama-pekerjaan-atau-perusahaan-QAM {
            display: flex;
            font-weight: 400;
            white-space: nowrap;
            color: rgba(119, 119, 119, 0.5);
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 8.4rem;
            font-size: 1.8rem;
            line-height: 1.3175;
          }
          .icon-search-outline-7qT {
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
        }
        .auto-group-kwqo-EQH {
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 1rem;
          padding: 1rem 0.8rem 1rem 2rem;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 3.1rem;

          .nama-kota-atau-provinsi-MUu {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
            margin-right: 14.2rem;
            line-height: 1.3175;
            color: rgba(119, 119, 119, 0.5);
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icon-pin-outline-sTF {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-naD {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1.5rem;
          flex-shrink: 0;
          height: 100%;
          font-size: 2rem;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          line-height: 1.2975;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 21rem;
          font-weight: 400;
        }
      }
      .auto-group-ebs9-pmo {
        height: 3.6rem;
        flex-shrink: 0;
        margin-left: 1.8rem;
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0.2rem 22.7rem;
        width: 45.8rem;

        .auto-group-ugnu-YC1 {
          width: 100%;
          height: 2.9878rem;
        }
      }
    }
  }
}
