
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 18.8rem;
}.isi-terlebih-dahulu-yff {
  width: 100%;
  height: 30rem;

  .isi-terlebih-dahulu-XBP {
    width: 100%;
    height: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    .isi-terlebih-dahulu-Tqj {
      color: #f91c1c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.5rem 6.3rem 0rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .isi-terlebih-dahulu-ZNy {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #f91c1c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 7rem;
    }
    .isi-terlebih-dahulu-681 {
      font-weight: 600;
      line-height: 1.2125;
      color: #f91c1c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.2rem 6.7rem 0rem;
      font-size: 2rem;
    }
    .isi-terlebih-dahulu-oYD {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #f91c1c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
