
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.9rem;
}.joblist-list-job-variant2-vkh {
  display: flex;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 2.1rem 3.5rem 2rem 3.5rem;
  width: 100%;
  align-items: center;
  border: solid 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(133, 211, 168, 0.1199999973) -0%, #5fbcb8 100%);

  .auto-group-q4am-d9K {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 33.7rem;
    width: 29.5rem;
    height: 12.7rem;
    align-items: center;

    .auto-group-f7yd-Mb7 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 2.1rem;
      width: 100%;
      align-items: center;

      .digital-connectivity-uMj {
        flex-shrink: 0;
        margin: 0rem 1.9rem 1.1rem 0rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.1975;
        color: #000000;
        font-family: Inria Serif, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-ep6q-oCD {
        margin: 0rem 4.4rem 0rem 2.3rem;
        width: calc(100% - 6.7rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-123-vnd {
          height: 0.8rem;
          background-color: #000000;
          border-radius: 0.4rem;
          flex-shrink: 0;
          margin: 0rem 0.2rem 0.1rem 0rem;
          width: 0.8rem;
        }
        .ditayangkan-pada-19-juli-2023-FK7 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .group-42-mYM {
      width: 100%;
      height: 4rem;
      border-radius: 1rem;
      flex-shrink: 0;

      .group-41-vAM {
        width: 100%;
        height: 100%;
        border-radius: 1rem;

        .group-39-t7B {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1rem;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          .group-43-qo7 {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 2.75rem;
            width: 12.35rem;
            height: 100%;
            position: relative;

            .rectangle-706-bGV {
              width: 12.35rem;
              position: absolute;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #fff6f7;
              border-radius: 1rem;
              height: 3.0875rem;
              left: 0;
              top: 0.4875rem;
            }
            .lihat-5xM {
              font-size: 2rem;
              line-height: 1.9675;
              height: 4rem;
              position: absolute;
              left: 4.3875rem;
              top: 0;
              font-weight: 400;
              color: #000000;
              font-family: Gurajada, 'Source Sans Pro';
              white-space: nowrap;
              width: 3.6rem;
            }
          }
          .group-44-ynq {
            border-radius: 1rem;
            flex-shrink: 0;
            width: 14.4rem;
            height: 100%;
            position: relative;

            .rectangle-704-8vd {
              box-sizing: border-box;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #ce2337;
              width: 12.35rem;
              height: 3.0875rem;
              left: 0;
              border: solid 0.1rem #390d0d;
              position: absolute;
              top: 0.5rem;
              border-radius: 1rem;
            }
            .matikan-dcV {
              white-space: nowrap;
              height: 4rem;
              position: absolute;
              top: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.9675;
              color: #ffffff;
              width: 5.7rem;
              left: 3.7rem;
              font-family: Gurajada, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .auto-group-qi2d-gam {
    width: 8.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1.4rem 4rem 0rem 0rem;

    .rectangle-710-ovH {
      margin-bottom: 0.6rem;
      width: 100%;
      height: 8.2rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(217, 217, 217, 0.6899999976);
      flex-shrink: 0;
    }
    .apply-K7w {
      color: #000000;
      font-family: Jockey One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 0.8rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }
  .rectangle-707-F1b {
    height: 8.2rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.6899999976);
    flex-shrink: 0;
    margin: 0rem 4.3rem 1.3rem 0rem;
    width: 8.6rem;
  }
  .rectangle-708-jhT {
    margin: 0rem 4rem 1.3rem 0rem;
    width: 8.6rem;
    height: 8.2rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.6899999976);
    flex-shrink: 0;
  }
  .rectangle-709-dXw {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: rgba(217, 217, 217, 0.6899999976);
    flex-shrink: 0;
    margin-bottom: 1.3rem;
    width: 8.6rem;
    height: 8.2rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
    box-sizing: border-box;
  }
}
