
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.2rem;
}.kapan-saja-8YR {
  row-gap: 2rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  position: relative;
  display: flex;

  .property-1default-bwo {
    flex-shrink: 0;
    margin-left: 0.4rem;
    width: 45.8rem;
    height: 20.5rem;
    display: flex;
    align-items: flex-start;

    .auto-group-mfpu-79T {
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      height: 100%;
      display: flex;
      font-weight: 400;
      border-left: solid 0.1rem #777777;
      box-sizing: border-box;
      padding: 0.5rem 0.4rem 0.5rem 2.4rem;
      font-size: 1.8rem;
    }
    .auto-group-t8y9-ZXF {
      margin-right: 0.5rem;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-tzam-Jjj {
        width: 20.5452rem;
        height: 3.4rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 2.155rem 1.8rem 0rem;

        .line-261-cVX {
          width: 0.1rem;
          height: 3.4rem;
          position: absolute;
          left: 5.6rem;
          top: 0;
          background-color: #777777;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .kapan-saja-XMb {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.4rem;
          top: 0.5rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-weight: 600;
          color: #000000;
          width: 9.7rem;
          position: absolute;
          left: 8.4rem;
          display: flex;
        }
        .icon-arrow-ios-downward-dQd {
          width: 20.5452rem;
          height: 2.9878rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-jk6q-985 {
        box-sizing: border-box;
        padding: 1.15rem 1.5rem 0.85rem 1.3rem;
        align-items: center;
        flex-direction: column;
        border-radius: 0.5rem;
        width: 16.5rem;
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #96d1c5;
        flex-shrink: 0;

        .kapan-saja-3z9 {
          line-height: 1.3175;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 600;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 3.8rem 0.9rem 0rem;
        }
        .line-256-Mzq {
          flex-shrink: 0;
          margin: 0rem 0rem 0.25rem 0.1rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .jam-terakhir-fkd {
          font-family: Roboto Slab, 'Source Sans Pro';
          display: flex;
          font-size: 1.8rem;
          font-weight: 300;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.7rem 0rem;
          line-height: 1.3175;
          color: #000000;
        }
        .line-268-z2D {
          margin: 0rem 0rem 0.55rem 0.1rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
        }
        .hari-terakhir-tNV {
          margin: 0rem 1.4rem 0.6rem 0rem;
          display: flex;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 300;
          line-height: 1.3175;
        }
        .line-259-i6d {
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.55rem 0rem;
          width: 13.6rem;
        }
        .hari-terakhir-27K {
          margin-right: 0.4rem;
          line-height: 1.3175;
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
          font-weight: 300;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .line-262-W2V {
      flex-shrink: 0;
      width: 0.1rem;
      height: 3.4rem;
      background-color: #777777;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
  }
  .property-1variant2-Rv9 {
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 0.4rem;
    width: 45.8rem;
    height: 20.5rem;
    display: flex;

    .auto-group-63ez-A73 {
      font-weight: 400;
      line-height: 1.3175;
      box-sizing: border-box;
      padding: 0.5rem 0.4rem 0.5rem 2.4rem;
      display: flex;
      font-size: 1.8rem;
      border-left: solid 0.1rem #777777;
      flex-shrink: 0;
      height: 100%;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-pwch-dmK {
      margin-right: 0.5rem;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-yksj-Nyo {
        height: 3.4rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 2.155rem 1.8rem 0rem;
        width: 20.5452rem;

        .line-261-uTw {
          position: absolute;
          left: 5.6rem;
          top: 0;
          background-color: #777777;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 0.1rem;
          height: 3.4rem;
        }
        .kapan-saja-q6h {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 8.4rem;
          top: 0.5rem;
          display: flex;
          font-size: 1.8rem;
          color: #000000;
          width: 9.7rem;
          height: 2.4rem;
          font-weight: 600;
          line-height: 1.3175;
        }
        .icon-arrow-ios-downward-jhs {
          position: absolute;
          left: 0;
          top: 0.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 20.5452rem;
          height: 2.9878rem;
        }
      }
      .auto-group-vsht-epq {
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        padding: 1.15rem 1.5rem 0.85rem 1.3rem;
        width: 16.5rem;
        display: flex;
        background-color: #96d1c5;
        border-radius: 0.5rem;
        box-sizing: border-box;
        align-items: center;

        .kapan-saja-Mz9 {
          color: #000000;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.1rem 0.9rem 0rem;
          font-weight: 300;
        }
        .line-256-GbK {
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin: 0rem 0rem 0.25rem 0.1rem;
        }
        .jam-terakhir-BCV {
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          margin: 0rem 0rem 0.7rem 0.1rem;
          display: flex;
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-268-J2D {
          margin: 0rem 0rem 0.55rem 0.1rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
        }
        .hari-terakhir-1hK {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 300;
          margin: 0rem 1.4rem 0.6rem 0rem;
        }
        .line-259-YBT {
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.55rem 0rem;
        }
        .hari-terakhir-rhw {
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 0.4rem;
          display: flex;
          color: #000000;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 300;
        }
      }
    }
    .line-262-xFB {
      height: 3.4rem;
      background-color: #777777;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      width: 0.1rem;
    }
  }
  .property-1variant3-gws {
    margin-right: 0.4rem;
    width: 45.8rem;
    height: 20.5rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-dfhb-dMK {
      color: #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      border-left: solid 0.1rem #777777;
      padding: 0.5rem 0.4rem 0.5rem 2.4rem;
      height: 100%;
      font-weight: 400;
    }
    .auto-group-euvy-vrD {
      margin-right: 0.5rem;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-6plm-rzm {
        height: 3.4rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 2.155rem 1.8rem 0rem;
        width: 20.5452rem;

        .line-261-uy3 {
          background-color: #777777;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 0.1rem;
          height: 3.4rem;
          position: absolute;
          left: 5.6rem;
          top: 0;
        }
        .kapan-saja-EkR {
          left: 8.4rem;
          display: flex;
          font-size: 1.8rem;
          white-space: nowrap;
          width: 9.7rem;
          position: absolute;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          height: 2.4rem;
          top: 0.5rem;
        }
        .icon-arrow-ios-downward-YWD {
          height: 2.9878rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 20.5452rem;
        }
      }
      .auto-group-ihbw-sYV {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.15rem 1.5rem 0.85rem 1.3rem;
        width: 16.5rem;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #96d1c5;

        .kapan-saja-zND {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.1rem 0.9rem 0rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 300;
        }
        .line-256-hnR {
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin: 0rem 0rem 0.25rem 0.1rem;
          width: 13.6rem;
        }
        .jam-terakhir-Qwj {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.7rem 0rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 300;
          white-space: nowrap;
        }
        .line-268-8Mw {
          margin: 0rem 0rem 0.55rem 0.1rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
        }
        .hari-terakhir-3jo {
          display: flex;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 1.1rem 0.6rem 0rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          flex-shrink: 0;
        }
        .line-259-y7f {
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.55rem 0rem;
          width: 13.6rem;
        }
        .hari-terakhir-tkR {
          font-weight: 300;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          display: flex;
          color: #000000;
          margin-right: 0.4rem;
        }
      }
    }
    .line-262-PSH {
      width: 0.1rem;
      height: 3.4rem;
      background-color: #777777;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
    }
  }
  .property-1variant4-XHb {
    height: 20.5rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 0.4rem;
    width: 45.8rem;

    .auto-group-kgnd-4HX {
      line-height: 1.3175;
      color: #000000;
      white-space: nowrap;
      box-sizing: border-box;
      font-size: 1.8rem;
      display: flex;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      border-left: solid 0.1rem #777777;
      flex-shrink: 0;
      padding: 0.5rem 0.4rem 0.5rem 2.4rem;
      height: 100%;
    }
    .auto-group-vvwd-kRF {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.5rem;
      height: 100%;

      .auto-group-byzh-HAH {
        margin: 0rem 2.155rem 1.8rem 0rem;
        width: 20.5452rem;
        height: 3.4rem;
        position: relative;
        flex-shrink: 0;

        .line-261-Pz1 {
          width: 0.1rem;
          height: 3.4rem;
          position: absolute;
          left: 5.6rem;
          top: 0;
          background-color: #777777;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .kapan-saja-Jr5 {
          display: flex;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 8.4rem;
          align-items: baseline;
          top: 0.5rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 9.7rem;
          height: 2.4rem;

          .kapan-saja-Jr5-sub-0 {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .kapan-saja-Jr5-sub-1 {
          }
        }
        .icon-arrow-ios-downward-cVP {
          width: 20.5452rem;
          height: 2.9878rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-sk2y-8Cq {
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.15rem 1.5rem 0.85rem 1.3rem;
        width: 16.5rem;
        align-items: center;
        flex-direction: column;
        background-color: #96d1c5;

        .kapan-saja-dvH {
          margin: 0rem 4.1rem 0.9rem 0rem;
          display: flex;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 300;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .line-256-ZJ9 {
          margin: 0rem 0rem 0.25rem 0.1rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
        }
        .jam-terakhir-5GV {
          margin: 0rem 0.1rem 0.7rem 0rem;
          font-weight: 300;
          line-height: 1.3175;
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .line-268-nwb {
          margin: 0rem 0rem 0.55rem 0.1rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
        }
        .hari-terakhir-KAq {
          display: flex;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 1.4rem 0.6rem 0rem;
          font-size: 1.8rem;
          font-weight: 300;
          color: #000000;
          flex-shrink: 0;
        }
        .line-259-SmF {
          margin: 0rem 0.1rem 0.55rem 0rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
        }
        .hari-terakhir-Zay {
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-weight: 600;
          color: #000000;
        }
      }
    }
    .line-262-4Xj {
      width: 0.1rem;
      height: 3.4rem;
      background-color: #777777;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
    }
  }
  .property-1variant5-Q5o {
    flex-shrink: 0;
    margin-left: 0.4rem;
    width: 45.8rem;
    height: 20.5rem;
    display: flex;
    align-items: flex-start;

    .auto-group-a4nv-KyT {
      box-sizing: border-box;
      height: 100%;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      padding: 0.5rem 0.4rem 0.5rem 2.4rem;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      border-left: solid 0.1rem #777777;
      flex-shrink: 0;
    }
    .auto-group-zigh-E4q {
      flex-shrink: 0;
      margin-right: 0.5rem;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .auto-group-engz-n6M {
        margin: 0rem 2.155rem 1.8rem 0rem;
        width: 20.5452rem;
        height: 3.4rem;
        position: relative;
        flex-shrink: 0;

        .line-261-W2M {
          top: 0;
          background-color: #777777;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 0.1rem;
          height: 3.4rem;
          position: absolute;
          left: 5.6rem;
        }
        .kapan-saja-Rf7 {
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 9.7rem;
          position: absolute;
          left: 8.4rem;
          top: 0.5rem;
          display: flex;
          line-height: 1.3175;
          color: #000000;
          height: 2.4rem;
          font-size: 1.8rem;
          font-weight: 600;
          white-space: nowrap;
        }
        .icon-arrow-ios-downward-wNZ {
          width: 20.5452rem;
          height: 2.9878rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-buwh-fpM {
        display: flex;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        box-sizing: border-box;
        width: 16.5rem;
        align-items: center;
        border-radius: 0.5rem;
        padding: 1.15rem 1.5rem 0.85rem 1.3rem;
        flex-direction: column;
        background-color: #96d1c5;

        .kapan-saja-awK {
          margin: 0rem 3.9rem 0.9rem 0rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          font-weight: 400;
        }
        .line-256-6uf {
          flex-shrink: 0;
          margin: 0rem 0rem 0.25rem 0.1rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .jam-terakhir-cND {
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          margin: 0rem 0.1rem 0.7rem 0rem;
          cursor: pointer;
          font-weight: 300;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .line-268-KXX {
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          margin: 0rem 0rem 0.55rem 0.1rem;
          width: 13.6rem;
        }
        .hari-terakhir-EeV {
          flex-shrink: 0;
          margin: 0rem 1.4rem 0.6rem 0rem;
          display: flex;
          line-height: 1.3175;
          white-space: nowrap;
          font-family: Roboto Slab, 'Source Sans Pro';
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 300;
          color: #000000;
        }
        .line-259-xKb {
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.55rem 0rem;
          width: 13.6rem;
          height: 0.05rem;
          background-color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .hari-terakhir-Gr5 {
          font-weight: 300;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          color: #000000;
          margin-right: 0.4rem;
          cursor: pointer;
        }
      }
    }
    .line-262-ZKP {
      flex-shrink: 0;
      width: 0.1rem;
      height: 3.4rem;
      background-color: #777777;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
  }
}
