
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 58.9rem;
}.lowongan-lamaran-9Lm {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  row-gap: 2rem;
  align-items: center;

  .property-1default-Feh {
    width: 100%;
    height: 34.8rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-687-aS5 {
      width: 54.9rem;
      top: 0.7rem;
      border: solid 0.2rem #01d589;
      background-color: #ecf5e5;
      border-radius: 2.5rem;
      height: 34.8rem;
      position: absolute;
      left: 0;
      box-sizing: border-box;
    }
    .rectangle-688-gED {
      cursor: pointer;
      position: absolute;
      left: 39.7rem;
      box-sizing: border-box;
      width: 12.4rem;
      height: 4rem;
      top: 28.3rem;
      border: solid 0.1rem #015442;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #ffffff;
      border-radius: 2rem;
    }
    .emoji-briefcase-9tV {
      height: 2rem;
      position: absolute;
      left: 3rem;
      top: 18rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.3636rem;
    }
    .simpan-5XF {
      font-family: Candal, 'Source Sans Pro';
      width: 6.5rem;
      height: 2rem;
      position: absolute;
      left: 44rem;
      font-size: 1.5rem;
      white-space: nowrap;
      top: 29.25rem;
      display: flex;
      font-weight: 400;
      line-height: 1.2975;
      color: #015442;
    }
    .admin-administrasi-P29 {
      font-size: 2rem;
      color: #000000;
      height: 2.7rem;
      position: absolute;
      left: 3rem;
      display: flex;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 19.4rem;
      top: 2.6rem;
      font-weight: 700;
      line-height: 1.3175;
    }
    .pt-perdana-semesta-gemilang-logistik-5ff {
      position: absolute;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 39.4rem;
      height: 2.4rem;
      font-weight: 400;
      color: #000000;
      left: 12.7rem;
      top: 6.4rem;
    }
    .dupak-surabaya-jawa-timur-yW9 {
      position: absolute;
      left: 12.7rem;
      top: 9.3rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      width: 25.4rem;
      height: 2.4rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.3175;
      color: #000000;
    }
    .hari-yang-lalu-20-pelamar-gQZ {
      position: absolute;
      left: 3.2rem;
      top: 14rem;
      display: flex;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 20.4rem;
      height: 2rem;
      line-height: 1.3175;
      color: #534e4e;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .sekitar-rp-4-5-juta-bulan-zAM {
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      height: 2rem;
      top: 18rem;
      left: 7.3rem;
      display: flex;
      font-size: 1.5rem;
      color: #000000;
      white-space: nowrap;
      width: 18.4rem;
      position: absolute;
    }
    .capture-removebg-preview-4-VN1 {
      position: absolute;
      left: 1.9rem;
      top: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 10.8rem;
      height: 6.9rem;
    }
    .administrasi-merupakan-suatu-proses-penyelenggaraan-bersama-atau-proses-kerja-sama-antara-sekelompok-orang-secara--cSd {
      position: absolute;
      display: flex;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 46.3rem;
      height: 4rem;
      left: 2.7rem;
      top: 22.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #000000;
    }
    .icon-bookmark-outline-UUq {
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 42rem;
      top: 29.3rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .property-1variant2-zi5 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.6rem 2.7rem 2.5rem 2.7rem;
    width: 100%;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #01d589;
    background-color: #ecf5e5;

    .administrasi-logistik-hsP {
      margin: 0rem 0rem 1.1rem 0.3rem;
      display: flex;
      font-size: 2rem;
      color: #000000;
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-agxy-17P {
      flex-shrink: 0;
      margin: 0rem 11.3rem 2.1rem 0.3rem;
      width: calc(100% - 11.6rem);
      height: 5.3rem;
      display: flex;
      align-items: center;

      .capture1-removebg-preview-1-X5j {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 0.7rem 0rem 0rem;
        width: 9rem;
        height: 4.2rem;
      }
      .auto-group-3nad-2YH {
        width: 28.2rem;
        height: 100%;
        flex-shrink: 0;

        .pt-ikon-surabaya-farmamart-yiR {
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.5rem;
          display: flex;
          font-size: 1.8rem;
        }
        .auto-group-svnd-heR {
          width: 100%;
          height: 2.4rem;
          position: relative;

          .kalijudan-surabaya-jawa-timur-3yB {
            font-weight: 400;
            color: #000000;
            height: 2.4rem;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            width: 28.2rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
          .kalijudan-surabaya-jawa-timur-m8V {
            white-space: nowrap;
            height: 2.4rem;
            position: absolute;
            display: flex;
            line-height: 1.3175;
            font-weight: 400;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            width: 28.2rem;
            left: 0;
            top: 0;
            font-size: 1.8rem;
          }
        }
      }
    }
    .hari-yang-lalu-22-pelamar-fjf {
      color: #534e4e;
      white-space: nowrap;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0rem 2.2rem 0.5rem;
      display: flex;
      font-size: 1.5rem;
    }
    .auto-group-y1jh-MMb {
      width: calc(100% - 26.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 26.5rem 2.3rem 0.3rem;

      .emoji-briefcase-gPs {
        margin-right: 1.9364rem;
        width: 2.3636rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .sekitar-rp-3-4-juta-bulan-bWq {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
      }
    }
    .pt-ikon-surabaya-farmamart-merupakan-perusahaan-yang-bergerak-dibidang-pedagang-besar-farmasi-consumer--vJD {
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2rem;
      max-width: 49.5rem;
      display: flex;
      font-size: 1.5rem;
      line-height: 1.3175;
      color: #000000;
    }
    .auto-group-dwhj-Bjw {
      border-radius: 2rem;
      flex-shrink: 0;
      padding: 0.95rem 1.6rem 1rem 2.3rem;
      width: calc(100% - 37.1rem);
      display: flex;
      align-items: center;
      border: solid 0.1rem #015442;
      background-color: #ffffff;
      margin: 0rem 0.1rem 0rem 37rem;
      box-sizing: border-box;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));

      .icon-bookmark-outline-gwb {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.05rem;
      }
      .simpan-DwX {
        font-size: 1.5rem;
        color: #015442;
        font-family: Candal, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.05rem;
        display: flex;
        font-weight: 400;
        line-height: 1.2975;
        white-space: nowrap;
      }
    }
  }
  .property-1variant3-4SM {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #01d589;
    box-sizing: border-box;
    padding: 2.6rem 2.8rem 2.5rem 2.7rem;
    background-color: #ecf5e5;
    border-radius: 2.5rem;
    flex-shrink: 0;

    .admin-stock-ypD {
      display: flex;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.1rem 0.3rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.3175;
    }
    .auto-group-mevf-twB {
      flex-shrink: 0;
      margin: 0rem 11.5rem 2.1rem 0.3rem;
      width: calc(100% - 11.8rem);
      height: 5.3rem;
      display: flex;
      align-items: center;

      .capture3-removebg-preview-9-p49 {
        margin: 0.5rem 1.8rem 0rem 0rem;
        width: 7.9rem;
        height: 2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-faed-XUM {
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .cv-berlian-retail-gMF {
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          display: flex;
          font-size: 1.8rem;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.3175;
        }
        .ketabang-surabaya-jawa-timur-Qo3 {
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .hari-yang-lalu-23-pelamar-Y8Z {
      margin: 0rem 0rem 2.2rem 0.5rem;
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      color: #534e4e;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.5rem;
      white-space: nowrap;
    }
    .auto-group-2hyj-3LD {
      width: calc(100% - 26.7rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 26.4rem 2.4rem 0.3rem;

      .emoji-briefcase-mX7 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9364rem;
        width: 2.3636rem;
        height: 2rem;
        object-fit: contain;
      }
      .sekitar-rp-4-5-juta-bulan-Vxu {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
      }
    }
    .cv-berlian-retail-bergerak-di-bidang-fb-menu-yang-kami-sajikan-sangat-beragam-mulai-dari-traditional-food--qG5 {
      line-height: 1.3175;
      color: #000000;
      flex-shrink: 0;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      margin-bottom: 1.9rem;
      max-width: 47.4rem;
      display: flex;
      font-size: 1.5rem;
    }
    .auto-group-bqa9-JvM {
      width: calc(100% - 37rem);
      display: flex;
      border: solid 0.1rem #015442;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      flex-shrink: 0;
      margin-left: 37rem;
      box-sizing: border-box;
      padding: 0.95rem 1.6rem 1rem 2.3rem;
      align-items: center;
      background-color: #ffffff;
      border-radius: 2rem;

      .icon-bookmark-outline-2bT {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.05rem;
        width: 2rem;
        height: 2rem;
      }
      .simpan-xzu {
        margin-bottom: 0.05rem;
        display: flex;
        font-weight: 400;
        line-height: 1.2975;
        color: #015442;
        font-size: 1.5rem;
        font-family: Candal, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .property-1variant4-zgh {
    width: 100%;
    display: flex;
    border: solid 0.1rem #01d589;
    border-radius: 2.5rem;
    box-sizing: border-box;
    padding: 2.3rem 2.8rem 2.5rem 2.7rem;
    flex-direction: column;
    background-color: #ecf5e5;
    flex-shrink: 0;

    .staff-admin-W9F {
      font-size: 2rem;
      line-height: 1.3175;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 0.6rem 0.3rem;
      display: flex;
      font-weight: 700;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .auto-group-wycy-ou3 {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 10.4rem 2.1rem 2rem;
      width: calc(100% - 12.4rem);
      display: flex;

      .capture2-removebg-preview-4-wEZ {
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 5.2rem;
        height: 6.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-h5cu-sP7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .pt-kemilau-cahaya-inspirasi-RvR {
          display: flex;
          font-size: 1.8rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          margin-bottom: 0.5rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .bulak-surabaya-jawa-timur-kC1 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
      }
    }
    .hari-yang-lalu-25-pelamar-fpm {
      font-weight: 400;
      color: #534e4e;
      flex-shrink: 0;
      margin: 0rem 0rem 2.2rem 0.5rem;
      display: flex;
      font-size: 1.5rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-ablm-AWd {
      margin: 0rem 26.4rem 1.9rem 0.3rem;
      width: calc(100% - 26.7rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .emoji-briefcase-69P {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9364rem;
        width: 2.3636rem;
        height: 2rem;
      }
      .sekitar-rp-3-5-juta-bulan-RSZ {
        flex-shrink: 0;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .melakukan-aktivitas-pembukuan-dasar-merencanakan-dan-mengatur-jalannya-rapat-atau-konferensi-menulis-dan--kUq {
      display: flex;
      font-size: 1.5rem;
      line-height: 1.3175;
      color: #000000;
      margin-bottom: 2.4rem;
      max-width: 42.5rem;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-bkn9-doX {
      margin-left: 37rem;
      padding: 0.95rem 1.6rem 1rem 2.3rem;
      display: flex;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #ffffff;
      box-sizing: border-box;
      width: calc(100% - 37rem);
      align-items: center;
      border: solid 0.1rem #015442;
      border-radius: 2rem;
      flex-shrink: 0;

      .icon-bookmark-outline-xL1 {
        margin-top: 0.05rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .simpan-Up9 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.05rem;
        display: flex;
        line-height: 1.2975;
        font-family: Candal, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        color: #015442;
      }
    }
  }
  .property-1tersimpan-vw3 {
    width: 100%;
    height: 34.8rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-687-s5b {
      background-color: #ecf5e5;
      height: 34.8rem;
      position: absolute;
      left: 0;
      top: 0.7rem;
      box-sizing: border-box;
      width: 54.9rem;
      border: solid 0.2rem #01d589;
      border-radius: 2.5rem;
    }
    .rectangle-688-5xM {
      position: absolute;
      left: 38.6rem;
      top: 28.3rem;
      border: solid 0.2rem #015442;
      box-sizing: border-box;
      border-radius: 2rem;
      width: 13.5rem;
      height: 4rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #b0aaaa;
    }
    .emoji-briefcase-Aiu {
      width: 2.3636rem;
      height: 2rem;
      position: absolute;
      left: 3rem;
      top: 18rem;
      object-fit: contain;
      vertical-align: top;
    }
    .tersimpan-6cZ {
      display: flex;
      font-size: 1.5rem;
      line-height: 1.2975;
      font-family: Candal, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.7rem;
      position: absolute;
      top: 29.35rem;
      color: #015442;
      height: 2rem;
      left: 42.4rem;
      font-weight: 400;
    }
    .admin-administrasi-1Ud {
      left: 3rem;
      display: flex;
      color: #000000;
      height: 2.7rem;
      position: absolute;
      top: 2.6rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 19.4rem;
    }
    .pt-perdana-semesta-gemilang-logistik-idw {
      height: 2.4rem;
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      white-space: nowrap;
      width: 39.4rem;
      position: absolute;
      left: 12.7rem;
      top: 6.4rem;
      font-size: 1.8rem;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .dupak-surabaya-jawa-timur-E6V {
      line-height: 1.3175;
      left: 12.7rem;
      display: flex;
      font-weight: 400;
      top: 9.3rem;
      font-size: 1.8rem;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 25.4rem;
      height: 2.4rem;
      position: absolute;
    }
    .hari-yang-lalu-20-pelamar-YN5 {
      top: 13.8rem;
      display: flex;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #534e4e;
      width: 20.4rem;
      position: absolute;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      left: 3.2rem;
    }
    .sekitar-rp-4-5-juta-bulan-4bK {
      left: 7.3rem;
      display: flex;
      font-weight: 400;
      white-space: nowrap;
      width: 18.4rem;
      height: 2rem;
      position: absolute;
      top: 18rem;
      font-size: 1.5rem;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .capture-removebg-preview-4-yiH {
      vertical-align: top;
      width: 10.8rem;
      height: 6.9rem;
      position: absolute;
      left: 1.9rem;
      top: 5.4rem;
      object-fit: cover;
    }
    .administrasi-merupakan-suatu-proses-penyelenggaraan-bersama-atau-proses-kerja-sama-antara-sekelompok-orang-secara--huB {
      width: 46.3rem;
      position: absolute;
      top: 21.9rem;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      height: 4rem;
      left: 2.7rem;
      display: flex;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .vector-y61 {
      opacity: 0;
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 42rem;
      top: 29.3rem;
      background-color: rgba(255, 255, 255, 0);
    }
    .icon-bookmark-uEZ {
      height: 2rem;
      position: absolute;
      left: 40.2rem;
      top: 29.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
  }
}
