
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 31rem;
}.masuk-zQq {
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  row-gap: 2rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;

  .property-1original-T3X {
    width: 100%;
    height: 52.6rem;
    flex-shrink: 0;

    .auto-group-wrld-AyX {
      width: 100%;
      height: 53.5rem;
      position: relative;

      .rectangle-625-Gmf {
        border-radius: 2rem;
        width: 12.6rem;
        height: 7rem;
        position: absolute;
        left: 12rem;
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
      }
      .rectangle-624-kRw {
        height: 48.8rem;
        position: absolute;
        left: 0;
        top: 4.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 27rem;
      }
      .masuk-4hX {
        position: absolute;
        left: 15.5rem;
        text-align: center;
        white-space: nowrap;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 5.9rem;
        height: 2.4rem;
        top: 1.4rem;
        font-size: 1.8rem;
        font-weight: 400;
      }
      .subtract-xH7 {
        position: absolute;
        left: 1.5rem;
        top: 14.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
      }
      .subtract-V29 {
        left: 1.5rem;
        top: 19.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--csT {
        font-size: 1.2rem;
        line-height: 1.3188476562;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 22rem;
        height: 3.2rem;
        display: flex;
        font-weight: 600;
        color: #000000;
        position: absolute;
        left: 1.5rem;
        top: 40.2rem;

        .belum-punya-akun-jobstreet-express-daftar-dengan--csT-sub-0 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .belum-punya-akun-jobstreet-express-daftar-dengan--csT-sub-1 {
          font-weight: 600;
          line-height: 1.3175;
          color: #015442;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.2rem;
        }
      }
      .facebook-vv5 {
        position: absolute;
        left: 5.5rem;
        top: 48.4rem;
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: -0.011rem;
        height: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        color: #000000;
        line-height: 2.4;
        width: 4.6rem;
      }
      .google-EA5 {
        color: #000000;
        position: absolute;
        top: 48.4rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 2.4;
        letter-spacing: -0.011rem;
        width: 3.3rem;
        height: 2.4rem;
        left: 16.9rem;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .masuk-vYh {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
        height: 2.2rem;
        left: 11rem;
        top: 27.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.8rem;
        position: absolute;
        color: #ffffff;
      }
      .icon-email-outline-SX3 {
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.5rem;
        top: 15.3rem;
        object-fit: contain;
      }
      .icon-lock-outline-9RT {
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.2rem;
        top: 20.7rem;
        object-fit: contain;
      }
      .logo-removebg-preview-2-GFB {
        vertical-align: top;
        width: 19.3rem;
        height: 6.8rem;
        position: absolute;
        left: 3.8rem;
        top: 6.4rem;
        object-fit: cover;
      }
      .ketik-email-anda-yfP {
        top: 15.35rem;
        white-space: nowrap;
        width: 12.4rem;
        height: 2rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.3175;
        color: rgba(119, 119, 119, 0.5);
        font-family: Roboto Slab, 'Source Sans Pro';
        left: 3.1rem;
        display: flex;
        font-size: 1.5rem;
      }
      .masukkan-kata-sandi-t1f {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        width: 15.5rem;
        height: 2rem;
        left: 3.1rem;
        font-size: 1.5rem;
        line-height: 1.3175;
        position: absolute;
        top: 20.55rem;
        display: flex;
        font-weight: 400;
        color: rgba(119, 119, 119, 0.5);
      }
      .logofacebook-removebg-preview-1-ncq {
        height: 5.6rem;
        position: absolute;
        left: 5.1rem;
        top: 43.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 5.3rem;
      }
      .ellipse-122-uxM {
        width: 4.1rem;
        height: 4.1rem;
        position: absolute;
        left: 16.5rem;
        top: 44.3rem;
        background-color: #d9d9d9;
        border-radius: 2.05rem;
      }
      .logogoogle-removebg-preview-1-32y {
        object-fit: cover;
        vertical-align: top;
        width: 2.5rem;
        height: 2.625rem;
        position: absolute;
        left: 17.3rem;
        top: 45.1rem;
      }
      .button-masuk-email-ZGD {
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.6rem;
        top: 26.3rem;
        width: 24rem;

        .button-tJV {
          height: 100%;
          font-weight: 400;
          color: #ffffff;
          font-family: Candal, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          width: 100%;
          line-height: 1.2975;
          white-space: nowrap;
          display: flex;
          background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
          font-size: 1.8rem;
        }
      }
      .button-masuk-email-Z9j {
        left: 1.5rem;
        top: 31.5rem;
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;

        .button-VZB {
          align-items: center;
          border: solid 0.1rem #015442;
          font-family: Candal, 'Source Sans Pro';
          display: flex;
          box-sizing: border-box;
          background-color: #ffffff;
          height: 100%;
          font-size: 1.8rem;
          font-weight: 400;
          color: #015442;
          border-radius: 1rem;
          width: 100%;
          line-height: 1.2975;
          white-space: nowrap;
          justify-content: center;
        }
      }
    }
  }
  .property-1masuk-benar-mFo {
    height: 52.6rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .subtract-hQM {
      width: 0;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 562.1rem;
    }
    .auto-group-uki9-oiH {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 53.4rem;

      .rectangle-625-vnu {
        position: absolute;
        left: 12rem;
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
        border-radius: 2rem;
        width: 12.6rem;
        height: 7rem;
      }
      .rectangle-624-25F {
        left: 0;
        top: 4.6rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 27rem;
        height: 48.8rem;
        position: absolute;
      }
      .masuk-8e5 {
        height: 2.4rem;
        position: absolute;
        top: 1.1rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.9rem;
        left: 15.4rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        color: #000000;
      }
      .subtract-e6d {
        height: 4.3rem;
        position: absolute;
        left: 1.5rem;
        top: 14.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
      }
      .subtract-mww {
        left: 1.5rem;
        top: 19.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--KTf {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 22rem;
        height: 3.2rem;
        display: flex;
        font-weight: 600;
        line-height: 1.3188476562;
        position: absolute;
        left: 1.5rem;
        top: 40.2rem;
        font-size: 1.2rem;

        .belum-punya-akun-jobstreet-express-daftar-dengan--KTf-sub-0 {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
        }
        .belum-punya-akun-jobstreet-express-daftar-dengan--KTf-sub-1 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .facebook-MBP {
        white-space: nowrap;
        width: 4.6rem;
        position: absolute;
        font-weight: 300;
        line-height: 2.4;
        letter-spacing: -0.011rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.4rem;
        left: 5.5rem;
        top: 48.4rem;
        display: flex;
        font-size: 1rem;
      }
      .google-FnZ {
        display: flex;
        font-size: 1rem;
        line-height: 2.4;
        letter-spacing: -0.011rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 3.3rem;
        position: absolute;
        top: 48.4rem;
        font-weight: 300;
        white-space: nowrap;
        height: 2.4rem;
        left: 16.9rem;
      }
      .icon-email-outline-ZYM {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.5rem;
        top: 15.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-lock-outline-HUM {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.2rem;
        top: 20.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .logo-removebg-preview-2-2B3 {
        top: 6.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 19.3rem;
        height: 6.8rem;
        position: absolute;
        left: 3.8rem;
      }
      .ratnafirdausgmailcom-jr9 {
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        left: 2.6rem;
        top: 15.15rem;
        font-size: 1.5rem;
        white-space: nowrap;
        width: 17.6rem;
        display: flex;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
      }
      .item--FJh {
        width: 3.8rem;
        height: 2rem;
        font-weight: 600;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 3.1rem;
        top: 20.45rem;
        display: flex;
        font-size: 1.5rem;
        line-height: 1.3175;
      }
      .logofacebook-removebg-preview-1-xD7 {
        vertical-align: top;
        width: 5.3rem;
        height: 5.6rem;
        position: absolute;
        left: 5.1rem;
        top: 43.6rem;
        object-fit: cover;
      }
      .ellipse-122-UBT {
        background-color: #d9d9d9;
        border-radius: 2.05rem;
        width: 4.1rem;
        height: 4.1rem;
        position: absolute;
        left: 16.5rem;
        top: 44.3rem;
      }
      .logogoogle-removebg-preview-1-zfb {
        height: 2.625rem;
        position: absolute;
        left: 17.3rem;
        top: 45.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.5rem;
      }
      .button-masuk-email-817 {
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.5rem;
        top: 26.1rem;

        .button-rho {
          background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
          width: 100%;
          height: 100%;
          font-weight: 400;
          line-height: 1.2975;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          font-size: 1.8rem;
          font-family: Candal, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          border-radius: 1rem;
        }
      }
      .button-masuk-email-8fK {
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.5rem;
        top: 31.3rem;

        .button-f9T {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 1.2975;
          font-family: Candal, 'Source Sans Pro';
          justify-content: center;
          border: solid 0.1rem #015442;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 100%;
          white-space: nowrap;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          color: #015442;
          height: 100%;
        }
      }
    }
  }
  .property-1masuk-salah-XhT {
    width: 100%;
    height: 52.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-625-SpR {
      background-color: #ffffff;
      border-radius: 2rem;
      width: 12.6rem;
      height: 7rem;
      position: absolute;
      left: 12rem;
      top: 0;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    }
    .rectangle-624-9yj {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1rem;
      width: 27rem;
      height: 48.8rem;
      position: absolute;
      left: 0;
      top: 4.7rem;
    }
    .masuk-seq {
      left: 15.4rem;
      font-weight: 400;
      line-height: 1.3175;
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      font-size: 1.8rem;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 5.9rem;
      top: 1.1rem;
    }
    .subtract-aZF {
      object-fit: contain;
      vertical-align: top;
      width: 24rem;
      height: 4.3rem;
      position: absolute;
      left: 1.5rem;
      top: 14.1rem;
    }
    .subtract-hNy {
      position: absolute;
      left: 1.5rem;
      top: 19.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 24rem;
      height: 4.3rem;
    }
    .belum-punya-akun-jobstreet-express-daftar-dengan--qVB {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.3188476562;
      height: 3.2rem;
      left: 1.5rem;
      top: 40.2rem;
      display: flex;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 22rem;
      position: absolute;

      .belum-punya-akun-jobstreet-express-daftar-dengan--qVB-sub-0 {
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.2rem;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--qVB-sub-1 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #008a88;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
    .facebook-gu7 {
      height: 2.4rem;
      left: 5.5rem;
      font-weight: 300;
      letter-spacing: -0.011rem;
      color: #000000;
      white-space: nowrap;
      width: 4.6rem;
      position: absolute;
      top: 48.4rem;
      display: flex;
      font-size: 1rem;
      line-height: 2.4;
      font-family: Inter, 'Source Sans Pro';
    }
    .google-CMf {
      width: 3.3rem;
      height: 2.4rem;
      position: absolute;
      font-size: 1rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      left: 16.9rem;
      top: 48.4rem;
      display: flex;
      font-weight: 300;
      line-height: 2.4;
      letter-spacing: -0.011rem;
      white-space: nowrap;
    }
    .icon-email-outline-7Dj {
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 22.5rem;
      top: 15.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-lock-outline-3NH {
      height: 2rem;
      position: absolute;
      left: 22.2rem;
      top: 20.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .logo-removebg-preview-2-NfT {
      width: 19.3rem;
      height: 6.8rem;
      position: absolute;
      left: 3.8rem;
      top: 6.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .ratnafirdausgmailcom-hSq {
      height: 2rem;
      position: absolute;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.6rem;
      left: 3.1rem;
      top: 15.35rem;
      display: flex;
      font-size: 1.5rem;
      line-height: 1.3175;
      color: #000000;
    }
    .item--cZo {
      line-height: 1.3175;
      color: #000000;
      left: 3.1rem;
      top: 20.55rem;
      font-weight: 600;
      display: flex;
      font-size: 1.5rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      height: 2rem;
      position: absolute;
    }
    .logofacebook-removebg-preview-1-j8d {
      vertical-align: top;
      width: 5.3rem;
      height: 5.6rem;
      position: absolute;
      left: 5.1rem;
      top: 43.6rem;
      object-fit: cover;
    }
    .ellipse-122-Fcm {
      border-radius: 2.05rem;
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 16.5rem;
      top: 44.3rem;
      background-color: #d9d9d9;
    }
    .logogoogle-removebg-preview-1-yof {
      left: 17.3rem;
      top: 45.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.5rem;
      height: 2.625rem;
      position: absolute;
    }
    .button-masuk-email-uxD {
      height: 4.3rem;
      cursor: pointer;
      position: absolute;
      left: 1.5rem;
      top: 26.1rem;
      width: 24rem;

      .button-e97 {
        background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
        border-radius: 1rem;
        font-size: 1.8rem;
        white-space: nowrap;
        display: flex;
        line-height: 1.2975;
        color: #ffffff;
        font-family: Candal, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-weight: 400;
      }
    }
    .button-masuk-email-iuf {
      position: absolute;
      left: 1.5rem;
      top: 31.3rem;
      width: 24rem;
      height: 4.3rem;
      cursor: pointer;

      .button-eoK {
        font-weight: 400;
        border: solid 0.1rem #015442;
        border-radius: 1rem;
        display: flex;
        box-sizing: border-box;
        font-size: 1.8rem;
        color: #015442;
        align-items: center;
        background-color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        width: 100%;
        height: 100%;
        line-height: 1.2975;
        font-family: Candal, 'Source Sans Pro';
      }
    }
  }
  .property-1lupa-kata-sandi-Y81 {
    width: 100%;
    height: 52.6rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .subtract-sg5 {
      margin-bottom: 671.3rem;
      width: 0;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-gv6m-d9T {
      width: 100%;
      height: 53.4rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-625-wA9 {
        border-radius: 2rem;
        width: 12.6rem;
        height: 7rem;
        position: absolute;
        left: 12rem;
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
      }
      .rectangle-624-eaM {
        background-color: #ffffff;
        border-radius: 1rem;
        width: 27rem;
        height: 48.9rem;
        position: absolute;
        left: 0;
        top: 4.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .masuk-xqw {
        width: 5.9rem;
        position: absolute;
        top: 1.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2.4rem;
        left: 15.35rem;
        text-align: center;
        line-height: 1.3175;
        color: #000000;
        white-space: nowrap;
      }
      .subtract-gG9 {
        left: 1.5rem;
        top: 17.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
      }
      .subtract-RjX {
        left: 1.5rem;
        top: 22.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--aMX {
        height: 3.2rem;
        position: absolute;
        top: 40.2rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        line-height: 1.3175;
        color: #000000;
        width: 22rem;
        left: 1.5rem;
        display: flex;
        font-size: 1.2rem;
        font-weight: 600;

        .belum-punya-akun-jobstreet-express-daftar-dengan--aMX-sub-0 {
        }
        .belum-punya-akun-jobstreet-express-daftar-dengan--aMX-sub-1 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .facebook-hqT {
        height: 2.4rem;
        position: absolute;
        top: 48.4rem;
        font-weight: 300;
        color: #000000;
        white-space: nowrap;
        width: 4.6rem;
        left: 5.5rem;
        display: flex;
        font-size: 1rem;
        line-height: 2.4;
        letter-spacing: -0.011rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .google-E4h {
        display: flex;
        letter-spacing: -0.011rem;
        left: 16.9rem;
        top: 48.4rem;
        font-size: 1rem;
        font-weight: 300;
        line-height: 2.4;
        width: 3.3rem;
        height: 2.4rem;
        position: absolute;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .icon-email-outline-9Bf {
        position: absolute;
        left: 22.5rem;
        top: 18.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
      }
      .icon-lock-outline-4Jd {
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.2rem;
        top: 23.7rem;
      }
      .logo-removebg-preview-2-nVX {
        top: 6.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 19.3rem;
        height: 6.8rem;
        position: absolute;
        left: 3.8rem;
      }
      .ketik-email-anda-7Xo {
        color: rgba(119, 119, 119, 0.5);
        width: 12.4rem;
        position: absolute;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        height: 2rem;
        left: 3.1rem;
        top: 18.65rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .masukkan-kata-sandi-baru-Daq {
        display: flex;
        white-space: nowrap;
        width: 19rem;
        position: absolute;
        left: 2.6rem;
        font-weight: 400;
        line-height: 1.3175;
        color: rgba(119, 119, 119, 0.5);
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2rem;
        top: 23.65rem;
        font-size: 1.5rem;
      }
      .logofacebook-removebg-preview-1-XbX {
        vertical-align: top;
        width: 5.3rem;
        height: 5.6rem;
        position: absolute;
        left: 5.1rem;
        top: 43.6rem;
        object-fit: cover;
      }
      .ellipse-122-ew3 {
        top: 44.3rem;
        background-color: #d9d9d9;
        border-radius: 2.05rem;
        width: 4.1rem;
        height: 4.1rem;
        position: absolute;
        left: 16.5rem;
      }
      .logogoogle-removebg-preview-1-nnM {
        vertical-align: top;
        width: 2.5rem;
        height: 2.625rem;
        position: absolute;
        left: 17.3rem;
        top: 45.1rem;
        object-fit: cover;
      }
      .subtract-7pd {
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
        left: 1.5rem;
        top: 27.7rem;
        object-fit: contain;
      }
      .icon-lock-outline-4js {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.2rem;
        top: 28.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ulangi-kata-sandi-baru-bUu {
        font-weight: 400;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        font-size: 1.5rem;
        left: 3.1rem;
        top: 28.75rem;
        display: flex;
        line-height: 1.3175;
        color: rgba(119, 119, 119, 0.5);
        width: 16.1rem;
        height: 2rem;
      }
      .lupa-kata-sandi-6Am {
        font-weight: 400;
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 12rem;
        font-size: 1.5rem;
        left: 1.7rem;
        top: 14.5rem;
        line-height: 1.3175;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
      }
      .button-masuk-email-QSM {
        left: 1.4rem;
        top: 33.3rem;
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;

        .button-YHf {
          font-size: 1.8rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Candal, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          width: 100%;
          height: 100%;
          line-height: 1.2975;
          white-space: nowrap;
          align-items: center;
          background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
          border-radius: 1rem;
        }
      }
    }
  }
  .property-1sandi-baru-pFB {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 52.6rem;

    .rectangle-625-7k5 {
      width: 12.6rem;
      height: 7rem;
      position: absolute;
      left: 12rem;
      top: 0;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #ffffff;
      border-radius: 2rem;
    }
    .rectangle-624-qAH {
      background-color: #ffffff;
      border-radius: 1rem;
      width: 27rem;
      height: 48.9rem;
      position: absolute;
      left: 0;
      top: 4.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .masuk-Lcq {
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      left: 15.4rem;
      top: 1.6rem;
      font-size: 1.8rem;
      width: 5.9rem;
      font-weight: 400;
      color: #000000;
    }
    .subtract-rbB {
      top: 17.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 24rem;
      height: 4.3rem;
      position: absolute;
      left: 1.5rem;
    }
    .subtract-Pr1 {
      width: 24rem;
      height: 4.3rem;
      position: absolute;
      left: 1.5rem;
      top: 22.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .belum-punya-akun-jobstreet-express-daftar-dengan--wcd {
      height: 3.2rem;
      position: absolute;
      left: 1.5rem;
      top: 40.2rem;
      font-size: 1.2rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 22rem;
      font-weight: 600;
      line-height: 1.3188476562;
      color: #000000;
      display: flex;

      .belum-punya-akun-jobstreet-express-daftar-dengan--wcd-sub-0 {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3175;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--wcd-sub-1 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #008a88;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
    .facebook-RAR {
      width: 4.6rem;
      position: absolute;
      display: flex;
      font-size: 1rem;
      font-weight: 300;
      line-height: 2.4;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 2.4rem;
      left: 5.5rem;
      top: 48.4rem;
      letter-spacing: -0.011rem;
      white-space: nowrap;
    }
    .google-8ad {
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      left: 16.9rem;
      top: 48.4rem;
      display: flex;
      color: #000000;
      width: 3.3rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 2.4;
      letter-spacing: -0.011rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .icon-email-outline-dXP {
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 22.5rem;
      top: 18.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-lock-outline-MyB {
      vertical-align: top;
      width: 2rem;
      height: 2rem;
      position: absolute;
      left: 22.2rem;
      top: 23.7rem;
      object-fit: contain;
    }
    .logo-removebg-preview-2-58V {
      vertical-align: top;
      width: 19.3rem;
      height: 6.8rem;
      position: absolute;
      left: 3.8rem;
      top: 6.4rem;
      object-fit: cover;
    }
    .ratnafirdaus0gmailcom-BxD {
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 18.5rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #000000;
      display: flex;
      font-size: 1.5rem;
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      left: 3.1rem;
      top: 18.65rem;
    }
    .item--VT7 {
      width: 3.8rem;
      position: absolute;
      top: 23.65rem;
      font-size: 1.5rem;
      white-space: nowrap;
      height: 2rem;
      left: 3.1rem;
      display: flex;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .logofacebook-removebg-preview-1-oTo {
      object-fit: cover;
      vertical-align: top;
      width: 5.3rem;
      height: 5.6rem;
      position: absolute;
      left: 5.1rem;
      top: 43.6rem;
    }
    .ellipse-122-8W5 {
      width: 4.1rem;
      height: 4.1rem;
      position: absolute;
      left: 16.5rem;
      top: 44.3rem;
      background-color: #d9d9d9;
      border-radius: 2.05rem;
    }
    .logogoogle-removebg-preview-1-Fqb {
      height: 2.625rem;
      position: absolute;
      left: 17.3rem;
      top: 45.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.5rem;
    }
    .subtract-b8m {
      vertical-align: top;
      width: 24rem;
      height: 4.3rem;
      position: absolute;
      left: 1.5rem;
      top: 27.7rem;
      object-fit: contain;
    }
    .icon-lock-outline-88h {
      height: 2rem;
      position: absolute;
      left: 22.2rem;
      top: 28.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .item--raV {
      width: 3.8rem;
      position: absolute;
      font-family: Roboto Slab, 'Source Sans Pro';
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      height: 2rem;
      left: 3.1rem;
      top: 28.75rem;
      display: flex;
      font-size: 1.5rem;
      white-space: nowrap;
    }
    .buat-kata-sandi-baru-AbB {
      font-size: 1.5rem;
      line-height: 1.3175;
      white-space: nowrap;
      left: 1.7rem;
      height: 2rem;
      position: absolute;
      top: 14.5rem;
      font-weight: 400;
      color: #008a88;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 14.7rem;
    }
    .button-masuk-email-gJd {
      width: 24rem;
      height: 4.3rem;
      cursor: pointer;
      position: absolute;
      left: 1.4rem;
      top: 33.3rem;

      .button-DZT {
        width: 100%;
        font-size: 1.8rem;
        line-height: 1.2975;
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
        height: 100%;
        font-weight: 400;
        font-family: Candal, 'Source Sans Pro';
        display: flex;
        align-items: center;
        border-radius: 1rem;
      }
    }
  }
}
