
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 52rem;
}.notif-uplod-pelatihan-crV {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  padding: 2rem 2rem 5.8rem 1.9rem;
  overflow: hidden;
  position: relative;
  display: flex;

  .property-1default-wNy {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #a6e79b -0%, #3ba6c8 100%);
    margin: 0rem 0rem 14.9rem 0.1rem;
    box-sizing: border-box;
    padding: 5.65rem 11rem 4.4rem 11.1rem;
    width: 48rem;
    align-items: center;
    flex-shrink: 0;

    .upolad-video-training-berhasil-Row {
      align-items: center;
      justify-content: center;
      font-weight: 600;
      color: #000000;
      max-width: 25.9rem;
      display: flex;
      font-size: 2.4rem;
      line-height: 1.2575;
      text-transform: uppercase;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1.85rem;
    }
    .auto-group-lqox-vkh {
      width: calc(100% - 13rem);
      font-weight: 600;
      color: #000000;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      margin: 0rem 6.6rem 0rem 6.4rem;
      line-height: 1.2125;
      white-space: nowrap;
      background-color: #96d1c5;
      height: 3.8rem;
      font-size: 2.4rem;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      flex-shrink: 0;
    }
  }
  .property-1variant2-7aH {
    padding: 5.65rem 11rem 4.4rem 11.1rem;
    flex-direction: column;
    border-radius: 2.5rem;
    flex-shrink: 0;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #a6e79b -0%, #3ba6c8 100%);
    margin-right: 0.1rem;
    box-sizing: border-box;
    width: 48rem;
    align-items: center;
    display: flex;

    .upolad-video-training-berhasil-E97 {
      justify-content: center;
      font-size: 2.4rem;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 1.85rem;
      align-items: center;
      font-weight: 600;
      line-height: 1.2575;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 25.9rem;
      display: flex;
    }
    .auto-group-xzdj-Y9o {
      line-height: 1.2125;
      display: flex;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      flex-shrink: 0;
      font-weight: 600;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      background-color: #d9d9d9;
      border-radius: 2rem;
      margin: 0rem 6.6rem 0rem 6.4rem;
      width: calc(100% - 13rem);
      height: 3.8rem;
      font-size: 2.4rem;
    }
  }
}
