
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-click-masuk-GMF {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-jxjf-nqP {
    margin-bottom: 3.3rem;
    width: 100%;
    height: 35.7rem;
    position: relative;
    flex-shrink: 0;

    .header-n-navbar-variant2-vRo {
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
      width: 144rem;
      height: 27.2rem;

      .background-header-fPP {
        background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 0rem 6.6rem 0.3rem 4.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-kjjf-P4V {
          margin-bottom: 0.2rem;
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .auto-group-ndzj-XAh {
            margin: 0rem 15.1rem 0.3rem 0rem;
            width: 29.8rem;
            height: 12.8rem;
            position: relative;
            flex-shrink: 0;

            .logo-removebg-preview-1-3eq {
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 29.8rem;
              height: 10.9rem;
              cursor: pointer;
              position: absolute;
            }
            .nama-pekerjaan-a8y {
              left: 0;
              display: flex;
              color: #000000;
              height: 2.4rem;
              position: absolute;
              top: 10.2rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              width: 14.5rem;
            }
          }
          .di-mana-Fku {
            font-size: 1.8rem;
            color: #000000;
            flex-shrink: 0;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 74.3rem;
            display: flex;
            font-weight: 400;
          }
          .masuk-aYH {
            margin-bottom: 6.3rem;
            display: flex;
            font-size: 2rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.8000000119);
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-zwkx-tJ5 {
          flex-shrink: 0;
          margin-bottom: 4rem;
          height: 6rem;
          display: flex;
          align-items: center;

          .auto-group-pe3j-pxR {
            box-sizing: border-box;
            padding: 1rem 1.2rem 1rem 1.8rem;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;
            margin-right: 3rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 1rem;

            .nama-pekerjaan-atau-perusahaan-Lvm {
              margin-right: 8.4rem;
              font-size: 1.8rem;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              color: #b0aaaa;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-search-outline-rPK {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
            }
          }
          .auto-group-wknm-Ymw {
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            border-radius: 1rem;
            flex-shrink: 0;
            height: 100%;
            box-sizing: border-box;
            padding: 1rem 0.8rem 1rem 2rem;
            background-color: #ffffff;
            margin-right: 3.1rem;

            .nama-kota-atau-provinsi-HDj {
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.2rem;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #b0aaaa;
            }
            .icon-pin-outline-QJM {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
            }
          }
          .bottom-JPj {
            width: 21rem;
            align-items: center;
            color: #ffffff;
            background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
            border-radius: 1.5rem;
            cursor: pointer;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2975;
            font-family: Candal, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            white-space: nowrap;
            height: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
          }
        }
        .auto-group-rrp7-uuK {
          height: 3.6rem;
          display: flex;
          border-left: solid 0.1rem #777777;
          padding: 0.2rem 2.555rem 0rem 2.5rem;
          box-sizing: border-box;
          width: calc(100% - 87.1rem);
          align-items: center;
          border-right: solid 0.1rem #777777;
          flex-shrink: 0;
          margin: 0rem 85.3rem 0rem 1.8rem;

          .semua-jenis-pekerjaan-oUu {
            margin: 0rem 0.4rem 0.4rem 0rem;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .auto-group-5kzh-W8R {
            width: 20.5453rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 2.4547rem;

            .line-171-SGy {
              height: 3.4rem;
              position: absolute;
              left: 5.5rem;
              top: 0;
              background-color: #777777;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              width: 0.1rem;
            }
            .kapan-saja-Z6h {
              top: 0.3rem;
              font-size: 1.8rem;
              font-weight: 400;
              white-space: nowrap;
              height: 2.4rem;
              position: absolute;
              left: 8rem;
              display: flex;
              line-height: 1.3175;
              color: #000000;
              font-family: Roboto Slab, 'Source Sans Pro';
              width: 9.6rem;
              cursor: pointer;
            }
            .icon-arrow-ios-downward-SwB {
              vertical-align: top;
              width: 3.5rem;
              height: 2.9878rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
            .icon-arrow-ios-downward-P5j {
              width: 20.5453rem;
              height: 2.9878rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .button-pilihan-role-Pzq {
      height: 31.4rem;
      position: absolute;
      left: 117rem;
      top: 4.1rem;
      width: 27rem;

      .rectangle-626-7A9 {
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
        border-radius: 2rem;
        width: 12.6rem;
        height: 7rem;
        position: absolute;
        left: 12.4rem;
      }
      .rectangle-626-p4Z {
        border-radius: 1rem;
        width: 27rem;
        height: 26.4rem;
        position: absolute;
        left: 0;
        top: 5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
      }
      .masuk-ivd {
        position: absolute;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 5.9rem;
        left: 16.2rem;
        top: 1.5rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        height: 2.4rem;
      }
      .masuk-sebagai--dXo {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 8.9rem;
        left: 1.6rem;
        top: 14.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3175;
        height: 1.6rem;
        position: absolute;
        display: flex;
        white-space: nowrap;
      }
      .logo-removebg-preview-2-k6d {
        top: 6.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 19.3rem;
        height: 6.8rem;
        position: absolute;
        left: 3.9rem;
      }
      .button-pilihan-masuk-fUV {
        position: absolute;
        font-weight: 400;
        align-items: center;
        background: linear-gradient(90deg, #015443 4.18%, #03866b 100%);
        left: 1.6rem;
        top: 17.3rem;
        overflow: hidden;
        font-family: Candal, 'Source Sans Pro';
        line-height: 1.2975;
        color: #ffffff;
        width: 23.9rem;
        height: 3.7rem;
        cursor: pointer;
        font-size: 1.8rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
      }
      .button-pilihan-masuk2-JXT {
        font-weight: 400;
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #015443 4.18%, #03866b 100%);
        border-radius: 1rem;
        left: 1.6rem;
        font-size: 1.8rem;
        width: 23.9rem;
        cursor: pointer;
        color: #ffffff;
        font-family: Candal, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        height: 3.7rem;
        position: absolute;
        top: 23.2rem;
        overflow: hidden;
        line-height: 1.2975;
      }
    }
  }
  .yang-sering-dicari-Ywb {
    width: calc(100% - 27.6rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 13.6rem 11.8rem 14rem;

    .auto-group-b7dk-sU5 {
      margin: 0rem 80.5rem 2.336rem 0rem;
      width: calc(100% - 80.5rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-trending-up-CmF {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1605rem;
        width: 4.1395rem;
        height: 4.3636rem;
        object-fit: contain;
      }
      .lowongan-yang-sering-dicari-wTw {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
        margin-top: 0.1364rem;
        font-size: 2.2rem;
        line-height: 1.3175;
      }
    }
    .group-90-et9 {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 0rem 4.8rem 0.5rem;
      height: 16.2rem;
      display: flex;

      .auto-group-1tmo-Abb {
        margin: 0rem 2.838rem 0.022rem 0rem;
        width: 13.1625rem;
        height: calc(100% - 0.0215rem);
        flex-shrink: 0;

        .jabatan-UsB {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
        }
        .auto-group-4x45-R1j {
          padding: 0.8rem 2.463rem 0.808rem 0.6rem;
          width: calc(100% - 0.2rem);
          align-items: center;
          background-color: #ffffff;
          margin: 0rem 0rem 2.422rem 0.2rem;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .icon-pie-chart-2-vDP {
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
          }
          .admin-r73 {
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            white-space: nowrap;
            display: flex;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-hfkm-YVf {
          width: calc(100% - 0.2rem);
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          background-color: #ffffff;
          margin-left: 0.2rem;
          box-sizing: border-box;
          padding: 0.8rem 2.263rem 0.808rem 0.6rem;
          display: flex;
          align-items: center;

          .icon-pie-chart-2-rFT {
            width: 2.723rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
          }
          .barista-neu {
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            line-height: 1.3175;
            font-weight: 400;
            display: flex;
            font-size: 1.8rem;
          }
        }
      }
      .auto-group-6ipt-5e1 {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.7rem;
        width: 10.8rem;
        align-items: center;
        display: flex;

        .auto-group-4zbs-pbb {
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          width: 100%;
          background-color: #ffffff;
          margin-bottom: 2.4rem;
          display: flex;
          align-items: center;

          .icon-pie-chart-2-kEM {
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
          }
          .kasir-tLZ {
            display: flex;
            color: #008a88;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2708rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-g8xy-BKf {
          box-sizing: border-box;
          width: 100%;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 0.8rem 0.9rem 0.829rem 0.6rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .icon-pie-chart-2-umT {
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
          }
          .driver-2bB {
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
          }
        }
      }
      .auto-group-zpau-7Mj {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 19.8rem;

        .auto-group-xvww-eMf {
          box-sizing: border-box;
          width: calc(100% - 0.1rem);
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          margin: 0rem 0rem 2.4rem 0.1rem;
          padding: 0.8rem 1.7rem 0.829rem 0.6rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .icon-pie-chart-2-w5s {
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
          }
          .staff-marketing-sER {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            white-space: nowrap;
            margin-bottom: 0.0708rem;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-br1o-Z7F {
          box-sizing: border-box;
          padding: 0.8rem 2.3rem 0.829rem 0.6rem;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 0.1rem;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .icon-pie-chart-2-std {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8708rem;
          }
          .quality-control-p3B {
            margin-bottom: 0.0708rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            font-weight: 400;
            color: #008a88;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-yxtd-6mP {
        width: 20.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;

        .auto-group-e2qp-3gd {
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          padding: 0.8rem 1.4rem 0.829rem 0.6rem;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .icon-pie-chart-2-yaH {
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .staff-accounting-K8M {
            margin-bottom: 0.0708rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            flex-shrink: 0;
            font-size: 1.8rem;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-smy5-bbf {
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 0.8rem 2.5rem 0.829rem 0.6rem;
          display: flex;
          background-color: #ffffff;

          .icon-pie-chart-2-jSy {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8708rem;
          }
          .content-creator-Ttm {
            display: flex;
            white-space: nowrap;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
      }
      .auto-group-jftf-MDT {
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 17.2rem;

        .auto-group-vziq-6Rw {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .icon-pie-chart-2-cfB {
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8708rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .staff-gudang-MMs {
            margin-bottom: 0.0708rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            white-space: nowrap;
            display: flex;
            font-weight: 400;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-swe5-ebs {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          padding: 0.8rem 2.2rem 0.829rem 0.6rem;
          box-sizing: border-box;
          width: calc(100% - 6.4rem);
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          margin-right: 6.4rem;

          .icon-pie-chart-2-Aq7 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8708rem;
          }
          .host-W1o {
            margin-bottom: 0.0708rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
      .auto-group-v1kw-As3 {
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        height: calc(100% - 11.7rem);
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.5rem;
        margin: 4.8rem 0rem 6.9rem 0rem;
        box-sizing: border-box;
        border: solid 0.1rem #0e8136;
        flex-shrink: 0;

        .icon-pie-chart-2-4hX {
          height: 2.8708rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
        }
        .customer-service-zLH {
          cursor: pointer;
          display: flex;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0708rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #008a88;
        }
      }
    }
    .group-89-gU1 {
      margin-left: 0.7rem;
      width: 111.8rem;
      flex-shrink: 0;

      .perusahaan-dPF {
        margin-bottom: 1.9rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-biqh-APB {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .group-88-he1 {
          border: solid 0.1rem #0e8136;
          margin-right: 2.9rem;
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          height: 100%;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .emoji-office-building-dGm {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ganesha-operation-surabaya-dsk-MyT {
            font-weight: 400;
            margin-bottom: 0.1rem;
            cursor: pointer;
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
          }
        }
        .auto-group-6p13-Sk1 {
          box-sizing: border-box;
          height: 100%;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-right: 3rem;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .emoji-office-building-mnH {
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .pt-media-telekomunikasi-mandiri-K37 {
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-weight: 400;
            line-height: 1.3175;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-ckqv-C6u {
          box-sizing: border-box;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-iqw {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pt-arta-boga-boga-cemerlang-497 {
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            white-space: nowrap;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
      }
      .auto-group-zkeu-LcR {
        display: flex;
        align-items: flex-end;

        .auto-group-fydt-HGm {
          box-sizing: border-box;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;

          .emoji-office-building-zgy {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
          }
          .cv-berlian-retail-Xgu {
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-weight: 400;
          }
        }
        .auto-group-jjqq-2df {
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin: 0.2rem 3rem 0rem 0rem;
          box-sizing: border-box;
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;
          flex-shrink: 0;

          .emoji-office-building-x1X {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .panara-course-UEm {
            color: #01d589;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
            cursor: pointer;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-xdxu-ZGD {
          box-sizing: border-box;
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.2rem 3.2rem 0rem 0rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          display: flex;

          .emoji-office-building-U8H {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .bali-super-host-oRT {
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
          }
        }
        .auto-group-gadf-txh {
          margin-bottom: 0.2rem;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .emoji-office-building-prM {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .angonjiwo-MrH {
            font-weight: 400;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  .footer-e4h {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;

    .tentang-jobstreet-express-ZSZ {
      line-height: 1.3175;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      display: flex;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .pusat-bantuan-fVb {
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      margin-right: 44.9rem;
      display: flex;
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1.3175;
      color: #ffffff;
    }
    .copyright-2023-jobstreet-express-b8M {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
  }
  .rectangle-594-hhB {
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
  }
  .auto-group-at3j-oER {
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 12.8rem;
  }
}
