
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-landing-page5-1k5 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .header-admin-wtd {
    align-items: center;
    background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);
    padding: 0rem 6rem 0rem 5rem;
    display: flex;
    width: 100%;
    height: 11.8rem;
    flex-shrink: 0;
    margin-bottom: 2.1rem;
    box-sizing: border-box;

    .logo-removebg-preview-1-FPX {
      margin: 0rem 87.6rem 0.9rem 0rem;
      width: 29.8rem;
      height: 10.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .daftar-Z9K {
      display: flex;
      font-size: 2rem;
      font-weight: 400;
      flex-shrink: 0;
      margin-right: 2.8rem;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
    }
    .masuk-fi9 {
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
      flex-shrink: 0;
      margin-top: 0.2rem;
      display: flex;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .group-74-xSM {
    margin: 0rem 40.1rem 1.9rem 34.6rem;
    position: relative;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    background-color: #ffffff;
    flex-shrink: 0;
    width: calc(100% - 74.7rem);
    height: 78.7rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    border-radius: 4rem;

    .daftarkan-perusahaanmu-disini-GC9 {
      left: 2.1rem;
      top: 2.3414rem;
      line-height: 1.3175;
      color: #000000;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 38.5rem;
      height: 3.3rem;
      position: absolute;
      display: flex;
      font-size: 2.5rem;
    }
    .rectangle-732-kND {
      background-color: #ffffff;
      left: 2.1rem;
      top: 13.5106rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 64.5rem;
      height: 4.3281rem;
      cursor: pointer;
      position: absolute;
    }
    .rectangle-734-TXX {
      width: 64.5rem;
      height: 4.3281rem;
      position: absolute;
      left: 2.1rem;
      top: 23.7406rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .rectangle-735-nZo {
      position: absolute;
      left: 2.1rem;
      top: 35.2493rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 64.5rem;
      height: 4.3281rem;
    }
    .rectangle-736-iTT {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 64.5rem;
      height: 4.3281rem;
      position: absolute;
      left: 1.8rem;
      top: 47.1515rem;
    }
    .auto-group-wsav-SeM {
      width: 64.5rem;
      height: 8.1281rem;
      position: absolute;
      left: 1.8rem;
      top: 52.9913rem;

      .rectangle-737-Bbw {
        position: absolute;
        left: 0;
        top: 3.8rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 64.5rem;
        height: 4.3281rem;
      }
      .kata-sandi-JwT {
        position: absolute;
        top: 0;
        display: flex;
        font-size: 2.5rem;
        font-weight: 600;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 13.9rem;
        height: 3.8rem;
        left: 0.3rem;
        line-height: 1.5;
        white-space: nowrap;
      }
    }
    .email-login-puo {
      width: 14.5rem;
      height: 3.8rem;
      position: absolute;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      left: 2.1rem;
      top: 8.65rem;
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .nama-jG5 {
      height: 3.8rem;
      left: 2.1rem;
      top: 19.5686rem;
      display: flex;
      font-size: 2.5rem;
      line-height: 1.5;
      white-space: nowrap;
      width: 7.9rem;
      position: absolute;
      font-weight: 600;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .nomor-hp-Eid {
      top: 30.3887rem;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.6rem;
      height: 3.8rem;
      position: absolute;
      left: 2rem;
      display: flex;
      font-size: 2.5rem;
      font-weight: 600;
    }
    .nama-bisnis-terdaftar-x8q {
      width: 28.4rem;
      position: absolute;
      top: 42.2695rem;
      font-size: 2.5rem;
      font-weight: 600;
      white-space: nowrap;
      height: 3.8rem;
      left: 1.7rem;
      display: flex;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-sFo {
      top: 62.8rem;
      position: absolute;
      left: 1.8rem;
      display: flex;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 64.8rem;
      height: 4.5rem;

      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-sFo-sub-0 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-sFo-sub-1 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #3824b1;
        font-family: Poppins, 'Source Sans Pro';
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-sFo-sub-2 {
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        text-decoration-line: underline;
        color: #3824b1;
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-sFo-sub-3 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-sFo-sub-4 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        text-decoration-line: underline;
        color: #3824b1;
        font-family: Poppins, 'Source Sans Pro';
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-sFo-sub-5 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        text-decoration-line: underline;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-sFo-sub-6 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .button-daftar-saZ {
      width: 19.5902rem;
      top: 69.4rem;
      color: #ffffff;
      align-items: center;
      height: 5.8396rem;
      text-align: center;
      display: flex;
      font-size: 3rem;
      white-space: nowrap;
      line-height: 1.2975;
      font-family: Candal, 'Source Sans Pro';
      border-radius: 2rem;
      cursor: pointer;
      position: absolute;
      left: 24.8rem;
      justify-content: center;
      font-weight: 400;
      background: linear-gradient(89.43deg, #005141 0.28%, #03866c 99.46%);
    }
  }
  .footer-ejj {
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;

    .tentang-jobstreet-express-BDs {
      margin-right: 4.6rem;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .pusat-bantuan-tPB {
      margin-right: 44.9rem;
      display: flex;
      color: #ffffff;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-pGq {
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .rectangle-594-it1 {
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
  }
  .auto-group-wzt5-ErM {
    flex-shrink: 0;
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
  }
}
