
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-landing-page5-AYH {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .header-admin-tz5 {
    flex-shrink: 0;
    padding: 0rem 6rem 0rem 5rem;
    height: 11.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);
    margin-bottom: 2.1rem;
    box-sizing: border-box;

    .logo-removebg-preview-1-p73 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 87.6rem 0.9rem 0rem;
      width: 29.8rem;
      height: 10.9rem;
    }
    .daftar-KJh {
      cursor: pointer;
      display: flex;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.8rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
    }
    .masuk-EgZ {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      display: flex;
      line-height: 1.5;
      color: #ffffff;
      margin-top: 0.2rem;
      font-size: 2rem;
      font-weight: 400;
    }
  }
  .group-74-w5B {
    flex-shrink: 0;
    width: calc(100% - 74.7rem);
    height: 78.7rem;
    position: relative;
    box-sizing: border-box;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    background-color: #ffffff;
    margin: 0rem 40.1rem 1.9rem 34.6rem;
    border: solid 0.1rem #000000;
    border-radius: 4rem;

    .daftarkan-perusahaanmu-disini-SXj {
      line-height: 1.3175;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      top: 2.3414rem;
      font-weight: 400;
      display: flex;
      font-size: 2.5rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 38.5rem;
      height: 3.3rem;
      left: 2.1rem;
    }
    .auto-group-gck1-vxh {
      background-color: #ffffff;
      position: absolute;
      padding: 0.989rem 1.4rem 0.939rem 1.4rem;
      left: 2.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      font-weight: 400;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.3281rem;
      top: 13.5106rem;
      display: flex;
      font-size: 1.6rem;
      line-height: 1.5;
      width: 64.5rem;
    }
    .auto-group-tx1b-NJu {
      color: #000000;
      background-color: #ffffff;
      height: 4.3281rem;
      top: 23.7406rem;
      font-weight: 400;
      font-size: 1.6rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      box-sizing: border-box;
      width: 64.5rem;
      position: absolute;
      line-height: 1.5;
      border: solid 0.1rem #000000;
      padding: 1.259rem 1.4rem 0.669rem 1.4rem;
      left: 2.1rem;
      display: flex;
    }
    .auto-group-ztr3-C33 {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.3281rem;
      position: absolute;
      display: flex;
      left: 2.1rem;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 0.951rem 1.4rem 0.977rem 1.4rem;
      width: 64.5rem;
      top: 35.2493rem;
      line-height: 1.5;
      border: solid 0.1rem #000000;
      font-size: 1.6rem;
      font-weight: 400;
      color: #000000;
    }
    .auto-group-tpzb-rNV {
      left: 1.8rem;
      top: 47.1515rem;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 1.048rem 1.7rem 0.88rem 1.7rem;
      width: 64.5rem;
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      height: 4.3281rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #000000;
      position: absolute;
      line-height: 1.5;
    }
    .auto-group-cldw-JEV {
      width: 64.5rem;
      height: 8.1281rem;
      position: absolute;
      left: 1.8rem;
      top: 52.9913rem;

      .rectangle-737-pyX {
        top: 3.8rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 64.5rem;
        height: 4.3281rem;
        position: absolute;
        left: 0;
      }
      .kata-sandi-woF {
        white-space: nowrap;
        height: 3.8rem;
        position: absolute;
        left: 0.3rem;
        top: 0;
        font-size: 2.5rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 13.9rem;
        display: flex;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
      }
      .item--4cy {
        width: 9.4rem;
        position: absolute;
        display: flex;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        height: 2.4rem;
        left: 1.7rem;
        top: 5.2087rem;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .email-login-ZJq {
      display: flex;
      font-size: 2.5rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.8rem;
      position: absolute;
      top: 8.65rem;
      color: #000000;
      width: 14.5rem;
      left: 2.1rem;
      font-weight: 600;
    }
    .nama-fsf {
      height: 3.8rem;
      top: 19.5686rem;
      display: flex;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      width: 7.9rem;
      white-space: nowrap;
      left: 2.1rem;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
    }
    .nomor-hp-nBb {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 12.6rem;
      left: 2rem;
      display: flex;
      font-weight: 600;
      line-height: 1.5;
      height: 3.8rem;
      position: absolute;
      top: 30.3887rem;
      font-size: 2.5rem;
      white-space: nowrap;
    }
    .nama-bisnis-terdaftar-u1K {
      left: 1.7rem;
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      height: 3.8rem;
      position: absolute;
      top: 42.2695rem;
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
      width: 28.4rem;
    }
    .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-Qim {
      width: 64.8rem;
      height: 4.5rem;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      color: #000000;
      position: absolute;
      left: 1.8rem;
      top: 62.8rem;
      display: flex;
      font-size: 1.5rem;

      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-Qim-sub-0 {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 600;
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-Qim-sub-1 {
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #3824b1;
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-Qim-sub-2 {
        text-decoration-line: underline;
        color: #3824b1;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-Qim-sub-3 {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 600;
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-Qim-sub-4 {
        line-height: 1.5;
        text-decoration-line: underline;
        color: #3824b1;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 600;
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-Qim-sub-5 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        text-decoration-line: underline;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .dengan-melanjutkan-anda-telah-menyetujui-kebijakan-privasi-dan-syarat-ketentuan-dari-jobstreet-Qim-sub-6 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .button-daftar-rFK {
      font-family: Candal, 'Source Sans Pro';
      align-items: center;
      width: 19.59rem;
      line-height: 1.2975;
      left: 24.8rem;
      top: 69.4rem;
      text-align: center;
      display: flex;
      font-weight: 400;
      height: 5.8396rem;
      position: absolute;
      background: linear-gradient(89.43deg, #005141 0.28%, #03866c 99.46%);
      border-radius: 2rem;
      font-size: 3rem;
      color: #ffffff;
      white-space: nowrap;
      cursor: pointer;
      justify-content: center;
    }
  }
  .footer-dvH {
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;

    .tentang-jobstreet-express-mFo {
      display: flex;
      font-size: 1.8rem;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.6rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      font-weight: 400;
    }
    .pusat-bantuan-spd {
      margin-right: 44.9rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      color: #ffffff;
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-oiH {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
  }
  .rectangle-594-j69 {
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
  }
  .auto-group-cyyj-eD7 {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
