
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-cari-karyawan-qd3 {
  width: 100%;
  height: 102.4rem;

  .group-51-ZZ3 {
    width: 100%;
    height: 100%;
    position: relative;

    .rectangle-606-6Yy {
      top: 55.5rem;
      background-color: #bdbdbd;
      border-radius: 1.5rem;
      width: 2.1rem;
      height: 6.2rem;
      position: absolute;
      left: 140.9rem;
    }
    .preset-zeM {
      position: absolute;
      top: 0;
      background-color: #e3e3e3;
      width: 144rem;
      height: 102.4rem;
      left: 0;
      overflow: hidden;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .auto-group-bzam-hof {
        height: 102.4rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 18.2rem;
        width: 145.1rem;

        .masuk-Dn1 {
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 133.6rem;
          font-size: 2.4rem;
          font-weight: 400;
          color: #ffffff;
          width: 7.5rem;
          height: 3rem;
          top: 15rem;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .rectangle-605-WWD {
          top: 16.4rem;
          background-color: rgba(0, 0, 0, 0.150000006);
          border-radius: 1.5rem;
          width: 2.1rem;
          height: 81.2rem;
          position: absolute;
          left: 142.9rem;
        }
        .rectangle-595-RdB {
          width: 145.1rem;
          height: 17.3rem;
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(90.47deg, #01d589 4.1%, #1dcba9 97.04%);
        }
        .user-thumb-Xw7 {
          height: 4.6162rem;
          position: absolute;
          left: 129rem;
          top: 11.2rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 4.8472rem;
          width: 4.6162rem;
        }
        .brosur-lowongan-eVw {
          cursor: pointer;
          position: absolute;
          height: 2.4rem;
          left: 26.8rem;
          top: 14rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #ffffff;
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 15.2rem;
          white-space: nowrap;
        }
        .keluar-L7s {
          white-space: nowrap;
          width: 5.8rem;
          height: 2.4rem;
          position: absolute;
          font-weight: 600;
          color: #ffffff;
          font-family: Roboto Slab, 'Source Sans Pro';
          left: 136.5rem;
          top: 12.6rem;
          font-size: 1.8rem;
          line-height: 1.3175;
        }
        .logo-jobstreet-variant2-EU9 {
          position: absolute;
          left: 6rem;
          top: 0;
          width: 29.1rem;
          height: 10.9rem;
          cursor: pointer;

          .logo-removebg-preview-2-Ach {
            width: 29.1rem;
            height: 10.9rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .rectangle-574-HxD {
          height: 5.4rem;
          left: 88.6rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          width: 38.2rem;
          position: absolute;
          top: 10.8rem;
          box-sizing: border-box;
          border-radius: 1rem;
        }
        .rectangle-606-nPB {
          width: 2.1rem;
          height: 6.2rem;
          position: absolute;
          left: 142.9rem;
          top: 18rem;
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
        .footer-6em {
          display: flex;
          align-items: center;
          background-color: #008a88;
          box-sizing: border-box;
          height: 7.9rem;
          top: 94.5rem;
          left: 1.1rem;
          padding: 2.7rem 15.1rem 2.8rem 14rem;
          width: 144rem;
          position: absolute;

          .tentang-jobstreet-express-BAR {
            font-size: 1.8rem;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 4.6rem;
            display: flex;
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.3175;
          }
          .pusat-bantuan-tKj {
            display: flex;
            font-size: 1.8rem;
            white-space: nowrap;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 44.9rem;
            font-weight: 400;
            line-height: 1.3175;
          }
          .copyright-2023-jobstreet-express-bzq {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
        }
      }
      .rectangle-594-ukd {
        margin: 0rem 0.2rem 36.2rem 0rem;
        width: 144.5rem;
        height: 35.5rem;
        background-color: #44abc3;
        flex-shrink: 0;
      }
      .auto-group-aa49-dgd {
        box-sizing: border-box;
        padding: 6.1rem 21rem 6.2rem 21rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #921414;
        flex-shrink: 0;

        .line-20-m29 {
          margin-right: 3rem;
          width: 18rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .line-21-6q7 {
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
          margin-right: 51rem;
          width: 12rem;
        }
        .line-22-3VT {
          width: 18rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
      }
    }
    .group-31-variant2-PJR {
      object-fit: contain;
      vertical-align: top;
      width: 2.5rem;
      height: 2.3rem;
      position: absolute;
      left: 55.2rem;
      top: 11.5rem;
    }
    .daftar-permintaan-v3T {
      height: 81.7rem;
      position: absolute;
      left: 2.7rem;
      top: 19.9rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 127.9rem;

      .auto-group-pnfk-2sB {
        align-items: center;
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 3.5rem;
        box-sizing: border-box;
        padding: 2.2rem 3.2rem 1.7rem 3.4rem;
        display: flex;

        .cari-karyawan-XZ3 {
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.8rem 0rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-iuim-EiM {
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.1rem 57.1rem 0rem 0rem;
          box-sizing: border-box;
          padding: 0.5rem 1.4rem 0.7rem 1.4rem;
          border: solid 0.1rem #000000;

          .search-MHB {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
            height: 2.4rem;
          }
        }
        .auto-group-u2e5-t2D {
          height: 3.6rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 27.6rem;

          .submit-2PK {
            font-size: 1.8rem;
            font-weight: 500;
            white-space: nowrap;
            left: 17.3rem;
            height: 2.2rem;
            position: absolute;
            top: 0.1rem;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 6.1rem;
          }
          .digital-connectivity-imw {
            top: 0;
            font-weight: 700;
            line-height: 1.1975;
            width: 27.6rem;
            position: absolute;
            left: 0;
            font-size: 3rem;
            color: #000000;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.6rem;
          }
        }
      }
      .auto-group-hvkt-pKB {
        width: 100%;
        height: 70.6rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-617-N5o {
          background-color: #ffffff;
          border-radius: 2rem;
          width: 116.7rem;
          height: 70.6rem;
          position: absolute;
          left: 11.2rem;
          top: 0;
        }
        .daftar-pelamarcessa-hNy {
          width: 108.1rem;
          position: absolute;
          left: 14.1rem;
          top: 4.7rem;
          background-color: #ecf5e5;
          box-sizing: border-box;
          padding: 2.1rem 3.2rem 1rem 2.6rem;
          height: 13.8rem;
          display: flex;
          align-items: flex-end;
          border-radius: 2rem;

          .foto-profil-PFo {
            flex-shrink: 0;
            margin: 0rem 3.7rem 1.1rem 0rem;
            box-sizing: border-box;
            padding: 0.64rem 0.7066rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:I254:10608;121:8300;2:3275');

            .ellipse-125-WbK {
              vertical-align: top;
              width: 9.1867rem;
              height: 8.32rem;
              object-fit: contain;
            }
          }
          .lady-cessa-nadinda-082221008008-surabaya-dfw {
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 38.8rem 1.3rem 0rem;
            max-width: 21.2rem;
            font-size: 2.2rem;
          }
          .button-acc-Wzd {
            width: 13.5rem;
            display: flex;
            color: #ffffff;
            border-radius: 2rem;
            margin-right: 1rem;
            height: 3.5rem;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 400;
            align-items: center;
            background-color: #db4154;
            line-height: 1.2975;
            font-family: Candal, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            flex-shrink: 0;
          }
          .button-acc-P2q {
            align-items: center;
            justify-content: center;
            width: 13.5rem;
            height: 3.5rem;
            cursor: pointer;
            font-weight: 400;
            white-space: nowrap;
            font-size: 1.6rem;
            color: #ffffff;
            font-family: Candal, 'Source Sans Pro';
            display: flex;
            background-color: #4baea0;
            flex-shrink: 0;
            line-height: 1.2975;
            border-radius: 2rem;
          }
        }
      }
    }
    .footer-FKw {
      height: 7.9rem;
      position: absolute;
      left: 0;
      display: flex;
      box-sizing: border-box;
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      width: 144rem;
      top: 94.5rem;
      align-items: center;
      background-color: #008a88;

      .tentang-jobstreet-express-YK3 {
        font-weight: 400;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.6rem;
        font-size: 1.8rem;
        color: #ffffff;
        flex-shrink: 0;
        display: flex;
        line-height: 1.3175;
      }
      .pusat-bantuan-FUM {
        flex-shrink: 0;
        margin-right: 44.9rem;
        display: flex;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.8rem;
        white-space: nowrap;
      }
      .copyright-2023-jobstreet-express-N3B {
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .rectangle-700-gZf {
      position: absolute;
      left: 62rem;
      top: 13.1rem;
      background-color: #381c88;
      border-radius: 1rem;
      width: 20rem;
      height: 4rem;
    }
    .group-30-oeH {
      width: 2.5rem;
      height: 2.4rem;
      position: absolute;
      left: 80.4rem;
      top: 11.4rem;

      .ellipse-87-LeD {
        vertical-align: top;
        width: 2.5rem;
        height: 2.3rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        object-fit: contain;
      }
      .item-1-su3 {
        top: 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2125;
        height: 2.2rem;
        position: absolute;
        left: 0.7rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 0.9rem;
      }
    }
    .wawancara-zCy {
      height: 2.2rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.2rem;
      cursor: pointer;
      position: absolute;
      left: 45.7rem;
      top: 14.1rem;
      font-size: 1.8rem;
      line-height: 1.2125;
    }
    .daftar-permintaan-JDf {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      left: 63.9rem;
      top: 14.1rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 15.9rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .tools-samping-kiri-QXb {
      width: 13.9285rem;
      height: 27.7714rem;
      position: absolute;
      left: 0;
      top: 40.8rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .daftar-permintaan-tools-samping-vVw {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 1.264rem 1.943rem 1.264rem;
        width: calc(100% - 2.5285rem);
        align-items: center;
        display: flex;

        .list-icon-d9T {
          width: calc(100% - 4.1857rem);
          cursor: pointer;
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          margin: 0rem 2.093rem 1.143rem 2.093rem;
          box-sizing: border-box;
          padding: 1rem 1.714rem 0.929rem 1.643rem;
          box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
          border-radius: 3.6071rem;
          flex-shrink: 0;

          .list-1-veM {
            height: 5.2857rem;
            object-fit: cover;
            vertical-align: top;
            width: 3.8572rem;
          }
        }
        .group-79-P29 {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 4.5572rem;

          .daftar-vnm {
            font-family: Lalezar, 'Source Sans Pro';
            height: 3.2rem;
            position: absolute;
            left: 2.35rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
            width: 6.7rem;
            top: 0;
            line-height: 1.5675;
          }
          .permintaan-EYZ {
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 1.3572rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            width: 11.4rem;
            height: 3.2rem;
            line-height: 1.5675;
            color: #ffffff;
            font-family: Lalezar, 'Source Sans Pro';
          }
        }
      }
      .jadwal-wawancara-tools-samping-LrV {
        padding: 0 1.0643rem;
        width: 100%;
        cursor: pointer;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .calendar-ikon-HFw {
          flex-shrink: 0;
          margin: 0rem 2.293rem 1.143rem 2.293rem;
          box-sizing: border-box;
          padding: 1.357rem 0rem 1.232rem 0rem;
          width: calc(100% - 4.5857rem);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          border-radius: 3.6071rem;

          .calendar-1-yuT {
            width: 6.2488rem;
            height: 4.625rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .group-80-EqP {
          flex-shrink: 0;
          width: 100%;
          height: 4.5571rem;
          position: relative;

          .jadwal-o7o {
            width: 7.1rem;
            position: absolute;
            top: 0;
            text-align: center;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            left: 2.35rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5675;
            color: #ffffff;
          }
          .wawancara-WY1 {
            font-family: Lalezar, 'Source Sans Pro';
            height: 3.2rem;
            top: 1.3571rem;
            font-weight: 400;
            line-height: 1.5675;
            color: #ffffff;
            white-space: nowrap;
            width: 11.8rem;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
