
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-landing-page-MQM {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-admin-gSd {
    background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 6rem 0rem 5rem;
    width: 100%;
    height: 11.8rem;
    display: flex;
    align-items: center;

    .logo-removebg-preview-1-zy7 {
      margin: 0rem 87.6rem 0.9rem 0rem;
      width: 29.8rem;
      height: 10.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .daftar-iPK {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.8rem;
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.5;
      color: #000000;
      cursor: pointer;
      display: flex;
    }
    .masuk-qD3 {
      cursor: pointer;
      font-size: 2rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-top: 0.2rem;
      display: flex;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
    }
  }
  .auto-group-mxpb-vkH {
    box-sizing: border-box;
    padding: 19.7rem 23rem 18.2rem 11.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-74-G3T {
      flex-direction: column;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #ffffff;
      border-radius: 4rem;
      margin: 0rem 0rem 4.3rem 16.1rem;
      padding: 5.1rem 10rem 2.9rem 10.1rem;
      width: 93.4rem;
      align-items: center;
      display: flex;
      border: solid 0.1rem #000000;
      flex-shrink: 0;
      box-sizing: border-box;

      .lupa-kata-sandi-anda-xBB {
        display: flex;
        font-weight: 600;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        margin: 0rem 0.2rem 0.9rem 0rem;
        line-height: 1.3175;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3rem;
      }
      .masukkan-email-login-anda-untuk-mengatur-ulang-kata-sandi-anda-rXT {
        margin: 0rem 0rem 4rem 0.9rem;
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: rgba(0, 0, 0, 0.6999999881);
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .email-anda-LxR {
        font-size: 2.2rem;
        font-weight: 600;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        margin: 0rem 60.8rem 0.1rem 0rem;
        display: flex;
        line-height: 1.3175;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-tdkd-G5P {
        font-size: 2.2rem;
        line-height: 1.3175;
        flex-shrink: 0;
        border: solid 0.1rem #000000;
        margin: 0rem 0.1rem 1.7rem 0rem;
        box-sizing: border-box;
        padding: 2rem 1.5rem;
        color: #000000;
        background-color: #ffffff;
        width: 73.2rem;
        font-weight: 400;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
      .bottom-atur-ulang-kata-sandi-vQq {
        margin-left: 0.1rem;
        width: 73.2rem;
        font-family: Candal, 'Source Sans Pro';
        text-align: center;
        flex-shrink: 0;
        height: 6.9rem;
        cursor: pointer;
        justify-content: center;
        line-height: 1.2975;
        color: #ffffff;
        white-space: nowrap;
        background: linear-gradient(90.08deg, #005141 8.07%, #03866c 98.59%);
        border-radius: 2rem;
        display: flex;
        font-size: 3rem;
        font-weight: 400;
        align-items: center;
      }
    }
    .need-help-visit-our-help-centre-ha1 {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      line-height: 1.3188476562;

      .need-help-visit-our-help-centre-ha1-sub-0 {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
      }
      .need-help-visit-our-help-centre-ha1-sub-1 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #29269b;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
  }
  .footer-M2H {
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;

    .tentang-jobstreet-express-U6u {
      white-space: nowrap;
      margin-right: 4.6rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      color: #ffffff;
      flex-shrink: 0;
    }
    .pusat-bantuan-ndP {
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.3175;
      color: #ffffff;
      flex-shrink: 0;
      margin-right: 44.9rem;
      display: flex;
      font-size: 1.8rem;
    }
    .copyright-2023-jobstreet-express-WJV {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
    }
  }
  .rectangle-594-Dyb {
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
  }
  .auto-group-es6q-MK7 {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
