
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-landing-page3-JN5 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .header-admin-dfF {
    width: 100%;
    height: 11.8rem;
    background: linear-gradient(91.72deg, #02d589 2.03%, #1ecbaa 96.8%);
    flex-shrink: 0;
    margin-bottom: 10.8rem;
    box-sizing: border-box;
    padding: 0rem 6rem 0rem 5rem;
    display: flex;
    align-items: center;

    .logo-removebg-preview-1-kUy {
      margin: 0rem 87.6rem 0.9rem 0rem;
      width: 29.8rem;
      height: 10.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .daftar-rnu {
      display: flex;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      margin-right: 2.8rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
    }
    .masuk-BKP {
      flex-shrink: 0;
      font-weight: 400;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1.5;
      margin-top: 0.2rem;
      cursor: pointer;
      display: flex;
      font-size: 2rem;
    }
  }
  .auto-group-omtm-rwK {
    flex-direction: column;
    border: solid 0.1rem #000000;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    border-radius: 7.9rem;
    flex-shrink: 0;
    padding: 1.7rem 7.7rem 2.2rem 6.7rem;
    width: calc(100% - 56.3rem);
    display: flex;
    background-color: #01d589;
    margin: 0rem 25.7rem 9.9rem 30.6rem;
    box-sizing: border-box;
    align-items: center;

    .check-your-email-xDf {
      margin: 0rem 0rem 4.4rem 4.2rem;
      display: flex;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.3175;
      color: #000000;
    }
    .a-link-should-be-sent-to-telkomindonesiagmailcom-please-follow-the-steps-below-to-reset-your-password-1-make-sure-the-details-above-are-correct-you-will-not-receive-the-link-your-email-is-incorrect-2-open-your-inbox-and-look-for-an-email-titled-reset-password-for-jobstreet-accountif-you-cant-find-it-check-in-your-junk-and-spam-folders-3-in-the-emailclick-on-the-reset-password-button-4nV {
      font-family: Roboto Slab, 'Source Sans Pro';
      max-width: 73.3rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3175;
      margin-bottom: 7.7rem;
      display: flex;
      color: #000000;
      flex-shrink: 0;
    }
    .if-you-have-misspelt-your-details-try-entering-them-again-chX {
      margin: 0rem 18.5rem 2.3rem 0rem;
      font-size: 2rem;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      font-weight: 400;
      white-space: nowrap;
      align-items: baseline;

      .if-you-have-misspelt-your-details-try-entering-them-again-chX-sub-0 {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .if-you-have-misspelt-your-details-try-entering-them-again-chX-sub-1 {
      }
    }
    .if-you-havent-received-an-email-from-us-please-contact-our-customer-care-team-or-email-us-at-corpcare-idjobstreetcom-x97 {
      margin-left: 5.4rem;
      max-width: 44.3rem;
      font-size: 1.5rem;
      line-height: 1.3188476562;
      flex-shrink: 0;
      display: flex;
      font-weight: 400;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';

      .if-you-havent-received-an-email-from-us-please-contact-our-customer-care-team-or-email-us-at-corpcare-idjobstreetcom-x97-sub-0 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .if-you-havent-received-an-email-from-us-please-contact-our-customer-care-team-or-email-us-at-corpcare-idjobstreetcom-x97-sub-1 {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        text-decoration-line: underline;
      }
      .if-you-havent-received-an-email-from-us-please-contact-our-customer-care-team-or-email-us-at-corpcare-idjobstreetcom-x97-sub-2 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
  }
  .footer-EPT {
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;

    .tentang-jobstreet-express-Yf3 {
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 4.6rem;
      font-size: 1.8rem;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
    }
    .pusat-bantuan-4tH {
      display: flex;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 44.9rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-z1F {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
    }
  }
  .rectangle-594-J1w {
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
  }
  .auto-group-nuxs-pW5 {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
