
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-jadwal-permintaan-vv5 {
  width: 100%;
  height: 102.4rem;

  .group-53-Rrq {
    width: 100%;
    height: 100%;
    position: relative;

    .rectangle-606-Zy3 {
      background-color: #bdbdbd;
      border-radius: 1.5rem;
      width: 2.1rem;
      height: 6.2rem;
      position: absolute;
      left: 140.9rem;
      top: 22.1rem;
    }
    .preset-Uq7 {
      height: 102.4rem;
      display: flex;
      flex-direction: column;
      background-color: #e3e3e3;
      width: 144rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      align-items: flex-end;

      .auto-group-nv6d-BzR {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 18.2rem;
        width: 145.1rem;
        height: 102.4rem;

        .masuk-Jp9 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          height: 3rem;
          top: 15rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          width: 7.5rem;
          position: absolute;
          left: 133.6rem;
          white-space: nowrap;
        }
        .rectangle-605-yvH {
          width: 2.1rem;
          height: 81.2rem;
          position: absolute;
          left: 142.9rem;
          top: 16.4rem;
          background-color: rgba(0, 0, 0, 0.150000006);
          border-radius: 1.5rem;
        }
        .rectangle-595-tnM {
          left: 0;
          top: 0;
          background: linear-gradient(90.47deg, #01d589 4.1%, #1dcba9 97.04%);
          width: 145.1rem;
          height: 17.3rem;
          position: absolute;
        }
        .user-thumb-zKb {
          vertical-align: top;
          border-radius: 4.8472rem;
          width: 4.6162rem;
          height: 4.6162rem;
          position: absolute;
          left: 129rem;
          top: 11.2rem;
          object-fit: contain;
        }
        .daftar-permintaan-W33 {
          font-family: Roboto Slab, 'Source Sans Pro';
          cursor: pointer;
          left: 65.9rem;
          top: 14rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #ffffff;
          white-space: nowrap;
          width: 15.9rem;
          height: 2.4rem;
          position: absolute;
        }
        .logo-jobstreet-variant2-o29 {
          width: 29.1rem;
          height: 10.9rem;
          cursor: pointer;
          position: absolute;
          left: 6rem;
          top: 0;

          .logo-removebg-preview-2-Xiq {
            object-fit: cover;
            vertical-align: top;
            width: 29.1rem;
            height: 10.9rem;
          }
        }
        .rectangle-574-f4M {
          border: solid 0.1rem #0e8136;
          box-sizing: border-box;
          border-radius: 1rem;
          width: 38.2rem;
          height: 5.4rem;
          position: absolute;
          left: 88.6rem;
          top: 10.8rem;
          background-color: #ffffff;
        }
        .rectangle-606-Ydw {
          left: 142.9rem;
          top: 18rem;
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 2.1rem;
          height: 6.2rem;
          position: absolute;
        }
        .footer-GZw {
          position: absolute;
          top: 94.5rem;
          height: 7.9rem;
          padding: 2.7rem 15.1rem 2.8rem 14rem;
          width: 144rem;
          left: 1.1rem;
          display: flex;
          align-items: center;
          background-color: #008a88;
          box-sizing: border-box;

          .tentang-jobstreet-express-9td {
            display: flex;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.6rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            font-size: 1.8rem;
          }
          .pusat-bantuan-sJq {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #ffffff;
            flex-shrink: 0;
            margin-right: 44.9rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.3175;
          }
          .copyright-2023-jobstreet-express-CM7 {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .rectangle-594-7DB {
        width: 144.5rem;
        height: 35.5rem;
        background-color: #44abc3;
        flex-shrink: 0;
        margin: 0rem 0.2rem 36.2rem 0rem;
      }
      .auto-group-2pxv-qQ5 {
        align-items: center;
        background-color: #921414;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.1rem 21rem 6.2rem 21rem;
        width: 100%;
        display: flex;

        .line-20-MdK {
          flex-shrink: 0;
          margin-right: 3rem;
          width: 18rem;
          height: 0.5rem;
          background-color: #000000;
        }
        .line-21-6qo {
          width: 12rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
          margin-right: 51rem;
        }
        .line-22-Eh7 {
          width: 18rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
      }
    }
    .brosur-lowongan-yeh {
      font-weight: 600;
      line-height: 1.2125;
      white-space: nowrap;
      width: 15.3rem;
      position: absolute;
      left: 21.6rem;
      top: 13.6rem;
      font-size: 1.8rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      cursor: pointer;
    }
    .rectangle-712-H9b {
      height: 3.5rem;
      position: absolute;
      left: 44rem;
      top: 13.5rem;
      background-color: #381c88;
      border-radius: 1rem;
      width: 16.1rem;
    }
    .wawancara-p9X {
      position: absolute;
      top: 13.6rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.2rem;
      height: 2.2rem;
      left: 47rem;
      font-size: 1.8rem;
      line-height: 1.2125;
    }
    .group-31-variant2-78d {
      width: 2.5rem;
      height: 2.4rem;
      position: absolute;
      left: 57.7rem;
      top: 11.8rem;

      .ellipse-87-q4d {
        left: 0;
        top: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 2.3rem;
        position: absolute;
      }
      .item-6-Ach {
        height: 2.2rem;
        left: 0.7rem;
        font-weight: 500;
        line-height: 1.2125;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        width: 1.2rem;
        position: absolute;
        top: 0;
        font-size: 1.8rem;
        color: #ffffff;
      }
    }
    .jadwal-wawancara-HBX {
      left: 3.6rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      width: 133.2rem;
      height: 74.2rem;
      position: absolute;
      top: 18.6rem;
      align-items: flex-end;

      .auto-group-i5jq-CZP {
        padding: 1rem 3.3rem 1rem 3.07rem;
        width: calc(100% - 11.9299rem);
        height: 6.9023rem;
        display: flex;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        align-items: center;
        background-color: #ffffff;
        margin: 0rem 0rem 3.179rem 11.93rem;

        .roboto-slab-VHb {
          font-weight: 600;
          white-space: nowrap;
          margin: 0rem 68rem 0.102rem 0rem;
          font-size: 2rem;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
        }
        .auto-group-5cem-CSu {
          flex-shrink: 0;
          margin-bottom: 1.3023rem;
          width: 27.6rem;
          height: 3.6rem;
          position: relative;

          .submit-Xk5 {
            height: 2.2rem;
            font-size: 1.8rem;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 6.1rem;
            position: absolute;
            left: 16.8953rem;
            top: 1.0889rem;
            font-weight: 500;
            white-space: nowrap;
          }
          .digital-connectivity-2gq {
            white-space: nowrap;
            width: 27.6rem;
            left: 0;
            font-size: 3rem;
            font-weight: 700;
            color: #000000;
            font-family: Inria Serif, 'Source Sans Pro';
            height: 3.6rem;
            position: absolute;
            top: 0;
            line-height: 1.1975;
          }
        }
      }
      .auto-group-nimo-KR3 {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.2074rem;
        width: 132.9926rem;
        height: 64.119rem;

        .rectangle-617-eiD {
          width: 121.0627rem;
          height: 64.119rem;
          position: absolute;
          left: 11.9299rem;
          top: 0;
          background-color: #ffffff;
          border-radius: 2rem;
        }
        .group-85-zGH {
          width: 24.6rem;
          height: 32.6rem;
          position: absolute;
          left: 18rem;
          top: 2.819rem;

          .pelamar-8NV {
            left: 0;
            top: 0;
            box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 24.4rem;
            height: 30.2rem;
            position: absolute;

            .group-48-USM {
              background-color: #ecf5e5;
              box-sizing: border-box;
              padding: 2.279rem 4.821rem 1.994rem 4.821rem;
              width: 100%;
              height: 26.4013rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .foto-profil-zQh {
                background-image: url('REPLACE_IMAGE:I471:10369;123:9150;2:3275');
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-position: center;
                padding: 0.95rem 0.984rem 0.95rem 0.984rem;
                width: 100%;
                background-size: cover;
                margin-bottom: 0.7547rem;
                box-sizing: border-box;

                .ellipse-125-vJM {
                  width: 12.7902rem;
                  height: 12.3459rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .roboto-slab-SGh {
                color: #000000;
                white-space: nowrap;
                font-size: 1.8rem;
                display: flex;
                font-weight: 600;
                line-height: 1.3175;
                font-family: Roboto Slab, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 0rem 0.259rem 0.687rem;
              }
              .roboto-slab-YqX {
                display: flex;
                flex-shrink: 0;
                font-family: Roboto Slab, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 0.469rem 0.652rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.3175;
                color: #000000;
              }
              .roboto-slab-GWd {
                font-size: 1.5rem;
                line-height: 1.3175;
                font-family: Roboto Slab, 'Source Sans Pro';
                white-space: nowrap;
                margin-left: 0.2713rem;
                display: flex;
                font-weight: 400;
                color: #000000;
                flex-shrink: 0;
              }
            }
          }
          .kirim-undangan-variant2-M2H {
            left: 10.9rem;
            top: 28.4rem;
            width: 13.7rem;
            height: 4.2rem;
            position: absolute;

            .group-49-G9F {
              width: 13.7rem;
              left: 0;
              top: 0;
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              height: 4.2rem;
              position: absolute;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #01d589;
              border-radius: 2rem;
            }
            .kirim-undangan-wWH {
              top: 1.4rem;
              justify-content: center;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              height: 1.3rem;
              left: 2.45rem;
              line-height: 1.2125;
              white-space: nowrap;
              width: 9.2rem;
              font-size: 1rem;
              display: flex;
              font-weight: 700;
              position: absolute;
              align-items: center;
            }
          }
        }
        .group-87-Dyb {
          width: 25.3rem;
          height: 32.3rem;
          position: absolute;
          left: 53rem;
          top: 3.119rem;

          .pelamar-xgH {
            width: 24.8rem;
            height: 29.9rem;
            position: absolute;
            left: 0;
            top: 0;

            .group-48-urR {
              flex-direction: column;
              box-sizing: border-box;
              padding: 2.257rem 4.9rem 1.955rem 4.9rem;
              width: 100%;
              height: 26.139rem;
              align-items: center;
              display: flex;
              background-color: #ecf5e5;
              box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

              .foto-profil-2g9 {
                padding: 0.9402rem 1rem;
                background-size: cover;
                background-position: center;
                margin-bottom: 0.7463rem;
                box-sizing: border-box;
                width: 100%;
                background-repeat: no-repeat;
                background-image: url('REPLACE_IMAGE:I471:10370;123:9179;2:3275');
                flex-shrink: 0;

                .ellipse-125-xJu {
                  width: 13rem;
                  height: 12.2233rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .roboto-slab-gVo {
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                line-height: 1.3175;
                font-weight: 600;
                font-family: Roboto Slab, 'Source Sans Pro';
                margin: 0rem 0rem 0.233rem 0.3rem;
                font-size: 1.8rem;
              }
              .roboto-slab-zWV {
                font-family: Roboto Slab, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 0.445rem 0.4rem;
                line-height: 1.3175;
                color: #000000;
                flex-shrink: 0;
                display: flex;
                font-size: 1.5rem;
                font-weight: 400;
              }
              .roboto-slab-v9F {
                color: #000000;
                font-family: Roboto Slab, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-left: 0.1rem;
                display: flex;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.3175;
              }
            }
          }
          .kirim-undangan-variant2-oTw {
            position: absolute;
            left: 11.6rem;
            top: 28.1rem;
            width: 13.7rem;
            height: 4.2rem;

            .group-49-wa9 {
              height: 4.2rem;
              left: 0;
              top: 0;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              border-radius: 2rem;
              width: 13.7rem;
              position: absolute;
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              background-color: #01d589;
            }
            .kirim-undangan-cwB {
              font-size: 1rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              top: 1.4rem;
              align-items: center;
              display: flex;
              width: 9.2rem;
              left: 2.45rem;
              position: absolute;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.3rem;
              justify-content: center;
            }
          }
        }
      }
    }
    .keluar-5Jy {
      left: 136.2rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      top: 12.4rem;
      line-height: 1.3175;
      white-space: nowrap;
      width: 5.8rem;
      height: 2.4rem;
    }
  }
}
