
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-filter-pencarian-lowongan-kerja--Nrd {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-3m9s-5FF {
    margin-bottom: 11.8rem;
    width: 100%;
    height: 82.9rem;
    position: relative;
    flex-shrink: 0;

    .background-header-Cqf {
      height: 27.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 7.5rem 0.3rem 4.5rem;
      width: 144rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);

      .auto-group-qdbp-7Bw {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.2rem;
        width: 100%;
        height: 13.1rem;

        .auto-group-nvkb-eBs {
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;

          .logo-removebg-preview-1-kVo {
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
          .nama-pekerjaan-sqK {
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;
            top: 10.2rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            color: #000000;
            white-space: nowrap;
            left: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
        .di-mana-AJd {
          font-size: 1.8rem;
          line-height: 1.3175;
          margin-right: 2.9rem;
          display: flex;
          font-weight: 400;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .header-UaD {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 3.4rem 0rem 6.8rem 0rem;
          height: calc(100% - 10.2rem);

          .icon-play-circle-outline-PBP {
            margin: 0.04rem 0.2rem 0rem 0rem;
            width: 2.3rem;
            height: 2.3398rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .simulasi-drR {
            margin: 0rem 3.647rem 0.3rem 0rem;
            line-height: 1.3175;
            color: #000000;
            flex-shrink: 0;
            white-space: nowrap;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .icon-person-jPf {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.3rem 0.385rem 0rem 0rem;
            width: 2.4684rem;
            height: 2.6rem;
            position: relative;
            object-fit: contain;
          }
          .profil-saya-eWd {
            color: #000000;
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            flex-shrink: 0;
            margin: 0rem 5.3rem 0.5rem 0rem;
            cursor: pointer;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .icon-bell-outline-LeM {
            margin: 0rem 0.345rem 0.4rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .job-alert-rch {
            font-weight: 600;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.8rem;
            color: #000000;
            margin: 0rem 5.9rem 0.3rem 0rem;
          }
          .icon-bookmark-ZX7 {
            margin: 0.2rem 0.045rem 0rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .lowongan-saya-fq3 {
            font-weight: 600;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 7.3rem 0.3rem 0rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            cursor: pointer;
          }
          .keluar-NjT {
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-weight: 600;
            cursor: pointer;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-6jb3-hWq {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
        height: 6rem;

        .auto-group-rayz-Emf {
          border-radius: 1rem;
          box-sizing: border-box;
          padding: 1rem 1.2rem 1rem 1.8rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 3rem;
          height: 100%;
          display: flex;

          .nama-pekerjaan-atau-perusahaan-xxZ {
            line-height: 1.3175;
            flex-shrink: 0;
            margin-right: 29.1rem;
            font-size: 1.8rem;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 400;
          }
          .icon-search-outline-AYq {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-lwbk-GLy {
          margin-right: 3.1rem;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2rem;
          display: flex;
          background-color: #ffffff;

          .nama-kota-atau-provinsi-b8M {
            flex-shrink: 0;
            margin-right: 27.2rem;
            display: flex;
            white-space: nowrap;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
          }
          .icon-pin-outline-uuj {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-RNH {
          width: 21rem;
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          border-radius: 1.5rem;
          align-items: center;
          justify-content: center;
          height: 100%;
          cursor: pointer;
          display: flex;
          font-weight: 400;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          font-size: 2rem;
          line-height: 1.2975;
          color: #ffffff;
        }
      }
      .auto-group-ulrf-dUM {
        padding: 0.2rem 2.555rem 0rem 22.7rem;
        width: 45.8rem;
        height: 3.6rem;
        margin-left: 1.8rem;
        box-sizing: border-box;

        .auto-group-yrsh-L7s {
          width: 100%;
          height: 100%;
        }
      }
    }
    .yang-sering-dicari-CA5 {
      top: 38.8rem;
      width: 116.4rem;
      height: 43.9rem;
      position: absolute;
      left: 14rem;

      .auto-group-px1s-WRf {
        margin: 0rem 80.5rem 2.336rem 0rem;
        width: calc(100% - 80.5rem);
        display: flex;
        align-items: center;

        .icon-trending-up-dmB {
          height: 4.3637rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1607rem;
          width: 4.1393rem;
        }
        .lowongan-yang-sering-dicari-Am7 {
          display: flex;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.1363rem;
          font-size: 2.2rem;
          font-weight: 600;
          color: #015442;
          flex-shrink: 0;
        }
      }
      .group-90-HKw {
        margin: 0rem 0rem 4.8rem 0.5rem;
        height: 16.2rem;
        display: flex;
        align-items: flex-end;

        .auto-group-p8fs-oZB {
          margin: 0rem 2.838rem 0.021rem 0rem;
          width: 13.1625rem;
          height: calc(100% - 0.0215rem);
          flex-shrink: 0;

          .jabatan-KnR {
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 400;
          }
          .auto-group-9yah-rnM {
            margin: 0rem 0rem 2.421rem 0.2rem;
            width: calc(100% - 0.2rem);
            display: flex;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.8rem 2.463rem 0.808rem 0.6rem;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;

            .icon-pie-chart-2-ksj {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .admin-HMs {
              margin-bottom: 0.0708rem;
              display: flex;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
            }
          }
          .auto-group-dthf-yEh {
            margin-left: 0.2rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.8rem 2.263rem 0.808rem 0.6rem;
            width: calc(100% - 0.2rem);
            background-color: #ffffff;

            .icon-pie-chart-2-Ux9 {
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
            }
            .barista-Ct9 {
              font-weight: 400;
              line-height: 1.3175;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0708rem;
              display: flex;
              font-size: 1.8rem;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
        }
        .auto-group-4wfw-uXf {
          flex-shrink: 0;
          margin-right: 2.7rem;
          width: 10.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-k1fo-FLd {
            align-items: center;
            border: solid 0.1rem #0e8136;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .icon-pie-chart-2-BEH {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
            }
            .kasir-K5b {
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.3175;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              color: #008a88;
              margin-bottom: 0.2708rem;
            }
          }
          .auto-group-xjxv-1UD {
            padding: 0.8rem 0.9rem 0.829rem 0.6rem;
            width: 100%;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;
            display: flex;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;

            .icon-pie-chart-2-jQD {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .driver-sFX {
              flex-shrink: 0;
              margin-bottom: 0.0708rem;
              font-weight: 400;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
            }
          }
        }
        .auto-group-5qoj-ZPF {
          margin-right: 2.8rem;
          width: 19.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-jsxd-uT7 {
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            margin: 0rem 0rem 2.4rem 0.1rem;
            padding: 0.8rem 1.7rem 0.829rem 0.6rem;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            border: solid 0.1rem #0e8136;

            .icon-pie-chart-2-zUZ {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
            }
            .staff-marketing-ivM {
              margin-bottom: 0.0708rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              white-space: nowrap;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .auto-group-rrd3-QHP {
            flex-shrink: 0;
            padding: 0.8rem 2.3rem 0.829rem 0.6rem;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            margin-right: 0.1rem;
            box-sizing: border-box;
            width: calc(100% - 0.1rem);
            align-items: center;

            .icon-pie-chart-2-WbK {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .quality-control-EnD {
              white-space: nowrap;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #008a88;
              margin-bottom: 0.0708rem;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .auto-group-y64h-ixH {
          margin-right: 2.8rem;
          width: 20.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-hmgd-fcd {
            width: 100%;
            align-items: center;
            border-radius: 0.5rem;
            flex-shrink: 0;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            padding: 0.8rem 1.4rem 0.829rem 0.6rem;
            display: flex;

            .icon-pie-chart-2-z97 {
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
            }
            .staff-accounting-XPw {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0708rem;
              display: flex;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #008a88;
            }
          }
          .auto-group-bhpm-pP3 {
            box-sizing: border-box;
            padding: 0.8rem 2.5rem 0.829rem 0.6rem;
            width: 100%;
            border: solid 0.1rem #0e8136;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .icon-pie-chart-2-kGh {
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
            }
            .content-creator-UTb {
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              display: flex;
              font-size: 1.8rem;
              color: #008a88;
              flex-shrink: 0;
              margin-bottom: 0.0708rem;
            }
          }
        }
        .auto-group-zbym-y9T {
          margin-right: 2.3rem;
          width: 17.2rem;
          flex-shrink: 0;

          .auto-group-ysfp-JxR {
            box-sizing: border-box;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            width: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            margin-bottom: 2.4rem;
            display: flex;
            background-color: #ffffff;

            .icon-pie-chart-2-39K {
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
            }
            .staff-gudang-ZNZ {
              font-weight: 400;
              margin-bottom: 0.0708rem;
              display: flex;
              font-size: 1.8rem;
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
          .auto-group-mbsh-FmB {
            width: calc(100% - 6.4rem);
            display: flex;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            background-color: #ffffff;
            margin-right: 6.4rem;
            box-sizing: border-box;
            padding: 0.8rem 2.2rem 0.829rem 0.6rem;
            align-items: center;

            .icon-pie-chart-2-aHf {
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
            }
            .host-iPs {
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.0708rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
        }
        .auto-group-sfww-R3P {
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.8rem 1.1rem 0.829rem 1.1rem;
          height: calc(100% - 11.7rem);
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 4.8rem 0rem 6.9rem 0rem;

          .icon-pie-chart-2-vVw {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
          }
          .customer-service-reV {
            cursor: pointer;
            font-size: 1.8rem;
            line-height: 1.3175;
            white-space: nowrap;
            margin-bottom: 0.0708rem;
            display: flex;
            font-weight: 400;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .group-89-YXK {
        margin-left: 0.7rem;
        width: 111.8rem;

        .perusahaan-Uvm {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
        }
        .auto-group-kxub-RLD {
          display: flex;
          align-items: center;
          margin-bottom: 2.2rem;
          width: 100%;
          height: 4.5rem;

          .group-88-ZSR {
            border-radius: 0.5rem;
            margin-right: 2.9rem;
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            padding: 0.9rem 0.7rem 0.9rem 0.9rem;
            display: flex;
            background-color: #ffffff;
            flex-shrink: 0;

            .emoji-office-building-UZP {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ganesha-operation-surabaya-dsk-cQh {
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
              cursor: pointer;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              display: flex;
            }
          }
          .auto-group-abpf-u8u {
            margin-right: 3rem;
            height: 100%;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 1.6rem 0.9rem 0.9rem;
            display: flex;
            border: solid 0.1rem #0e8136;

            .emoji-office-building-cp1 {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.9rem;
            }
            .pt-media-telekomunikasi-mandiri-9ow {
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
            }
          }
          .auto-group-bkqt-273 {
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.9rem 1.3rem 0.9rem 0.9rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;

            .emoji-office-building-kYq {
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .pt-arta-boga-boga-cemerlang-stM {
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
              margin-bottom: 0.1rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .auto-group-yka5-xuo {
          display: flex;
          align-items: flex-end;

          .auto-group-ybmb-iPB {
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin: 0.2rem 3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 0.9rem 2.2rem 0.9rem 0.9rem;
            align-items: center;

            .emoji-office-building-cUZ {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .cv-berlian-retail-Yd7 {
              margin-bottom: 0.1rem;
              line-height: 1.3175;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
            }
          }
          .auto-group-fiwd-STb {
            margin: 0.2rem 3rem 0rem 0rem;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 0.5rem;
            padding: 0.9rem 1.7rem 0.9rem 0.9rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;

            .emoji-office-building-Z2R {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .panara-course-HUD {
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #01d589;
              cursor: pointer;
              display: flex;
            }
          }
          .auto-group-9e8y-nA5 {
            border-radius: 0.5rem;
            flex-shrink: 0;
            padding: 0.9rem 1.4rem 0.9rem 0.9rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin: 0.2rem 3.2rem 0rem 0rem;
            box-sizing: border-box;

            .emoji-office-building-VaH {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .bali-super-host-EGy {
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.1rem;
              cursor: pointer;
              line-height: 1.3175;
              color: #01d589;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-rzwq-vQh {
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin-bottom: 0.2rem;
            box-sizing: border-box;
            border-radius: 0.5rem;
            flex-shrink: 0;
            padding: 1.1rem 1.7rem 0.7rem 0.9rem;
            display: flex;

            .emoji-office-building-ebb {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .angonjiwo-b13 {
              margin-bottom: 0.1rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              white-space: nowrap;
              cursor: pointer;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .kapan-saja-H8m {
      position: absolute;
      left: 6.3rem;
      align-items: center;
      height: 20.5rem;
      top: 23.3rem;
      display: flex;
      border-right: solid 0.1rem #777777;
      box-sizing: border-box;
      padding-right: 0.6rem;
      width: 45.9rem;

      .auto-group-es2d-n5X {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        border-left: solid 0.1rem #777777;
        padding: 0.5rem 0.4rem 0.5rem 2.4rem;
      }
      .auto-group-bkdf-Svm {
        margin-right: 0.5rem;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-gqc1-Pr1 {
          height: 3.4rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 2.155rem 1.8rem 0rem;
          width: 20.5453rem;

          .line-261-upM {
            width: 0.1rem;
            height: 3.4rem;
            position: absolute;
            left: 5.6rem;
            top: 0;
            background-color: #777777;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          }
          .kapan-saja-dEZ {
            font-family: Roboto Slab, 'Source Sans Pro';
            width: 9.7rem;
            left: 8.4rem;
            top: 0.5rem;
            display: flex;
            font-weight: 600;
            color: #000000;
            height: 2.4rem;
            position: absolute;
            font-size: 1.8rem;
            line-height: 1.3175;
            white-space: nowrap;
          }
          .icon-arrow-ios-downward-vjT {
            left: 0;
            top: 0.4rem;
            object-fit: contain;
            vertical-align: top;
            width: 20.5453rem;
            height: 2.9878rem;
            position: absolute;
          }
        }
        .auto-group-t7cd-EEM {
          box-sizing: border-box;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #96d1c5;
          padding: 1.15rem 1.5rem 0.85rem 1.3rem;
          width: 16.5rem;
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .kapan-saja-ivD {
            margin: 0rem 3.8rem 0.9rem 0rem;
            display: flex;
            line-height: 1.3175;
            color: #000000;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-256-d1b {
            margin: 0rem 0rem 0.25rem 0.1rem;
            width: 13.6rem;
            height: 0.05rem;
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
          }
          .jam-terakhir-j4d {
            font-size: 1.8rem;
            font-weight: 300;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.1rem 0.7rem 0rem;
            display: flex;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .line-268-En5 {
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            margin: 0rem 0rem 0.55rem 0.1rem;
            width: 13.6rem;
            height: 0.05rem;
          }
          .hari-terakhir-LaD {
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            font-size: 1.8rem;
            font-weight: 300;
            flex-shrink: 0;
            margin: 0rem 1.4rem 0.6rem 0rem;
            line-height: 1.3175;
            white-space: nowrap;
          }
          .line-259-FhB {
            margin: 0rem 0.1rem 0.55rem 0rem;
            width: 13.6rem;
            height: 0.05rem;
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
          }
          .hari-terakhir-Ap9 {
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.3175;
            flex-shrink: 0;
            margin-right: 0.4rem;
            display: flex;
          }
        }
      }
    }
  }
  .footer-E3K {
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;

    .tentang-jobstreet-express-kXT {
      flex-shrink: 0;
      font-size: 1.8rem;
      line-height: 1.3175;
      white-space: nowrap;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      margin-right: 4.6rem;
      display: flex;
      font-weight: 400;
    }
    .pusat-bantuan-H1b {
      margin-right: 44.9rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-c3s {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
  }
  .rectangle-594-vKT {
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
  }
  .auto-group-zzxq-39B {
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
  }
}
