
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-homepage-setelah-login-Lnd {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .header-n-navbar-variant2-3h3 {
    height: 27.2rem;
    background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
    flex-shrink: 0;
    margin-bottom: 11.8rem;
    width: 100%;

    .background-header-NzD {
      background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 7.5rem 0.3rem 4.5rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .auto-group-x4xr-uDT {
        height: 13.1rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 100%;

        .auto-group-wmbw-qcu {
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;

          .logo-removebg-preview-1-ZYu {
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .nama-pekerjaan-5XF {
            top: 10.2rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            font-weight: 400;
            color: #000000;
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;
            left: 0;
            display: flex;
            font-size: 1.8rem;
            white-space: nowrap;
          }
        }
        .di-mana-MzZ {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.9rem;
          display: flex;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          color: #000000;
        }
        .header-si1 {
          height: calc(100% - 10.2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 3.4rem 0rem 6.8rem 0rem;

          .icon-play-circle-outline-na5 {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.04rem 0.2rem 0rem 0rem;
            width: 2.3rem;
            height: 2.3398rem;
            object-fit: contain;
          }
          .simulasi-HFw {
            white-space: nowrap;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin: 0rem 3.647rem 0.3rem 0rem;
            cursor: pointer;
            font-weight: 600;
            flex-shrink: 0;
          }
          .icon-person-niV {
            height: 2.6rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.3rem 0.384rem 0rem 0rem;
            width: 2.4688rem;
          }
          .profil-saya-7Ey {
            margin: 0rem 5.3rem 0.5rem 0rem;
            font-weight: 600;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
          }
          .icon-bell-outline-DJ1 {
            flex-shrink: 0;
            margin: 0rem 0.345rem 0.4rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .job-alert-8vm {
            white-space: nowrap;
            flex-shrink: 0;
            color: #000000;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin: 0rem 5.9rem 0.3rem 0rem;
          }
          .icon-bookmark-rrm {
            flex-shrink: 0;
            margin: 0.2rem 0.045rem 0rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .lowongan-saya-ZmB {
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
            margin: 0rem 7.3rem 0.3rem 0rem;
            color: #000000;
          }
          .keluar-V93 {
            font-size: 1.8rem;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-weight: 600;
            line-height: 1.3175;
            white-space: nowrap;
          }
        }
      }
      .auto-group-vxad-ovR {
        margin-bottom: 4rem;
        height: 6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-se3t-xHX {
          flex-shrink: 0;
          margin-right: 3rem;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 1rem 1.2rem 1rem 1.8rem;
          border-radius: 1rem;

          .nama-pekerjaan-atau-perusahaan-gDX {
            margin-right: 8.4rem;
            display: flex;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #b0aaaa;
            white-space: nowrap;
          }
          .icon-search-outline-QQR {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-6nk9-JEu {
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3.1rem;
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2rem;
          height: 100%;
          display: flex;
          align-items: center;

          .nama-kota-atau-provinsi-d2H {
            color: #b0aaaa;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.2rem;
            font-size: 1.8rem;
            font-weight: 400;
            display: flex;
            line-height: 1.3175;
          }
          .icon-pin-outline-YQ9 {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-T1K {
          color: #ffffff;
          font-weight: 400;
          line-height: 1.2975;
          white-space: nowrap;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          width: 21rem;
          height: 100%;
          cursor: pointer;
          align-items: center;
          border-radius: 1.5rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          font-family: Candal, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 2rem;
        }
      }
      .auto-group-b2ph-FSy {
        width: calc(100% - 86.2rem);
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 84.4rem 0rem 1.8rem;
        padding: 0.2rem 2.555rem 0rem 2.5rem;
        height: 3.6rem;
        display: flex;
        border-left: solid 0.1rem #777777;
        border-right: solid 0.1rem #777777;
        box-sizing: border-box;

        .semua-jenis-pekerjaan-Kxd {
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          cursor: pointer;
          display: flex;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          margin: 0rem 0.4rem 0.4rem 0rem;
        }
        .auto-group-pl4h-dTX {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 2.4547rem;
          width: 20.5453rem;

          .line-171-AyF {
            position: absolute;
            left: 5.5rem;
            top: 0;
            background-color: #777777;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 0.1rem;
            height: 3.4rem;
          }
          .kapan-saja-VEq {
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            top: 0.3rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #000000;
            width: 9.6rem;
            height: 2.4rem;
            position: absolute;
            left: 8rem;
          }
          .icon-arrow-ios-downward-njj {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.5rem;
            height: 2.9879rem;
            position: absolute;
            left: 0;
          }
          .icon-arrow-ios-downward-vb3 {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 20.5453rem;
            height: 2.9879rem;
          }
        }
      }
    }
  }
  .yang-sering-dicari-wFF {
    flex-shrink: 0;
    margin: 0rem 13.6rem 11.8rem 14rem;
    width: calc(100% - 27.6rem);
    display: flex;
    flex-direction: column;

    .auto-group-pae5-fBF {
      margin: 0rem 80.5rem 2.336rem 0rem;
      width: calc(100% - 80.5rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-trending-up-bKo {
        margin-right: 1.1605rem;
        width: 4.1395rem;
        height: 4.3637rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .lowongan-yang-sering-dicari-WxZ {
        display: flex;
        font-size: 2.2rem;
        font-weight: 600;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1363rem;
        line-height: 1.3175;
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
    .jabatan-piM {
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.3175;
      color: #000000;
      white-space: nowrap;
      margin: 0rem 0rem 1.9rem 0.5rem;
      display: flex;
      font-size: 2.2rem;
    }
    .auto-group-vxfj-jKX {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 2.4rem 0.7rem;
      height: 4.5rem;

      .auto-group-nuzh-3r1 {
        border-radius: 0.5rem;
        flex-shrink: 0;
        padding: 0.8rem 2.463rem 0.808rem 0.6rem;
        align-items: center;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        margin: 0rem 2.838rem 0.021rem 0rem;
        box-sizing: border-box;
        height: calc(100% - 0.0215rem);
        display: flex;

        .icon-pie-chart-2-kEd {
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
        }
        .admin-5Xo {
          margin-bottom: 0.0709rem;
          font-size: 1.8rem;
          font-weight: 400;
          color: #008a88;
          display: flex;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-spbt-mfX {
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 0.8rem 1.6rem 0.829rem 0.6rem;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #0e8136;
        border-radius: 0.5rem;
        margin-right: 2.8rem;

        .icon-pie-chart-2-hZB {
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
        }
        .kasir-q9b {
          display: flex;
          font-size: 1.8rem;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          margin-bottom: 0.2709rem;
          font-weight: 400;
          line-height: 1.3175;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-58s3-vwj {
        flex-shrink: 0;
        margin-right: 2.8rem;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.5rem;
        border: solid 0.1rem #0e8136;
        box-sizing: border-box;
        padding: 0.8rem 1.7rem 0.829rem 0.6rem;
        height: 100%;
        display: flex;

        .icon-pie-chart-2-TRs {
          width: 2.723rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
        }
        .staff-marketing-zgh {
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          font-weight: 400;
          color: #008a88;
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
        }
      }
      .auto-group-5sjq-skV {
        box-sizing: border-box;
        display: flex;
        background-color: #ffffff;
        border-radius: 0.5rem;
        margin-right: 2.8rem;
        padding: 0.8rem 1.4rem 0.829rem 0.6rem;
        height: 100%;
        align-items: center;
        border: solid 0.1rem #0e8136;
        flex-shrink: 0;

        .icon-pie-chart-2-o8M {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
        }
        .staff-accounting-wEZ {
          font-weight: 400;
          line-height: 1.3175;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          margin-bottom: 0.0709rem;
          display: flex;
          flex-shrink: 0;
          font-size: 1.8rem;
          white-space: nowrap;
        }
      }
      .auto-group-lcm7-RvR {
        align-items: center;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 0.8rem 1.6rem 0.829rem 0.6rem;
        display: flex;
        margin-right: 2.3rem;
        height: 100%;
        flex-shrink: 0;

        .icon-pie-chart-2-95j {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
          object-fit: contain;
        }
        .staff-gudang-UNu {
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          font-weight: 400;
          white-space: nowrap;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
        }
      }
      .auto-group-kwjh-ZfF {
        box-sizing: border-box;
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        border: solid 0.1rem #0e8136;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.5rem;

        .icon-pie-chart-2-VYu {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
        }
        .customer-service-1n9 {
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.0709rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-ngkh-tqw {
      margin: 0rem 0rem 4.8rem 0.7rem;
      height: 4.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-whko-2SM {
        margin: 0rem 2.838rem 0.021rem 0rem;
        box-sizing: border-box;
        padding: 0.8rem 2.263rem 0.808rem 0.6rem;
        display: flex;
        align-items: center;
        height: calc(100% - 0.0215rem);
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .icon-pie-chart-2-vnd {
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
        }
        .barista-4tq {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          font-weight: 400;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          display: flex;
          font-size: 1.8rem;
          color: #008a88;
        }
      }
      .auto-group-jpfk-xDX {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 2.7rem;
        box-sizing: border-box;
        padding: 0.8rem 0.9rem 0.829rem 0.6rem;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        height: 100%;
        display: flex;
        align-items: center;

        .icon-pie-chart-2-srH {
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .driver-R77 {
          font-size: 1.8rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          display: flex;
          font-weight: 400;
          line-height: 1.3175;
          color: #008a88;
        }
      }
      .auto-group-zkyy-iM7 {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 2.3rem 0.829rem 0.6rem;
        height: 100%;
        border: solid 0.1rem #0e8136;
        border-radius: 0.5rem;
        margin-right: 2.9rem;

        .icon-pie-chart-2-SY1 {
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .quality-control-aeD {
          line-height: 1.3175;
          color: #008a88;
          white-space: nowrap;
          display: flex;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          font-size: 1.8rem;
        }
      }
      .auto-group-lhyu-GX3 {
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 2.8rem;
        padding: 0.8rem 2.5rem 0.829rem 0.6rem;
        display: flex;
        border: solid 0.1rem #0e8136;
        border-radius: 0.5rem;

        .icon-pie-chart-2-bZK {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
        }
        .content-creator-Xxm {
          margin-bottom: 0.0709rem;
          font-weight: 400;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-krf7-qTf {
        box-sizing: border-box;
        padding: 0.8rem 2.2rem 0.829rem 0.6rem;
        height: 100%;
        display: flex;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        align-items: center;
        border: solid 0.1rem #0e8136;

        .icon-pie-chart-2-ms7 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
          object-fit: contain;
        }
        .host-uyK {
          margin-bottom: 0.0709rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          display: flex;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-91-br9 {
      margin-left: 0.7rem;
      width: 111.8rem;
      flex-shrink: 0;

      .perusahaan-wf7 {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.9rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
      }
      .auto-group-caam-Uf3 {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 2.2rem;

        .auto-group-wql1-d29 {
          align-items: center;
          border: solid 0.1rem #0e8136;
          margin-right: 2.9rem;
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          height: 100%;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          background-color: #ffffff;

          .emoji-office-building-kMf {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ganesha-operation-surabaya-dsk-HMb {
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-xjdb-a5o {
          margin-right: 3rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          height: 100%;
          display: flex;
          align-items: center;

          .emoji-office-building-VyT {
            margin-right: 0.9rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pt-media-telekomunikasi-mandiri-pVw {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            line-height: 1.3175;
            color: #01d589;
          }
        }
        .auto-group-puam-WNm {
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          align-items: center;
          border: solid 0.1rem #0e8136;
          box-sizing: border-box;
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;
          height: 100%;
          display: flex;

          .emoji-office-building-qfw {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .pt-arta-boga-boga-cemerlang-Nvm {
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            display: flex;
            font-weight: 400;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-e77w-fey {
        display: flex;
        align-items: flex-end;

        .auto-group-tzkd-R8M {
          background-color: #ffffff;
          margin: 0.2rem 3rem 0rem 0rem;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-8YZ {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .cv-berlian-retail-rzM {
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-ph69-AEM {
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          margin: 0.2rem 3rem 0rem 0rem;
          box-sizing: border-box;
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;

          .emoji-office-building-H45 {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .panara-course-QeV {
            font-weight: 400;
            color: #01d589;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-wcyo-Jjs {
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.2rem 3.2rem 0rem 0rem;
          box-sizing: border-box;
          align-items: center;

          .emoji-office-building-RZb {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
          }
          .bali-super-host-xJd {
            margin-bottom: 0.1rem;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-czpf-r97 {
          box-sizing: border-box;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-bottom: 0.2rem;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .emoji-office-building-mms {
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
          }
          .angonjiwo-K2h {
            line-height: 1.3175;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            display: flex;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .footer-oCm {
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;

    .tentang-jobstreet-express-voB {
      display: flex;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.6rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .pusat-bantuan-T2R {
      margin-right: 44.9rem;
      display: flex;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
    }
    .copyright-2023-jobstreet-express-BUD {
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .rectangle-594-Hn9 {
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
  }
  .auto-group-w81f-DQu {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
