
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-membuat-profil-ExZ {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 1.7rem;
  width: 100%;
  height: 149.1rem;

  .auto-group-n1e9-xdf {
    position: relative;
    width: 100%;
    height: 152.8rem;

    .logo-jobstreet-6js {
      width: 29.8rem;
      height: 10.9rem;
      cursor: pointer;
      position: absolute;
      left: 4rem;
      top: 0;

      .logo-removebg-preview-2-39K {
        width: 29.8rem;
        height: 10.9rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .akun-bar-a9F {
      height: 45rem;
      position: absolute;
      left: 6rem;
      top: 14.6rem;
      align-items: center;
      width: 48rem;
      display: flex;
      flex-direction: column;
      background-color: #ecf5e5;
      border-radius: 2.5rem;

      .auto-group-gydb-6tH {
        font-weight: 600;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        background: linear-gradient(89.98deg, #a4ea9c 16.98%, #3ebac8 95.5%);
        border-radius: 2rem 2rem 0 0;
        flex-shrink: 0;
        font-size: 2.2rem;
        padding: 1.693rem 3.4rem 2.107rem 3.4rem;
        width: 100%;
        display: flex;
        line-height: 1.3175;
        color: #015442;
        box-sizing: border-box;
      }
      .auto-group-fzsh-Xyb {
        width: 100%;
        height: 38.3rem;
        position: relative;
        flex-shrink: 0;

        .auto-group-sh9b-f4D {
          height: 2.7rem;
          position: absolute;
          left: 3.4rem;
          top: 1.5143rem;
          width: 5.1rem;

          .profil-Xs7 {
            width: 5.1rem;
            position: absolute;
            left: 0;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            height: 2.7rem;
            top: 0;
            font-size: 2rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .profil-d9T {
            left: 0;
            top: 0;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            width: 5.1rem;
            position: absolute;
            font-weight: 400;
            height: 2.7rem;
            font-size: 2rem;
          }
        }
        .alert-v8Z {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 2rem;
          height: 2.7rem;
          cursor: pointer;
          position: absolute;
          left: 3rem;
          top: 8.4715rem;
          font-weight: 400;
          line-height: 1.3175;
          width: 4.8rem;
          white-space: nowrap;
        }
        .hapus-akun-NmF {
          width: 11.8rem;
          height: 2.7rem;
          position: absolute;
          left: 3rem;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          cursor: pointer;
          top: 28.9rem;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .pengaturan-RUd {
          font-weight: 400;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          height: 2.7rem;
          position: absolute;
          top: 22.1rem;
          font-size: 2rem;
          color: #000000;
          white-space: nowrap;
          width: 11rem;
          cursor: pointer;
          left: 3rem;
        }
        .lowongan-saya-GVF {
          font-weight: 400;
          color: #000000;
          width: 15rem;
          position: absolute;
          font-size: 2rem;
          top: 15.3285rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.7rem;
          cursor: pointer;
          left: 3rem;
        }
        .line-23-mB7 {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 42rem;
          height: 0.3rem;
          position: absolute;
          left: 3rem;
          top: 5.9285rem;
          background-color: #008a88;
        }
        .line-24-sE9 {
          position: absolute;
          left: 3rem;
          top: 12.7857rem;
          background-color: #000000;
          width: 42rem;
          height: 0.2rem;
        }
        .line-27-otV {
          height: 0.2rem;
          position: absolute;
          left: 3rem;
          top: 33.743rem;
          background-color: #000000;
          width: 42rem;
        }
        .line-26-M9K {
          top: 26.6285rem;
          background-color: #000000;
          width: 42rem;
          height: 0.2rem;
          position: absolute;
          left: 3rem;
        }
        .line-25-gSV {
          height: 0.2rem;
          position: absolute;
          left: 3rem;
          top: 19.8715rem;
          background-color: #000000;
          width: 42rem;
        }
      }
    }
    .profil-oX7 {
      cursor: pointer;
      position: absolute;
      left: 64.3rem;
      top: 13.3rem;
      width: 67.3rem;
      height: 103.8rem;

      .auto-group-p3rj-uq3 {
        box-sizing: border-box;
        padding-bottom: 1.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .buat-profil-FP7 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 5.7rem;
          font-size: 5rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #015442;
          font-family: Jacques Francois Shadow, 'Source Sans Pro';
        }
        .nama-lengkap-agH {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 600;
        }
      }
      .auto-group-mqww-7w7 {
        border: solid 0.1rem #008a88;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1rem;
        margin-bottom: 4.3rem;
        width: 100%;

        .rectangle-712-UWm {
          width: 100%;
          height: 7rem;
          border: solid 0.2rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 1rem;
        }
      }
      .nomor-telepon-aZo {
        white-space: nowrap;
        margin-bottom: 1.75rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .auto-group-qadx-WTT {
        background-color: #ffffff;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1.35rem 53.5rem 1.35rem 2.9rem;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 4.65rem;
        border: solid 0.2rem #000000;

        .image-44-RaR {
          height: 2.0004rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.5rem 1.8rem 0rem 0rem;
          width: 3rem;
        }
        .item-62-wYm {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.4rem 2.3rem 0rem 0rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
        }
        .line-190-FZT {
          width: 0.1rem;
          height: 4.3rem;
          background-color: #000000;
          flex-shrink: 0;
        }
      }
      .alamat-a5w {
        margin-bottom: 1.3rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-714-Jnd {
        border-radius: 1rem;
        margin-bottom: 4.2rem;
        width: 100%;
        height: 7rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
      }
      .deskripsi-diri-minimal-1-paragraf-3ER {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.1rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
      }
      .auto-group-vejb-NGh {
        margin-bottom: 1.2rem;
        border-radius: 1rem;
        border: solid 0.2rem #000000;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 23.8rem 0.5rem 0.65rem 64.9rem;
        width: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .line-269-5wo {
          width: 100%;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
          margin-bottom: 0.55rem;
        }
        .line-270-dTX {
          height: 0.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.0313rem;
          width: 1rem;
        }
      }
      .upload-cv-resume-vxR {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-qniu-UDF {
        padding-top: 0.9rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .auto-group-smyu-RPP {
          flex-shrink: 0;
          margin: 0rem 47.1rem 0.7rem 0rem;
          padding: 1.9rem 2.8rem 1.6rem 2.5rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 1rem;
          box-sizing: border-box;
          width: calc(100% - 47.1rem);
          border: solid 0.2rem #000000;

          .choose-file-j9B {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 1rem 0.3rem 0rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
          }
          .image-45-3ff {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .jenis-file-pdf-ukuran-file-maks-43-mb-9yb {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 300;
        }
      }
    }
    .footer-gCq {
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      position: absolute;
      left: 0;
      top: 139.5rem;
      display: flex;
      align-items: center;
      background-color: #008a88;
      box-sizing: border-box;
      width: 144rem;
      height: 7.9rem;

      .tentang-jobstreet-express-P7F {
        font-family: Roboto Slab, 'Source Sans Pro';
        margin-right: 4.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .pusat-bantuan-6nM {
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        white-space: nowrap;
        margin-right: 44.9rem;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .copyright-2023-jobstreet-express-qE9 {
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .bottom-9Vj {
      font-weight: 400;
      font-family: Candal, 'Source Sans Pro';
      white-space: nowrap;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      cursor: pointer;
      left: 64.4rem;
      color: #ffffff;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 124.6rem;
      align-items: center;
      font-size: 2rem;
      line-height: 1.2975;
      background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
      width: 21rem;
      height: 6rem;
      border-radius: 1.5rem;
    }
    .bottom-ZJZ {
      left: 90.4rem;
      font-size: 2rem;
      white-space: nowrap;
      background-color: #ffffff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 6rem;
      position: absolute;
      display: flex;
      font-weight: 400;
      border-radius: 1.5rem;
      top: 124.6rem;
      align-items: center;
      justify-content: center;
      font-family: Candal, 'Source Sans Pro';
      border: solid 0.2rem #015442;
      width: 21rem;
      line-height: 1.2975;
      color: #015442;
      box-sizing: border-box;
    }
    .image-46-azM {
      width: 57.4rem;
      height: 70.8rem;
      position: absolute;
      left: 1.8rem;
      top: 63.1rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
