
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-filter-pencarian-lowongan-kerja--j6q {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-nvtr-rhF {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 11.8rem;
    width: 100%;
    height: 82.9rem;

    .background-header-oMb {
      height: 27.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
      box-sizing: border-box;
      padding: 0rem 7.5rem 0.3rem 4.5rem;
      width: 144rem;
      position: absolute;

      .auto-group-3ryb-6bb {
        display: flex;
        align-items: flex-end;
        margin-bottom: 0.2rem;
        width: 100%;
        height: 13.1rem;

        .auto-group-yx13-ESu {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;

          .logo-removebg-preview-1-kw3 {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
          }
          .nama-pekerjaan-5yK {
            width: 14.5rem;
            position: absolute;
            left: 0;
            top: 10.2rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            height: 2.4rem;
            display: flex;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .di-mana-mLM {
          line-height: 1.3175;
          color: #000000;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          margin-right: 2.9rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .header-V1T {
          margin: 3.4rem 0rem 6.8rem 0rem;
          height: calc(100% - 10.2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-play-circle-outline-bKP {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.04rem 0.2rem 0rem 0rem;
            width: 2.3rem;
            height: 2.3398rem;
          }
          .simulasi-h7X {
            font-size: 1.8rem;
            white-space: nowrap;
            margin: 0rem 3.647rem 0.3rem 0rem;
            cursor: pointer;
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .icon-person-bCu {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.3rem 0.385rem 0rem 0rem;
            width: 2.4684rem;
            height: 2.6rem;
            position: relative;
            object-fit: contain;
          }
          .profil-saya-6fT {
            color: #000000;
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            flex-shrink: 0;
            margin: 0rem 5.3rem 0.5rem 0rem;
            cursor: pointer;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .icon-bell-outline-CTb {
            margin: 0rem 0.345rem 0.4rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .job-alert-7qT {
            white-space: nowrap;
            margin: 0rem 5.9rem 0.3rem 0rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            cursor: pointer;
            font-weight: 600;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .icon-bookmark-3DK {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.2rem 0.045rem 0rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
          }
          .lowongan-saya-Aoj {
            white-space: nowrap;
            margin: 0rem 7.3rem 0.3rem 0rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
          }
          .keluar-tjj {
            cursor: pointer;
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-nher-pdP {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
        height: 6rem;

        .auto-group-qay7-AhF {
          padding: 1rem 1.2rem 1rem 1.8rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 1rem;
          margin-right: 3rem;
          height: 100%;
          display: flex;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;

          .nama-pekerjaan-atau-perusahaan-tt9 {
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 29.1rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #000000;
          }
          .icon-search-outline-Qbb {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-ugwt-Jws {
          box-sizing: border-box;
          padding: 1rem 0.8rem 1rem 2rem;
          height: 100%;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3.1rem;
          display: flex;
          align-items: center;

          .nama-kota-atau-provinsi-SYH {
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 27.2rem;
          }
          .icon-pin-outline-y2R {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-ffw {
          height: 100%;
          cursor: pointer;
          display: flex;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-family: Candal, 'Source Sans Pro';
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          line-height: 1.2975;
          border-radius: 1.5rem;
          flex-shrink: 0;
          width: 21rem;
          font-size: 2rem;
        }
      }
      .auto-group-yjeq-h6q {
        height: 3.6rem;
        margin-left: 1.8rem;
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0rem 22.7rem;
        width: 45.8rem;

        .auto-group-hrnz-ovZ {
          height: 100%;
          width: 100%;
        }
      }
    }
    .yang-sering-dicari-fhs {
      left: 14rem;
      top: 38.8rem;
      width: 116.4rem;
      height: 43.9rem;
      position: absolute;

      .auto-group-qjdp-PNy {
        display: flex;
        align-items: center;
        margin: 0rem 80.5rem 2.336rem 0rem;
        width: calc(100% - 80.5rem);

        .icon-trending-up-7Jy {
          margin-right: 1.1607rem;
          width: 4.1393rem;
          height: 4.3637rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .lowongan-yang-sering-dicari-Sc9 {
          color: #015442;
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1363rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .group-90-k73 {
        height: 16.2rem;
        display: flex;
        align-items: flex-end;
        margin: 0rem 0rem 4.8rem 0.5rem;

        .auto-group-hgxt-G5P {
          height: calc(100% - 0.0215rem);
          flex-shrink: 0;
          margin: 0rem 2.838rem 0.021rem 0rem;
          width: 13.1625rem;

          .jabatan-xiu {
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            display: flex;
            font-size: 2.2rem;
          }
          .auto-group-yuv1-hRb {
            padding: 0.8rem 2.463rem 0.808rem 0.6rem;
            width: calc(100% - 0.2rem);
            margin: 0rem 0rem 2.421rem 0.2rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;

            .icon-pie-chart-2-zfb {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .admin-LDf {
              display: flex;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              flex-shrink: 0;
              margin-bottom: 0.0708rem;
              cursor: pointer;
              font-size: 1.8rem;
            }
          }
          .auto-group-hs9f-osw {
            box-sizing: border-box;
            padding: 0.8rem 2.263rem 0.808rem 0.6rem;
            width: calc(100% - 0.2rem);
            display: flex;
            align-items: center;
            margin-left: 0.2rem;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;

            .icon-pie-chart-2-KLV {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .barista-f9T {
              margin-bottom: 0.0708rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-jtx3-A6D {
          margin-right: 2.7rem;
          width: 10.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-f9xm-hbw {
            width: 100%;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            display: flex;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            box-sizing: border-box;

            .icon-pie-chart-2-pgZ {
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
            }
            .kasir-9iq {
              display: flex;
              line-height: 1.3175;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2708rem;
              font-size: 1.8rem;
              font-weight: 400;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
          .auto-group-m6nd-TDj {
            box-sizing: border-box;
            display: flex;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 0.8rem 0.9rem 0.829rem 0.6rem;
            width: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;

            .icon-pie-chart-2-B9j {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
            }
            .driver-i9f {
              display: flex;
              color: #008a88;
              white-space: nowrap;
              margin-bottom: 0.0708rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .auto-group-umz3-CKj {
          flex-shrink: 0;
          margin-right: 2.8rem;
          width: 19.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-22qh-Y8h {
            background-color: #ffffff;
            padding: 0.8rem 1.7rem 0.829rem 0.6rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin: 0rem 0rem 2.4rem 0.1rem;
            box-sizing: border-box;

            .icon-pie-chart-2-qdb {
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
            }
            .staff-marketing-sKP {
              display: flex;
              line-height: 1.3175;
              flex-shrink: 0;
              margin-bottom: 0.0708rem;
              font-size: 1.8rem;
              font-weight: 400;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-gmxm-YRX {
            flex-shrink: 0;
            width: calc(100% - 0.1rem);
            display: flex;
            border-radius: 0.5rem;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin-right: 0.1rem;
            box-sizing: border-box;
            padding: 0.8rem 2.3rem 0.829rem 0.6rem;

            .icon-pie-chart-2-ToP {
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
            }
            .quality-control-nam {
              font-size: 1.8rem;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.0708rem;
              line-height: 1.3175;
              color: #008a88;
              flex-shrink: 0;
              display: flex;
            }
          }
        }
        .auto-group-ueft-fuT {
          margin-right: 2.8rem;
          width: 20.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-gxvt-Qs3 {
            background-color: #ffffff;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            display: flex;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;
            padding: 0.8rem 1.4rem 0.829rem 0.6rem;
            width: 100%;
            align-items: center;
            border-radius: 0.5rem;

            .icon-pie-chart-2-8o3 {
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
            }
            .staff-accounting-sVj {
              font-weight: 400;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.0708rem;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-hfwf-y2y {
            box-sizing: border-box;
            padding: 0.8rem 2.5rem 0.829rem 0.6rem;
            width: 100%;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;

            .icon-pie-chart-2-VX7 {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .content-creator-2mw {
              flex-shrink: 0;
              margin-bottom: 0.0708rem;
              font-size: 1.8rem;
              font-weight: 400;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              display: flex;
              line-height: 1.3175;
              white-space: nowrap;
            }
          }
        }
        .auto-group-pvnv-Xih {
          margin-right: 2.3rem;
          width: 17.2rem;
          flex-shrink: 0;

          .auto-group-srum-GwB {
            box-sizing: border-box;
            width: 100%;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin-bottom: 2.4rem;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;

            .icon-pie-chart-2-1Ny {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
            }
            .staff-gudang-8yP {
              display: flex;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.0708rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              flex-shrink: 0;
            }
          }
          .auto-group-u9qm-qcu {
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: calc(100% - 6.4rem);
            display: flex;
            align-items: center;
            margin-right: 6.4rem;
            padding: 0.8rem 2.2rem 0.829rem 0.6rem;

            .icon-pie-chart-2-ZYu {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8708rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .host-6Yq {
              flex-shrink: 0;
              margin-bottom: 0.0708rem;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
        }
        .auto-group-erms-Q3j {
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          padding: 0.8rem 1.1rem 0.829rem 1.1rem;
          display: flex;
          height: calc(100% - 11.7rem);
          flex-shrink: 0;
          margin: 4.8rem 0rem 6.9rem 0rem;
          box-sizing: border-box;

          .icon-pie-chart-2-hHj {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8708rem;
            object-fit: contain;
          }
          .customer-service-EoT {
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.0708rem;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            white-space: nowrap;
          }
        }
      }
      .group-89-XnZ {
        margin-left: 0.7rem;
        width: 111.8rem;

        .perusahaan-5JH {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .auto-group-xhqk-cJD {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 4.5rem;
          display: flex;
          align-items: center;

          .group-88-9ow {
            height: 100%;
            display: flex;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 0.7rem 0.9rem 0.9rem;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin-right: 2.9rem;
            align-items: center;

            .emoji-office-building-gJ5 {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .ganesha-operation-surabaya-dsk-QE5 {
              color: #01d589;
              margin-bottom: 0.1rem;
              font-size: 1.8rem;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              line-height: 1.3175;
            }
          }
          .auto-group-79sx-VFX {
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 3rem;
            box-sizing: border-box;
            padding: 0.9rem 1.6rem 0.9rem 0.9rem;
            height: 100%;
            align-items: center;
            border-radius: 0.5rem;

            .emoji-office-building-cL9 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.9rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
            }
            .pt-media-telekomunikasi-mandiri-w7X {
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #01d589;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              cursor: pointer;
              display: flex;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
          .auto-group-o5mb-Daq {
            padding: 0.9rem 1.3rem 0.9rem 0.9rem;
            height: 100%;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            align-items: center;
            border-radius: 0.5rem;

            .emoji-office-building-9UV {
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
            }
            .pt-arta-boga-boga-cemerlang-Umf {
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.1rem;
              cursor: pointer;
              font-size: 1.8rem;
              font-weight: 400;
              display: flex;
              line-height: 1.3175;
              color: #01d589;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-wuyr-xgq {
          align-items: flex-end;
          display: flex;

          .auto-group-b87b-WiM {
            box-sizing: border-box;
            align-items: center;
            flex-shrink: 0;
            margin: 0.2rem 3rem 0rem 0rem;
            padding: 0.9rem 2.2rem 0.9rem 0.9rem;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;

            .emoji-office-building-cmP {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .cv-berlian-retail-wof {
              font-size: 1.8rem;
              font-weight: 400;
              white-space: nowrap;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              display: flex;
              line-height: 1.3175;
              color: #01d589;
            }
          }
          .auto-group-dsnm-2aD {
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            margin: 0.2rem 3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 0.9rem 1.7rem 0.9rem 0.9rem;
            align-items: center;
            border-radius: 0.5rem;

            .emoji-office-building-wSH {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .panara-course-GUZ {
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-vxc1-kuX {
            flex-shrink: 0;
            padding: 0.9rem 1.4rem 0.9rem 0.9rem;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            margin: 0.2rem 3.2rem 0rem 0rem;
            box-sizing: border-box;
            align-items: center;

            .emoji-office-building-UKj {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
            }
            .bali-super-host-QjB {
              margin-bottom: 0.1rem;
              font-size: 1.8rem;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              line-height: 1.3175;
              color: #01d589;
              flex-shrink: 0;
            }
          }
          .auto-group-zsiy-hiH {
            margin-bottom: 0.2rem;
            padding: 1.1rem 1.7rem 0.7rem 0.9rem;
            display: flex;
            background-color: #ffffff;
            box-sizing: border-box;
            align-items: center;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .emoji-office-building-2kZ {
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
            }
            .angonjiwo-a1P {
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
              margin-bottom: 0.1rem;
              display: flex;
            }
          }
        }
      }
    }
    .semua-jenis-pekerjaan-SZP {
      padding: 0rem 2.755rem 0rem 2.4rem;
      position: absolute;
      left: 6.3rem;
      border-right: solid 0.1rem #777777;
      border-left: solid 0.1rem #777777;
      box-sizing: border-box;
      width: 45.9rem;
      height: 21rem;
      top: 23.3rem;

      .auto-group-mohb-8SD {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-es29-gTj {
          margin-bottom: 1.9rem;
          width: 100%;
          height: 3.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .semua-jenis-pekerjaan-RgD {
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.2rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 600;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .auto-group-bzmf-9cD {
            position: relative;
            flex-shrink: 0;
            width: 20.5453rem;
            height: 100%;

            .line-171-u5b {
              width: 0.1rem;
              height: 3.4rem;
              position: absolute;
              left: 5.6rem;
              top: 0;
              background-color: #777777;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            }
            .kapan-saja-C4h {
              line-height: 1.3175;
              color: #000000;
              height: 2.4rem;
              left: 8.4rem;
              top: 0.5rem;
              display: flex;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              width: 9.6rem;
              position: absolute;
              font-size: 1.8rem;
              font-weight: 400;
            }
            .icon-arrow-ios-downward-sRj {
              vertical-align: top;
              width: 20.5453rem;
              height: 2.9878rem;
              position: absolute;
              left: 0;
              top: 0.4rem;
              object-fit: contain;
            }
          }
        }
        .auto-group-dsgm-nob {
          padding: 1.4rem 1.5rem 1.7rem 1.9rem;
          width: 23.7rem;
          background-color: #96d1c5;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .semua-jenis-pekerjaan-c1w {
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.3rem;
            display: flex;
            font-size: 1.8rem;
          }
          .line-256-X8u {
            height: 0.05rem;
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            margin-bottom: 1.25rem;
            width: 100%;
          }
          .full-time-SWm {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.5rem 0.2rem;
          }
          .line-257-ZbP {
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            margin-bottom: 1.25rem;
            width: 100%;
            height: 0.05rem;
          }
          .part-time-65X {
            margin-left: 0.2rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .footer-A5P {
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;

    .tentang-jobstreet-express-5TF {
      flex-shrink: 0;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      margin-right: 4.6rem;
      display: flex;
      white-space: nowrap;
    }
    .pusat-bantuan-Piq {
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 44.9rem;
      display: flex;
      font-size: 1.8rem;
      color: #ffffff;
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-vCy {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
  }
  .rectangle-594-EDf {
    background-color: #8c8989;
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
  }
  .auto-group-q5a9-x9f {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
