
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-filter-pencarian-lowongan-kerja--eU9 {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .auto-group-9yqq-xDw {
    margin-bottom: 11.8rem;
    width: 100%;
    height: 82.9rem;
    position: relative;
    flex-shrink: 0;

    .background-header-5pM {
      padding: 0rem 7.5rem 0.3rem 4.5rem;
      width: 144rem;
      position: absolute;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 27.2rem;
      left: 0;
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);

      .auto-group-k1sq-zRX {
        margin-bottom: 0.2rem;
        width: 100%;
        height: 13.1rem;
        display: flex;
        align-items: flex-end;

        .auto-group-8jb3-va5 {
          flex-shrink: 0;
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;
          position: relative;

          .logo-removebg-preview-1-T4D {
            height: 10.9rem;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
          }
          .nama-pekerjaan-mqb {
            top: 10.2rem;
            font-size: 1.8rem;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.3175;
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;
            left: 0;
            display: flex;
          }
        }
        .di-mana-FEy {
          margin-right: 2.9rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .header-jvq {
          margin: 3.4rem 0rem 6.8rem 0rem;
          height: calc(100% - 10.2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-play-circle-outline-qiy {
            width: 2.3rem;
            height: 2.3398rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.04rem 0.2rem 0rem 0rem;
          }
          .simulasi-9Um {
            margin: 0rem 3.647rem 0.3rem 0rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            cursor: pointer;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .icon-person-45w {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.3rem 0.385rem 0rem 0rem;
            width: 2.4684rem;
            height: 2.6rem;
            position: relative;
          }
          .profil-saya-yTo {
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            margin: 0rem 5.3rem 0.5rem 0rem;
            font-weight: 600;
          }
          .icon-bell-outline-5mj {
            margin: 0rem 0.345rem 0.4rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .job-alert-1QV {
            cursor: pointer;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 5.9rem 0.3rem 0rem;
            font-size: 1.8rem;
            font-weight: 600;
          }
          .icon-bookmark-wJ9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.2rem 0.045rem 0rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
          }
          .lowongan-saya-GLR {
            margin: 0rem 7.3rem 0.3rem 0rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
            color: #000000;
          }
          .keluar-BTP {
            font-weight: 600;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-size: 1.8rem;
            line-height: 1.3175;
          }
        }
      }
      .auto-group-tgn5-u8V {
        margin-bottom: 4rem;
        height: 6rem;
        display: flex;
        align-items: center;

        .auto-group-kmyd-FCM {
          padding: 1rem 1.2rem 1rem 1.8rem;
          height: 100%;
          display: flex;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3rem;
          box-sizing: border-box;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .nama-pekerjaan-atau-perusahaan-yPF {
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            color: #000000;
            margin-right: 29.1rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
          }
          .icon-search-outline-hKF {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-2gvv-Pxm {
          padding: 1rem 0.8rem 1rem 2rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          margin-right: 3.1rem;
          box-sizing: border-box;
          border-radius: 1rem;
          height: 100%;
          background-color: #ffffff;

          .nama-kota-atau-provinsi-ik9 {
            margin-right: 27.2rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .icon-pin-outline-3Gd {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-kRw {
          border-radius: 1.5rem;
          flex-shrink: 0;
          width: 21rem;
          display: flex;
          color: #ffffff;
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          align-items: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2975;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          height: 100%;
          justify-content: center;
        }
      }
      .auto-group-z8c1-MAq {
        margin-left: 1.8rem;
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0rem 22.7rem;
        width: 45.8rem;
        height: 3.6rem;

        .auto-group-p1mb-FGD {
          width: 100%;
          height: 100%;
        }
      }
    }
    .yang-sering-dicari-iQh {
      width: 116.4rem;
      height: 43.9rem;
      position: absolute;
      left: 14rem;
      top: 38.8rem;

      .auto-group-jtmx-Xd3 {
        margin: 0rem 80.5rem 2.336rem 0rem;
        width: calc(100% - 80.5rem);
        display: flex;
        align-items: center;

        .icon-trending-up-FJ9 {
          margin-right: 1.1607rem;
          width: 4.1393rem;
          height: 4.3637rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .lowongan-yang-sering-dicari-NtZ {
          display: flex;
          font-size: 2.2rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.1363rem;
          font-weight: 600;
          color: #015442;
          white-space: nowrap;
        }
      }
      .group-90-Hkd {
        margin: 0rem 0rem 4.8rem 0.5rem;
        height: 16.2rem;
        display: flex;
        align-items: flex-end;

        .auto-group-ftsz-QqF {
          margin: 0rem 2.838rem 0.021rem 0rem;
          width: 13.1625rem;
          height: calc(100% - 0.0215rem);
          flex-shrink: 0;

          .jabatan-w4V {
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            display: flex;
            font-size: 2.2rem;
          }
          .auto-group-gvpf-GMf {
            margin: 0rem 0rem 2.421rem 0.2rem;
            width: calc(100% - 0.2rem);
            background-color: #ffffff;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.8rem 2.463rem 0.808rem 0.6rem;
            display: flex;
            align-items: center;

            .icon-pie-chart-2-ZLm {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .admin-UyX {
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.0709rem;
              font-weight: 400;
              color: #008a88;
            }
          }
          .auto-group-5d4m-N3K {
            margin-left: 0.2rem;
            width: calc(100% - 0.2rem);
            display: flex;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.8rem 2.263rem 0.808rem 0.6rem;
            align-items: center;
            background-color: #ffffff;

            .icon-pie-chart-2-5iR {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
            }
            .barista-Dpd {
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              white-space: nowrap;
            }
          }
        }
        .auto-group-wfwq-7f7 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 2.7rem;
          width: 10.8rem;
          align-items: center;

          .auto-group-i8kj-44Z {
            margin-bottom: 2.4rem;
            align-items: center;
            width: 100%;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;

            .icon-pie-chart-2-aob {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
            }
            .kasir-KFP {
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.2709rem;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
            }
          }
          .auto-group-8shk-owF {
            width: 100%;
            flex-shrink: 0;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.8rem 0.9rem 0.829rem 0.6rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;

            .icon-pie-chart-2-LRP {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .driver-fyT {
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              flex-shrink: 0;
              font-weight: 400;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-owhb-MbP {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 2.8rem;
          width: 19.8rem;
          align-items: center;

          .auto-group-frcm-uN1 {
            padding: 0.8rem 1.7rem 0.829rem 0.6rem;
            width: calc(100% - 0.1rem);
            border: solid 0.1rem #0e8136;
            margin: 0rem 0rem 2.4rem 0.1rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .icon-pie-chart-2-1vq {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
            }
            .staff-marketing-xLH {
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
              color: #008a88;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-xm1k-EYh {
            box-sizing: border-box;
            padding: 0.8rem 2.3rem 0.829rem 0.6rem;
            width: calc(100% - 0.1rem);
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            margin-right: 0.1rem;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;

            .icon-pie-chart-2-YpH {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .quality-control-g9o {
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              line-height: 1.3175;
              font-weight: 400;
              white-space: nowrap;
              display: flex;
              font-size: 1.8rem;
            }
          }
        }
        .auto-group-erlm-NYR {
          flex-shrink: 0;
          margin-right: 2.8rem;
          width: 20.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-z6su-7F7 {
            background-color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            padding: 0.8rem 1.4rem 0.829rem 0.6rem;
            align-items: center;
            border: solid 0.1rem #0e8136;
            width: 100%;
            display: flex;
            border-radius: 0.5rem;

            .icon-pie-chart-2-dz9 {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .staff-accounting-aPb {
              margin-bottom: 0.0709rem;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
            }
          }
          .auto-group-8e3k-UE5 {
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 2.5rem 0.829rem 0.6rem;
            width: 100%;
            display: flex;
            border: solid 0.1rem #0e8136;

            .icon-pie-chart-2-Cvm {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
            }
            .content-creator-Yjj {
              margin-bottom: 0.0709rem;
              font-size: 1.8rem;
              color: #008a88;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
        }
        .auto-group-1jj5-rEd {
          margin-right: 2.3rem;
          width: 17.2rem;
          flex-shrink: 0;

          .auto-group-tcem-nty {
            display: flex;
            background-color: #ffffff;
            margin-bottom: 2.4rem;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            width: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            box-sizing: border-box;

            .icon-pie-chart-2-iXj {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .staff-gudang-rdw {
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              line-height: 1.3175;
            }
          }
          .auto-group-uxwx-9d3 {
            border-radius: 0.5rem;
            padding: 0.8rem 2.2rem 0.829rem 0.6rem;
            width: calc(100% - 6.4rem);
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin-right: 6.4rem;
            box-sizing: border-box;

            .icon-pie-chart-2-frH {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .host-QYy {
              font-size: 1.8rem;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
            }
          }
        }
        .auto-group-4e5f-5v1 {
          background-color: #ffffff;
          padding: 0.8rem 1.1rem 0.829rem 1.1rem;
          height: calc(100% - 11.7rem);
          border: solid 0.1rem #0e8136;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 4.8rem 0rem 6.9rem 0rem;
          box-sizing: border-box;
          display: flex;

          .icon-pie-chart-2-npR {
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
          }
          .customer-service-jUm {
            display: flex;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
          }
        }
      }
      .group-89-RcV {
        margin-left: 0.7rem;
        width: 111.8rem;

        .perusahaan-NXj {
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-2iwt-W89 {
          width: 100%;
          height: 4.5rem;
          display: flex;
          align-items: center;
          margin-bottom: 2.2rem;

          .group-88-F5j {
            box-sizing: border-box;
            padding: 0.9rem 0.7rem 0.9rem 0.9rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 2.9rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;

            .emoji-office-building-mJy {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ganesha-operation-surabaya-dsk-hCd {
              font-weight: 400;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              line-height: 1.3175;
              white-space: nowrap;
              margin-bottom: 0.1rem;
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
            }
          }
          .auto-group-2bvt-B7o {
            margin-right: 3rem;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 1.6rem 0.9rem 0.9rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;

            .emoji-office-building-JTK {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.9rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
            }
            .pt-media-telekomunikasi-mandiri-e1P {
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              cursor: pointer;
              font-size: 1.8rem;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
            }
          }
          .auto-group-flc9-vUh {
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.9rem 1.3rem 0.9rem 0.9rem;
            flex-shrink: 0;

            .emoji-office-building-rdF {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .pt-arta-boga-boga-cemerlang-CBK {
              cursor: pointer;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              display: flex;
              font-weight: 400;
            }
          }
        }
        .auto-group-xz4u-fqb {
          display: flex;
          align-items: flex-end;

          .auto-group-5ppd-pTb {
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            background-color: #ffffff;
            margin: 0.2rem 3rem 0rem 0rem;
            padding: 0.9rem 2.2rem 0.9rem 0.9rem;

            .emoji-office-building-Xso {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .cv-berlian-retail-fUD {
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              display: flex;
              color: #01d589;
              font-size: 1.8rem;
              line-height: 1.3175;
            }
          }
          .auto-group-g7kd-m1T {
            box-sizing: border-box;
            padding: 0.9rem 1.7rem 0.9rem 0.9rem;
            display: flex;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin: 0.2rem 3rem 0rem 0rem;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;

            .emoji-office-building-529 {
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .panara-course-D8M {
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              line-height: 1.3175;
              cursor: pointer;
            }
          }
          .auto-group-ffm3-uWy {
            margin: 0.2rem 3.2rem 0rem 0rem;
            box-sizing: border-box;
            display: flex;
            background-color: #ffffff;
            border-radius: 0.5rem;
            padding: 0.9rem 1.4rem 0.9rem 0.9rem;
            align-items: center;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;

            .emoji-office-building-25o {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .bali-super-host-ZLd {
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.1rem;
              cursor: pointer;
              flex-shrink: 0;
              color: #01d589;
              white-space: nowrap;
            }
          }
          .auto-group-2pcm-3Wh {
            margin-bottom: 0.2rem;
            box-sizing: border-box;
            padding: 1.1rem 1.7rem 0.7rem 0.9rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .emoji-office-building-mSh {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .angonjiwo-uYu {
              margin-bottom: 0.1rem;
              cursor: pointer;
              display: flex;
              font-weight: 400;
              flex-shrink: 0;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .semua-jenis-pekerjaan-C2D {
      padding: 0rem 2.755rem 0rem 2.4rem;
      cursor: pointer;
      position: absolute;
      top: 23.3rem;
      border-left: solid 0.1rem #777777;
      box-sizing: border-box;
      width: 45.9rem;
      height: 21rem;
      left: 6.3rem;
      border-right: solid 0.1rem #777777;

      .auto-group-zia5-67b {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .auto-group-panm-eQ1 {
          height: 3.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 100%;

          .semua-jenis-pekerjaan-yx5 {
            margin-right: 0.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            color: #000000;
          }
          .auto-group-msx5-72h {
            position: relative;
            flex-shrink: 0;
            width: 20.5453rem;
            height: 100%;

            .line-171-3ww {
              top: 0;
              background-color: #777777;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              width: 0.1rem;
              height: 3.4rem;
              position: absolute;
              left: 5.6rem;
            }
            .kapan-saja-AFs {
              position: absolute;
              display: flex;
              font-size: 1.8rem;
              white-space: nowrap;
              font-family: Roboto Slab, 'Source Sans Pro';
              width: 9.6rem;
              height: 2.4rem;
              left: 8.4rem;
              top: 0.5rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #000000;
            }
            .icon-arrow-ios-downward-egq {
              width: 20.5453rem;
              height: 2.9879rem;
              position: absolute;
              left: 0;
              top: 0.4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .auto-group-jzpu-xSd {
          width: 23.7rem;
          background-color: #96d1c5;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.4rem 1.5rem 1.7rem 1.9rem;

          .semua-jenis-pekerjaan-g7j {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.3rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
          }
          .line-256-1A1 {
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            margin-bottom: 1.25rem;
            width: 100%;
            height: 0.05rem;
          }
          .full-time-j61 {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.5rem 0.2rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
          }
          .line-257-FKF {
            width: 100%;
            height: 0.05rem;
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            margin-bottom: 1.25rem;
          }
          .part-time-n4H {
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.2rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .footer-FiZ {
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;

    .tentang-jobstreet-express-nCh {
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 4.6rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .pusat-bantuan-haZ {
      font-size: 1.8rem;
      font-weight: 400;
      color: #ffffff;
      margin-right: 44.9rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
    }
    .copyright-2023-jobstreet-express-pv5 {
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .rectangle-594-LNd {
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
  }
  .auto-group-4atr-rrm {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
