
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-hapus-akun-mKF {
  height: 111rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;

  .group-92-iEV {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-g6tk-ffX {
      height: 27.2rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 7.1rem;
      width: 100%;

      .item--cKs {
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.6;
        font-family: Inter, 'Source Sans Pro';
        width: 4.6rem;
        left: 3.1rem;
        top: 20.35rem;
        letter-spacing: -0.0165rem;
        color: #000000;
        white-space: nowrap;
        height: 2.4rem;
        position: absolute;
        display: flex;
      }
      .background-header-Hgu {
        height: 27.2rem;
        padding: 0rem 5.5rem 0.3rem 4.5rem;
        width: 144rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(91.68deg, #02d589 0.23%, #1ecbaa 98.17%);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;

        .auto-group-ksfb-zbK {
          margin-bottom: 0.2rem;
          width: 100%;
          height: 13.1rem;
          display: flex;
          align-items: flex-end;

          .auto-group-kkav-LQH {
            margin: 0rem 15.1rem 0.3rem 0rem;
            width: 29.8rem;
            height: 12.8rem;
            position: relative;
            flex-shrink: 0;

            .logo-removebg-preview-1-rtR {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 29.8rem;
              height: 10.9rem;
              cursor: pointer;
              position: absolute;
              left: 0;
            }
            .nama-pekerjaan-Nrm {
              display: flex;
              color: #000000;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              width: 14.5rem;
              height: 2.4rem;
              position: absolute;
              left: 0;
              top: 10.4rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .di-mana-fqs {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.9rem;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .header-C57 {
            margin: 2.9rem 0rem 7.3rem 0rem;
            height: calc(100% - 10.2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-play-circle-outline-hnZ {
              margin: 0.04rem 0.2rem 0rem 0rem;
              width: 2.3rem;
              height: 2.3398rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .simulasi-249 {
              margin: 0rem 3.647rem 0.3rem 0rem;
              cursor: pointer;
              font-weight: 600;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #000000;
              flex-shrink: 0;
            }
            .icon-person-vfK {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.3rem 0.384rem 0rem 0rem;
              width: 2.4685rem;
              height: 2.6rem;
              position: relative;
              object-fit: contain;
            }
            .profil-saya-Evu {
              margin: 0rem 5.3rem 0.5rem 0rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.3175;
              color: #015442;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-bell-outline-A3s {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.345rem 0.4rem 0rem;
              width: 2.4555rem;
              height: 2.5rem;
              object-fit: contain;
            }
            .job-alert-H8V {
              line-height: 1.3175;
              color: #000000;
              font-family: Roboto Slab, 'Source Sans Pro';
              font-size: 1.8rem;
              cursor: pointer;
              font-weight: 600;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 5.9rem 0.3rem 0rem;
            }
            .icon-bookmark-QD7 {
              margin: 0.2rem 0.045rem 0rem 0rem;
              width: 2.4555rem;
              height: 2.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .lowongan-saya-Kqs {
              cursor: pointer;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.3175;
              color: #000000;
              white-space: nowrap;
              margin: 0rem 7.3rem 0.3rem 0rem;
              flex-shrink: 0;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
            .keluar-SQh {
              color: #000000;
              white-space: nowrap;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              cursor: pointer;
            }
          }
        }
        .auto-group-38wj-xtq {
          height: 6rem;
          display: flex;
          align-items: center;
          margin-bottom: 4rem;

          .auto-group-tcru-up5 {
            box-sizing: border-box;
            height: 100%;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 3rem;
            padding: 1rem 1.2rem 1rem 1.8rem;
            align-items: center;

            .nama-pekerjaan-atau-perusahaan-X4m {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: rgba(119, 119, 119, 0.5);
              white-space: nowrap;
              margin-right: 8.4rem;
              display: flex;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .icon-search-outline-SBj {
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-sky7-969 {
            padding: 1rem 0.8rem 1rem 2rem;
            height: 100%;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 3.1rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;

            .nama-kota-atau-provinsi-Tcd {
              margin-right: 14.2rem;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              color: rgba(119, 119, 119, 0.5);
              font-family: Roboto Slab, 'Source Sans Pro';
            }
            .icon-pin-outline-krd {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .bottom-UGq {
            height: 100%;
            color: #ffffff;
            white-space: nowrap;
            background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
            font-weight: 400;
            line-height: 1.2975;
            width: 21rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            font-size: 2rem;
            font-family: Candal, 'Source Sans Pro';
            border-radius: 1.5rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          }
        }
        .auto-group-8ptb-HVB {
          width: 45.8rem;
          height: 3.6rem;
          margin-left: 1.8rem;
          box-sizing: border-box;
          padding: 0.2rem 2.555rem 0rem 22.7rem;

          .auto-group-97x5-c1f {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .auto-group-pfvj-5vq {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 19.6rem 5.8rem 7.5rem;
      width: calc(100% - 27.1rem);
      height: 63rem;
      display: flex;

      .akun-bar-CkZ {
        height: 100%;
        background-color: #ecf5e5;
        border-radius: 2.5rem;
        flex-shrink: 0;
        margin-right: 5.8rem;
        width: 48rem;

        .auto-group-vjyh-M7f {
          margin-bottom: 4.2rem;
          padding: 1.9rem 3.4rem 3.4rem 3.4rem;
          font-weight: 400;
          background: linear-gradient(180deg, #a4ea9c -0%, #3ebac8 100%);
          box-sizing: border-box;
          width: 100%;
          font-size: 3rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 2.5rem;
        }
        .profil-Pq3 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 3rem;
          cursor: pointer;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .auto-group-8ncy-jP7 {
          box-sizing: border-box;
          padding: 2.1rem 3rem 8.5rem 3rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .line-23-SoK {
            width: 100%;
            height: 0.2rem;
            background-color: #000000;
            flex-shrink: 0;
            margin-bottom: 4.6rem;
          }
          .alert-zZw {
            margin-bottom: 1.1rem;
            cursor: pointer;
            font-weight: 400;
            flex-shrink: 0;
            font-size: 2.5rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-24-j1j {
            flex-shrink: 0;
            margin-bottom: 3.6rem;
            width: 100%;
            height: 0.2rem;
            background-color: #000000;
          }
          .lowongan-saya-55b {
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.1rem;
            cursor: pointer;
            font-size: 2.5rem;
          }
          .line-25-bpd {
            margin-bottom: 3.6rem;
            width: 100%;
            height: 0.2rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .pengaturan-9r9 {
            margin-bottom: 2rem;
            cursor: pointer;
            font-size: 2.5rem;
            line-height: 1.2125;
            color: #000000;
            flex-shrink: 0;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-26-JDF {
            height: 0.2rem;
            background-color: #000000;
            flex-shrink: 0;
            margin-bottom: 2.7rem;
            width: 100%;
          }
          .hapus-akun-enu {
            line-height: 1.2125;
            color: #0e8136;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.9rem;
            font-size: 2.5rem;
            font-weight: 600;
          }
          .line-27-Q1P {
            width: 100%;
            height: 0.3rem;
            background-color: #0e8136;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
          }
        }
      }
      .hapus-akun-vEd {
        flex-direction: column;
        flex-shrink: 0;
        width: 63.1rem;
        align-items: center;
        display: flex;

        .auto-group-xqtz-fxu {
          box-sizing: border-box;
          padding-bottom: 3rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .hapus-akun-pqo {
            font-weight: 400;
            line-height: 1.3175;
            color: #015442;
            font-family: Jacques Francois Shadow, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 11.8rem;
            font-size: 4rem;
          }
          .ketik-hapus-untuk-melanjutkan-N6d {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 0.9rem 0.1rem;
          }
          .rectangle-653-sJH {
            width: 63rem;
            height: 6rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-left: 0.1rem;
          }
        }
        .auto-group-655b-ycD {
          border-radius: 1rem;
          color: #ffffff;
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          width: 100%;
          height: 6rem;
          line-height: 1.2975;
          align-items: center;
          font-size: 1.8rem;
          font-weight: 400;
          background: linear-gradient(90deg, #005242 4.83%, #03856b 89.86%);
          flex-shrink: 0;
        }
      }
    }
    .footer-3MB {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #008a88;

      .tentang-jobstreet-express-Yoj {
        white-space: nowrap;
        margin-right: 4.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .pusat-bantuan-Fy3 {
        font-size: 1.8rem;
        line-height: 1.3175;
        color: #ffffff;
        white-space: nowrap;
        margin-right: 44.9rem;
        display: flex;
        font-weight: 400;
        font-family: Roboto Slab, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .copyright-2023-jobstreet-express-Brh {
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
}
