
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-filter-pencarian-lowongan-kerja--bmK {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .auto-group-vocu-Jvd {
    flex-shrink: 0;
    margin-bottom: 11.8rem;
    width: 100%;
    height: 82.9rem;
    position: relative;

    .background-header-EZP {
      padding: 0rem 7.5rem 0.3rem 4.5rem;
      height: 27.2rem;
      position: absolute;
      left: 0;
      box-sizing: border-box;
      width: 144rem;
      top: 0;
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .auto-group-8hfo-XoP {
        margin-bottom: 0.2rem;
        width: 100%;
        height: 13.1rem;
        display: flex;
        align-items: flex-end;

        .auto-group-dnhf-GFB {
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 15.1rem 0.3rem 0rem;

          .logo-removebg-preview-1-b2Z {
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
            position: absolute;
          }
          .nama-pekerjaan-KDT {
            height: 2.4rem;
            top: 10.2rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            width: 14.5rem;
            position: absolute;
            left: 0;
            display: flex;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .di-mana-bRs {
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          display: flex;
          font-size: 1.8rem;
          color: #000000;
          flex-shrink: 0;
          margin-right: 2.9rem;
        }
        .header-W33 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 3.4rem 0rem 6.8rem 0rem;
          height: calc(100% - 10.2rem);

          .icon-play-circle-outline-1kV {
            width: 2.3rem;
            height: 2.3398rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.04rem 0.2rem 0rem 0rem;
          }
          .simulasi-vMf {
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 3.647rem 0.3rem 0rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
          }
          .icon-person-2fb {
            margin: 0.3rem 0.385rem 0rem 0rem;
            width: 2.4684rem;
            height: 2.6rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .profil-saya-3qb {
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 5.3rem 0.5rem 0rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
            color: #000000;
          }
          .icon-bell-outline-Z3F {
            flex-shrink: 0;
            margin: 0rem 0.345rem 0.4rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .job-alert-ro3 {
            cursor: pointer;
            font-size: 1.8rem;
            line-height: 1.3175;
            flex-shrink: 0;
            margin: 0rem 5.9rem 0.3rem 0rem;
            font-weight: 600;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icon-bookmark-ycm {
            flex-shrink: 0;
            margin: 0.2rem 0.045rem 0rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .lowongan-saya-hof {
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin: 0rem 7.3rem 0.3rem 0rem;
            cursor: pointer;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 600;
            line-height: 1.3175;
          }
          .keluar-pNV {
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-weight: 600;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-ujar-Kq3 {
        margin-bottom: 4rem;
        height: 6rem;
        display: flex;
        align-items: center;

        .auto-group-f1dj-UC9 {
          margin-right: 3rem;
          box-sizing: border-box;
          padding: 1rem 1.2rem 1rem 1.8rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;

          .nama-pekerjaan-atau-perusahaan-C89 {
            line-height: 1.3175;
            flex-shrink: 0;
            margin-right: 29.1rem;
            font-size: 1.8rem;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 400;
          }
          .icon-search-outline-Wed {
            flex-shrink: 0;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-28yf-1rH {
          height: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 3.1rem;
          padding: 1rem 0.8rem 1rem 2rem;
          border-radius: 1rem;
          box-sizing: border-box;
          align-items: center;

          .nama-kota-atau-provinsi-jnH {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #000000;
            flex-shrink: 0;
            margin-right: 27.2rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icon-pin-outline-TTP {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-NKT {
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          border-radius: 1.5rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          display: flex;
          width: 21rem;
          font-weight: 400;
          line-height: 1.2975;
          color: #ffffff;
          font-family: Candal, 'Source Sans Pro';
          height: 100%;
          white-space: nowrap;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          cursor: pointer;
        }
      }
      .auto-group-tnh7-9Ud {
        width: 45.8rem;
        height: 3.6rem;
        margin-left: 1.8rem;
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0rem 22.7rem;

        .auto-group-bszt-cd7 {
          width: 100%;
          height: 100%;
        }
      }
    }
    .yang-sering-dicari-EeV {
      width: 116.4rem;
      height: 43.9rem;
      position: absolute;
      left: 14rem;
      top: 38.8rem;

      .auto-group-bfgm-kcq {
        margin: 0rem 80.5rem 2.336rem 0rem;
        width: calc(100% - 80.5rem);
        display: flex;
        align-items: center;

        .icon-trending-up-5QD {
          width: 4.1393rem;
          height: 4.3637rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1607rem;
        }
        .lowongan-yang-sering-dicari-bdT {
          display: flex;
          font-size: 2.2rem;
          line-height: 1.3175;
          color: #015442;
          white-space: nowrap;
          margin-top: 0.1363rem;
          font-weight: 600;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .group-90-hgV {
        align-items: flex-end;
        margin: 0rem 0rem 4.8rem 0.5rem;
        height: 16.2rem;
        display: flex;

        .auto-group-5cz7-pWD {
          width: 13.1625rem;
          height: calc(100% - 0.0215rem);
          flex-shrink: 0;
          margin: 0rem 2.838rem 0.021rem 0rem;

          .jabatan-8Wu {
            margin-bottom: 1.9rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-rcxr-fmj {
            border-radius: 0.5rem;
            margin: 0rem 0rem 2.421rem 0.2rem;
            padding: 0.8rem 2.463rem 0.808rem 0.6rem;
            width: calc(100% - 0.2rem);
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            box-sizing: border-box;
            align-items: center;

            .icon-pie-chart-2-AiV {
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
            }
            .admin-Jph {
              font-weight: 400;
              white-space: nowrap;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              cursor: pointer;
              display: flex;
            }
          }
          .auto-group-uh8v-PLM {
            box-sizing: border-box;
            border-radius: 0.5rem;
            margin-left: 0.2rem;
            padding: 0.8rem 2.263rem 0.808rem 0.6rem;
            width: calc(100% - 0.2rem);
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;

            .icon-pie-chart-2-uJh {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
            }
            .barista-qi9 {
              font-size: 1.8rem;
              font-weight: 400;
              color: #008a88;
              white-space: nowrap;
              margin-bottom: 0.0709rem;
              display: flex;
              flex-shrink: 0;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
        }
        .auto-group-k9fp-Luo {
          flex-shrink: 0;
          margin-right: 2.7rem;
          width: 10.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-qpfx-Um7 {
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            width: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            box-sizing: border-box;
            display: flex;
            background-color: #ffffff;

            .icon-pie-chart-2-Pt5 {
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
            }
            .kasir-jBF {
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              margin-bottom: 0.2709rem;
            }
          }
          .auto-group-qxfw-d1j {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.8rem 0.9rem 0.829rem 0.6rem;

            .icon-pie-chart-2-MCd {
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
            }
            .driver-H6H {
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              white-space: nowrap;
              flex-shrink: 0;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
        }
        .auto-group-xnxz-yE1 {
          margin-right: 2.8rem;
          width: 19.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-gcau-Wzd {
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 1.7rem 0.829rem 0.6rem;
            display: flex;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            margin: 0rem 0rem 2.4rem 0.1rem;
            width: calc(100% - 0.1rem);
            align-items: center;

            .icon-pie-chart-2-E9w {
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
            }
            .staff-marketing-xrd {
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              display: flex;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.0709rem;
            }
          }
          .auto-group-3k2d-2rV {
            box-sizing: border-box;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 0.1rem;
            padding: 0.8rem 2.3rem 0.829rem 0.6rem;
            width: calc(100% - 0.1rem);
            display: flex;

            .icon-pie-chart-2-9AR {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
            }
            .quality-control-fuT {
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
            }
          }
        }
        .auto-group-rbox-ZV3 {
          margin-right: 2.8rem;
          width: 20.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-bsm3-hLM {
            margin-bottom: 2.4rem;
            padding: 0.8rem 1.4rem 0.829rem 0.6rem;
            width: 100%;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            box-sizing: border-box;
            align-items: center;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .icon-pie-chart-2-R1T {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
            }
            .staff-accounting-9CM {
              white-space: nowrap;
              margin-bottom: 0.0709rem;
              display: flex;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              flex-shrink: 0;
            }
          }
          .auto-group-b1sf-EDo {
            width: 100%;
            display: flex;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 2.5rem 0.829rem 0.6rem;
            align-items: center;
            border: solid 0.1rem #0e8136;

            .icon-pie-chart-2-xvV {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .content-creator-72h {
              margin-bottom: 0.0709rem;
              font-weight: 400;
              line-height: 1.3175;
              flex-shrink: 0;
              display: flex;
              font-size: 1.8rem;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-atrf-CK3 {
          margin-right: 2.3rem;
          width: 17.2rem;
          flex-shrink: 0;

          .auto-group-ykcz-YNu {
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            align-items: center;

            .icon-pie-chart-2-fyK {
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2768rem;
            }
            .staff-gudang-Qvu {
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.0709rem;
              display: flex;
              line-height: 1.3175;
              color: #008a88;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
            }
          }
          .auto-group-9u8z-JWV {
            box-sizing: border-box;
            padding: 0.8rem 2.2rem 0.829rem 0.6rem;
            border-radius: 0.5rem;
            margin-right: 6.4rem;
            width: calc(100% - 6.4rem);
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;

            .icon-pie-chart-2-pjj {
              margin-right: 1.2768rem;
              width: 2.7232rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .host-MzZ {
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              color: #008a88;
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
            }
          }
        }
        .auto-group-9lgz-fEZ {
          border-radius: 0.5rem;
          box-sizing: border-box;
          height: calc(100% - 11.7rem);
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          margin: 4.8rem 0rem 6.9rem 0rem;
          padding: 0.8rem 1.1rem 0.829rem 1.1rem;
          display: flex;
          flex-shrink: 0;

          .icon-pie-chart-2-ZKw {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .customer-service-VzH {
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
            cursor: pointer;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .group-89-P45 {
        width: 111.8rem;
        margin-left: 0.7rem;

        .perusahaan-XRB {
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
        }
        .auto-group-mk9w-fGV {
          align-items: center;
          margin-bottom: 2.2rem;
          width: 100%;
          height: 4.5rem;
          display: flex;

          .group-88-oNh {
            display: flex;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;
            margin-right: 2.9rem;
            padding: 0.9rem 0.7rem 0.9rem 0.9rem;
            height: 100%;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;

            .emoji-office-building-viD {
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
            }
            .ganesha-operation-surabaya-dsk-fA1 {
              color: #01d589;
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              margin-bottom: 0.1rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-ddzk-8pH {
            padding: 0.9rem 1.6rem 0.9rem 0.9rem;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 3rem;
            box-sizing: border-box;
            background-color: #ffffff;
            height: 100%;
            border: solid 0.1rem #0e8136;

            .emoji-office-building-sG5 {
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.9rem;
              width: 2.7rem;
            }
            .pt-media-telekomunikasi-mandiri-zrV {
              cursor: pointer;
              color: #01d589;
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.1rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
            }
          }
          .auto-group-tybb-Umf {
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 1.3rem 0.9rem 0.9rem;
            height: 100%;
            display: flex;
            border-radius: 0.5rem;

            .emoji-office-building-1Wh {
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
            }
            .pt-arta-boga-boga-cemerlang-kDP {
              color: #01d589;
              margin-bottom: 0.1rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-fhxv-KA1 {
          display: flex;
          align-items: flex-end;

          .auto-group-sjjh-4NV {
            padding: 0.9rem 2.2rem 0.9rem 0.9rem;
            display: flex;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            margin: 0.2rem 3rem 0rem 0rem;
            box-sizing: border-box;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;

            .emoji-office-building-xyf {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .cv-berlian-retail-hgM {
              color: #01d589;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.1rem;
              display: flex;
              font-size: 1.8rem;
            }
          }
          .auto-group-afxw-Q4y {
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 1.7rem 0.9rem 0.9rem;
            display: flex;
            border: solid 0.1rem #0e8136;
            margin: 0.2rem 3rem 0rem 0rem;

            .emoji-office-building-Jw3 {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .panara-course-dyK {
              margin-bottom: 0.1rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              white-space: nowrap;
              cursor: pointer;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .auto-group-qaad-Y4h {
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin: 0.2rem 3.2rem 0rem 0rem;
            padding: 0.9rem 1.4rem 0.9rem 0.9rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .emoji-office-building-433 {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .bali-super-host-zSV {
              font-size: 1.8rem;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              display: flex;
              line-height: 1.3175;
              color: #01d589;
              cursor: pointer;
            }
          }
          .auto-group-gvx5-HAh {
            flex-shrink: 0;
            padding: 1.1rem 1.7rem 0.7rem 0.9rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            margin-bottom: 0.2rem;
            box-sizing: border-box;

            .emoji-office-building-CYZ {
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .angonjiwo-YMX {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-family: Roboto Slab, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
              margin-bottom: 0.1rem;
              cursor: pointer;
            }
          }
        }
      }
    }
    .kapan-saja-qLd {
      top: 23.3rem;
      display: flex;
      align-items: center;
      border-right: solid 0.1rem #777777;
      box-sizing: border-box;
      padding-right: 0.6rem;
      height: 20.5rem;
      width: 45.9rem;
      position: absolute;
      left: 6.3rem;

      .auto-group-xfn9-kCh {
        box-sizing: border-box;
        padding: 0.5rem 0.4rem 0.5rem 2.4rem;
        height: 100%;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        border-left: solid 0.1rem #777777;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
      }
      .auto-group-xdyj-RJq {
        flex-shrink: 0;
        margin-right: 0.5rem;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .auto-group-dgwu-kru {
          margin: 0rem 2.155rem 1.8rem 0rem;
          width: 20.5453rem;
          height: 3.4rem;
          position: relative;
          flex-shrink: 0;

          .line-261-fys {
            height: 3.4rem;
            position: absolute;
            left: 5.6rem;
            top: 0;
            background-color: #777777;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 0.1rem;
          }
          .kapan-saja-yDs {
            white-space: nowrap;
            width: 9.7rem;
            height: 2.4rem;
            left: 8.4rem;
            font-weight: 600;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            position: absolute;
            top: 0.5rem;
            display: flex;
            font-size: 1.8rem;
            color: #000000;
          }
          .icon-arrow-ios-downward-5Gu {
            left: 0;
            top: 0.4rem;
            object-fit: contain;
            vertical-align: top;
            width: 20.5453rem;
            height: 2.9879rem;
            position: absolute;
          }
        }
        .auto-group-sjfp-nBK {
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.15rem 1.5rem 0.85rem 1.3rem;
          width: 16.5rem;
          align-items: center;
          background-color: #96d1c5;

          .kapan-saja-gGh {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
            color: #000000;
            font-weight: 300;
            line-height: 1.3175;
            flex-shrink: 0;
            margin: 0rem 4.1rem 0.9rem 0rem;
            display: flex;
          }
          .line-256-BjF {
            width: 13.6rem;
            height: 0.05rem;
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            margin: 0rem 0rem 0.25rem 0.1rem;
          }
          .jam-terakhir-5pd {
            white-space: nowrap;
            font-weight: 300;
            line-height: 1.3175;
            font-size: 1.8rem;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0.1rem 0.7rem 0rem;
            display: flex;
          }
          .line-268-zwb {
            width: 13.6rem;
            height: 0.05rem;
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            margin: 0rem 0rem 0.55rem 0.1rem;
          }
          .hari-terakhir-7WR {
            line-height: 1.3175;
            flex-shrink: 0;
            margin: 0rem 1.1rem 0.6rem 0rem;
            display: flex;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 600;
          }
          .line-259-Eb3 {
            background-color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            margin: 0rem 0.1rem 0.55rem 0rem;
            width: 13.6rem;
            height: 0.05rem;
          }
          .hari-terakhir-xG9 {
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.3175;
            color: #000000;
            flex-shrink: 0;
            margin-right: 0.4rem;
            display: flex;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .footer-M3P {
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;

    .tentang-jobstreet-express-Gg9 {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.6rem;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      display: flex;
      font-weight: 400;
    }
    .pusat-bantuan-bTX {
      margin-right: 44.9rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .copyright-2023-jobstreet-express-XMB {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
    }
  }
  .rectangle-594-2oj {
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
  }
  .auto-group-rxt5-kzd {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
  }
}
