
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-edit-profil-57X {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 1.7rem;
  width: 100%;
  height: 149.1rem;

  .auto-group-rrt5-QQh {
    height: 152.8rem;
    position: relative;
    width: 100%;

    .logo-jobstreet-M53 {
      width: 29.8rem;
      height: 10.9rem;
      cursor: pointer;
      position: absolute;
      left: 4rem;
      top: 0;

      .logo-removebg-preview-2-gd7 {
        object-fit: cover;
        vertical-align: top;
        width: 29.8rem;
        height: 10.9rem;
      }
    }
    .akun-bar-cmf {
      height: 45rem;
      position: absolute;
      left: 6rem;
      display: flex;
      flex-direction: column;
      background-color: #ecf5e5;
      border-radius: 2.5rem;
      width: 48rem;
      align-items: center;
      top: 14.6rem;

      .auto-group-q1bp-YfK {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.693rem 3.4rem 2.107rem 3.4rem;
        width: 100%;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 2rem 2rem 0 0;
        display: flex;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #015442;
        background: linear-gradient(89.98deg, #a4ea9c 16.98%, #3ebac8 95.5%);
      }
      .auto-group-hpoj-z1X {
        height: 38.3rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .auto-group-b9sh-X1T {
          position: absolute;
          left: 3.4rem;
          top: 1.5143rem;
          width: 5.1rem;
          height: 2.7rem;

          .profil-qH3 {
            width: 5.1rem;
            left: 0;
            top: 0;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.7rem;
            position: absolute;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3175;
          }
          .profil-MWH {
            height: 2.7rem;
            left: 0;
            top: 0;
            font-weight: 400;
            color: #008a88;
            width: 5.1rem;
            position: absolute;
            font-size: 2rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .alert-g2m {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          height: 2.7rem;
          position: absolute;
          top: 8.4715rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3175;
          white-space: nowrap;
          width: 4.8rem;
          cursor: pointer;
          left: 3rem;
        }
        .hapus-akun-z3T {
          width: 11.8rem;
          height: 2.7rem;
          cursor: pointer;
          position: absolute;
          top: 28.9rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          left: 3rem;
          font-size: 2rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .pengaturan-HoF {
          top: 22.1rem;
          font-size: 2rem;
          line-height: 1.3175;
          color: #000000;
          height: 2.7rem;
          cursor: pointer;
          left: 3rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          width: 11rem;
          position: absolute;
        }
        .lowongan-saya-1DT {
          top: 15.3285rem;
          font-size: 2rem;
          line-height: 1.3175;
          white-space: nowrap;
          position: absolute;
          left: 3rem;
          cursor: pointer;
          font-weight: 400;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 15rem;
          height: 2.7rem;
        }
        .line-23-XSh {
          background-color: #008a88;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 42rem;
          height: 0.3rem;
          position: absolute;
          left: 3rem;
          top: 5.9285rem;
        }
        .line-24-e1X {
          top: 12.7857rem;
          background-color: #000000;
          width: 42rem;
          height: 0.2rem;
          position: absolute;
          left: 3rem;
        }
        .line-27-BGM {
          left: 3rem;
          top: 33.743rem;
          background-color: #000000;
          width: 42rem;
          height: 0.2rem;
          position: absolute;
        }
        .line-26-KdT {
          left: 3rem;
          top: 26.6285rem;
          background-color: #000000;
          width: 42rem;
          height: 0.2rem;
          position: absolute;
        }
        .line-25-4qw {
          background-color: #000000;
          width: 42rem;
          height: 0.2rem;
          position: absolute;
          left: 3rem;
          top: 19.8715rem;
        }
      }
    }
    .profil-CBT {
      width: 67.3rem;
      height: 102.8rem;
      position: absolute;
      left: 64.5rem;
      top: 14.6rem;

      .auto-group-ptqm-i9o {
        box-sizing: border-box;
        padding-bottom: 1.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .buat-profil-4UZ {
          font-family: Jacques Francois Shadow, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 5.7rem;
          font-size: 5rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #015442;
        }
        .nama-lengkap-aC1 {
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-nwtb-iJD {
        display: flex;
        line-height: 1.3175;
        border: solid 0.2rem #000000;
        width: 100%;
        font-size: 2.2rem;
        white-space: nowrap;
        background-color: #ffffff;
        border-radius: 1rem;
        margin-bottom: 4.3rem;
        padding: 2.15rem 2.6rem 1.95rem 2.6rem;
        font-weight: 400;
        box-sizing: border-box;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .nomor-telepon-ZJq {
        margin-bottom: 1.75rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-g1ff-6Jm {
        width: 100%;
        align-items: center;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1.35rem 38.4rem 1.35rem 2.9rem;
        border: solid 0.2rem #000000;
        background-color: #ffffff;
        margin-bottom: 4.65rem;
        display: flex;

        .image-44-bFX {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.5rem 1.8rem 0rem 0rem;
          width: 3rem;
          height: 2.0004rem;
        }
        .item-62-hpM {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.4rem 2.3rem 0rem 0rem;
        }
        .line-190-1q3 {
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 0.1rem;
          height: 4.3rem;
          background-color: #000000;
        }
        .item-82221008008-ZLm {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          display: flex;
          font-size: 2.2rem;
          line-height: 1.3175;
          color: #000000;
          margin-top: 0.2rem;
        }
      }
      .alamat-3mj {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.3rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
      }
      .auto-group-m6gh-Pqb {
        margin-bottom: 4.2rem;
        font-size: 2.2rem;
        font-weight: 400;
        box-sizing: border-box;
        padding: 2.2rem 2.7rem 1.9rem 2.7rem;
        width: 100%;
        color: #000000;
        white-space: nowrap;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        background-color: #ffffff;
        display: flex;
        border: solid 0.2rem #000000;
        border-radius: 1rem;
      }
      .deskripsi-diri-minimal-1-paragraf-T4m {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.1rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
      }
      .auto-group-s369-yoo {
        position: relative;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1rem;
        margin-bottom: 2.5rem;
        width: 100%;
        height: 25.9rem;

        .line-269-7v1 {
          height: 1.6402rem;
          position: absolute;
          left: 64.6451rem;
          top: 23.6598rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.1799rem;
        }
        .line-270-MZT {
          width: 1rem;
          height: 0.1rem;
          position: absolute;
          left: 65.8rem;
          top: 24.4rem;
          background-color: #000000;
        }
        .saya-adalah-seorang-individu-yang-penuh-semangat-dan-berkomitmen-tinggi-untuk-belajar-dan-berkembang-di-dunia-kerja-meskipun-saya-belum-memiliki-pengalaman-kerja-sebelumnya-saya-memiliki-latar-belakang-pendidikan-yang-kuat-dan-telah-aktif-dalam-berbagai-proyek-dan-organisasi-selama-kuliah-yang-telah-membantu-saya-mengembangkan-keterampilan-seperti-pemecahan-masalah-kerja-tim-dan-komunikasi-saya-selalu-siap-untuk-menghadapi-tantangan-baru-dan-bersedia-beradaptasi-dengan-lingkungan-kerja-serta-berusaha-keras-untuk-mencapai-hasil-terbaik-saya-sangat-bersemangat-untuk-memulai-karir-saya-dan-berkontribusi-secara-positif-dalam-perusahaan-ini-VQm {
          height: 23.8rem;
          left: 1.6rem;
          font-weight: 400;
          color: #000000;
          width: 64.1rem;
          position: absolute;
          top: 0.9rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .upload-cv-resume-vPb {
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.4rem;
        font-size: 2.2rem;
      }
      .cvlady-cessapdf-4Eu {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
      }
      .auto-group-nzah-ngh {
        display: flex;
        align-items: flex-end;
        margin-right: 15.8rem;
        width: calc(100% - 15.8rem);

        .image-45-Kgd {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.9rem;
          width: 3rem;
          height: 3rem;
          object-fit: cover;
        }
        .unggah-file-lain-jenis-file-pdf-ukuran-file-maks-43-mb-fVb {
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 1.8rem;
          font-weight: 300;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .footer-mYd {
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      top: 139.5rem;
      align-items: center;
      background-color: #008a88;
      box-sizing: border-box;
      height: 7.9rem;
      position: absolute;
      left: 0;
      display: flex;
      width: 144rem;

      .tentang-jobstreet-express-sbf {
        display: flex;
        font-size: 1.8rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.6rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
      }
      .pusat-bantuan-bGm {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 44.9rem;
        display: flex;
        font-size: 1.8rem;
        line-height: 1.3175;
        color: #ffffff;
        font-weight: 400;
        flex-shrink: 0;
      }
      .copyright-2023-jobstreet-express-81o {
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
      }
    }
    .bottom-dz9 {
      left: 64.4rem;
      top: 124.6rem;
      white-space: nowrap;
      border-radius: 1.5rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 21rem;
      align-items: center;
      color: #ffffff;
      height: 6rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2975;
      font-family: Candal, 'Source Sans Pro';
    }
    .image-46-G1X {
      width: 57.4rem;
      height: 70.8rem;
      position: absolute;
      left: 1.8rem;
      top: 63.1rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
