
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-filter-pencarian-lowongan-kerja--6wB {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .background-header-bsw {
    box-sizing: border-box;
    padding: 0rem 7.5rem 0.3rem 4.5rem;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    margin-bottom: 11.8rem;
    display: flex;
    flex-shrink: 0;

    .auto-group-oy7j-75b {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      width: 100%;
      height: 13.1rem;

      .auto-group-gcnv-1gm {
        flex-shrink: 0;
        margin: 0rem 15.1rem 0.3rem 0rem;
        width: 29.8rem;
        height: 12.8rem;
        position: relative;

        .logo-removebg-preview-1-8mP {
          object-fit: cover;
          vertical-align: top;
          width: 29.8rem;
          height: 10.9rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
        }
        .nama-pekerjaan-THs {
          left: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          width: 14.5rem;
          position: absolute;
          top: 10.2rem;
          display: flex;
          font-family: Roboto Slab, 'Source Sans Pro';
          height: 2.4rem;
        }
      }
      .di-mana-jmB {
        font-size: 1.8rem;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.3175;
        white-space: nowrap;
        margin-right: 2.9rem;
      }
      .header-rqo {
        height: calc(100% - 10.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 3.4rem 0rem 6.8rem 0rem;

        .icon-play-circle-outline-y9j {
          margin: 0.04rem 0.2rem 0rem 0rem;
          width: 2.3rem;
          height: 2.3398rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .simulasi-U6V {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 3.647rem 0.3rem 0rem;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          flex-shrink: 0;
        }
        .icon-person-NBs {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.3rem 0.385rem 0rem 0rem;
          width: 2.4684rem;
          height: 2.6rem;
          position: relative;
          object-fit: contain;
        }
        .profil-saya-seR {
          margin: 0rem 5.3rem 0.5rem 0rem;
          font-size: 1.8rem;
          font-weight: 600;
          color: #000000;
          cursor: pointer;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .icon-bell-outline-Pcm {
          flex-shrink: 0;
          margin: 0rem 0.345rem 0.4rem 0rem;
          width: 2.4555rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .job-alert-ub7 {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.9rem 0.3rem 0rem;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 600;
          color: #000000;
          line-height: 1.3175;
        }
        .icon-bookmark-Dbo {
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 0.045rem 0rem 0rem;
          width: 2.4555rem;
        }
        .lowongan-saya-wnh {
          cursor: pointer;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          margin: 0rem 7.3rem 0.3rem 0rem;
          font-weight: 600;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .keluar-ruf {
          margin-bottom: 0.1rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
        }
      }
    }
    .auto-group-9ycm-aqf {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4rem;
      height: 6rem;
      display: flex;

      .auto-group-ueiv-8MP {
        border: solid 0.1rem #0e8136;
        border-radius: 1rem;
        margin-right: 3rem;
        padding: 1rem 1.2rem 1rem 1.8rem;
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        align-items: center;

        .nama-pekerjaan-atau-perusahaan-T8m {
          margin-right: 29.1rem;
          display: flex;
          font-size: 1.8rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .icon-search-outline-Aos {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-uxdp-T2H {
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 3.1rem;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 1rem 0.8rem 1rem 2rem;
        align-items: center;

        .nama-kota-atau-provinsi-yFX {
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          white-space: nowrap;
          margin-right: 27.2rem;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .icon-pin-outline-ttH {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .bottom-Cty {
        font-family: Candal, 'Source Sans Pro';
        white-space: nowrap;
        width: 21rem;
        height: 100%;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        border-radius: 1.5rem;
        display: flex;
        line-height: 1.2975;
        background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        color: #ffffff;
      }
    }
    .auto-group-dwu7-SYR {
      flex-shrink: 0;
      margin-left: 1.8rem;
      box-sizing: border-box;
      padding-top: 0.2rem;
      width: 45.9rem;
      height: 3.6rem;

      .navbar-sendiri-Z7F {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-left: solid 0.1rem #777777;
        border-right: solid 0.1rem #777777;
        box-sizing: border-box;
        padding: 0rem 2.755rem 0rem 2.4rem;

        .full-time-sNq {
          flex-shrink: 0;
          margin-right: 12rem;
          display: flex;
          line-height: 1.3175;
          color: #000000;
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-hjwy-CAD {
          width: 20.5453rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 2.6547rem;

          .line-266-w7o {
            height: 3.4rem;
            position: absolute;
            left: 5.6rem;
            top: 0;
            background-color: #777777;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 0.1rem;
          }
          .icon-arrow-ios-downward-SqF {
            top: 0.4rem;
            object-fit: contain;
            vertical-align: top;
            width: 20.5453rem;
            height: 2.9879rem;
            position: absolute;
            left: 0;
          }
          .kapan-saja-NU1 {
            left: 8.4rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            position: absolute;
            top: 0.5rem;
            display: flex;
            font-weight: 400;
            color: #000000;
            width: 9.6rem;
            height: 2.4rem;
            cursor: pointer;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .yang-sering-dicari-9NH {
    margin: 0rem 13.6rem 11.8rem 14rem;
    width: calc(100% - 27.6rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-zzxw-4VF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 80.5rem 2.336rem 0rem;
      width: calc(100% - 80.5rem);

      .icon-trending-up-C5f {
        width: 4.1393rem;
        height: 4.3637rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1607rem;
      }
      .lowongan-yang-sering-dicari-XNq {
        line-height: 1.3175;
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.1363rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 600;
        flex-shrink: 0;
      }
    }
    .group-90-3MB {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 0rem 4.8rem 0.5rem;
      height: 16.2rem;

      .auto-group-ybhj-N8Z {
        margin: 0rem 2.838rem 0.021rem 0rem;
        width: 13.1625rem;
        height: calc(100% - 0.0215rem);
        flex-shrink: 0;

        .jabatan-gf3 {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .auto-group-qead-d4V {
          border-radius: 0.5rem;
          margin: 0rem 0rem 2.421rem 0.2rem;
          padding: 0.8rem 2.463rem 0.808rem 0.6rem;
          border: solid 0.1rem #0e8136;
          align-items: center;
          background-color: #ffffff;
          box-sizing: border-box;
          width: calc(100% - 0.2rem);
          display: flex;

          .icon-pie-chart-2-8G9 {
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
          }
          .admin-TpD {
            margin-bottom: 0.0709rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            cursor: pointer;
            font-size: 1.8rem;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-6a3s-Meh {
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          margin-left: 0.2rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          padding: 0.8rem 2.263rem 0.808rem 0.6rem;
          width: calc(100% - 0.2rem);
          background-color: #ffffff;

          .icon-pie-chart-2-t8q {
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
          }
          .barista-CvD {
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            display: flex;
            flex-shrink: 0;
            line-height: 1.3175;
            color: #008a88;
          }
        }
      }
      .auto-group-wd29-JCZ {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.7rem;
        width: 10.8rem;

        .auto-group-qgm7-SZf {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          width: 100%;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;

          .icon-pie-chart-2-y3o {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .kasir-hkV {
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.2709rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
            white-space: nowrap;
            display: flex;
          }
        }
        .auto-group-wdaz-oHj {
          padding: 0.8rem 0.9rem 0.829rem 0.6rem;
          width: 100%;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-vt9 {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .driver-5FF {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            display: flex;
            color: #008a88;
          }
        }
      }
      .auto-group-65cm-woF {
        margin-right: 2.8rem;
        width: 19.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-elpb-gF3 {
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 0rem 2.4rem 0.1rem;
          padding: 0.8rem 1.7rem 0.829rem 0.6rem;
          width: calc(100% - 0.1rem);
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .icon-pie-chart-2-NtZ {
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
          }
          .staff-marketing-JnD {
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0709rem;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
          }
        }
        .auto-group-mser-oU5 {
          flex-shrink: 0;
          padding: 0.8rem 2.3rem 0.829rem 0.6rem;
          width: calc(100% - 0.1rem);
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-right: 0.1rem;
          box-sizing: border-box;
          align-items: center;

          .icon-pie-chart-2-8FT {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quality-control-fWH {
            margin-bottom: 0.0709rem;
            line-height: 1.3175;
            flex-shrink: 0;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #008a88;
          }
        }
      }
      .auto-group-l9m3-knd {
        width: 20.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;

        .auto-group-tqzz-u9j {
          padding: 0.8rem 1.4rem 0.829rem 0.6rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          border-radius: 0.5rem;
          box-sizing: border-box;

          .icon-pie-chart-2-RNy {
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .staff-accounting-ALZ {
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            font-weight: 400;
            flex-shrink: 0;
          }
        }
        .auto-group-zbyd-f2R {
          background-color: #ffffff;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          padding: 0.8rem 2.5rem 0.829rem 0.6rem;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .icon-pie-chart-2-ncq {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
          }
          .content-creator-vj3 {
            flex-shrink: 0;
            margin-bottom: 0.0709rem;
            font-size: 1.8rem;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
      }
      .auto-group-hsaz-pJd {
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 17.2rem;

        .auto-group-xmfw-x9w {
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-Ue5 {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .staff-gudang-cVP {
            margin-bottom: 0.0709rem;
            display: flex;
            font-family: Roboto Slab, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-dhfp-X6Z {
          width: calc(100% - 6.4rem);
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.8rem 2.2rem 0.829rem 0.6rem;
          display: flex;
          background-color: #ffffff;
          margin-right: 6.4rem;

          .icon-pie-chart-2-r8q {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
          }
          .host-b6R {
            margin-bottom: 0.0709rem;
            display: flex;
            font-size: 1.8rem;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.3175;
            white-space: nowrap;
          }
        }
      }
      .auto-group-3ajb-trD {
        margin: 4.8rem 0rem 6.9rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        height: calc(100% - 11.7rem);
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        border-radius: 0.5rem;

        .icon-pie-chart-2-nwb {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
        }
        .customer-service-XuB {
          display: flex;
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.3175;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          cursor: pointer;
          font-size: 1.8rem;
        }
      }
    }
    .group-89-RDs {
      margin-left: 0.7rem;
      width: 111.8rem;
      flex-shrink: 0;

      .perusahaan-MtD {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.9rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
      }
      .auto-group-jrs3-u93 {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .group-88-e6d {
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.9rem;
          height: 100%;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;

          .emoji-office-building-NYR {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .ganesha-operation-surabaya-dsk-WPj {
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            font-weight: 400;
            white-space: nowrap;
            margin-bottom: 0.1rem;
          }
        }
        .auto-group-s8zf-z41 {
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          height: 100%;
          align-items: center;
          flex-shrink: 0;
          margin-right: 3rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;

          .emoji-office-building-hz1 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
          }
          .pt-media-telekomunikasi-mandiri-Eyw {
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            cursor: pointer;
            font-size: 1.8rem;
          }
        }
        .auto-group-nf3o-vbs {
          box-sizing: border-box;
          height: 100%;
          display: flex;
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-fJZ {
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
          }
          .pt-arta-boga-boga-cemerlang-off {
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            font-size: 1.8rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-pguh-H53 {
        display: flex;
        align-items: flex-end;

        .auto-group-o8bb-q6Z {
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;
          background-color: #ffffff;

          .emoji-office-building-jxd {
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
          }
          .cv-berlian-retail-g7B {
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
          }
        }
        .auto-group-wepq-Zgm {
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;
          box-sizing: border-box;
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          align-items: center;
          border-radius: 0.5rem;

          .emoji-office-building-tDF {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .panara-course-DWR {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-weight: 400;
            color: #01d589;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
          }
        }
        .auto-group-lyqr-uPF {
          display: flex;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.2rem 3.2rem 0rem 0rem;
          align-items: center;

          .emoji-office-building-coT {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
          }
          .bali-super-host-xMX {
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-rcv5-F5j {
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          border: solid 0.1rem #0e8136;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          margin-bottom: 0.2rem;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;

          .emoji-office-building-ATb {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .angonjiwo-6s3 {
            display: flex;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            color: #01d589;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
      }
    }
  }
  .footer-aXK {
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;

    .tentang-jobstreet-express-uJh {
      margin-right: 4.6rem;
      font-size: 1.8rem;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .pusat-bantuan-dVb {
      font-size: 1.8rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 44.9rem;
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-YMf {
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
    }
  }
  .rectangle-594-Sxq {
    background-color: #8c8989;
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
    height: 35.5rem;
  }
  .auto-group-sy2h-NLh {
    flex-shrink: 0;
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
  }
}
