
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-video-simulasi-wawancara-Pn1 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-1pcd-vG9 {
    margin-bottom: 13.4rem;
    width: 74rem;
    height: 6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .background-header-3bf {
    padding: 0rem 5.5rem 0.3rem 4.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(91.68deg, #02d589 0.23%, #1ecbaa 98.17%);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-2x7p-MMT {
      margin-bottom: 0.2rem;
      width: 100%;
      height: 13.1rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-cp6v-guX {
        height: 12.8rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 15.1rem 0.3rem 0rem;
        width: 29.8rem;

        .logo-removebg-preview-1-ojF {
          width: 29.8rem;
          height: 10.9rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .nama-pekerjaan-8mX {
          height: 2.4rem;
          display: flex;
          font-weight: 400;
          width: 14.5rem;
          position: absolute;
          left: 0;
          top: 10.4rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .di-mana-cwb {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.9rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        display: flex;
      }
      .header-wDB {
        flex-shrink: 0;
        margin: 2.9rem 0rem 7.3rem 0rem;
        height: calc(100% - 10.2rem);
        display: flex;
        align-items: center;

        .icon-play-circle-outline-Svd {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.04rem 0.2rem 0rem 0rem;
          width: 2.3rem;
          height: 2.3398rem;
        }
        .simulasi-wsP {
          margin: 0rem 3.647rem 0.3rem 0rem;
          cursor: pointer;
          font-weight: 600;
          color: #015442;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.8rem;
          line-height: 1.3175;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .icon-person-T53 {
          flex-shrink: 0;
          margin: 0.3rem 0.384rem 0rem 0rem;
          width: 2.4685rem;
          height: 2.6rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .profil-saya-NC1 {
          cursor: pointer;
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.3rem 0.5rem 0rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .icon-bell-outline-suT {
          width: 2.4555rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.345rem 0.4rem 0rem;
        }
        .job-alert-Jjs {
          margin: 0rem 5.9rem 0.3rem 0rem;
          line-height: 1.3175;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 600;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .icon-bookmark-E7j {
          flex-shrink: 0;
          margin: 0.2rem 0.045rem 0rem 0rem;
          width: 2.4555rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .lowongan-saya-kbs {
          line-height: 1.3175;
          color: #000000;
          flex-shrink: 0;
          font-size: 1.8rem;
          cursor: pointer;
          font-weight: 600;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 7.3rem 0.3rem 0rem;
        }
        .keluar-reu {
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          cursor: pointer;
          font-weight: 600;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.8rem;
          line-height: 1.3175;
          white-space: nowrap;
        }
      }
    }
    .auto-group-ubwz-a57 {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4rem;
      height: 6rem;
      display: flex;

      .auto-group-rhpp-Jmo {
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #0e8136;
        flex-shrink: 0;
        padding: 1rem 1.2rem 1rem 1.8rem;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1rem;
        margin-right: 3rem;

        .nama-pekerjaan-atau-perusahaan-d3P {
          margin-right: 8.4rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          flex-shrink: 0;
          line-height: 1.3175;
          color: rgba(119, 119, 119, 0.5);
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .icon-search-outline-XuT {
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 4rem;
        }
      }
      .auto-group-e265-dhb {
        align-items: center;
        border: solid 0.1rem #0e8136;
        border-radius: 1rem;
        margin-right: 3.1rem;
        padding: 1rem 0.8rem 1rem 2rem;
        height: 100%;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        background-color: #ffffff;

        .nama-kota-atau-provinsi-xUy {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.2rem;
          color: rgba(119, 119, 119, 0.5);
          font-weight: 400;
          line-height: 1.3175;
          display: flex;
          font-size: 1.8rem;
        }
        .icon-pin-outline-fuB {
          vertical-align: top;
          flex-shrink: 0;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }
      }
      .bottom-niu {
        background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
        width: 21rem;
        height: 100%;
        font-size: 2rem;
        font-weight: 400;
        border-radius: 1.5rem;
        flex-shrink: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2975;
        color: #ffffff;
        font-family: Candal, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-fuyf-QEV {
      margin-left: 1.8rem;
      box-sizing: border-box;
      padding: 0.2rem 2.555rem 0rem 22.7rem;
      width: 45.8rem;
      height: 3.6rem;
      flex-shrink: 0;

      .auto-group-vyqd-W2d {
        width: 100%;
        height: 100%;
      }
    }
  }
  .auto-group-r9e1-o1j {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 177.7rem;

    .image-25-vMF {
      position: absolute;
      left: 142.3rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 1.7rem;
      height: 169.7rem;
    }
    .konten-video-qz1 {
      left: 90.8rem;
      border: solid 0.2rem #015442;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      border-radius: 2.5rem;
      box-sizing: border-box;
      padding: 2.633rem 2.594rem 2.067rem 2.589rem;
      height: 31.6rem;
      position: absolute;
      width: 49.7rem;
      cursor: pointer;
      top: 146.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .group-25-Lvm {
        position: relative;
        border-radius: 0.0776rem;
        margin: 0rem 0rem 1.835rem 0.028rem;
        width: calc(100% - 0.0284rem);
        height: 21.0648rem;

        .vector-sfo {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 44.4892rem;
          height: 21.0646rem;
          position: absolute;
        }
        .vector-1X7 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 44.4892rem;
          height: 21.0646rem;
        }
      }
      .judul-video-97X {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 600;
      }
    }
    .konten-video-c17 {
      cursor: pointer;
      position: absolute;
      left: 90.8rem;
      border: solid 0.2rem #015442;
      box-sizing: border-box;
      padding: 2.633rem 2.594rem 2.067rem 2.589rem;
      width: 49.7rem;
      height: 31.6rem;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      top: 111.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;

      .group-25-WMP {
        margin: 0rem 0rem 1.835rem 0.028rem;
        width: calc(100% - 0.0284rem);
        height: 21.0648rem;
        position: relative;
        border-radius: 0.0776rem;

        .vector-qeZ {
          height: 21.0646rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 44.4892rem;
        }
        .vector-n41 {
          width: 44.4892rem;
          height: 21.0646rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
        }
      }
      .judul-video-iCZ {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 600;
      }
    }
    .konten-video-NY1 {
      border: solid 0.2rem #015442;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      padding: 2.633rem 2.594rem 2.067rem 2.589rem;
      cursor: pointer;
      position: absolute;
      top: 77.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
      box-sizing: border-box;
      width: 49.7rem;
      height: 31.6rem;
      left: 90.8rem;

      .group-25-szZ {
        border-radius: 0.0776rem;
        margin: 0rem 0rem 1.835rem 0.028rem;
        width: calc(100% - 0.0284rem);
        height: 21.0648rem;
        position: relative;

        .vector-Qjb {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 44.4892rem;
          height: 21.0646rem;
        }
        .vector-xFK {
          width: 44.4892rem;
          height: 21.0646rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
        }
      }
      .judul-video-VW9 {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 600;
      }
    }
    .konten-video-AcH {
      padding: 2.633rem 2.594rem 2.067rem 2.589rem;
      cursor: pointer;
      position: absolute;
      border: solid 0.2rem #015442;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      border-radius: 2.5rem;
      box-sizing: border-box;
      width: 49.7rem;
      height: 31.6rem;
      left: 90.8rem;
      top: 42.1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .group-25-HB7 {
        width: calc(100% - 0.0284rem);
        height: 21.0648rem;
        position: relative;
        border-radius: 0.0776rem;
        margin: 0rem 0rem 1.835rem 0.028rem;

        .vector-cjB {
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 44.4892rem;
          height: 21.0646rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .vector-xY9 {
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 44.4892rem;
          height: 21.0646rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
      }
      .judul-video-68Z {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .konten-video-APK {
      border-radius: 2.5rem;
      height: 31.6rem;
      position: absolute;
      left: 90.8rem;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      border: solid 0.2rem #015442;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 2.633rem 2.594rem 2.067rem 2.589rem;
      width: 49.7rem;
      top: 7.1rem;

      .group-25-5WH {
        width: calc(100% - 0.0284rem);
        height: 21.0648rem;
        position: relative;
        border-radius: 0.0776rem;
        margin: 0rem 0rem 1.835rem 0.028rem;

        .vector-Cau {
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 44.4892rem;
          height: 21.0646rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .vector-k6d {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 44.4892rem;
          height: 21.0646rem;
          position: absolute;
          left: 0;
        }
      }
      .judul-video-Gqf {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .footer-kVw {
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      width: 144rem;
      position: absolute;
      left: 0;
      top: 169.8rem;
      align-items: center;
      background-color: #008a88;
      box-sizing: border-box;
      display: flex;
      height: 7.9rem;

      .tentang-jobstreet-express-qnH {
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        font-size: 1.8rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4.6rem;
        font-weight: 400;
      }
      .pusat-bantuan-AJm {
        display: flex;
        font-size: 1.8rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        margin-right: 44.9rem;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .copyright-2023-jobstreet-express-V69 {
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .konten-video-zob {
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      padding: 5.066rem 4.332rem 7.674rem 4.323rem;
      position: absolute;
      left: 3.9rem;
      top: 6.9rem;
      border: solid 0.2rem #015442;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
      box-sizing: border-box;
      width: 83rem;
      height: 60.8rem;

      .group-25-K5B {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I215:8650;2:389');
        border-radius: 0.0776rem;
        margin: 0rem 0rem 3.53rem 0.048rem;
        width: calc(100% - 0.0476rem);

        .vector-r57 {
          height: 40.5297rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 74.2978rem;
        }
      }
      .judul-video-N3T {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .description-box-qBw {
      top: 75.2rem;
      width: 83rem;
      height: 100rem;
      position: absolute;
      left: 3.9rem;

      .rectangle-631-mLV {
        height: 90.8rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ecf5e5;
        border-radius: 2.5rem;
        width: 83rem;
      }
      .rectangle-626-VGV {
        position: absolute;
        left: 65.0381rem;
        top: 74.1rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.5rem;
        width: 17.9619rem;
        height: 25.9rem;
      }
      .deskripsi--cc1 {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 4rem;
        left: 2.8621rem;
        top: 5rem;
        font-weight: 600;
        white-space: nowrap;
        width: 15.1rem;
        position: absolute;
        font-size: 3rem;
      }
      .wawancara-virtual-keahlian-dan-strategi-dalam-era-wawancara-virtual-yang-semakin-berkembang-video-ini-memfokuskan-pada-teknik-dan-strategi-penting-untuk-sukses-dalam-wawancara-online-anda-akan-melihat-bagaimana-mengatasi-tantangan-khusus-yang-muncul-dalam-wawancara-virtual-dan-bagaimana-berkomunikasi-secara-efektif-melalui-layar-komputer-simulasi-wawancara-virtual-ini-akan-membantu-anda-beradaptasi-dengan-baik-dengan-dunia-wawancara-online-yang-terus-berubah-dan-memberikan-tips-berharga-untuk-mencapai-kesuksesan-dalam-wawancara-daring-L2D {
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 75.7rem;
        left: 2.8621rem;
        top: 13.4rem;
        height: 26.4rem;
        position: absolute;
        font-size: 2rem;
      }
    }
  }
}
