
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-login-lupa-kata-sandi-9CM {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-gfr3-eQ1 {
    margin: 0rem 0.1rem 12rem 0rem;
    width: calc(100% - 0.1rem);
    height: 82.7rem;
    position: relative;
    flex-shrink: 0;

    .header-n-navbar-variant2-YVP {
      height: 27.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
      width: 144rem;

      .background-header-5ER {
        box-sizing: border-box;
        padding: 0rem 4.5rem 0.3rem 4.5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .auto-group-oxms-zMP {
          margin: 0rem 82.9rem 0.2rem 0rem;
          width: calc(100% - 82.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .auto-group-k3kd-WKj {
            margin: 0rem 15.1rem 0.3rem 0rem;
            width: 29.8rem;
            height: 12.8rem;
            position: relative;
            flex-shrink: 0;

            .logo-removebg-preview-1-2J5 {
              width: 29.8rem;
              height: 10.9rem;
              cursor: pointer;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .nama-pekerjaan-YnD {
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              width: 14.5rem;
              position: absolute;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              height: 2.4rem;
              left: 0;
              top: 10.3rem;
              display: flex;
              color: #000000;
            }
          }
          .di-mana-EQ9 {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-5ked-Yvd {
          margin-bottom: 4rem;
          height: 6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-psgz-sT7 {
            display: flex;
            border: solid 0.1rem #0e8136;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 3rem;
            box-sizing: border-box;
            padding: 1rem 1.2rem 1rem 1.8rem;
            height: 100%;
            align-items: center;
            background-color: #ffffff;

            .nama-pekerjaan-atau-perusahaan-zGq {
              margin-right: 8.4rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #b0aaaa;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              white-space: nowrap;
            }
            .icon-search-outline-JYR {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-4mjq-bGd {
            padding: 1rem 0.8rem 1rem 2rem;
            height: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 3.1rem;
            box-sizing: border-box;
            display: flex;
            border-radius: 1rem;

            .nama-kota-atau-provinsi-7Vs {
              color: #b0aaaa;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              line-height: 1.3175;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              white-space: nowrap;
              margin-right: 14.2rem;
            }
            .icon-pin-outline-dj7 {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .bottom-XpV {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 21rem;
            font-family: Candal, 'Source Sans Pro';
            background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
            font-size: 2rem;
            line-height: 1.2975;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            cursor: pointer;
            font-weight: 400;
            color: #ffffff;
            align-items: center;
            white-space: nowrap;
            border-radius: 1.5rem;
          }
        }
        .auto-group-vomk-95B {
          border-left: solid 0.1rem #777777;
          flex-shrink: 0;
          margin: 0rem 87.4rem 0rem 1.8rem;
          box-sizing: border-box;
          padding: 0.2rem 2.555rem 0rem 2.5rem;
          width: calc(100% - 89.2rem);
          height: 3.6rem;
          display: flex;
          align-items: center;
          border-right: solid 0.1rem #777777;

          .semua-jenis-pekerjaan-EMX {
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0.4rem 0.4rem 0rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
          }
          .auto-group-cu3f-8ho {
            width: 20.5453rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 2.4547rem;

            .line-171-57F {
              background-color: #777777;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              width: 0.1rem;
              height: 3.4rem;
              position: absolute;
              left: 5.5rem;
              top: 0;
            }
            .kapan-saja-BAH {
              line-height: 1.3175;
              color: #000000;
              width: 9.6rem;
              height: 2.4rem;
              top: 0.3rem;
              display: flex;
              font-weight: 400;
              position: absolute;
              left: 8rem;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
            .icon-arrow-ios-downward-qu3 {
              height: 2.9879rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 3.5rem;
            }
            .icon-arrow-ios-downward-AAd {
              vertical-align: top;
              width: 20.5453rem;
              height: 2.9879rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
          }
        }
      }
    }
    .yang-sering-dicari-LjK {
      left: 13.9rem;
      top: 38.7rem;
      width: 116.4rem;
      height: 43.9rem;
      position: absolute;

      .auto-group-n5ey-TZ3 {
        display: flex;
        align-items: center;
        margin: 0rem 80.5rem 2.336rem 0rem;
        width: calc(100% - 80.5rem);

        .icon-trending-up-a7s {
          height: 4.3637rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1605rem;
          width: 4.1395rem;
        }
        .lowongan-yang-sering-dicari-Uyw {
          flex-shrink: 0;
          margin-top: 0.1363rem;
          display: flex;
          font-weight: 600;
          color: #015442;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.2rem;
          line-height: 1.3175;
        }
      }
      .group-90-C9F {
        height: 16.2rem;
        display: flex;
        align-items: flex-end;
        margin: 0rem 0rem 4.8rem 0.5rem;

        .auto-group-wfsp-7X7 {
          margin: 0rem 2.838rem 0.021rem 0rem;
          width: 13.1625rem;
          height: calc(100% - 0.0215rem);
          flex-shrink: 0;

          .jabatan-qCD {
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 400;
          }
          .auto-group-cjvm-AkH {
            border-radius: 0.5rem;
            width: calc(100% - 0.2rem);
            background-color: #ffffff;
            padding: 0.8rem 2.463rem 0.808rem 0.6rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            margin: 0rem 0rem 2.421rem 0.2rem;
            box-sizing: border-box;

            .icon-pie-chart-2-GoK {
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .admin-ooF {
              cursor: pointer;
              font-size: 1.8rem;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.0709rem;
              display: flex;
              font-weight: 400;
              color: #008a88;
              flex-shrink: 0;
            }
          }
          .auto-group-d3n9-HyK {
            padding: 0.8rem 2.263rem 0.808rem 0.6rem;
            width: calc(100% - 0.2rem);
            display: flex;
            align-items: center;
            background-color: #ffffff;
            margin-left: 0.2rem;
            box-sizing: border-box;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;

            .icon-pie-chart-2-QY9 {
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
            }
            .barista-wY5 {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.0709rem;
              display: flex;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-nttz-En5 {
          margin-right: 2.7rem;
          width: 10.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-ljeh-n2u {
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            box-sizing: border-box;
            width: 100%;

            .icon-pie-chart-2-tLq {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
            }
            .kasir-2C9 {
              margin-bottom: 0.2709rem;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
            }
          }
          .auto-group-zuly-iam {
            padding: 0.8rem 0.9rem 0.829rem 0.6rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            border-radius: 0.5rem;

            .icon-pie-chart-2-eDX {
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
            }
            .driver-aN5 {
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
            }
          }
        }
        .auto-group-zwkm-TRs {
          margin-right: 2.8rem;
          width: 19.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-erqd-zgh {
            box-sizing: border-box;
            border-radius: 0.5rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            margin: 0rem 0rem 2.4rem 0.1rem;
            padding: 0.8rem 1.7rem 0.829rem 0.6rem;

            .icon-pie-chart-2-5y3 {
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .staff-marketing-cxy {
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
              display: flex;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
          .auto-group-dz13-Jqo {
            padding: 0.8rem 2.3rem 0.829rem 0.6rem;
            display: flex;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 0.1rem;
            box-sizing: border-box;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            width: calc(100% - 0.1rem);
            align-items: center;

            .icon-pie-chart-2-RQd {
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .quality-control-MJH {
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              color: #008a88;
              flex-shrink: 0;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-gck1-S4q {
          flex-shrink: 0;
          margin-right: 2.8rem;
          width: 20.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-djcq-xos {
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            width: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0.8rem 1.4rem 0.829rem 0.6rem;
            background-color: #ffffff;

            .icon-pie-chart-2-tBj {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
            }
            .staff-accounting-1n9 {
              white-space: nowrap;
              color: #008a88;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
            }
          }
          .auto-group-zrxm-HzZ {
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-shrink: 0;
            padding: 0.8rem 2.5rem 0.829rem 0.6rem;
            align-items: center;
            border: solid 0.1rem #0e8136;

            .icon-pie-chart-2-pDo {
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
            }
            .content-creator-xL1 {
              display: flex;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.0709rem;
              font-size: 1.8rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-qusx-T1s {
          margin-right: 2.3rem;
          width: 17.2rem;
          flex-shrink: 0;

          .auto-group-qcx3-CEM {
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            width: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            display: flex;

            .icon-pie-chart-2-881 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
            }
            .staff-gudang-Ewj {
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              display: flex;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
              font-size: 1.8rem;
              font-weight: 400;
            }
          }
          .auto-group-k9wy-8nD {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.8rem 2.2rem 0.829rem 0.6rem;
            width: calc(100% - 6.4rem);
            border: solid 0.1rem #0e8136;
            margin-right: 6.4rem;

            .icon-pie-chart-2-eEm {
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .host-aPK {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              color: #008a88;
              margin-bottom: 0.0709rem;
              font-weight: 400;
              line-height: 1.3175;
            }
          }
        }
        .auto-group-wruv-Gmw {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 4.8rem 0rem 6.9rem 0rem;
          padding: 0.8rem 1.1rem 0.829rem 1.1rem;
          height: calc(100% - 11.7rem);
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;

          .icon-pie-chart-2-Npy {
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
          }
          .customer-service-WgH {
            cursor: pointer;
            display: flex;
            line-height: 1.3175;
            color: #008a88;
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .group-89-o9b {
        margin-left: 0.7rem;
        width: 111.8rem;

        .perusahaan-wWh {
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
        }
        .auto-group-4upu-5N1 {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 4.5rem;
          display: flex;
          align-items: center;

          .group-88-RAy {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            margin-right: 2.9rem;
            box-sizing: border-box;
            padding: 0.9rem 0.7rem 0.9rem 0.9rem;
            height: 100%;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .emoji-office-building-KXF {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ganesha-operation-surabaya-dsk-3y3 {
              line-height: 1.3175;
              color: #01d589;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-6niv-ipH {
            padding: 0.9rem 1.6rem 0.9rem 0.9rem;
            height: 100%;
            border: solid 0.1rem #0e8136;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 3rem;

            .emoji-office-building-F3X {
              margin-right: 0.9rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .pt-media-telekomunikasi-mandiri-yER {
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              cursor: pointer;
              display: flex;
            }
          }
          .auto-group-otwj-FSq {
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 0.9rem 1.3rem 0.9rem 0.9rem;
            height: 100%;
            display: flex;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            box-sizing: border-box;

            .emoji-office-building-NXT {
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
            }
            .pt-arta-boga-boga-cemerlang-uXP {
              cursor: pointer;
              font-size: 1.8rem;
              color: #01d589;
              white-space: nowrap;
              margin-bottom: 0.1rem;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .auto-group-zurq-adX {
          display: flex;
          align-items: flex-end;

          .auto-group-vjqs-jWR {
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            margin: 0.2rem 3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 0.9rem 2.2rem 0.9rem 0.9rem;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;

            .emoji-office-building-e7b {
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .cv-berlian-retail-yQm {
              font-weight: 400;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              display: flex;
              white-space: nowrap;
              font-size: 1.8rem;
              line-height: 1.3175;
            }
          }
          .auto-group-xtms-foP {
            margin: 0.2rem 3rem 0rem 0rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 1.7rem 0.9rem 0.9rem;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;

            .emoji-office-building-aQZ {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .panara-course-JbT {
              font-weight: 400;
              line-height: 1.3175;
              margin-bottom: 0.1rem;
              display: flex;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-size: 1.8rem;
            }
          }
          .auto-group-pyvk-Cgq {
            box-sizing: border-box;
            border-radius: 0.5rem;
            margin: 0.2rem 3.2rem 0rem 0rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 0.9rem 1.4rem 0.9rem 0.9rem;

            .emoji-office-building-WxR {
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
            }
            .bali-super-host-3xM {
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.1rem;
              cursor: pointer;
              font-weight: 400;
              color: #01d589;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-n6k3-jqB {
            margin-bottom: 0.2rem;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 1.7rem 0.7rem 0.9rem;
            border: solid 0.1rem #0e8136;

            .emoji-office-building-TmB {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .angonjiwo-CTs {
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
              margin-bottom: 0.1rem;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .masuk-HER {
      position: absolute;
      left: 116.9rem;
      top: 2.6rem;
      width: 27rem;
      height: 53.5rem;

      .rectangle-625-mvH {
        position: absolute;
        left: 12rem;
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
        border-radius: 2rem;
        width: 12.6rem;
        height: 7rem;
      }
      .rectangle-624-4uP {
        top: 4.6rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 27rem;
        height: 48.9rem;
        position: absolute;
        left: 0;
      }
      .masuk-nKb {
        left: 15.4rem;
        font-weight: 400;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.9rem;
        position: absolute;
        font-size: 1.8rem;
        color: #000000;
        height: 2.4rem;
        top: 1.6rem;
      }
      .subtract-ttR {
        height: 4.3rem;
        position: absolute;
        left: 1.5rem;
        top: 17.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
      }
      .subtract-dr1 {
        position: absolute;
        left: 1.5rem;
        top: 22.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--P4V {
        display: flex;
        line-height: 1.3188476562;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 22rem;
        top: 40.2rem;
        left: 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000000;
        height: 3.2rem;
        position: absolute;

        .belum-punya-akun-jobstreet-express-daftar-dengan--P4V-sub-0 {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
        }
        .belum-punya-akun-jobstreet-express-daftar-dengan--P4V-sub-1 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .facebook-8ph {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 4.6rem;
        position: absolute;
        left: 5.5rem;
        top: 48.4rem;
        display: flex;
        font-weight: 300;
        height: 2.4rem;
        font-size: 1rem;
        line-height: 2.4;
        letter-spacing: -0.011rem;
        white-space: nowrap;
      }
      .google-qj7 {
        height: 2.4rem;
        position: absolute;
        top: 48.4rem;
        display: flex;
        font-weight: 300;
        line-height: 2.4;
        font-family: Inter, 'Source Sans Pro';
        width: 3.3rem;
        left: 16.9rem;
        font-size: 1rem;
        letter-spacing: -0.011rem;
        color: #000000;
        white-space: nowrap;
      }
      .icon-email-outline-Lvm {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.5rem;
        top: 18.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-lock-outline-GZX {
        left: 22.2rem;
        top: 23.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
      }
      .logo-removebg-preview-2-yyj {
        object-fit: cover;
        vertical-align: top;
        width: 19.3rem;
        height: 6.8rem;
        position: absolute;
        left: 3.8rem;
        top: 6.4rem;
      }
      .ratnafirdaus0gmailcom-VhB {
        position: absolute;
        left: 3.1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        white-space: nowrap;
        width: 18.5rem;
        height: 2rem;
        top: 18.65rem;
        display: flex;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .item--PGm {
        width: 3.8rem;
        left: 3.1rem;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        top: 23.65rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 600;
        white-space: nowrap;
      }
      .logofacebook-removebg-preview-1-5fP {
        top: 43.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 5.3rem;
        height: 5.6rem;
        position: absolute;
        left: 5.1rem;
      }
      .ellipse-122-13F {
        height: 4.1rem;
        position: absolute;
        left: 16.5rem;
        top: 44.3rem;
        background-color: #d9d9d9;
        border-radius: 2.05rem;
        width: 4.1rem;
      }
      .logogoogle-removebg-preview-1-8Nm {
        width: 2.5rem;
        height: 2.625rem;
        cursor: pointer;
        position: absolute;
        left: 17.3rem;
        top: 45.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .subtract-41X {
        top: 27.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
        left: 1.5rem;
      }
      .icon-lock-outline-PpV {
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.2rem;
        top: 28.9rem;
      }
      .item--Wu7 {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 3.8rem;
        position: absolute;
        left: 3.1rem;
        top: 28.75rem;
        font-size: 1.5rem;
        white-space: nowrap;
        height: 2rem;
        display: flex;
        font-weight: 600;
      }
      .buat-kata-sandi-baru-RFP {
        height: 2rem;
        top: 14.5rem;
        line-height: 1.3175;
        color: #008a88;
        white-space: nowrap;
        width: 14.7rem;
        position: absolute;
        left: 1.7rem;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .button-masuk-email-XZK {
        position: absolute;
        left: 1.4rem;
        top: 33.3rem;
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;

        .button-TC5 {
          display: flex;
          justify-content: center;
          height: 100%;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2975;
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          color: #ffffff;
          align-items: center;
          background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
          border-radius: 1rem;
        }
      }
    }
  }
  .footer-uZs {
    align-items: center;
    background-color: #008a88;
    margin-bottom: 18.1rem;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    height: 7.9rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;

    .tentang-jobstreet-express-cDP {
      margin-right: 4.6rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      flex-shrink: 0;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
    .pusat-bantuan-X5T {
      margin-right: 44.9rem;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      line-height: 1.3175;
      color: #ffffff;
      white-space: nowrap;
    }
    .copyright-2023-jobstreet-express-STK {
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .rectangle-594-jxD {
    width: 144.5rem;
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
  }
  .auto-group-jzks-4Do {
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 12.8rem;
  }
}
