
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-video-simulasi-wawancara-Eid {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .background-header-x8q {
    display: flex;
    background: linear-gradient(91.68deg, #02d589 0.23%, #1ecbaa 98.17%);
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 0rem 5.5rem 0.3rem 4.5rem;
    width: 100%;
    margin-bottom: 0.1rem;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-djaq-fJ9 {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      width: 100%;
      height: 13.1rem;

      .auto-group-xfjh-zbK {
        width: 29.8rem;
        height: 12.8rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 15.1rem 0.3rem 0rem;

        .logo-removebg-preview-1-7fw {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 29.8rem;
          height: 10.9rem;
          cursor: pointer;
        }
        .nama-pekerjaan-SCR {
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          width: 14.5rem;
          height: 2.4rem;
          top: 10.4rem;
          display: flex;
          color: #000000;
          position: absolute;
          left: 0;
          font-size: 1.8rem;
          line-height: 1.3175;
        }
      }
      .di-mana-WCH {
        margin-right: 4.9rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        display: flex;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .header-dGu {
        margin: 2.9rem 0rem 7.3rem 0rem;
        height: calc(100% - 10.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-play-circle-outline-wYV {
          margin: 0.04rem 0.2rem 0rem 0rem;
          width: 2.3rem;
          height: 2.3398rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .simulasi-qNy {
          flex-shrink: 0;
          margin: 0rem 3.647rem 0.3rem 0rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #015442;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .icon-person-wwo {
          width: 2.4685rem;
          height: 2.6rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.3rem 0.384rem 0rem 0rem;
        }
        .profil-saya-sKf {
          margin: 0rem 5.3rem 0.5rem 0rem;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          flex-shrink: 0;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .icon-bell-outline-P37 {
          margin: 0rem 0.345rem 0.4rem 0rem;
          width: 2.4555rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .job-alert-HuB {
          cursor: pointer;
          font-size: 1.8rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.9rem 0.3rem 0rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
        }
        .icon-bookmark-1KP {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 0.045rem 0rem 0rem;
          width: 2.4555rem;
          height: 2.5rem;
          object-fit: contain;
        }
        .lowongan-saya-vSM {
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-weight: 600;
          margin: 0rem 7.3rem 0.3rem 0rem;
          cursor: pointer;
          font-size: 1.8rem;
        }
        .keluar-S9o {
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          line-height: 1.3175;
          white-space: nowrap;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 600;
        }
      }
    }
    .auto-group-jfhb-xP3 {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4rem;
      height: 6rem;
      display: flex;

      .auto-group-zk8z-u3P {
        margin-right: 3rem;
        box-sizing: border-box;
        padding: 1rem 1.2rem 1rem 1.8rem;
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;

        .nama-pekerjaan-atau-perusahaan-DZs {
          display: flex;
          font-weight: 400;
          white-space: nowrap;
          margin-right: 8.4rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: rgba(119, 119, 119, 0.5);
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .icon-search-outline-j2R {
          flex-shrink: 0;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-vgch-2GR {
        border-radius: 1rem;
        margin-right: 3.1rem;
        box-sizing: border-box;
        padding: 1rem 0.8rem 1rem 2rem;
        border: solid 0.1rem #0e8136;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;

        .nama-kota-atau-provinsi-xA5 {
          font-weight: 400;
          color: rgba(119, 119, 119, 0.5);
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 14.2rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          display: flex;
        }
        .icon-pin-outline-5Eh {
          vertical-align: top;
          flex-shrink: 0;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }
      }
      .bottom-C4R {
        border-radius: 1.5rem;
        flex-shrink: 0;
        cursor: pointer;
        display: flex;
        font-size: 2rem;
        line-height: 1.2975;
        font-family: Candal, 'Source Sans Pro';
        white-space: nowrap;
        color: #ffffff;
        width: 21rem;
        align-items: center;
        justify-content: center;
        background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        height: 100%;
        font-weight: 400;
      }
    }
    .auto-group-t7td-cP3 {
      padding: 0.2rem 2.555rem 0rem 22.7rem;
      width: 45.8rem;
      height: 3.6rem;
      flex-shrink: 0;
      margin-left: 1.8rem;
      box-sizing: border-box;

      .auto-group-dpnd-K2Z {
        width: 100%;
        height: 100%;
      }
    }
  }
  .auto-group-c6ot-PYD {
    width: 100%;
    height: 177.5rem;
    position: relative;
    flex-shrink: 0;

    .image-25-j6H {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 1.7rem;
      height: 169.6rem;
      position: absolute;
      left: 142.3rem;
    }
    .konten-video-rRo {
      box-sizing: border-box;
      cursor: pointer;
      left: 75.7rem;
      top: 139rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      border-radius: 2.5rem;
      padding: 3.125rem 3.006rem 3.2rem 3rem;
      width: 57.6rem;
      height: 37.5rem;
      position: absolute;
      border: solid 0.2rem #015442;

      .group-25-MNZ {
        margin: 0rem 0rem 2.178rem 0.033rem;
        width: calc(100% - 0.033rem);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I69:6253;2:389');
        border-radius: 0.0776rem;

        .vector-BMb {
          height: 24.9977rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 51.5608rem;
        }
      }
      .judul-video-tmo {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
      }
    }
    .konten-video-9hj {
      top: 139rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      box-sizing: border-box;
      padding: 3.125rem 3.006rem 3.2rem 3rem;
      cursor: pointer;
      position: absolute;
      left: 9.7rem;
      border-radius: 2.5rem;
      width: 57.6rem;
      height: 37.5rem;
      border: solid 0.2rem #015442;

      .group-25-rs3 {
        margin: 0rem 0rem 2.178rem 0.033rem;
        width: calc(100% - 0.033rem);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I69:6252;2:389');
        border-radius: 0.0776rem;

        .vector-bpd {
          width: 51.5607rem;
          height: 24.9977rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
        }
      }
      .judul-video-8Jm {
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3rem;
      }
    }
    .konten-video-oA1 {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
      box-sizing: border-box;
      padding: 3.125rem 3.006rem 3.2rem 3rem;
      cursor: pointer;
      position: absolute;
      left: 75.7rem;
      top: 95rem;
      border: solid 0.2rem #015442;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      width: 57.6rem;
      height: 37.5rem;

      .group-25-iGy {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I69:6251;2:389');
        border-radius: 0.0776rem;
        margin: 0rem 0rem 2.178rem 0.033rem;
        width: calc(100% - 0.033rem);
        background-size: cover;

        .vector-45w {
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 51.5608rem;
          height: 24.9977rem;
        }
      }
      .judul-video-NsK {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .konten-video-SsB {
      height: 37.5rem;
      position: absolute;
      left: 9.7rem;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
      box-sizing: border-box;
      padding: 3.125rem 3.006rem 3.2rem 3rem;
      width: 57.6rem;
      cursor: pointer;
      top: 95rem;
      border: solid 0.2rem #015442;

      .group-25-xqX {
        background-position: center;
        background-image: url('REPLACE_IMAGE:I69:6250;2:389');
        border-radius: 0.0776rem;
        margin: 0rem 0rem 2.178rem 0.033rem;
        width: calc(100% - 0.033rem);
        background-size: cover;
        background-repeat: no-repeat;

        .vector-JPb {
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 51.5607rem;
          height: 24.9977rem;
          object-fit: contain;
        }
      }
      .judul-video-EY9 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .konten-video-iCR {
      border: solid 0.2rem #015442;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      box-sizing: border-box;
      padding: 3.125rem 3.006rem 3.2rem 3rem;
      width: 57.6rem;
      height: 37.5rem;
      cursor: pointer;
      top: 51rem;
      position: absolute;
      left: 75.7rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;

      .group-25-RsX {
        background-image: url('REPLACE_IMAGE:I69:6235;2:389');
        border-radius: 0.0776rem;
        margin: 0rem 0rem 2.178rem 0.033rem;
        width: calc(100% - 0.033rem);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .vector-B61 {
          width: 51.5608rem;
          height: 24.9977rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
        }
      }
      .judul-video-uXo {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .konten-video-zJM {
      height: 37.5rem;
      position: absolute;
      top: 51rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      box-sizing: border-box;
      padding: 3.125rem 3.006rem 3.2rem 3rem;
      width: 57.6rem;
      cursor: pointer;
      left: 9.7rem;
      border: solid 0.2rem #015442;

      .group-25-WGh {
        width: calc(100% - 0.033rem);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I69:6234;2:389');
        border-radius: 0.0776rem;
        margin: 0rem 0rem 2.178rem 0.033rem;

        .vector-Sg9 {
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
          width: 51.5607rem;
          height: 24.9977rem;
        }
      }
      .judul-video-xeV {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
      }
    }
    .konten-video-Ec1 {
      cursor: pointer;
      top: 7rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
      box-sizing: border-box;
      width: 57.6rem;
      height: 37.5rem;
      position: absolute;
      left: 75.7rem;
      border: solid 0.2rem #015442;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      padding: 3.125rem 3.006rem 3.2rem 3rem;

      .group-25-jYm {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I69:6226;2:389');
        border-radius: 0.0776rem;
        margin: 0rem 0rem 2.178rem 0.033rem;
        width: calc(100% - 0.033rem);

        .vector-UWM {
          width: 51.5608rem;
          height: 24.9977rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
        }
      }
      .judul-video-1FP {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .konten-video-Uem {
      width: 57.6rem;
      left: 9.7rem;
      border: solid 0.2rem #015442;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 2.5rem;
      box-sizing: border-box;
      height: 37.5rem;
      position: absolute;
      top: 7rem;
      background: linear-gradient(90deg, #02d589 3.3%, #1dcba9 96.53%);
      padding: 3.125rem 3.006rem 3.2rem 3rem;

      .group-25-zd7 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I69:6218;2:389');
        border-radius: 0.0776rem;
        margin: 0rem 0rem 2.178rem 0.033rem;
        width: calc(100% - 0.033rem);

        .vector-wHT {
          width: 51.5607rem;
          height: 24.9977rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.0776rem;
        }
      }
      .judul-video-fDT {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
      }
    }
    .footer-LaV {
      display: flex;
      background-color: #008a88;
      position: absolute;
      left: 0;
      top: 169.6rem;
      height: 7.9rem;
      align-items: center;
      box-sizing: border-box;
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      width: 144rem;

      .tentang-jobstreet-express-eLH {
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.6rem;
        display: flex;
        line-height: 1.3175;
        color: #ffffff;
      }
      .pusat-bantuan-y7f {
        display: flex;
        font-size: 1.8rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 44.9rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        flex-shrink: 0;
      }
      .copyright-2023-jobstreet-express-uGD {
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
