
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-melamar-pekerjaan--e1X {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .header-n-navbar-variant2-Z8V {
    margin-bottom: 5rem;
    width: 100%;
    height: 27.2rem;
    background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
    flex-shrink: 0;

    .background-header-tgZ {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 7.6rem 0.3rem 4.5rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);

      .auto-group-sazp-pKK {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 100%;
        height: 13.1rem;
        display: flex;
        align-items: flex-end;

        .auto-group-ygsk-9sP {
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;

          .logo-removebg-preview-1-Uem {
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
          }
          .nama-pekerjaan-oS9 {
            left: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            width: 14.5rem;
            position: absolute;
            top: 10.4rem;
            line-height: 1.3175;
            height: 2.4rem;
          }
        }
        .di-mana-H6R {
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.8rem;
          color: #000000;
          flex-shrink: 0;
          line-height: 1.3175;
        }
        .header-nYy {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 3.4rem 0rem 6.8rem 0rem;
          height: calc(100% - 10.2rem);

          .icon-play-circle-outline-J1X {
            flex-shrink: 0;
            margin: 0.04rem 0.2rem 0rem 0rem;
            width: 2.3rem;
            height: 2.3398rem;
            object-fit: contain;
            vertical-align: top;
          }
          .simulasi-bmK {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin: 0rem 3.647rem 0.3rem 0rem;
          }
          .icon-person-WdP {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.3rem 0.385rem 0rem 0rem;
            width: 2.4684rem;
            height: 2.6rem;
            position: relative;
            object-fit: contain;
          }
          .profil-saya-2bj {
            font-family: Roboto Slab, 'Source Sans Pro';
            cursor: pointer;
            font-weight: 600;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 5.3rem 0.5rem 0rem;
            font-size: 1.8rem;
            line-height: 1.3175;
          }
          .icon-bell-outline-qJH {
            margin: 0rem 0.345rem 0.4rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .job-alert-YyP {
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin: 0rem 5.9rem 0.3rem 0rem;
            cursor: pointer;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 600;
          }
          .icon-bookmark-sVs {
            margin: 0.2rem 0.045rem 0rem 0rem;
            width: 2.4555rem;
            height: 2.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .lowongan-saya-QEu {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.3175;
            color: #015442;
            margin: 0rem 7.3rem 0.3rem 0rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 600;
          }
          .keluar-Kcm {
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-weight: 600;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
      .auto-group-otwo-ShP {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 4rem;
        height: 6rem;
        display: flex;

        .auto-group-4xnm-zD7 {
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          padding: 1rem 1.2rem 1rem 1.8rem;
          box-sizing: border-box;
          height: 100%;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 3rem;

          .nama-pekerjaan-atau-perusahaan-KFP {
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 8.4rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            color: #b0aaaa;
            flex-shrink: 0;
          }
          .icon-search-outline-ENM {
            vertical-align: top;
            flex-shrink: 0;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
        }
        .auto-group-r6e5-XcM {
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          margin-right: 3.1rem;
          padding: 1rem 0.8rem 1rem 2rem;
          height: 100%;
          background-color: #ffffff;
          border-radius: 1rem;

          .nama-kota-atau-provinsi-FYM {
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.3175;
            color: #b0aaaa;
            white-space: nowrap;
            margin-right: 14.2rem;
            display: flex;
            font-size: 1.8rem;
          }
          .icon-pin-outline-AfK {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-fry {
          font-weight: 400;
          line-height: 1.2975;
          font-family: Candal, 'Source Sans Pro';
          cursor: pointer;
          align-items: center;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          width: 21rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          color: #ffffff;
          white-space: nowrap;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          border-radius: 1.5rem;
          height: 100%;
          justify-content: center;
        }
      }
      .auto-group-8k3j-6Bb {
        height: 3.6rem;
        display: flex;
        align-items: center;
        border-right: solid 0.1rem #777777;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0rem 2.5rem;
        border-left: solid 0.1rem #777777;
        margin: 0rem 84.3rem 0rem 1.8rem;
        width: calc(100% - 86.1rem);

        .semua-jenis-pekerjaan-yWH {
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          line-height: 1.3175;
          color: #000000;
          flex-shrink: 0;
          margin: 0rem 0.4rem 0.4rem 0rem;
        }
        .auto-group-z44r-gvV {
          position: relative;
          flex-shrink: 0;
          margin-right: 2.4547rem;
          width: 20.5453rem;
          height: 100%;

          .line-171-daq {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 0.1rem;
            height: 3.4rem;
            position: absolute;
            left: 5.5rem;
            top: 0;
            background-color: #777777;
          }
          .kapan-saja-Yho {
            white-space: nowrap;
            width: 9.6rem;
            top: 0.3rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            height: 2.4rem;
            position: absolute;
            left: 8rem;
            font-size: 1.8rem;
            color: #000000;
          }
          .icon-arrow-ios-downward-3uT {
            height: 2.9879rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.5rem;
          }
          .icon-arrow-ios-downward-nMF {
            width: 20.5453rem;
            height: 2.9879rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
  .auto-group-c8jd-Asb {
    height: 102.6rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 6.7rem 18.3rem 8.1rem;
    width: calc(100% - 14.8rem);

    .lowongan-lamaran-HxD {
      margin: 0.7rem 3.8rem 0rem 0rem;
      box-sizing: border-box;
      padding: 1.9rem 2.8rem 3.2rem 1.9rem;
      width: 54.9rem;
      border: solid 0.2rem #01d589;
      background-color: #ecf5e5;
      border-radius: 2.5rem;
      flex-shrink: 0;

      .admin-administrasi-nPB {
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.1rem 1.1rem;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3175;
      }
      .auto-group-xxrz-uCu {
        align-items: center;
        margin-bottom: 1.5rem;
        width: 100%;
        height: 6.9rem;
        display: flex;

        .capture-removebg-preview-4-3K7 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 10.8rem;
          height: 6.9rem;
        }
        .auto-group-tfc5-aK3 {
          margin: 1rem 0rem 0.6rem 0rem;
          height: calc(100% - 1.6rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .pt-perdana-semesta-gemilang-logistik-uMK {
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.5rem;
            display: flex;
            font-size: 1.8rem;
          }
          .dupak-surabaya-jawa-timur-cmX {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
          }
        }
      }
      .hari-yang-lalu-20-pelamar-k73 {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 2.2rem 1.3rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #534e4e;
      }
      .auto-group-ka49-TXF {
        display: flex;
        align-items: center;
        margin: 0rem 26.4rem 1.9rem 1.1rem;
        width: calc(100% - 27.5rem);

        .emoji-briefcase-bNZ {
          flex-shrink: 0;
          margin-right: 1.9363rem;
          width: 2.3637rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .sekitar-rp-4-5-juta-bulan-vfj {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
        }
      }
      .administrasi-merupakan-suatu-proses-penyelenggaraan-bersama-atau-proses-kerja-sama-antara-sekelompok-orang-secara--fNR {
        font-family: Roboto Slab, 'Source Sans Pro';
        margin: 0rem 0rem 2.4rem 0.8rem;
        max-width: 46.3rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
      }
      .auto-group-6745-8mo {
        margin-left: 36.7rem;
        position: relative;
        border: solid 0.2rem #015442;
        box-sizing: border-box;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        border-radius: 2rem;
        width: 13.5rem;
        height: 4rem;
        background-color: #b0aaaa;

        .tersimpan-U4y {
          height: 2rem;
          left: 3.8rem;
          top: 1.05rem;
          display: flex;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2975;
          color: #015442;
          white-space: nowrap;
          width: 8.7rem;
          position: absolute;
          font-family: Candal, 'Source Sans Pro';
        }
        .vector-n5f {
          background-color: rgba(255, 255, 255, 0);
          opacity: 0;
          width: 2rem;
          height: 2rem;
          position: absolute;
          left: 3.4rem;
          top: 1rem;
        }
        .icon-bookmark-7Nq {
          vertical-align: top;
          width: 2rem;
          height: 2rem;
          position: absolute;
          left: 1.6rem;
          top: 1.1rem;
          object-fit: contain;
        }
      }
    }
    .deskripsi-xeM {
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ebf3f5;
      border-radius: 2.5rem;
      flex-shrink: 0;
      width: 70.5rem;
      position: relative;
      border: solid 0.2rem #0e8136;
      height: 100%;

      .auto-group-d817-6kZ {
        border-radius: 2rem;
        justify-content: center;
        box-sizing: border-box;
        top: 25.3rem;
        line-height: 1.2975;
        font-family: Candal, 'Source Sans Pro';
        align-items: center;
        border: solid 0.2rem #b0aaaa;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        font-size: 1.8rem;
        font-weight: 400;
        position: absolute;
        left: 5.2rem;
        display: flex;
        color: #015442;
        white-space: nowrap;
        background-color: #b0aaaa;
        width: 25.2rem;
        height: 4.6rem;
      }
      .auto-group-h3ds-K7X {
        position: absolute;
        left: 4.2rem;
        top: 35.2rem;
        width: 61.2rem;
        height: 64.4rem;

        .lulusan-minimal-sma-smk-sederajat-max-22-tahun-bertanggung-jawab-disiplin-dan-jujur-cekatan-inovatif-dan-inisiatif-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-mampu-mengoperasikan-ms-word-dan-excel-pelamar-harus-memiliki-ktp-q5s {
          position: absolute;
          left: 0;
          display: flex;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 57.2rem;
          height: 21.4rem;
          top: 43rem;
          font-size: 1.8rem;
          font-weight: 400;

          .lulusan-minimal-sma-smk-sederajat-max-22-tahun-bertanggung-jawab-disiplin-dan-jujur-cekatan-inovatif-dan-inisiatif-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-mampu-mengoperasikan-ms-word-dan-excel-pelamar-harus-memiliki-ktp-q5s-sub-0 {
          }
          .lulusan-minimal-sma-smk-sederajat-max-22-tahun-bertanggung-jawab-disiplin-dan-jujur-cekatan-inovatif-dan-inisiatif-diperlukan-1-tahun-pengalaman-kerja-yang-relevan-untuk-posisi-ini-mampu-mengoperasikan-ms-word-dan-excel-pelamar-harus-memiliki-ktp-q5s-sub-1 {
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .persyaratan-minimum--kkZ {
          top: 44.6rem;
          display: flex;
          font-weight: 700;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
          width: 22rem;
          height: 2.7rem;
          font-size: 2rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          position: absolute;
          left: 1rem;
        }
        .administrasi-merupakan-suatu-proses-penyelenggaraan-bersama-atau-proses-kerja-sama-antara-sekelompok-orang-secara-tertentu-untuk-mencapai-sesuatu-tujuan-tertentu-yang-telah-ditentukan-dan-direncanakan-sebelumnya-kerja-sama-antara-orang-orang-tersebut-berlangsung-secara-dan-melalui-organisasi-GD7 {
          width: 60.2rem;
          top: 3.3rem;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #000000;
          height: 11.9rem;
          position: absolute;
          left: 1rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .deskripsi-pekerjaan-bPo {
          height: 2.7rem;
          position: absolute;
          font-weight: 700;
          color: #000000;
          font-size: 2rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          width: 19.3rem;
          left: 1rem;
          top: 0;
          display: flex;
        }
        .menjadwalkan-meeting-dan-acara-merawat-database-internal-memesan-peralatan-dan-perlengkapan-kantor-menyimpan-dan-menjaga-catatan-arsip-karyawan-baik-fisik-maupun-digital-mendistribusikan-surat-masuk-dan-keluar-menyiapkan-laporan-dan-presentasi-rutin-mengatur-menyimpan-dan-mencetak-dokumen-perusahaan-sesuai-dengan-kebutuhan-mengatur-perjalanan-bisnis-mengupdate-kebijakan-kantor-VEH {
          height: 26.1rem;
          left: 0;
          line-height: 1.3175;
          color: #000000;
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          width: 58.4rem;
          position: absolute;
          top: 17.2rem;
          display: flex;
        }
        .yakin-lamar-3v1 {
          top: 0.5rem;
          align-items: center;
          box-sizing: border-box;
          width: 31.3rem;
          height: 17.4rem;
          position: absolute;
          left: 15.9rem;
          border-radius: 2rem;
          padding: 2.3rem 2.121rem 2.9rem 2.679rem;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(88.9deg, #02d589 3.81%, #1ecba9 99.06%);

          .roboto-slab-XKP {
            justify-content: center;
            font-weight: 400;
            margin-bottom: 3.4rem;
            align-items: center;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 26.5rem;
            display: flex;
          }
          .auto-group-y6c9-EUh {
            margin: 0rem 0.89rem 0rem 0.95rem;
            width: calc(100% - 1.8396rem);
            height: 4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-5dry-Xyb {
              position: relative;
              flex-shrink: 0;
              margin-right: 4.7545rem;
              width: 9.9029rem;
              height: 100%;

              .rectangle-617-HC5 {
                height: 4rem;
                position: absolute;
                top: 0;
                background-color: #ffffff;
                border-radius: 2rem;
                width: 9.9027rem;
                left: 0;
                border: solid 0.1rem #015442;
                box-sizing: border-box;
                box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
              }
              .header-1-yah {
                top: 0.6rem;
                font-size: 1.5rem;
                position: absolute;
                white-space: nowrap;
                line-height: 1.2975;
                font-family: Candal, 'Source Sans Pro';
                width: 9.8145rem;
                left: 0.0885rem;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                color: #015442;
                height: 2.6rem;
                cursor: pointer;
                display: flex;
              }
            }
            .auto-group-gne5-Tkm {
              flex-shrink: 0;
              width: 10.0029rem;
              height: 100%;
              position: relative;

              .rectangle-648-1GV {
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                width: 9.9027rem;
                position: absolute;
                top: 0;
                box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
                background: linear-gradient(91.43deg, #005141 1.35%, #03876c 89.37%);
                border-radius: 2rem;
                height: 4rem;
                left: 0;
              }
              .tipografi-5XF {
                top: 0.6rem;
                display: flex;
                align-items: center;
                color: #ffffff;
                white-space: nowrap;
                height: 2.6rem;
                cursor: pointer;
                position: absolute;
                left: 0.1885rem;
                line-height: 1.2975;
                width: 9.8145rem;
                justify-content: center;
                font-weight: 400;
                font-size: 1.5rem;
                font-family: Candal, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .line-86-h2q {
        vertical-align: top;
        width: 61rem;
        height: 0.1rem;
        position: absolute;
        left: 5.2rem;
        top: 32.7rem;
        object-fit: contain;
      }
      .auto-group-dzqh-RUd {
        position: absolute;
        left: 5.2rem;
        top: 20.2rem;
        display: flex;
        align-items: flex-start;
        width: 26.6rem;
        height: 2.2rem;

        .emoji-briefcase-YZF {
          margin-right: 1.9363rem;
          width: 2.3637rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .sekitar-rp-4-5-juta-bulan-ftm {
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .admin-administrasi-nyP {
        white-space: nowrap;
        width: 19.4rem;
        height: 2.7rem;
        position: absolute;
        display: flex;
        font-weight: 700;
        line-height: 1.3175;
        color: #000000;
        left: 5.2rem;
        top: 4.8rem;
        font-size: 2rem;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .auto-group-eyob-hqT {
        left: 4.1rem;
        top: 7.6rem;
        display: flex;
        align-items: center;
        width: 50.2rem;
        height: 6.9rem;
        position: absolute;

        .capture-removebg-preview-4-SHF {
          width: 10.8rem;
          height: 6.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-bfdk-Ngh {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1rem 0rem 0.6rem 0rem;
          height: calc(100% - 1.6rem);

          .pt-perdana-semesta-gemilang-logistik-JqF {
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.3175;
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
            display: flex;
          }
          .dupak-surabaya-jawa-timur-RQ5 {
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
          }
        }
      }
      .hari-yang-lalu-20-pelamar-MHj {
        position: absolute;
        left: 5.4rem;
        top: 15.8rem;
        display: flex;
        color: rgba(0, 0, 0, 0.75);
        font-family: Inter, 'Source Sans Pro';
        width: 24.3rem;
        height: 2.2rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
      }
    }
  }
  .footer-C3T {
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;
    display: flex;

    .tentang-jobstreet-express-uyT {
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 4.6rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      flex-shrink: 0;
    }
    .pusat-bantuan-STb {
      white-space: nowrap;
      margin-right: 44.9rem;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      display: flex;
      font-weight: 400;
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-Zo7 {
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
