
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-login-email-dan-kata-sandi-salah-ZLd {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .auto-group-czvm-rad {
    width: calc(100% - 0.1rem);
    height: 82.7rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0.1rem 12rem 0rem;

    .header-n-navbar-variant2-A5X {
      background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
      width: 144rem;
      height: 27.2rem;
      position: absolute;
      left: 0;
      top: 0;

      .background-header-tnD {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 0rem 4.5rem 0.3rem 4.5rem;

        .auto-group-xhy5-1bw {
          width: calc(100% - 82.9rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 82.9rem 0.2rem 0rem;

          .auto-group-pcq9-7us {
            height: 12.8rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 15.1rem 0.3rem 0rem;
            width: 29.8rem;

            .logo-removebg-preview-1-dtD {
              width: 29.8rem;
              height: 10.9rem;
              cursor: pointer;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .nama-pekerjaan-N57 {
              height: 2.4rem;
              display: flex;
              color: #000000;
              white-space: nowrap;
              width: 14.5rem;
              position: absolute;
              left: 0;
              top: 10.2rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
            }
          }
          .di-mana-qUV {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-qvl9-xp1 {
          height: 6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 4rem;

          .auto-group-hzau-hmb {
            padding: 1rem 1.2rem 1rem 1.8rem;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 3rem;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;

            .nama-pekerjaan-atau-perusahaan-dQM {
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.3175;
              color: #b0aaaa;
              font-family: Roboto Slab, 'Source Sans Pro';
              font-weight: 400;
              margin-right: 8.4rem;
              display: flex;
              font-size: 1.8rem;
            }
            .icon-search-outline-jyB {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-kkt5-d2y {
            border-radius: 1rem;
            box-sizing: border-box;
            padding: 1rem 0.8rem 1rem 2rem;
            height: 100%;
            align-items: center;
            flex-shrink: 0;
            margin-right: 3.1rem;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;

            .nama-kota-atau-provinsi-wJZ {
              flex-shrink: 0;
              font-weight: 400;
              color: #b0aaaa;
              font-size: 1.8rem;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 14.2rem;
              display: flex;
            }
            .icon-pin-outline-rRX {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
            }
          }
          .bottom-xjT {
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2975;
            white-space: nowrap;
            border-radius: 1.5rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            width: 21rem;
            font-size: 2rem;
            font-family: Candal, 'Source Sans Pro';
            background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
          }
        }
        .auto-group-mmpm-aF3 {
          height: 3.6rem;
          align-items: center;
          border-left: solid 0.1rem #777777;
          border-right: solid 0.1rem #777777;
          box-sizing: border-box;
          padding: 0.2rem 2.555rem 0rem 2.5rem;
          width: calc(100% - 89.2rem);
          margin: 0rem 87.4rem 0rem 1.8rem;
          display: flex;
          flex-shrink: 0;

          .semua-jenis-pekerjaan-fXP {
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0.4rem 0.4rem 0rem;
            color: #000000;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .auto-group-cqe9-NRo {
            margin-right: 2.4547rem;
            width: 20.5453rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .line-171-K69 {
              width: 0.1rem;
              height: 3.4rem;
              position: absolute;
              left: 5.5rem;
              top: 0;
              background-color: #777777;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            }
            .kapan-saja-cqw {
              color: #000000;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.4rem;
              position: absolute;
              top: 0.3rem;
              font-size: 1.8rem;
              line-height: 1.3175;
              width: 9.6rem;
              left: 8rem;
              display: flex;
              font-weight: 400;
            }
            .icon-arrow-ios-downward-XCD {
              vertical-align: top;
              width: 3.5rem;
              height: 2.9879rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
            }
            .icon-arrow-ios-downward-Spy {
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 20.5453rem;
              height: 2.9879rem;
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
    .yang-sering-dicari-3pm {
      top: 38.6rem;
      width: 116.4rem;
      height: 43.9rem;
      position: absolute;
      left: 13.9rem;

      .auto-group-vq1b-NMF {
        width: calc(100% - 80.5rem);
        display: flex;
        align-items: center;
        margin: 0rem 80.5rem 2.336rem 0rem;

        .icon-trending-up-GhX {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1605rem;
          width: 4.1395rem;
          height: 4.3637rem;
        }
        .lowongan-yang-sering-dicari-Q33 {
          margin-top: 0.1363rem;
          display: flex;
          font-weight: 600;
          flex-shrink: 0;
          font-size: 2.2rem;
          line-height: 1.3175;
          color: #015442;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-90-JeD {
        margin: 0rem 0rem 4.8rem 0.5rem;
        height: 16.2rem;
        display: flex;
        align-items: flex-end;

        .auto-group-epnd-24R {
          margin: 0rem 2.838rem 0.021rem 0rem;
          width: 13.1625rem;
          height: calc(100% - 0.0215rem);
          flex-shrink: 0;

          .jabatan-wSH {
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9rem;
            display: flex;
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.3175;
          }
          .auto-group-m4gz-GzM {
            box-sizing: border-box;
            width: calc(100% - 0.2rem);
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            margin: 0rem 0rem 2.421rem 0.2rem;
            padding: 0.8rem 2.463rem 0.808rem 0.6rem;
            border-radius: 0.5rem;

            .icon-pie-chart-2-aVF {
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
            }
            .admin-unR {
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
              margin-bottom: 0.0709rem;
              cursor: pointer;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              font-size: 1.8rem;
            }
          }
          .auto-group-gbah-14m {
            border-radius: 0.5rem;
            margin-left: 0.2rem;
            box-sizing: border-box;
            padding: 0.8rem 2.263rem 0.808rem 0.6rem;
            width: calc(100% - 0.2rem);
            display: flex;
            background-color: #ffffff;
            align-items: center;
            border: solid 0.1rem #0e8136;

            .icon-pie-chart-2-7Nh {
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
            }
            .barista-r5P {
              font-family: Roboto Slab, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
            }
          }
        }
        .auto-group-weem-LmF {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 2.7rem;
          width: 10.8rem;
          align-items: center;

          .auto-group-gkku-gaD {
            margin-bottom: 2.4rem;
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            border-radius: 0.5rem;

            .icon-pie-chart-2-ouj {
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
            }
            .kasir-Lem {
              margin-bottom: 0.2709rem;
              display: flex;
              font-size: 1.8rem;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.3175;
              white-space: nowrap;
            }
          }
          .auto-group-dt6r-EVF {
            box-sizing: border-box;
            padding: 0.8rem 0.9rem 0.829rem 0.6rem;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 100%;
            display: flex;
            align-items: center;

            .icon-pie-chart-2-9s7 {
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
            }
            .driver-VAH {
              flex-shrink: 0;
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              white-space: nowrap;
            }
          }
        }
        .auto-group-dk8d-mdb {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 2.8rem;
          width: 19.8rem;
          align-items: center;
          display: flex;

          .auto-group-1brj-WLH {
            flex-shrink: 0;
            margin: 0rem 0rem 2.4rem 0.1rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            padding: 0.8rem 1.7rem 0.829rem 0.6rem;
            width: calc(100% - 0.1rem);
            border-radius: 0.5rem;

            .icon-pie-chart-2-oaH {
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
            }
            .staff-marketing-wAh {
              font-weight: 400;
              line-height: 1.3175;
              white-space: nowrap;
              margin-bottom: 0.0709rem;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              color: #008a88;
            }
          }
          .auto-group-v74v-DP7 {
            margin-right: 0.1rem;
            box-sizing: border-box;
            align-items: center;
            background-color: #ffffff;
            padding: 0.8rem 2.3rem 0.829rem 0.6rem;
            width: calc(100% - 0.1rem);
            display: flex;
            border: solid 0.1rem #0e8136;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .icon-pie-chart-2-jsF {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
            }
            .quality-control-5AR {
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              margin-bottom: 0.0709rem;
              display: flex;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-gymb-Mtd {
          margin-right: 2.8rem;
          width: 20.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-a489-65X {
            border-radius: 0.5rem;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 0.8rem 1.4rem 0.829rem 0.6rem;
            width: 100%;
            display: flex;

            .icon-pie-chart-2-p1X {
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .staff-accounting-9Zb {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.0709rem;
            }
          }
          .auto-group-3yku-Eb3 {
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.8rem 2.5rem 0.829rem 0.6rem;
            width: 100%;
            border: solid 0.1rem #0e8136;

            .icon-pie-chart-2-ZdK {
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .content-creator-W2m {
              margin-bottom: 0.0709rem;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-pfir-ba1 {
          margin-right: 2.3rem;
          width: 17.2rem;
          flex-shrink: 0;

          .auto-group-vkfb-jgD {
            padding: 0.8rem 1.6rem 0.829rem 0.6rem;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            margin-bottom: 2.4rem;

            .icon-pie-chart-2-Ts7 {
              width: 2.723rem;
              height: 2.8709rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
            }
            .staff-gudang-Bo7 {
              color: #008a88;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              margin-bottom: 0.0709rem;
              line-height: 1.3175;
              flex-shrink: 0;
            }
          }
          .auto-group-dhqd-gUy {
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            margin-right: 6.4rem;
            box-sizing: border-box;
            padding: 0.8rem 2.2rem 0.829rem 0.6rem;
            width: calc(100% - 6.4rem);
            display: flex;

            .icon-pie-chart-2-brq {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.277rem;
              width: 2.723rem;
              height: 2.8709rem;
            }
            .host-wfo {
              display: flex;
              font-size: 1.8rem;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.0709rem;
              font-weight: 400;
              color: #008a88;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-my29-qmB {
          padding: 0.8rem 1.1rem 0.829rem 1.1rem;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin: 4.8rem 0rem 6.9rem 0rem;
          box-sizing: border-box;
          align-items: center;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          height: calc(100% - 11.7rem);
          display: flex;

          .icon-pie-chart-2-x57 {
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
          }
          .customer-service-6BK {
            margin-bottom: 0.0709rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            display: flex;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .group-89-z1o {
        margin-left: 0.7rem;
        width: 111.8rem;

        .perusahaan-jEH {
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
        }
        .auto-group-grqb-Tvy {
          margin-bottom: 2.2rem;
          width: 100%;
          height: 4.5rem;
          display: flex;
          align-items: center;

          .group-88-C7s {
            box-sizing: border-box;
            padding: 0.9rem 0.7rem 0.9rem 0.9rem;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            margin-right: 2.9rem;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;

            .emoji-office-building-WeM {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .ganesha-operation-surabaya-dsk-qwX {
              margin-bottom: 0.1rem;
              cursor: pointer;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.3175;
              flex-shrink: 0;
            }
          }
          .auto-group-16wk-Kbo {
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 3rem;
            box-sizing: border-box;
            padding: 0.9rem 1.6rem 0.9rem 0.9rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;

            .emoji-office-building-rLq {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.9rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
            }
            .pt-media-telekomunikasi-mandiri-nkH {
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              cursor: pointer;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
            }
          }
          .auto-group-h2py-g4y {
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 0.9rem 1.3rem 0.9rem 0.9rem;
            height: 100%;
            align-items: center;
            border: solid 0.1rem #0e8136;
            display: flex;
            background-color: #ffffff;
            flex-shrink: 0;

            .emoji-office-building-bxd {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
            }
            .pt-arta-boga-boga-cemerlang-YN5 {
              font-weight: 400;
              line-height: 1.3175;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              font-size: 1.8rem;
              color: #01d589;
              margin-bottom: 0.1rem;
              display: flex;
            }
          }
        }
        .auto-group-yfhj-csj {
          display: flex;
          align-items: flex-end;

          .auto-group-zher-Zny {
            padding: 0.9rem 2.2rem 0.9rem 0.9rem;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            display: flex;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            margin: 0.2rem 3rem 0rem 0rem;

            .emoji-office-building-gMo {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .cv-berlian-retail-cFT {
              font-size: 1.8rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              line-height: 1.3175;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              margin-bottom: 0.1rem;
            }
          }
          .auto-group-5o6y-6gR {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            margin: 0.2rem 3rem 0rem 0rem;
            padding: 0.9rem 1.7rem 0.9rem 0.9rem;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .emoji-office-building-cPs {
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .panara-course-kW5 {
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              cursor: pointer;
              display: flex;
              font-size: 1.8rem;
              font-weight: 400;
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              line-height: 1.3175;
              white-space: nowrap;
            }
          }
          .auto-group-zijj-qnR {
            margin: 0.2rem 3.2rem 0rem 0rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 0.9rem 1.4rem 0.9rem 0.9rem;
            border: solid 0.1rem #0e8136;
            background-color: #ffffff;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .emoji-office-building-9YD {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
            }
            .bali-super-host-HeR {
              margin-bottom: 0.1rem;
              cursor: pointer;
              font-size: 1.8rem;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              color: #01d589;
            }
          }
          .auto-group-nsvd-BUu {
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.5rem;
            padding: 1.1rem 1.7rem 0.7rem 0.9rem;
            box-sizing: border-box;
            display: flex;
            border: solid 0.1rem #0e8136;
            flex-shrink: 0;
            margin-bottom: 0.2rem;

            .emoji-office-building-iDw {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
            }
            .angonjiwo-FDs {
              color: #01d589;
              font-family: Roboto Slab, 'Source Sans Pro';
              white-space: nowrap;
              cursor: pointer;
              display: flex;
              font-weight: 400;
              line-height: 1.3175;
              margin-bottom: 0.1rem;
              font-size: 1.8rem;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .masuk-7ms {
      left: 116.9rem;
      top: 2.5rem;
      width: 27rem;
      height: 53.5rem;
      position: absolute;

      .rectangle-625-pRP {
        width: 12.6rem;
        height: 7rem;
        position: absolute;
        left: 12rem;
        top: 0;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
        border-radius: 2rem;
      }
      .rectangle-624-X4u {
        background-color: #ffffff;
        border-radius: 1rem;
        width: 27rem;
        height: 48.8rem;
        position: absolute;
        left: 0;
        top: 4.7rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .masuk-q5b {
        font-weight: 400;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.4rem;
        left: 15.4rem;
        top: 1.1rem;
        color: #000000;
        width: 5.9rem;
        position: absolute;
        font-size: 1.8rem;
      }
      .subtract-M3w {
        left: 1.5rem;
        top: 14.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
      }
      .subtract-tJm {
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        position: absolute;
        left: 1.5rem;
        top: 19.5rem;
        object-fit: contain;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--d1T {
        height: 3.2rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 22rem;
        left: 1.5rem;
        top: 40.2rem;
        display: flex;
        line-height: 1.3188476562;
        position: absolute;

        .belum-punya-akun-jobstreet-express-daftar-dengan--d1T-sub-0 {
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
        }
        .belum-punya-akun-jobstreet-express-daftar-dengan--d1T-sub-1 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .facebook-AZ7 {
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: -0.011rem;
        font-family: Inter, 'Source Sans Pro';
        width: 4.6rem;
        height: 2.4rem;
        top: 48.4rem;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 5.5rem;
        line-height: 2.4;
      }
      .google-4uP {
        width: 3.3rem;
        height: 2.4rem;
        top: 48.4rem;
        display: flex;
        font-weight: 300;
        letter-spacing: -0.011rem;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        left: 16.9rem;
        font-size: 1rem;
        line-height: 2.4;
        color: #000000;
        white-space: nowrap;
      }
      .icon-email-outline-PAy {
        left: 22.5rem;
        top: 15.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
      }
      .icon-lock-outline-K4d {
        left: 22.2rem;
        top: 20.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
      }
      .logo-removebg-preview-2-2jj {
        object-fit: cover;
        vertical-align: top;
        width: 19.3rem;
        height: 6.8rem;
        position: absolute;
        left: 3.8rem;
        top: 6.4rem;
      }
      .ratnafirdausgmailcom-kQq {
        top: 15.35rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        position: absolute;
        height: 2rem;
        left: 3.1rem;
        display: flex;
        font-size: 1.5rem;
        white-space: nowrap;
        width: 17.6rem;
      }
      .item--em7 {
        color: #000000;
        white-space: nowrap;
        position: absolute;
        font-size: 1.5rem;
        line-height: 1.3175;
        top: 20.55rem;
        display: flex;
        font-weight: 600;
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 6.1rem;
        height: 2rem;
        left: 3.1rem;
      }
      .logofacebook-removebg-preview-1-xG1 {
        left: 5.1rem;
        top: 43.6rem;
        object-fit: cover;
        vertical-align: top;
        width: 5.3rem;
        height: 5.6rem;
        position: absolute;
      }
      .ellipse-122-fw7 {
        height: 4.1rem;
        position: absolute;
        left: 16.5rem;
        top: 44.3rem;
        background-color: #d9d9d9;
        border-radius: 2.05rem;
        width: 4.1rem;
      }
      .logogoogle-removebg-preview-1-bpm {
        left: 17.3rem;
        top: 45.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.5rem;
        height: 2.625rem;
        cursor: pointer;
        position: absolute;
      }
      .button-masuk-email-XCd {
        cursor: pointer;
        position: absolute;
        left: 1.5rem;
        top: 26.1rem;
        width: 24rem;
        height: 4.3rem;

        .button-eo3 {
          font-weight: 400;
          line-height: 1.2975;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          height: 100%;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
          width: 100%;
        }
      }
      .button-masuk-email-K8V {
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.5rem;
        top: 31.3rem;

        .button-eRf {
          height: 100%;
          font-weight: 400;
          color: #015442;
          box-sizing: border-box;
          font-size: 1.8rem;
          width: 100%;
          font-family: Candal, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #015442;
          background-color: #ffffff;
          line-height: 1.2975;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
        }
      }
    }
  }
  .footer-74M {
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 100%;

    .tentang-jobstreet-express-cmo {
      flex-shrink: 0;
      margin-right: 4.6rem;
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      white-space: nowrap;
      font-size: 1.8rem;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .pusat-bantuan-8VF {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 44.9rem;
      display: flex;
      font-size: 1.8rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
    }
    .copyright-2023-jobstreet-express-eyP {
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
    }
  }
  .rectangle-594-Mcu {
    height: 35.5rem;
    background-color: #8c8989;
    flex-shrink: 0;
    margin: 0rem 0.2rem 35.9rem 0rem;
    width: 144.5rem;
  }
  .auto-group-6vft-USd {
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 12.8rem;
  }
}
