
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pencari-kerja-login-email-dan-kata-sandi--D1T {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  border-bottom: solid 0.5rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;

  .rectangle-594-nyf {
    width: 144.5rem;
    height: 35.5rem;
    position: absolute;
    left: 0;
    top: 120.6rem;
    background-color: #8c8989;
  }
  .rectangle-583-5xm {
    position: absolute;
    left: 0;
    top: 192rem;
    background-color: #999393;
    width: 144rem;
    height: 12.8rem;
  }
  .footer-R13 {
    padding: 2.7rem 15.1rem 2.8rem 14rem;
    width: 144rem;
    top: 94.5rem;
    display: flex;
    align-items: center;
    background-color: #008a88;
    box-sizing: border-box;
    height: 7.9rem;
    position: absolute;
    left: 0;

    .tentang-jobstreet-express-dWR {
      font-weight: 400;
      line-height: 1.3175;
      flex-shrink: 0;
      margin-right: 4.6rem;
      font-size: 1.8rem;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
    }
    .pusat-bantuan-uD3 {
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 44.9rem;
      font-size: 1.8rem;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
    }
    .copyright-2023-jobstreet-express-1ms {
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
    }
  }
  .header-n-navbar-variant2-K1s {
    width: 144rem;
    height: 27.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);

    .background-header-qW1 {
      display: flex;
      flex-direction: column;
      background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0rem 4.5rem 0.3rem 4.5rem;
      width: 100%;
      height: 100%;

      .auto-group-dv2y-jLV {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 82.9rem 0.2rem 0rem;
        width: calc(100% - 82.9rem);
        display: flex;

        .auto-group-ewvz-qPX {
          margin: 0rem 15.1rem 0.3rem 0rem;
          width: 29.8rem;
          height: 12.8rem;
          position: relative;
          flex-shrink: 0;

          .logo-removebg-preview-1-xU9 {
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 29.8rem;
            height: 10.9rem;
            cursor: pointer;
            position: absolute;
          }
          .nama-pekerjaan-sr1 {
            top: 10.2rem;
            font-size: 1.8rem;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.3175;
            width: 14.5rem;
            height: 2.4rem;
            position: absolute;
            left: 0;
            display: flex;
          }
        }
        .di-mana-uRK {
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .auto-group-iscr-qJy {
        margin-bottom: 4rem;
        height: 6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-tj8q-ZVs {
          padding: 1rem 1.2rem 1rem 1.8rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 3rem;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 1rem;
          box-sizing: border-box;

          .nama-pekerjaan-atau-perusahaan-4hX {
            flex-shrink: 0;
            display: flex;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            color: #b0aaaa;
            white-space: nowrap;
            margin-right: 8.4rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .icon-search-outline-BXF {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-f13f-Fn1 {
          margin-right: 3.1rem;
          padding: 1rem 0.8rem 1rem 2rem;
          flex-shrink: 0;
          background-color: #ffffff;
          border-radius: 1rem;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .nama-kota-atau-provinsi-N5w {
            white-space: nowrap;
            font-weight: 400;
            color: #b0aaaa;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 14.2rem;
            display: flex;
          }
          .icon-pin-outline-HTo {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .bottom-zND {
          cursor: pointer;
          display: flex;
          font-weight: 400;
          color: #ffffff;
          line-height: 1.2975;
          font-family: Candal, 'Source Sans Pro';
          height: 100%;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          white-space: nowrap;
          border-radius: 1.5rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          width: 21rem;
          background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
        }
      }
      .auto-group-e1ht-zFj {
        display: flex;
        align-items: center;
        border-left: solid 0.1rem #777777;
        border-right: solid 0.1rem #777777;
        flex-shrink: 0;
        margin: 0rem 87.4rem 0rem 1.8rem;
        box-sizing: border-box;
        padding: 0.2rem 2.555rem 0rem 2.5rem;
        width: calc(100% - 89.2rem);
        height: 3.6rem;

        .semua-jenis-pekerjaan-sKX {
          margin: 0rem 0.4rem 0.4rem 0rem;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          display: flex;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-xgob-ydT {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 2.4547rem;
          width: 20.5453rem;

          .line-171-WNV {
            left: 5.5rem;
            top: 0;
            background-color: #777777;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 0.1rem;
            height: 3.4rem;
            position: absolute;
          }
          .kapan-saja-D21 {
            height: 2.4rem;
            position: absolute;
            left: 8rem;
            font-weight: 400;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            width: 9.6rem;
            top: 0.3rem;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
          }
          .icon-arrow-ios-downward-iDf {
            width: 3.5rem;
            height: 2.9879rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .icon-arrow-ios-downward-3Fw {
            height: 2.9879rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 20.5453rem;
          }
        }
      }
    }
  }
  .yang-sering-dicari-eFj {
    width: 116.4rem;
    height: 43.9rem;
    position: absolute;
    left: 14rem;
    top: 38.8rem;

    .auto-group-ouss-Z7o {
      display: flex;
      align-items: center;
      margin: 0rem 80.5rem 2.336rem 0rem;
      width: calc(100% - 80.5rem);

      .icon-trending-up-SSV {
        margin-right: 1.1605rem;
        width: 4.1395rem;
        height: 4.3637rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .lowongan-yang-sering-dicari-LXs {
        font-weight: 600;
        line-height: 1.3175;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1363rem;
        display: flex;
        font-size: 2.2rem;
        color: #015442;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
    .group-90-phw {
      margin: 0rem 0rem 4.8rem 0.5rem;
      height: 16.2rem;
      display: flex;
      align-items: flex-end;

      .auto-group-ldnh-ujP {
        margin: 0rem 2.838rem 0.021rem 0rem;
        width: 13.1625rem;
        height: calc(100% - 0.0215rem);
        flex-shrink: 0;

        .jabatan-d9b {
          margin-bottom: 1.9rem;
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-sced-Lph {
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.8rem 2.463rem 0.808rem 0.6rem;
          display: flex;
          border: solid 0.1rem #0e8136;
          margin: 0rem 0rem 2.421rem 0.2rem;
          width: calc(100% - 0.2rem);
          align-items: center;
          background-color: #ffffff;

          .icon-pie-chart-2-qmT {
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .admin-ZhT {
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.0709rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: #008a88;
          }
        }
        .auto-group-ahvy-3cd {
          border: solid 0.1rem #0e8136;
          margin-left: 0.2rem;
          padding: 0.8rem 2.263rem 0.808rem 0.6rem;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          width: calc(100% - 0.2rem);
          align-items: center;

          .icon-pie-chart-2-ABT {
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
          }
          .barista-VUd {
            margin-bottom: 0.0709rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-mhpp-aFB {
        flex-shrink: 0;
        margin-right: 2.7rem;
        width: 10.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-zte5-7W1 {
          box-sizing: border-box;
          width: 100%;
          display: flex;
          margin-bottom: 2.4rem;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .icon-pie-chart-2-38m {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8709rem;
          }
          .kasir-Az5 {
            flex-shrink: 0;
            font-size: 1.8rem;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.2709rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
        .auto-group-ad5s-sNh {
          width: 100%;
          align-items: center;
          border: solid 0.1rem #0e8136;
          box-sizing: border-box;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 0.8rem 0.9rem 0.829rem 0.6rem;

          .icon-pie-chart-2-anu {
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .driver-83j {
            margin-bottom: 0.0709rem;
            display: flex;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
      .auto-group-a4bb-R2q {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 19.8rem;

        .auto-group-oxqt-AFK {
          margin: 0rem 0rem 2.4rem 0.1rem;
          display: flex;
          border-radius: 0.5rem;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 1.7rem 0.829rem 0.6rem;
          width: calc(100% - 0.1rem);
          align-items: center;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-FXf {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8709rem;
            object-fit: contain;
          }
          .staff-marketing-a49 {
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            display: flex;
            font-family: Roboto Slab, 'Source Sans Pro';
            color: #008a88;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
        .auto-group-pghf-Fvy {
          flex-shrink: 0;
          margin-right: 0.1rem;
          padding: 0.8rem 2.3rem 0.829rem 0.6rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;

          .icon-pie-chart-2-aCZ {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8709rem;
            object-fit: contain;
          }
          .quality-control-i3s {
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            display: flex;
            font-size: 1.8rem;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
      .auto-group-jvmo-Bi9 {
        margin-right: 2.8rem;
        width: 20.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-aqnm-jDs {
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          align-items: center;
          border-radius: 0.5rem;
          padding: 0.8rem 1.4rem 0.829rem 0.6rem;
          width: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;

          .icon-pie-chart-2-e5w {
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .staff-accounting-Zyb {
            display: flex;
            font-weight: 400;
            color: #008a88;
            flex-shrink: 0;
            margin-bottom: 0.0709rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-b9ez-4QZ {
          border-radius: 0.5rem;
          padding: 0.8rem 2.5rem 0.829rem 0.6rem;
          display: flex;
          background-color: #ffffff;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          align-items: center;

          .icon-pie-chart-2-ath {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
            height: 2.8709rem;
            object-fit: contain;
          }
          .content-creator-89X {
            margin-bottom: 0.0709rem;
            display: flex;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
      }
      .auto-group-hoa1-RPX {
        margin-right: 2.3rem;
        width: 17.2rem;
        flex-shrink: 0;

        .auto-group-evxd-Zkd {
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          width: 100%;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;

          .icon-pie-chart-2-gqF {
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
          }
          .staff-gudang-pwT {
            margin-bottom: 0.0709rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: #008a88;
            flex-shrink: 0;
            display: flex;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-c3dt-X5B {
          margin-right: 6.4rem;
          box-sizing: border-box;
          width: calc(100% - 6.4rem);
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          padding: 0.8rem 2.2rem 0.829rem 0.6rem;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-qrZ {
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.277rem;
            width: 2.723rem;
          }
          .host-SrM {
            font-size: 1.8rem;
            line-height: 1.3175;
            flex-shrink: 0;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            display: flex;
            font-weight: 400;
            color: #008a88;
          }
        }
      }
      .auto-group-qwsj-7hb {
        margin: 4.8rem 0rem 6.9rem 0rem;
        height: calc(100% - 11.7rem);
        align-items: center;
        border: solid 0.1rem #0e8136;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;

        .icon-pie-chart-2-ZpV {
          margin-right: 1.277rem;
          width: 2.723rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .customer-service-VCM {
          margin-bottom: 0.0709rem;
          display: flex;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #008a88;
          flex-shrink: 0;
        }
      }
    }
    .group-89-mvZ {
      margin-left: 0.7rem;
      width: 111.8rem;

      .perusahaan-v2m {
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.9rem;
      }
      .auto-group-gmz1-SG1 {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .group-88-NQZ {
          margin-right: 2.9rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          height: 100%;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .emoji-office-building-gw3 {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ganesha-operation-surabaya-dsk-cph {
            font-size: 1.8rem;
            font-weight: 400;
            color: #01d589;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            cursor: pointer;
            line-height: 1.3175;
          }
        }
        .auto-group-d2uw-VNh {
          height: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          margin-right: 3rem;
          box-sizing: border-box;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-QEm {
            margin-right: 0.9rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pt-media-telekomunikasi-mandiri-8wT {
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            line-height: 1.3175;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-jykp-cLq {
          align-items: center;
          background-color: #ffffff;
          height: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;

          .emoji-office-building-LXj {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .pt-arta-boga-boga-cemerlang-snZ {
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            color: #01d589;
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
      }
      .auto-group-hz2h-MBw {
        display: flex;
        align-items: flex-end;

        .auto-group-fqjd-thf {
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          box-sizing: border-box;

          .emoji-office-building-no3 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .cv-berlian-retail-veM {
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
          }
        }
        .auto-group-s7ir-QpR {
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;
          flex-shrink: 0;
          margin: 0.2rem 3rem 0rem 0rem;
          align-items: center;

          .emoji-office-building-iKK {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .panara-course-EoT {
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.1rem;
            cursor: pointer;
            font-size: 1.8rem;
            line-height: 1.3175;
          }
        }
        .auto-group-i36h-XXf {
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.2rem 3.2rem 0rem 0rem;

          .emoji-office-building-e6V {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .bali-super-host-P45 {
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            line-height: 1.3175;
            color: #01d589;
            white-space: nowrap;
          }
        }
        .auto-group-imy5-Gdf {
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;
          display: flex;
          align-items: center;
          margin-bottom: 0.2rem;
          border: solid 0.1rem #0e8136;

          .emoji-office-building-zZf {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .angonjiwo-jGM {
            font-weight: 400;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.1rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .masuk-zxy {
    width: 3722.6rem;
    height: 1889.6rem;
    position: absolute;
    left: 117rem;
    top: 2.5rem;

    .auto-group-tqih-ity {
      width: 27rem;
      height: 53.5rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-625-2em {
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        background-color: #ffffff;
        border-radius: 2rem;
        width: 12.6rem;
        height: 7rem;
        position: absolute;
        left: 12rem;
        top: 0;
      }
      .rectangle-624-L9f {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1rem;
        width: 27rem;
        height: 48.8rem;
        position: absolute;
        left: 0;
        top: 4.7rem;
      }
      .masuk-EVw {
        text-align: center;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        top: 1.4rem;
        left: 15.2rem;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        width: 6.5rem;
        height: 3rem;
      }
      .subtract-LYy {
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.5rem;
        top: 14.1rem;
      }
      .subtract-Sc1 {
        left: 1.5rem;
        top: 19.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
      }
      .belum-punya-akun-jobstreet-express-daftar-dengan--NkZ {
        width: 22rem;
        height: 3.2rem;
        left: 1.5rem;
        font-weight: 600;
        font-family: Roboto Slab, 'Source Sans Pro';
        position: absolute;
        top: 40.2rem;
        display: flex;
        font-size: 1.2rem;
        line-height: 1.3188476562;
        color: #000000;

        .belum-punya-akun-jobstreet-express-daftar-dengan--NkZ-sub-0 {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .belum-punya-akun-jobstreet-express-daftar-dengan--NkZ-sub-1 {
          line-height: 1.3175;
          color: #015442;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
      .facebook-iUy {
        width: 4.6rem;
        height: 2.4rem;
        top: 48.4rem;
        letter-spacing: -0.011rem;
        white-space: nowrap;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        left: 5.5rem;
        display: flex;
        font-size: 1rem;
        font-weight: 300;
        line-height: 2.4;
      }
      .google-1iy {
        color: #000000;
        height: 2.4rem;
        position: absolute;
        top: 48.4rem;
        display: flex;
        font-size: 1rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.3rem;
        left: 16.9rem;
        font-weight: 300;
        line-height: 2.4;
        letter-spacing: -0.011rem;
      }
      .masuk-XBX {
        left: 11rem;
        top: 27.6rem;
        font-size: 1.8rem;
        line-height: 1.2125;
        white-space: nowrap;
        width: 5.8rem;
        height: 2.2rem;
        position: absolute;
        font-weight: 600;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .icon-email-outline-39s {
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.5rem;
        top: 15.3rem;
      }
      .icon-lock-outline-AVP {
        top: 20.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 22.2rem;
      }
      .logo-removebg-preview-2-Hpu {
        width: 19.3rem;
        height: 6.8rem;
        position: absolute;
        left: 3.8rem;
        top: 6.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .ketik-email-anda-Vvy {
        left: 3.1rem;
        top: 15.35rem;
        font-size: 1.5rem;
        color: rgba(119, 119, 119, 0.5);
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 12.4rem;
        height: 2rem;
        position: absolute;
        white-space: nowrap;
        display: flex;
        font-weight: 400;
        line-height: 1.3175;
      }
      .masukkan-kata-sandi-zcq {
        white-space: nowrap;
        height: 2rem;
        display: flex;
        font-weight: 400;
        line-height: 1.3175;
        color: rgba(119, 119, 119, 0.5);
        font-family: Roboto Slab, 'Source Sans Pro';
        width: 15.5rem;
        position: absolute;
        left: 3.1rem;
        top: 20.55rem;
        font-size: 1.5rem;
      }
      .logofacebook-removebg-preview-1-W5P {
        width: 5.3rem;
        height: 5.6rem;
        position: absolute;
        left: 5.1rem;
        top: 43.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .ellipse-122-Ri9 {
        left: 16.5rem;
        top: 44.3rem;
        background-color: #d9d9d9;
        border-radius: 2.05rem;
        width: 4.1rem;
        height: 4.1rem;
        position: absolute;
      }
      .logogoogle-removebg-preview-1-N17 {
        vertical-align: top;
        width: 2.5rem;
        height: 2.625rem;
        cursor: pointer;
        position: absolute;
        left: 17.3rem;
        top: 45.1rem;
        object-fit: cover;
      }
      .button-masuk-email-Upq {
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.6rem;
        top: 26.3rem;

        .button-CVw {
          color: #ffffff;
          white-space: nowrap;
          justify-content: center;
          border-radius: 1rem;
          width: 100%;
          height: 100%;
          font-size: 1.8rem;
          line-height: 1.2975;
          background: linear-gradient(89.89deg, #005342 1.54%, #03886d 97.83%);
          font-weight: 400;
          font-family: Candal, 'Source Sans Pro';
          display: flex;
          align-items: center;
        }
      }
      .button-masuk-email-f8d {
        width: 24rem;
        height: 4.3rem;
        cursor: pointer;
        position: absolute;
        left: 1.5rem;
        top: 31.5rem;

        .button-Bsf {
          display: flex;
          border-radius: 1rem;
          height: 100%;
          line-height: 1.2975;
          white-space: nowrap;
          font-size: 1.8rem;
          color: #015442;
          background-color: #ffffff;
          font-family: Candal, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border: solid 0.1rem #015442;
          box-sizing: border-box;
          width: 100%;
          font-weight: 400;
        }
      }
    }
    .subtract-ryo {
      top: 1889.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 0;
      height: 0;
      position: absolute;
      left: 3722.6rem;
    }
    .subtract-bgV {
      top: 1889.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 0;
      height: 0;
      position: absolute;
      left: 3722.6rem;
    }
  }
}
