
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 69rem;
}.pengaturan-kzV {
  display: flex;
  flex-direction: column;
  width: 100%;

  .pengaturan-7a9 {
    margin-bottom: 11.2rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.3175;
    color: #015442;
    font-family: Jacques Francois Shadow, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .alamat-email-gmailcom-password-3Cu {
    line-height: 1.3175;
    color: #000000;
    font-family: Roboto Slab, 'Source Sans Pro';
    flex-shrink: 0;
    margin-bottom: 13.4rem;
    max-width: 35.9rem;
    font-size: 2.2rem;
    font-weight: 400;
  }
  .auto-group-mpcy-wp5 {
    margin-left: 0.1rem;
    width: 33rem;
    height: 6rem;
    font-weight: 400;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 2rem;
    color: #ffffff;
    white-space: nowrap;
    align-items: center;
    display: flex;
    background: linear-gradient(90deg, #005141 4.24%, #03866c 95.45%);
    font-size: 1.8rem;
    line-height: 1.2975;
    font-family: Candal, 'Source Sans Pro';
  }
}
