
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 111.1rem;
}.popup-login-perusahaan-aZo {
  width: 100%;
  height: 50.129rem;

  .group-68-jBo {
    width: 100%;
    height: 100%;
    position: relative;

    .rectangle-727-s37 {
      border-radius: 5rem;
      width: 111.1rem;
      height: 49.4932rem;
      position: absolute;
      left: 0;
      top: 0.6358rem;
      background-color: #ffffff;
    }
    .rectangle-727-C5P {
      width: 52.2rem;
      height: 49.5rem;
      position: absolute;
      left: 58.9rem;
      top: 0.6rem;
      background-color: #01d589;
      border-radius: 3rem;
    }
    .ellipse-127-vXB {
      width: 57.1758rem;
      height: 16.8507rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .login-perusahaan-U2u {
      left: 9.4rem;
      top: 0.8012rem;
      display: flex;
      font-weight: 400;
      line-height: 1.0769230769;
      letter-spacing: 0.065rem;
      width: 36.6rem;
      height: 14rem;
      position: absolute;
      font-size: 6.5rem;
      color: #000000;
      font-family: Racing Sans One, 'Source Sans Pro';
    }
    .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9 {
      position: absolute;
      left: 61.7rem;
      top: 5.4rem;
      display: flex;
      color: #ffffff;
      width: 46.5rem;
      height: 39.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';

      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-0 {
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #ffffff;
      }
      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-1 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-2 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-3 {
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
      }
      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-4 {
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.8rem;
      }
      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-5 {
      }
      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-6 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-7 {
        text-decoration-line: underline;
        color: #0c1083;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
      }
      .peringatan-keamanan-selalu-pastikan-anda-berada-di-situs-resmi-wwwjobstreetcoid-id-cms-employer-dan-situs-telah-aman-dan-terjamin-sebelum-proses-log-in-mohon-menjaga-keamanan-detil-login-siva-anda-dan-tidak-merespon-permintaan-login-dari-website-dan-pihak-pihak-scam-yang-mencurigakan-jobstreetcom-tidak-akan-pernah-meminta-detail-login-anda-jika-anda-menemukan-hal-hal-yang-mencurigakan-atau-anda-merasa-ragu-harap-segera-menghubungi-kami-Za9-sub-8 {
        line-height: 1.3175;
        color: #0c1083;
        font-family: Roboto Slab, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
    .rectangle-728-jaR {
      width: 45.5rem;
      height: 4.8rem;
      position: absolute;
      left: 5.7rem;
      top: 22.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .rectangle-729-FHs {
      height: 4.8rem;
      position: absolute;
      left: 5.7rem;
      top: 33.7rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 45.5rem;
    }
    .email-perusahaan-nYh {
      height: 2.4rem;
      left: 5.7rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #000000;
      white-space: nowrap;
      width: 15.6rem;
      top: 19.3rem;
      display: flex;
      font-family: Roboto Slab, 'Source Sans Pro';
      position: absolute;
    }
    .kata-sandi-u7X {
      top: 30.6rem;
      font-size: 1.8rem;
      color: #000000;
      height: 2.4rem;
      position: absolute;
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.3rem;
      left: 5.7rem;
    }
    .lupa-kata-sandi-RLm {
      white-space: nowrap;
      width: 14.4rem;
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      color: #224399;
      font-family: Roboto Slab, 'Source Sans Pro';
      height: 2.4rem;
      cursor: pointer;
      position: absolute;
      left: 35.7rem;
      top: 40.9rem;
      font-size: 1.8rem;
    }
    .belum-memiliki-akun-8ky {
      display: flex;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 19.9rem;
      position: absolute;
      left: 35.7rem;
      top: 43.8rem;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #224399;
      white-space: nowrap;
      height: 2.4rem;
      cursor: pointer;
    }
    .group-72-2rM {
      width: 13.1rem;
      height: 3.6rem;
      cursor: pointer;
      position: absolute;
      left: 5.7rem;
      top: 39.7rem;
      border-radius: 5rem;

      .group-73-a7B {
        white-space: nowrap;
        box-sizing: border-box;
        background-color: #01d589;
        border-radius: 5rem;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        align-items: center;
        border: solid 0.1rem #000000;
        height: 100%;
        justify-content: center;
        display: flex;
        line-height: 1.3175;
      }
    }
    .telkomindonesiagmaicom-ecq {
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      top: 24rem;
      display: flex;
      line-height: 1.3175;
      width: 24.8rem;
      height: 2.4rem;
      position: absolute;
      left: 6.6rem;
    }
    .item--xNd {
      height: 2.4rem;
      left: 7rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 14.4rem;
      position: absolute;
      top: 34.7rem;
      display: flex;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
  }
}
