
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 148rem;
}.preset-JZo {
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  height: 110.3rem;
  overflow: hidden;
  position: relative;

  .property-1default-Svu {
    position: relative;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    width: 100%;
    height: 102.4rem;
    overflow: hidden;

    .auto-group-wfcd-anD {
      flex-shrink: 0;
      margin-bottom: 18.2rem;
      width: 145.1rem;
      height: 102.4rem;
      position: relative;

      .masuk-WA5 {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        font-weight: 400;
        font-size: 2.4rem;
        color: #ffffff;
        width: 7.5rem;
        left: 133.6rem;
        top: 15rem;
      }
      .rectangle-605-D4V {
        border-radius: 1.5rem;
        width: 2.1rem;
        height: 81.2rem;
        position: absolute;
        left: 142.9rem;
        top: 16.4rem;
        background-color: rgba(0, 0, 0, 0.150000006);
      }
      .rectangle-595-vUh {
        height: 17.3rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(90.47deg, #01d589 4.1%, #1dcba9 97.04%);
        width: 145.1rem;
      }
      .user-thumb-Sxq {
        height: 4.6162rem;
        position: absolute;
        left: 129rem;
        top: 11.2rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 4.8472rem;
        width: 4.6162rem;
      }
      .rectangle-700-xwB {
        position: absolute;
        left: 24.4rem;
        top: 13.3rem;
        background-color: #008a88;
        border-radius: 1rem;
        width: 20rem;
        height: 3.9rem;
      }
      .brosur-lowongan-Gws {
        font-size: 1.8rem;
        line-height: 1.3175;
        white-space: nowrap;
        width: 15.2rem;
        height: 2.4rem;
        position: absolute;
        left: 26.8rem;
        top: 14rem;
        font-weight: 600;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .wawancara-Hc5 {
        top: 14rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #ffffff;
        white-space: nowrap;
        width: 10.4rem;
        height: 2.4rem;
        position: absolute;
        left: 47.6rem;
        font-size: 1.8rem;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .daftar-permintaan-CU9 {
        height: 2.4rem;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.3175;
        width: 15.9rem;
        position: absolute;
        left: 65.9rem;
        top: 14rem;
        font-size: 1.8rem;
        font-weight: 600;
      }
      .keluar-K2y {
        line-height: 1.3175;
        width: 5.8rem;
        height: 2.4rem;
        left: 136.5rem;
        font-weight: 600;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 12.6rem;
        font-size: 1.8rem;
        color: #ffffff;
      }
      .group-30-qX7 {
        width: 2.5rem;
        height: 2.4rem;
        position: absolute;
        left: 80.7rem;
        top: 12.9rem;

        .ellipse-87-mff {
          top: 0.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.3rem;
          position: absolute;
          left: 0;
        }
        .item-4-WdF {
          left: 0.7rem;
          font-size: 1.8rem;
          font-weight: 600;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          width: 1.1rem;
          position: absolute;
          line-height: 1.3175;
          color: #ffffff;
          height: 2.4rem;
          top: 0;
        }
      }
      .logo-jobstreet-variant2-S17 {
        top: 0;
        width: 29.1rem;
        height: 10.9rem;
        cursor: pointer;
        position: absolute;
        left: 6rem;

        .logo-removebg-preview-2-mZB {
          object-fit: cover;
          vertical-align: top;
          width: 29.1rem;
          height: 10.9rem;
        }
      }
      .rectangle-574-hhj {
        background-color: #ffffff;
        position: absolute;
        left: 88.6rem;
        top: 10.8rem;
        border: solid 0.1rem #0e8136;
        box-sizing: border-box;
        border-radius: 1rem;
        width: 38.2rem;
        height: 5.4rem;
      }
      .rectangle-606-QMF {
        left: 142.9rem;
        top: 18rem;
        background-color: #ffffff;
        border-radius: 1.5rem;
        width: 2.1rem;
        height: 6.2rem;
        position: absolute;
      }
      .footer-Kz1 {
        align-items: center;
        box-sizing: border-box;
        width: 144rem;
        position: absolute;
        left: 1.1rem;
        top: 94.5rem;
        display: flex;
        padding: 2.7rem 15.1rem 2.8rem 14rem;
        height: 7.9rem;
        background-color: #008a88;

        .tentang-jobstreet-express-R1T {
          margin-right: 4.6rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
          color: #ffffff;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .pusat-bantuan-jXw {
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
          color: #ffffff;
          flex-shrink: 0;
          margin-right: 44.9rem;
          font-weight: 400;
          line-height: 1.3175;
        }
        .copyright-2023-jobstreet-express-s8M {
          font-weight: 400;
          line-height: 1.3175;
          color: #ffffff;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
        }
      }
    }
    .rectangle-594-At9 {
      width: 144.5rem;
      height: 35.5rem;
      background-color: #44abc3;
      flex-shrink: 0;
      margin: 0rem 0.2rem 36.2rem 0rem;
    }
    .auto-group-8pjo-6mo {
      height: 12.8rem;
      background-color: #921414;
      border-top: solid 0.5rem #000000;
      box-sizing: border-box;
      flex-shrink: 0;
      width: 100%;
    }
  }
}
