
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 71.3rem;
}.profil-cbb {
  width: 100%;
  flex-direction: column;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  border: dashed 0.1rem #9747ff;

  .property-1default-kxh {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 2rem;
    width: 100%;

    .auto-group-srfp-Hxd {
      box-sizing: border-box;
      padding-bottom: 1.1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .buat-profil-qUM {
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #015442;
        font-family: Jacques Francois Shadow, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 5.7rem;
      }
      .nama-lengkap-krD {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
    .auto-group-sobp-VYu {
      margin-bottom: 4.3rem;
      width: 100%;
      border: solid 0.1rem #008a88;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;

      .rectangle-712-FHB {
        border-radius: 1rem;
        width: 100%;
        height: 7rem;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
      }
    }
    .nomor-telepon-A9F {
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.75rem;
      font-size: 2.2rem;
      font-weight: 600;
    }
    .auto-group-khwf-HDs {
      margin-bottom: 4.65rem;
      box-sizing: border-box;
      padding: 1.35rem 53.5rem 1.35rem 2.9rem;
      align-items: center;
      border: solid 0.2rem #000000;
      border-radius: 1rem;
      width: 100%;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;

      .image-44-Ba9 {
        margin: 0.5rem 1.8rem 0rem 0rem;
        width: 3rem;
        height: 2.0004rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-62-tzM {
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 2.3rem 0rem 0rem;
        font-size: 2.2rem;
        font-weight: 400;
      }
      .line-190-Qho {
        width: 0.1rem;
        height: 4.3rem;
        background-color: #000000;
        flex-shrink: 0;
      }
    }
    .alamat-vAM {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .rectangle-714-rJu {
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 4.2rem;
      width: 100%;
      height: 7rem;
    }
    .deskripsi-diri-minimal-1-paragraf-mwf {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
    }
    .auto-group-sojo-hqK {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      border: solid 0.2rem #000000;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      width: 100%;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 23.8rem 0.5rem 0.65rem 64.9rem;

      .line-269-puw {
        margin-bottom: 0.55rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .line-270-ZsX {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.0312rem;
        width: 1rem;
        height: 0.8rem;
      }
    }
    .upload-cv-resume-Gmw {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .auto-group-zm93-p2m {
      height: 9.7rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 0.9rem;
      width: 100%;

      .auto-group-3xfo-x8y {
        padding: 1.9rem 2.8rem 1.6rem 2.5rem;
        width: calc(100% - 47.1rem);
        display: flex;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 47.1rem 0.7rem 0rem;
        align-items: center;
        border: solid 0.2rem #000000;
        box-sizing: border-box;

        .choose-file-eXb {
          margin: 0rem 1rem 0.3rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .image-45-aRF {
          width: 3rem;
          height: 3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .jenis-file-pdf-ukuran-file-maks-43-mb-fxV {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .property-1variant2-nGR {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 0.2rem;
    width: 100%;

    .auto-group-8ss9-u69 {
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 1.1rem;
      width: 100%;
      display: flex;

      .buat-profil-EeD {
        flex-shrink: 0;
        margin-bottom: 5.7rem;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #015442;
        font-family: Jacques Francois Shadow, 'Source Sans Pro';
        white-space: nowrap;
      }
      .nama-lengkap-Anm {
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-k7a9-ukM {
      width: 100%;
      border-radius: 1rem;
      color: #000000;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      padding: 2.15rem 2.6rem 1.95rem 2.6rem;
      font-size: 2.2rem;
      line-height: 1.3175;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 4.3rem;
      display: flex;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      background-color: #ffffff;
    }
    .nomor-telepon-dpm {
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.75rem;
      font-size: 2.2rem;
    }
    .auto-group-scxh-AZo {
      margin-bottom: 4.65rem;
      box-sizing: border-box;
      width: 100%;
      align-items: center;
      padding: 1.35rem 38.4rem 1.35rem 2.9rem;
      display: flex;
      border: solid 0.2rem #000000;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;

      .image-44-5gm {
        flex-shrink: 0;
        margin: 0.5rem 1.8rem 0rem 0rem;
        width: 3rem;
        height: 2.0004rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item-62-cAu {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 2.3rem 0rem 0rem;
      }
      .line-190-jWR {
        margin-right: 1.8rem;
        width: 0.1rem;
        height: 4.3rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .item-82221008008-H29 {
        font-weight: 400;
        font-family: Roboto Slab, 'Source Sans Pro';
        margin-top: 0.2rem;
        display: flex;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        line-height: 1.3175;
      }
    }
    .alamat-mi1 {
      flex-shrink: 0;
      margin-bottom: 1.3rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-h6xs-v57 {
      padding: 2.2rem 2.7rem 1.9rem 2.7rem;
      white-space: nowrap;
      border-radius: 1rem;
      font-weight: 400;
      font-family: Roboto Slab, 'Source Sans Pro';
      box-sizing: border-box;
      width: 100%;
      display: flex;
      border: solid 0.2rem #000000;
      background-color: #ffffff;
      margin-bottom: 4.2rem;
      line-height: 1.3175;
      color: #000000;
      font-size: 2.2rem;
      flex-shrink: 0;
    }
    .deskripsi-diri-minimal-1-paragraf-Nxh {
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-size: 2.2rem;
    }
    .auto-group-7qvt-tg9 {
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 2.5rem;
      width: 100%;
      border-radius: 1rem;
      height: 25.9rem;
      position: relative;

      .line-269-qLV {
        top: 23.6597rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.18rem;
        height: 1.6403rem;
        position: absolute;
        left: 64.6452rem;
      }
      .line-270-xvu {
        left: 65.8rem;
        top: 24.4rem;
        background-color: #000000;
        width: 1rem;
        height: 0.1rem;
        position: absolute;
      }
      .saya-adalah-seorang-individu-yang-penuh-semangat-dan-berkomitmen-tinggi-untuk-belajar-dan-berkembang-di-dunia-kerja-meskipun-saya-belum-memiliki-pengalaman-kerja-sebelumnya-saya-memiliki-latar-belakang-pendidikan-yang-kuat-dan-telah-aktif-dalam-berbagai-proyek-dan-organisasi-selama-kuliah-yang-telah-membantu-saya-mengembangkan-keterampilan-seperti-pemecahan-masalah-kerja-tim-dan-komunikasi-saya-selalu-siap-untuk-menghadapi-tantangan-baru-dan-bersedia-beradaptasi-dengan-lingkungan-kerja-serta-berusaha-keras-untuk-mencapai-hasil-terbaik-saya-sangat-bersemangat-untuk-memulai-karir-saya-dan-berkontribusi-secara-positif-dalam-perusahaan-ini-6XK {
        width: 64.1rem;
        height: 23.8rem;
        left: 1.6rem;
        top: 0.9rem;
        font-size: 1.8rem;
        font-family: Roboto Slab, 'Source Sans Pro';
        position: absolute;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
      }
    }
    .upload-cv-resume-63T {
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1.3175;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
    }
    .cvlady-cessapdf-2C1 {
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
    }
    .auto-group-omp7-A3K {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-right: 15.8rem;
      width: calc(100% - 15.8rem);

      .image-45-gnM {
        margin-right: 0.9rem;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .unggah-file-lain-jenis-file-pdf-ukuran-file-maks-43-mb-dBo {
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.3175;
        color: #000000;
      }
    }
  }
}
