
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 48.5rem;
}.undangan-wawancara-Sjb {
  width: 100%;
  height: 61.3rem;

  .group-83-Peq {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 1.5rem 0.9rem 0.4rem rgba(0, 0, 0, 0.200000003);
    border-radius: 8.6rem;
    padding: 3.3rem 3.4rem 1.7rem 3.4rem;
    height: 100%;
    align-items: center;
    flex-direction: column;
    border: solid 0.1rem #000000;
    background: linear-gradient(180deg, rgba(203, 154, 29, 0.8299999833) -4%, rgba(29, 203, 169, 0.9200000167) 94.04%);

    .undangan-wawancara-WUZ {
      font-size: 3rem;
      line-height: 1.1425;
      color: #ffffff;
      font-family: Lilita One, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.1rem 1.9rem 0rem;
      max-width: 18.7rem;
      text-align: center;
      font-weight: 400;
    }
    .auto-group-etuz-yd3 {
      width: 100%;
      align-items: center;
      display: flex;
      border-radius: 3.8rem;
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      border: solid 0.2rem #000000;
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 5.6rem 1.9rem 4.8rem 2.1rem;
      flex-direction: column;

      .auto-group-76qx-6Bs {
        margin: 0rem 2.7rem 2rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .date-time--25X {
          font-size: 1.8rem;
          font-weight: 600;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 1rem 0.4rem 0rem;
          text-align: center;
          line-height: 1.3175;
          flex-shrink: 0;
        }
        .auto-group-uq5x-jEq {
          text-align: center;
          white-space: nowrap;
          align-items: center;
          font-family: Roboto Slab, 'Source Sans Pro';
          border: solid 0.1rem #000000;
          margin: 0rem 0.8rem 0.1rem 0rem;
          width: 13.4rem;
          font-size: 1.8rem;
          justify-content: center;
          border-radius: 8.6rem;
          flex-shrink: 0;
          height: 2.7rem;
          line-height: 1.3175;
          color: #000000;
          background-color: #ffffff;
          font-weight: 600;
          display: flex;
          box-sizing: border-box;
        }
        .vector-3-mSR {
          flex-shrink: 0;
          margin: 0.2rem 0.8rem 0rem 0rem;
          width: 0.9rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-84-HQm {
          align-items: center;
          justify-content: center;
          background-color: #d6d3d3;
          flex-shrink: 0;
          text-align: center;
          box-sizing: border-box;
          border-radius: 8.6rem;
          margin-top: 0.1rem;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          width: 7.1rem;
          height: 2.7rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          border: solid 0.1rem #000000;
        }
      }
      .auto-group-cuny-k3T {
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 2.3rem;
        width: 100%;
        height: 6.5rem;
        display: flex;

        .location--Uk9 {
          flex-shrink: 0;
          margin: 0.4rem 0.9rem 0rem 0rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
        }
        .auto-group-lsy1-Ps7 {
          box-sizing: border-box;
          padding: 1.2rem 1.2rem 1.3rem 1.5rem;
          width: 25.8rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 8.6rem;
          flex-shrink: 0;

          .jalan-sutorejo-tengah-vi-dukuh-sutorejo-kec-mulyorejo-surabaya-jawa-timur-indonesia-vc9 {
            max-width: 23.1rem;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
      .auto-group-5z3j-NU9 {
        margin: 0rem 4.4rem 5.6rem 0.15rem;
        width: calc(100% - 4.55rem);
        height: 2.8rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .phone--HLD {
          margin-right: 1.15rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          white-space: nowrap;
        }
        .auto-group-dxjz-Qfj {
          box-sizing: border-box;
          text-align: center;
          border-radius: 8.6rem;
          padding: 0.2rem 1rem;
          width: 21.3rem;
          height: 100%;
          font-weight: 600;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          line-height: 1.3175;
          font-size: 1.8rem;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-efkm-gdF {
        margin: 0rem 1rem 0rem 0.1rem;
        width: calc(100% - 1.1rem);
        height: 9.7rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .deskripsi--cG1 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .auto-group-gzxq-Y9f {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.9rem 2.3rem 3.8rem 2.8rem;
          width: 24.8rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          border-radius: 8.6rem;

          .kami-harap-kamu-bisa-hadir-kami-akan-sangat-senang-bertemu-anda-dan-membahas-lebih-lanjut-tentang-posisi-ini-GrM {
            font-family: Roboto Slab, 'Source Sans Pro';
            max-width: 19.7rem;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.3175;
            color: #000000;
          }
        }
      }
    }
    .auto-group-oyss-JY9 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 22.4rem;
      width: 7.5rem;
      height: 4.2rem;
      position: relative;
    }
  }
}
