
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 35.3rem;
}.yakin-lamar-H61 {
  position: relative;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  row-gap: 2rem;
  align-items: center;

  .property-1default-c8H {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background: linear-gradient(88.9deg, #02d589 3.81%, #1ecba9 99.06%);
    padding: 2.3rem 2.121rem 2.9rem 2.679rem;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;

    .roboto-slab-XFF {
      align-items: center;
      font-size: 1.8rem;
      color: #000000;
      margin-bottom: 3.4rem;
      display: flex;
      justify-content: center;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 26.5rem;
    }
    .auto-group-y2mx-qmj {
      margin: 0rem 0.89rem 0rem 0.95rem;
      width: calc(100% - 1.8398rem);
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-dyay-ZBw {
        padding: 0.6rem 0rem 0.8rem 0.088rem;
        width: 9.9028rem;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 4.7545rem;
        box-sizing: border-box;
        height: 100%;
        border: solid 0.1rem #015442;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        border-radius: 2rem;

        .header-1-5AH {
          display: flex;
          white-space: nowrap;
          width: 100%;
          height: 100%;
          cursor: pointer;
          font-weight: 400;
          line-height: 1.2975;
          color: #015442;
          font-family: Candal, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
        }
      }
      .auto-group-f83s-LM7 {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 10.0028rem;

        .rectangle-648-gA5 {
          width: 9.9028rem;
          left: 0;
          border: solid 0.1rem #000000;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          height: 4rem;
          position: absolute;
          top: 0;
          box-sizing: border-box;
          background: linear-gradient(91.43deg, #005141 1.35%, #03876c 89.37%);
          border-radius: 2rem;
        }
        .tipografi-je9 {
          width: 9.8144rem;
          line-height: 1.2975;
          color: #ffffff;
          height: 2.6rem;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: absolute;
          display: flex;
          font-weight: 400;
          white-space: nowrap;
          left: 0.1884rem;
          top: 0.6rem;
          font-size: 1.5rem;
          font-family: Candal, 'Source Sans Pro';
        }
      }
    }
  }
  .property-1variant2-iky {
    box-sizing: border-box;
    padding: 2.3rem 2.121rem 2.9rem 2.679rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(88.9deg, #02d589 3.81%, #1ecba9 99.06%);

    .roboto-slab-FF7 {
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      max-width: 26.5rem;
      justify-content: center;
      color: #000000;
      display: flex;
      align-items: center;
      font-weight: 400;
    }
    .auto-group-k5dk-yB7 {
      margin: 0rem 0.99rem 0rem 0.95rem;
      width: calc(100% - 1.9398rem);
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-hdpw-6Fj {
        line-height: 1.2975;
        box-sizing: border-box;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        margin-right: 4.7545rem;
        display: flex;
        font-weight: 400;
        width: 9.9028rem;
        justify-content: center;
        white-space: nowrap;
        background-color: #ffffff;
        color: #015442;
        font-family: Candal, 'Source Sans Pro';
        border: solid 0.1rem #015442;
        border-radius: 2rem;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        font-size: 1.5rem;
      }
      .auto-group-ape1-Y7j {
        line-height: 1.2975;
        color: #015442;
        white-space: nowrap;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        width: 9.9028rem;
        justify-content: center;
        border: solid 0.1rem #015442;
        box-sizing: border-box;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        flex-shrink: 0;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: Candal, 'Source Sans Pro';
        background-color: #b0aaaa;
      }
    }
  }
  .property-1variant3-uMb {
    width: 100%;
    align-items: center;
    display: flex;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2.3rem 2.121rem 2.9rem 2.679rem;
    flex-direction: column;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background: linear-gradient(88.9deg, #02d589 3.81%, #1ecba9 99.06%);
    flex-shrink: 0;

    .roboto-slab-E8y {
      max-width: 26.5rem;
      display: flex;
      color: #000000;
      font-family: Roboto Slab, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.4rem;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
    }
    .auto-group-ebjy-Y9f {
      margin: 0rem 0.99rem 0rem 0.95rem;
      width: calc(100% - 1.9398rem);
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-rvxt-3s7 {
        font-size: 1.5rem;
        flex-shrink: 0;
        justify-content: center;
        font-weight: 400;
        color: #015442;
        background-color: #b0aaaa;
        height: 100%;
        display: flex;
        white-space: nowrap;
        border: solid 0.1rem #015442;
        box-sizing: border-box;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        width: 9.9028rem;
        font-family: Candal, 'Source Sans Pro';
        line-height: 1.2975;
        border-radius: 2rem;
        margin-right: 4.7545rem;
        align-items: center;
      }
      .auto-group-kgmx-Jo3 {
        justify-content: center;
        color: #ffffff;
        background: linear-gradient(91.43deg, #005141 1.35%, #03876c 89.37%);
        align-items: center;
        line-height: 1.2975;
        font-family: Candal, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.9028rem;
        display: flex;
        font-size: 1.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        height: 100%;
        border-radius: 2rem;
        flex-shrink: 0;
        font-weight: 400;
      }
    }
  }
}
