
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120.9rem;
}.yang-sering-dicari-8Ly {
  flex-direction: column;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: dashed 0.1rem #9747ff;
  padding: 2rem;
  width: 100%;
  position: relative;

  .property-1default-s3f {
    margin-bottom: 3.9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-qyzh-1Qm {
      margin: 0rem 81rem 2.336rem 0rem;
      width: calc(100% - 81rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-trending-up-w3X {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1607rem;
        width: 4.1393rem;
        height: 4.3637rem;
      }
      .lowongan-yang-sering-dicari-T1s {
        color: #015442;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        line-height: 1.3175;
        margin-top: 0.1363rem;
        font-size: 2.2rem;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
    .group-90-8th {
      margin: 0rem 0.5rem 4.8rem 0.5rem;
      width: calc(100% - 1rem);
      height: 16.2rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-e1pu-ec9 {
        margin: 0rem 2.838rem 0.021rem 0rem;
        width: 13.1625rem;
        height: calc(100% - 0.0215rem);
        flex-shrink: 0;

        .jabatan-N2M {
          display: flex;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
        }
        .auto-group-f3mb-5xM {
          width: calc(100% - 0.2rem);
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin: 0rem 0rem 2.421rem 0.2rem;
          box-sizing: border-box;
          padding: 0.8rem 2.463rem 0.808rem 0.6rem;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-BkV {
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .admin-iEd {
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.0709rem;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            display: flex;
            flex-shrink: 0;
          }
        }
        .auto-group-fndp-PrZ {
          box-sizing: border-box;
          width: calc(100% - 0.2rem);
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          margin-left: 0.2rem;
          padding: 0.8rem 2.263rem 0.808rem 0.6rem;
          align-items: center;
          background-color: #ffffff;

          .icon-pie-chart-2-WgH {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .barista-dW1 {
            color: #008a88;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0709rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
      .auto-group-wqht-7vy {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.7rem;
        width: 10.8rem;
        align-items: center;

        .auto-group-f6nv-evu {
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          display: flex;
          background-color: #ffffff;

          .icon-pie-chart-2-mkd {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .kasir-WTK {
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            margin-bottom: 0.2709rem;
          }
        }
        .auto-group-sejb-D6q {
          box-sizing: border-box;
          padding: 0.8rem 0.9rem 0.829rem 0.6rem;
          width: 100%;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;

          .icon-pie-chart-2-k6m {
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
          }
          .driver-gm7 {
            flex-shrink: 0;
            margin-bottom: 0.0709rem;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            display: flex;
            font-weight: 400;
            color: #008a88;
            white-space: nowrap;
          }
        }
      }
      .auto-group-pxto-P9j {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;
        width: 19.8rem;

        .auto-group-qpsu-vfT {
          flex-shrink: 0;
          margin: 0rem 0rem 2.4rem 0.1rem;
          box-sizing: border-box;
          padding: 0.8rem 1.7rem 0.829rem 0.6rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;

          .icon-pie-chart-2-qGd {
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
          }
          .staff-marketing-NGZ {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0709rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            display: flex;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-qzqv-TYu {
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 0.1rem;
          box-sizing: border-box;
          padding: 0.8rem 2.3rem 0.829rem 0.6rem;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-AiD {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .quality-control-JJd {
            white-space: nowrap;
            font-size: 1.8rem;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.0709rem;
          }
        }
      }
      .auto-group-yegq-njb {
        width: 20.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2.8rem;

        .auto-group-kmbf-jeq {
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          border-radius: 0.5rem;
          background-color: #ffffff;
          margin-bottom: 2.4rem;
          padding: 0.8rem 1.4rem 0.829rem 0.6rem;
          display: flex;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-4SD {
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .staff-accounting-nt1 {
            line-height: 1.3175;
            color: #008a88;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.0709rem;
            font-size: 1.8rem;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
          }
        }
        .auto-group-iwdf-gCh {
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.8rem 2.5rem 0.829rem 0.6rem;
          width: 100%;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;

          .icon-pie-chart-2-oo7 {
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
          }
          .content-creator-Ykh {
            margin-bottom: 0.0709rem;
            display: flex;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #008a88;
            white-space: nowrap;
          }
        }
      }
      .auto-group-mzpk-eYq {
        margin-right: 2.3rem;
        width: 17.2rem;
        flex-shrink: 0;

        .auto-group-quwh-nuw {
          margin-bottom: 2.4rem;
          box-sizing: border-box;
          padding: 0.8rem 1.6rem 0.829rem 0.6rem;
          background-color: #ffffff;
          border-radius: 0.5rem;
          width: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-7SR {
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
            vertical-align: top;
          }
          .staff-gudang-Emw {
            margin-bottom: 0.0709rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            color: #008a88;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-8fq3-La5 {
          margin-right: 6.4rem;
          width: calc(100% - 6.4rem);
          display: flex;
          border-radius: 0.5rem;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0.8rem 2.2rem 0.829rem 0.6rem;
          align-items: center;
          border: solid 0.1rem #0e8136;

          .icon-pie-chart-2-4W5 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2768rem;
            width: 2.7232rem;
            height: 2.8709rem;
            object-fit: contain;
          }
          .host-QK3 {
            color: #008a88;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.0709rem;
            display: flex;
          }
        }
      }
      .auto-group-4whs-h3F {
        height: calc(100% - 11.7rem);
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        align-items: center;
        border: solid 0.1rem #0e8136;
        margin: 4.8rem 0rem 6.9rem 0rem;
        display: flex;

        .icon-pie-chart-2-b8d {
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .customer-service-vwb {
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          color: #008a88;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          margin-bottom: 0.0709rem;
          display: flex;
          font-weight: 400;
        }
      }
    }
    .group-89-dLD {
      margin-left: 0.7rem;
      width: 111.8rem;
      flex-shrink: 0;

      .perusahaan-yQ5 {
        white-space: nowrap;
        margin-bottom: 1.9rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
      .auto-group-jdw9-uYd {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;

        .group-88-F6h {
          margin-right: 2.9rem;
          box-sizing: border-box;
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          height: 100%;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-Zt5 {
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
          }
          .ganesha-operation-surabaya-dsk-WHX {
            cursor: pointer;
            color: #01d589;
            flex-shrink: 0;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
        .auto-group-4utf-zTb {
          background-color: #ffffff;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 3rem;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .emoji-office-building-hN1 {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.9rem;
          }
          .pt-media-telekomunikasi-mandiri-czm {
            font-size: 1.8rem;
            color: #01d589;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
        .auto-group-csiv-thP {
          box-sizing: border-box;
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          border-radius: 0.5rem;
          display: flex;
          flex-shrink: 0;

          .emoji-office-building-ctH {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .pt-arta-boga-boga-cemerlang-M5B {
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            font-weight: 400;
            color: #01d589;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
        }
      }
      .auto-group-34e5-pzM {
        align-items: flex-end;
        display: flex;

        .auto-group-rwrm-ycM {
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          margin: 0.2rem 3rem 0rem 0rem;
          flex-shrink: 0;

          .emoji-office-building-5fP {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .cv-berlian-retail-cfK {
            font-size: 1.8rem;
            font-weight: 400;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            line-height: 1.3175;
            white-space: nowrap;
          }
        }
        .auto-group-yskr-hwf {
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          margin: 0.2rem 3rem 0rem 0rem;
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-RMs {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .panara-course-ZU5 {
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 0.1rem;
          }
        }
        .auto-group-ep9s-4Qq {
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          margin: 0.2rem 3.2rem 0rem 0rem;
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          border-radius: 0.5rem;

          .emoji-office-building-yGu {
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
          }
          .bali-super-host-Jpy {
            margin-bottom: 0.1rem;
            display: flex;
            color: #01d589;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-jihw-oFw {
          border-radius: 0.5rem;
          margin-bottom: 0.2rem;
          box-sizing: border-box;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;

          .emoji-office-building-vbT {
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .angonjiwo-TLV {
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-bottom: 0.1rem;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .property-1variant2-hEq {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-yqwd-c6u {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 81rem 2.336rem 0rem;
      width: calc(100% - 81rem);

      .icon-trending-up-8b3 {
        margin-right: 1.1607rem;
        width: 4.1393rem;
        height: 4.3637rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .lowongan-yang-sering-dicari-fay {
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
        margin-top: 0.1363rem;
        font-size: 2.2rem;
        color: #015442;
        white-space: nowrap;
      }
    }
    .jabatan-n9o {
      display: flex;
      font-weight: 400;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.9rem 0.5rem;
      font-size: 2.2rem;
      color: #000000;
    }
    .auto-group-sdcm-W5o {
      flex-shrink: 0;
      margin: 0rem 0.5rem 2.4rem 0.7rem;
      width: calc(100% - 1.2rem);
      height: 4.5rem;
      display: flex;
      align-items: center;

      .auto-group-2njs-1oF {
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 0.8rem 2.463rem 0.808rem 0.6rem;
        height: calc(100% - 0.0215rem);
        align-items: center;
        border: solid 0.1rem #0e8136;
        margin: 0rem 2.838rem 0.021rem 0rem;
        box-sizing: border-box;
        display: flex;
        border-radius: 0.5rem;

        .icon-pie-chart-2-iBs {
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
        }
        .admin-eLR {
          margin-bottom: 0.0709rem;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-jty7-jcm {
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 0.8rem 1.6rem 0.829rem 0.6rem;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        border: solid 0.1rem #0e8136;
        border-radius: 0.5rem;
        margin-right: 2.8rem;

        .icon-pie-chart-2-Tof {
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
        }
        .kasir-PSR {
          margin-bottom: 0.2709rem;
          display: flex;
          line-height: 1.3175;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .auto-group-72jd-H21 {
        box-sizing: border-box;
        display: flex;
        border: solid 0.1rem #0e8136;
        flex-shrink: 0;
        margin-right: 2.8rem;
        padding: 0.8rem 1.7rem 0.829rem 0.6rem;
        height: 100%;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.5rem;

        .icon-pie-chart-2-oW9 {
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
        }
        .staff-marketing-YTj {
          margin-bottom: 0.0709rem;
          display: flex;
          line-height: 1.3175;
          color: #008a88;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-pyxs-qxd {
        padding: 0.8rem 1.4rem 0.829rem 0.6rem;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 2.8rem;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        border: solid 0.1rem #0e8136;

        .icon-pie-chart-2-mbP {
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .staff-accounting-uhb {
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.3175;
          color: #008a88;
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
        }
      }
      .auto-group-rskf-DTP {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 2.3rem;
        box-sizing: border-box;
        padding: 0.8rem 1.6rem 0.829rem 0.6rem;
        height: 100%;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;

        .icon-pie-chart-2-weH {
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
        }
        .staff-gudang-fqB {
          display: flex;
          font-weight: 400;
          line-height: 1.3175;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          font-size: 1.8rem;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
      }
      .auto-group-5c1w-ZvZ {
        background-color: #ffffff;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 0.8rem 1.1rem 0.829rem 1.1rem;
        height: 100%;
        border: solid 0.1rem #0e8136;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-pie-chart-2-6fb {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
        }
        .customer-service-dQd {
          font-weight: 400;
          white-space: nowrap;
          font-size: 1.8rem;
          display: flex;
          line-height: 1.3175;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
        }
      }
    }
    .auto-group-dkgz-vPj {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 4.8rem 0.7rem;
      height: 4.5rem;
      display: flex;

      .auto-group-unhw-FB7 {
        height: calc(100% - 0.0215rem);
        align-items: center;
        border-radius: 0.5rem;
        margin: 0rem 2.838rem 0.021rem 0rem;
        padding: 0.8rem 2.263rem 0.808rem 0.6rem;
        display: flex;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;

        .icon-pie-chart-2-9nH {
          width: 2.7232rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2768rem;
        }
        .barista-tUy {
          display: flex;
          font-size: 1.8rem;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          line-height: 1.3175;
          color: #008a88;
          white-space: nowrap;
          font-weight: 400;
        }
      }
      .auto-group-ouhs-PwX {
        display: flex;
        border: solid 0.1rem #0e8136;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        background-color: #ffffff;
        margin-right: 2.7rem;
        padding: 0.8rem 0.9rem 0.829rem 0.6rem;

        .icon-pie-chart-2-XH3 {
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .driver-s61 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
          color: #008a88;
          flex-shrink: 0;
          margin-bottom: 0.0709rem;
          display: flex;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-2dzz-ZUd {
        margin-right: 2.9rem;
        box-sizing: border-box;
        padding: 0.8rem 2.3rem 0.829rem 0.6rem;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        height: 100%;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        flex-shrink: 0;

        .icon-pie-chart-2-ULh {
          height: 2.8709rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
        }
        .quality-control-QVF {
          margin-bottom: 0.0709rem;
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3175;
        }
      }
      .auto-group-omqs-std {
        margin-right: 2.8rem;
        box-sizing: border-box;
        padding: 0.8rem 2.5rem 0.829rem 0.6rem;
        display: flex;
        background-color: #ffffff;
        border-radius: 0.5rem;
        height: 100%;
        align-items: center;
        border: solid 0.1rem #0e8136;
        flex-shrink: 0;

        .icon-pie-chart-2-BuK {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
        }
        .content-creator-Kkd {
          color: #008a88;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.0709rem;
          display: flex;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 1.3175;
          flex-shrink: 0;
        }
      }
      .auto-group-zvcy-pBb {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: solid 0.1rem #0e8136;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        padding: 0.8rem 2.2rem 0.829rem 0.6rem;
        height: 100%;

        .icon-pie-chart-2-9Ds {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.2768rem;
          width: 2.7232rem;
          height: 2.8709rem;
        }
        .host-H5B {
          font-family: Roboto Slab, 'Source Sans Pro';
          margin-bottom: 0.0709rem;
          display: flex;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-weight: 400;
          color: #008a88;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-91-NMX {
      flex-shrink: 0;
      margin-left: 0.7rem;
      width: 111.8rem;

      .perusahaan-7K7 {
        margin-bottom: 1.9rem;
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #000000;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-wglh-EuX {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 2.2rem;

        .auto-group-ouez-y6R {
          padding: 0.9rem 0.7rem 0.9rem 0.9rem;
          height: 100%;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 2.9rem;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;

          .emoji-office-building-tDP {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ganesha-operation-surabaya-dsk-cv5 {
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            display: flex;
            line-height: 1.3175;
            color: #01d589;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-o3km-Qb3 {
          box-sizing: border-box;
          padding: 0.9rem 1.6rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 3rem;
          border-radius: 0.5rem;
          height: 100%;

          .emoji-office-building-8X3 {
            flex-shrink: 0;
            margin-right: 0.9rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .pt-media-telekomunikasi-mandiri-fG5 {
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
          }
        }
        .auto-group-tpjq-wUV {
          box-sizing: border-box;
          padding: 0.9rem 1.3rem 0.9rem 0.9rem;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          flex-shrink: 0;

          .emoji-office-building-Gmf {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
          }
          .pt-arta-boga-boga-cemerlang-CQR {
            font-weight: 400;
            color: #01d589;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
          }
        }
      }
      .auto-group-4qjj-V8d {
        display: flex;
        align-items: flex-end;

        .auto-group-5sdk-dkd {
          box-sizing: border-box;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          margin: 0.2rem 3rem 0rem 0rem;
          padding: 0.9rem 2.2rem 0.9rem 0.9rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;

          .emoji-office-building-YMo {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .cv-berlian-retail-Gob {
            white-space: nowrap;
            font-weight: 400;
            color: #01d589;
            font-size: 1.8rem;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            display: flex;
          }
        }
        .auto-group-6c57-Ae5 {
          padding: 0.9rem 1.7rem 0.9rem 0.9rem;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;
          border-radius: 0.5rem;
          margin: 0.2rem 3rem 0rem 0rem;

          .emoji-office-building-tKB {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .panara-course-Ra1 {
            margin-bottom: 0.1rem;
            font-size: 1.8rem;
            color: #01d589;
            white-space: nowrap;
            display: flex;
            font-weight: 400;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-sjvr-iJD {
          padding: 0.9rem 1.4rem 0.9rem 0.9rem;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          background-color: #ffffff;
          margin: 0.2rem 3.2rem 0rem 0rem;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem #0e8136;

          .emoji-office-building-Dkm {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .bali-super-host-AAD {
            font-family: Roboto Slab, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-weight: 400;
            line-height: 1.3175;
            color: #01d589;
            display: flex;
            font-size: 1.8rem;
            white-space: nowrap;
          }
        }
        .auto-group-dhs9-AJd {
          margin-bottom: 0.2rem;
          align-items: center;
          border: solid 0.1rem #0e8136;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 1.1rem 1.7rem 0.7rem 0.9rem;
          display: flex;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .emoji-office-building-HPF {
            margin-right: 1rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .angonjiwo-REZ {
            line-height: 1.3175;
            color: #01d589;
            margin-bottom: 0.1rem;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
